.real {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #F6F7F8;
}
.real__wrap {
  align-items: center;
}
.real__imgs-wrap {
  z-index: 1;
  width: 413px;
  padding-top: 50px;
  padding-left: 113px;
  position: relative;
}
.real__scan {
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}
.real__profile {
  width: 300px;
  padding: 30px 30px 75px;
  background: #291A7A;
  border-radius: 6px;
}
.real__profile-img {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 180px;
  background: #fff;
  border-radius: 6px;
  margin-bottom: 18px;
  overflow: hidden;
}
.real__profile-img img {
  position: relative;
  top: 1px;
}
.real__profile-ip {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  text-align: center;
}
.real__content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  max-width: 555px;
  margin-left: auto;
}
.real__title {
  margin-bottom: 20px;
}
.real__title.--hidden {
  display: none;
}
.real__text {
  margin-bottom: 30px;
}
.real__btn {
  padding-left: 56px;
  padding-right: 56px;
}

@media (max-width: 1280px) {
  .real__imgs-wrap {
    padding-left: 100px;
  }
  .real__scan {
    left: -20px;
  }
  .real__content {
    max-width: 490px;
  }
}
@media (max-width: 1024px) {
  .real {
    padding-top: 108px;
    padding-bottom: 80px;
    border-bottom: 1px solid #DDDDE8;
  }
  .real__wrap {
    flex-direction: column;
    position: relative;
  }
  .real__content {
    order: 1;
    max-width: 555px;
    margin-right: auto;
  }
  .real__title {
    max-width: 500px;
    margin: 0 auto 30px;
    text-align: center;
    display: none;
  }
  .real__title.--hidden {
    display: block;
  }
  .real__text {
    text-align: center;
  }
  .real__imgs-wrap {
    width: 100%;
    max-width: 300px;
    padding-left: 0;
    padding-top: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .real__scan {
    display: none;
  }
  .real__profile {
    box-shadow: 8px 8px 0px #000000;
  }
  .real__btn {
    margin: 0 auto;
  }
  .real__btn.--lg {
    height: 75px;
  }
}
@media (max-width: 580px) {
  .real {
    padding-top: 40px;
    padding-bottom: 60px;
    background: transparent;
    border-bottom: none;
  }
  .real__title {
    font-size: 24px;
    line-height: 30px;
  }
  .real__text {
    text-align: justify;
  }
  .real__profile {
    width: 189px;
    padding: 20px 20px 44px;
    box-shadow: none;
  }
  .real__profile-img {
    height: 112px;
    border-radius: 4px;
    margin-bottom: 7px;
  }
  .real__profile-img img {
    height: 100%;
  }
  .real__profile-ip {
    font-size: 12px;
  }
}