include ../../pug/vars

.why.case
	.why__icons
		.why__avatar
			<svg width="322" height="258" viewBox="0 0 322 258" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M172.914 238.663C112.27 227.984 71.7762 170.229 82.4694 109.663C93.1627 49.098 150.993 8.65729 211.637 19.3366C272.282 30.0159 312.775 87.7712 302.082 148.337C291.388 208.902 233.558 249.343 172.914 238.663Z" fill="url(#paint0_linear_3356_17722)"/>
				<mask id="mask0_3356_17722" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="80" y="17" width="224" height="224">
				<path d="M172.914 238.663C112.27 227.984 71.7762 170.229 82.4694 109.663C93.1627 49.098 150.993 8.65729 211.637 19.3366C272.282 30.0159 312.775 87.7712 302.082 148.337C291.388 208.902 233.558 249.343 172.914 238.663Z" fill="#FDE5D8"/>
				</mask>
				<g mask="url(#mask0_3356_17722)">
				<path d="M224.951 178.815C224.951 178.815 224.969 178.716 224.977 178.667C229.501 166.305 233.235 154.571 234.697 141.44C235.416 134.974 230.629 117.243 226.376 115.101C210.888 107.264 197.096 104.158 179.775 105.324C179.552 105.284 157.364 109.527 152.297 113.158C143.243 119.663 148.631 156.74 149.758 169.777C174.651 174.122 199.973 175.388 224.951 178.815Z" fill="#FBC9CA"/>
				<path d="M183.272 94.2118C183.272 94.2118 167.227 68.6593 178.402 42.1002C183.82 29.0911 200.375 22.1185 214.006 25.7708C217.077 26.5594 219.957 27.9579 222.474 29.8828C224.991 31.8076 227.094 34.2194 228.657 36.9741L190.205 90.8081" fill="#7D7D82"/>
				<path d="M199.9 28.8694C197.731 29.425 195.665 30.3202 193.777 31.5217C176.137 42.4678 179.636 71.841 190.171 86.9439C195.997 95.3156 205.966 100.725 215.99 99.1558C230.571 96.92 238.126 82.4602 238.2 68.2034C238.297 57.5789 234.681 46.7603 227.58 39.02C220.478 31.2796 209.769 26.3661 199.9 28.8694Z" fill="#FDC2AB"/>
				<path d="M187.061 77.6071C185.407 78.596 183.521 79.1316 181.593 79.16C179.666 79.1884 177.765 78.7086 176.082 77.769C174.456 76.7133 173.113 75.2776 172.167 73.5864C171.222 71.8951 170.704 69.9991 170.658 68.0628C170.58 64.523 172.248 60.8693 175.166 59.3392C176.712 58.5765 178.49 58.4263 180.142 58.9187C181.795 59.4111 183.199 60.5097 184.074 61.9937L187.061 77.6071Z" fill="#FDC2AB"/>
				<path d="M185.193 67.9013L177.666 116.833C177.119 120.055 177.498 123.365 178.759 126.379C180.02 129.394 182.112 131.99 184.79 133.865C186.604 135.144 188.65 136.056 190.815 136.549C193.237 137.111 195.753 137.146 198.189 136.649C200.626 136.153 202.927 135.137 204.936 133.672C206.944 132.207 208.612 130.326 209.827 128.159C211.041 125.991 211.773 123.588 211.973 121.112L216.001 75.0385L185.193 67.9013Z" fill="#FDC2AB"/>
				<path d="M213.286 106.14L214.008 99.369C214.008 99.369 199.805 100.7 190.177 86.9069C190.128 86.8981 194.424 100.966 213.286 106.14Z" fill="#1C1C20"/>
				<path d="M209.198 68.2652L209.074 68.2434C208.338 67.4112 206.888 68.3822 207.615 69.2639C209.021 70.7891 211.722 69.1824 210.296 67.4109C209.999 67.1067 209.603 66.9196 209.179 66.884C208.756 66.8485 208.334 66.9668 207.991 67.2173C207.648 67.4678 207.407 67.8336 207.312 68.2474C207.217 68.6612 207.276 69.0951 207.476 69.4694C208.778 71.2956 211.649 69.0163 209.943 67.451C208.237 65.8858 206.339 68.8093 208.423 69.9044C209.43 70.4268 210.17 68.8452 209.175 68.325L209.198 68.2652Z" fill="#1C1C20"/>
				<path d="M215.904 60.7384C212.216 60.1563 208.477 59.9646 204.748 60.1664C203.122 60.2504 203.338 62.7924 204.956 62.758C208.463 62.5743 211.98 62.7654 215.447 63.3279C215.776 63.3858 216.114 63.3109 216.388 63.1195C216.662 62.9281 216.848 62.636 216.906 62.3074C216.964 61.9788 216.889 61.6406 216.697 61.3673C216.506 61.0939 216.213 60.9078 215.884 60.8499L215.904 60.7384Z" fill="#1C1C20"/>
				<path d="M231.283 66.277L231.172 66.1809C230.436 65.3487 228.983 66.332 229.712 67.2014C231.131 68.7288 233.835 67.1097 232.408 65.3382C232.111 65.034 231.715 64.8469 231.292 64.8113C230.868 64.7758 230.446 64.8941 230.103 65.1446C229.76 65.3951 229.519 65.7608 229.424 66.1746C229.33 66.5884 229.388 67.0224 229.588 67.3967C230.901 69.2375 233.736 67.0157 232.044 65.4403C230.353 63.8648 228.428 66.7963 230.524 67.8936C231.519 68.4139 232.271 66.8344 231.276 66.3142L231.283 66.277Z" fill="#1C1C20"/>
				<path d="M223.818 76.4148C224.429 76.2423 225.01 75.9786 225.542 75.6325C226.068 75.3235 226.561 74.9607 227.012 74.55L228.035 73.6826L226.854 73.1296C226.216 72.7632 225.655 72.2784 225.2 71.7014C224.657 71.082 224.152 70.3926 223.535 69.6836C223.549 70.6031 223.755 71.5096 224.14 72.3451C224.528 73.2827 225.196 74.0783 226.053 74.6238L225.917 73.2201C225.425 73.5769 224.968 73.9799 224.553 74.4236C224.111 74.8756 223.739 75.3916 223.451 75.9542C223.424 76.0079 223.414 76.068 223.42 76.1276C223.426 76.1872 223.449 76.2438 223.487 76.2907C223.524 76.3375 223.574 76.3727 223.631 76.3921C223.688 76.4115 223.749 76.4143 223.807 76.4002L223.818 76.4148Z" fill="#E57F7E"/>
				<path d="M226.476 81.0608C225.404 81.5107 224.267 81.7891 223.107 81.8855C222.072 81.9399 221.042 81.7099 220.129 81.2205C219.194 80.6718 218.354 79.976 217.64 79.1598C217.299 78.7036 216.901 78.2759 216.597 77.8262C216.243 77.3119 215.86 76.818 215.451 76.3469C215.549 76.9659 215.685 77.5784 215.856 78.1813C216.073 78.7728 216.325 79.3506 216.612 79.9113C217.266 81.0762 218.222 82.0434 219.38 82.711C220.608 83.3749 222.044 83.541 223.391 83.1747C224.629 82.8372 225.716 82.0923 226.476 81.0608Z" fill="#E57F7E"/>
				<path d="M226.69 59.9296C229.907 59.0671 233.212 58.5775 236.541 58.4706C238.02 58.4245 238.294 60.8615 236.802 60.9055C233.673 61.0089 230.566 61.4691 227.542 62.2769C226.194 62.6656 225.33 60.316 226.677 59.9274L226.69 59.9296Z" fill="#1C1C20"/>
				<path d="M180.999 71.0079C178.965 70.7903 177.454 69.3489 177.605 67.7659C177.729 67.1549 178.04 66.5976 178.496 66.1718C178.952 65.7459 179.53 65.4728 180.148 65.3904" stroke="#E57F7E" stroke-width="1.2" stroke-miterlimit="10" stroke-linecap="round"/>
				<path d="M208.654 48.5519L235.144 49.793C234.498 45.5183 232.893 41.4448 230.448 37.8773C228.003 34.3098 224.782 31.3405 221.026 29.1917C221.026 29.1917 203.51 22.4024 193.759 31.4803C193.778 31.5218 207.771 35.3658 208.654 48.5519Z" fill="#7D7D82"/>
				<path d="M181.455 59.0793C181.455 59.0793 196.815 62.934 197.634 41.4881C197.706 39.3444 197.441 37.2027 196.848 35.1411L195.257 29.6614C195.257 29.6614 187.709 32.6375 184.21 39.7758C178.019 52.4571 181.455 59.0793 181.455 59.0793Z" fill="#7D7D82"/>
				<path d="M289.871 203.802C297.514 228.616 204.331 313.936 204.331 313.936C204.331 313.936 172.569 324.95 100.966 293.549L132.241 172.199L166.926 108.695C168.706 105.419 172.4 104.063 175.533 106.097C175.533 106.097 187.048 117.31 214.631 110.044C214.631 110.044 256.908 96.8567 289.871 203.802Z" fill="#34CCA9"/>
				<path d="M120.038 288.987L86.9746 291.213L82.7905 236.156C81.4403 218.633 85.0485 201.083 93.2036 185.509C110.593 152.226 156.64 95.0793 175.119 105.973L145.54 207.36L120.038 288.987Z" fill="#34CCA9"/>
				<path d="M153.581 158.991C153.581 158.991 125.637 203.587 123.211 215.079C120.299 228.964 126.772 271.712 126.772 271.712" stroke="#12887C" stroke-width="1.23" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M236.105 170.559C236.105 170.559 250.009 225.552 248.341 237.177C246.322 251.22 225.6 289.179 225.6 289.179" stroke="#12887C" stroke-width="1.23" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M102.195 194.936C102.195 194.936 107.792 188.806 114.526 197.108C114.526 197.108 116.353 203.063 106.429 212.685C105.769 213.226 104.93 213.498 104.078 213.448C103.226 213.397 102.425 213.028 101.834 212.413C101.2 211.909 100.764 211.199 100.6 210.407C100.436 209.615 100.555 208.791 100.936 208.077L106.067 199.885L102.195 194.936Z" fill="#FDC2AB"/>
				<path d="M114.535 197.058C115.952 197.533 117.25 198.304 118.343 199.321C119.437 200.337 120.3 201.576 120.875 202.953C122.955 204.145 124.491 206.096 125.159 208.396C125.723 208.69 126.224 209.093 126.632 209.581C127.039 210.07 127.346 210.634 127.535 211.241C127.826 212.051 127.89 212.925 127.721 213.768C127.552 214.612 127.155 215.394 126.574 216.029C124.674 218.173 121.094 221.566 117.199 221.89C116.755 221.932 116.308 221.849 115.909 221.65C115.51 221.451 115.175 221.144 114.942 220.764C114.554 220.134 114.156 220 114.467 219.033C113.923 219.215 113.344 219.267 112.776 219.182C112.208 219.098 111.669 218.88 111.202 218.547C110.683 218.132 110.324 217.552 110.185 216.904C110.045 216.255 110.134 215.579 110.436 214.988C110.436 214.988 107.949 218.715 104.518 213.946C101.088 209.177 114.535 197.058 114.535 197.058Z" fill="#FDC2AB"/>
				<path d="M255.137 221.869C255.137 221.869 251.976 214.196 242.731 219.684C242.731 219.684 238.975 224.656 245.017 237.09C245.452 237.824 246.148 238.367 246.965 238.61C247.783 238.854 248.663 238.78 249.429 238.404C250.195 238.145 250.847 237.626 251.272 236.939C251.697 236.251 251.868 235.437 251.757 234.636L249.729 225.183L255.137 221.869Z" fill="#FDC2AB"/>
				<path d="M242.801 219.646C241.309 219.609 239.827 219.891 238.454 220.473C237.08 221.056 235.847 221.924 234.837 223.021C232.475 223.431 230.363 224.74 228.948 226.673C227.671 226.844 226.513 227.512 225.728 228.533C225.179 229.196 224.822 229.996 224.694 230.847C224.566 231.698 224.673 232.568 225.004 233.362C226.056 236.026 228.257 240.438 231.806 242.072C232.209 242.262 232.657 242.336 233.1 242.285C233.543 242.234 233.963 242.061 234.313 241.785C234.88 241.323 235.313 241.335 235.352 240.32C235.8 240.678 236.327 240.924 236.89 241.038C237.452 241.153 238.034 241.133 238.587 240.979C239.216 240.767 239.752 240.344 240.105 239.782C240.458 239.221 240.607 238.555 240.525 237.897C240.525 237.897 241.586 242.248 246.443 238.939C251.3 235.629 242.801 219.646 242.801 219.646Z" fill="#FDC2AB"/>
				</g>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M126.501 63.5203C128.711 63.5203 130.501 65.3111 130.501 67.5203V98.144C130.501 100.353 128.711 102.144 126.501 102.144H82.4256L87.4932 109.483L66.4591 102.144H4.31398C2.10484 102.144 0.31398 100.353 0.31398 98.144V67.5203C0.31398 65.3111 2.10486 63.5203 4.31399 63.5203H126.501Z" fill="url(#paint1_linear_3356_17722)"/>
				<path d="M109.711 73.979C109.353 73.2056 108.253 73.2056 107.896 73.979L105.977 78.1252C105.831 78.4405 105.532 78.6575 105.187 78.6983L100.644 79.2353C99.7954 79.3355 99.4552 80.3846 100.083 80.9636L103.438 84.056C103.694 84.2923 103.809 84.6449 103.741 84.9868L102.85 89.4574C102.683 90.294 103.573 90.9418 104.318 90.5262L108.316 88.2952C108.619 88.1262 108.988 88.1262 109.29 88.2952L113.289 90.5262C114.034 90.9418 114.923 90.294 114.757 89.4574L113.865 84.9868C113.797 84.6449 113.912 84.2923 114.168 84.056L117.523 80.9636C118.151 80.3846 117.811 79.3355 116.963 79.2353L112.419 78.6983C112.074 78.6575 111.775 78.4405 111.629 78.1252L109.711 73.979Z" fill="#34CCA9"/>
				<path d="M88.0129 73.979C87.6551 73.2056 86.5557 73.2056 86.1978 73.979L84.2793 78.1252C84.1334 78.4405 83.8342 78.6575 83.4892 78.6983L78.946 79.2353C78.0976 79.3355 77.7575 80.3846 78.3855 80.9636L81.7401 84.056C81.9964 84.2923 82.1112 84.6449 82.0431 84.9868L81.1519 89.4574C80.9852 90.294 81.875 90.9418 82.6199 90.5262L86.6181 88.2952C86.921 88.1262 87.2898 88.1262 87.5927 88.2952L91.5909 90.5262C92.3357 90.9418 93.2256 90.294 93.0589 89.4574L92.1677 84.9868C92.0996 84.6449 92.2144 84.2923 92.4706 84.056L95.8252 80.9636C96.4533 80.3846 96.1132 79.3355 95.2648 79.2353L90.7216 78.6983C90.3765 78.6575 90.0774 78.4405 89.9314 78.1252L88.0129 73.979Z" fill="#34CCA9"/>
				<path d="M66.3152 73.979C65.9573 73.2056 64.858 73.2056 64.5001 73.979L62.5816 78.1252C62.4357 78.4405 62.1365 78.6575 61.7914 78.6983L57.2482 79.2353C56.3999 79.3355 56.0597 80.3846 56.6878 80.9636L60.0424 84.056C60.2987 84.2923 60.4134 84.6449 60.3453 84.9868L59.4542 89.4574C59.2874 90.294 60.1773 90.9418 60.9221 90.5262L64.9204 88.2952C65.2232 88.1262 65.592 88.1262 65.8949 88.2952L69.8931 90.5262C70.638 90.9418 71.5278 90.294 71.3611 89.4574L70.47 84.9868C70.4018 84.6449 70.5166 84.2923 70.7729 84.056L74.1275 80.9636C74.7556 80.3846 74.4154 79.3355 73.5671 79.2353L69.0239 78.6983C68.6788 78.6575 68.3796 78.4405 68.2337 78.1252L66.3152 73.979Z" fill="#34CCA9"/>
				<path d="M44.6172 73.979C44.2593 73.2056 43.16 73.2056 42.8021 73.979L40.8836 78.1252C40.7377 78.4405 40.4385 78.6575 40.0934 78.6983L35.5502 79.2353C34.7019 79.3355 34.3617 80.3846 34.9898 80.9636L38.3444 84.056C38.6007 84.2923 38.7154 84.6449 38.6473 84.9868L37.7562 89.4574C37.5894 90.294 38.4793 90.9418 39.2241 90.5262L43.2224 88.2952C43.5252 88.1262 43.894 88.1262 44.1969 88.2952L48.1951 90.5262C48.94 90.9418 49.8298 90.294 49.6631 89.4574L48.772 84.9868C48.7038 84.6449 48.8186 84.2923 49.0749 84.056L52.4295 80.9636C53.0576 80.3846 52.7174 79.3355 51.8691 79.2353L47.3259 78.6983C46.9808 78.6575 46.6816 78.4405 46.5357 78.1252L44.6172 73.979Z" fill="#34CCA9"/>
				<path d="M22.9194 73.979C22.5616 73.2056 21.4622 73.2056 21.1043 73.979L19.1858 78.1252C19.0399 78.4405 18.7407 78.6575 18.3956 78.6983L13.8524 79.2353C13.0041 79.3355 12.6639 80.3846 13.292 80.9636L16.6466 84.056C16.9029 84.2923 17.0177 84.6449 16.9496 84.9868L16.0584 89.4574C15.8917 90.294 16.7815 90.9418 17.5264 90.5262L21.5246 88.2952C21.8275 88.1262 22.1963 88.1262 22.4991 88.2952L26.4974 90.5262C27.2422 90.9418 28.1321 90.294 27.9653 89.4574L27.0742 84.9868C27.0061 84.6449 27.1208 84.2923 27.3771 84.056L30.7317 80.9636C31.3598 80.3846 31.0197 79.3355 30.1713 79.2353L25.6281 78.6983C25.283 78.6575 24.9839 78.4405 24.8379 78.1252L22.9194 73.979Z" fill="#34CCA9"/>
				<defs>
				<linearGradient id="paint0_linear_3356_17722" x1="211.637" y1="19.3366" x2="173.011" y2="238.681" gradientUnits="userSpaceOnUse">
				<stop offset="0.208333" stop-color="#F3F4F8"/>
				<stop offset="1" stop-color="#F3F4F8" stop-opacity="0.21"/>
				</linearGradient>
				<linearGradient id="paint1_linear_3356_17722" x1="65.4077" y1="63.5203" x2="65.4077" y2="109.483" gradientUnits="userSpaceOnUse">
				<stop stop-color="#3D2AA4"/>
				<stop offset="1" stop-color="#291A7A"/>
				</linearGradient>
				</defs>
			</svg>

		.why__clouds
			.why__cloud
				<svg width="52" height="20" viewBox="0 0 52 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M51.5547 19.118H13.7121C7.7722 19.118 5.91697 18.9315 0.00308228 19.118C-0.064476 15.4918 0.959278 12.0314 2.70538 10.1924C3.45956 9.41347 4.39939 8.83773 5.43717 8.51886C6.47495 8.2 7.57685 8.14841 8.64005 8.3689C11.1968 9.04752 12.9274 10.7518 14.5903 11.9951C15.1775 6.99612 17.2562 2.41673 19.496 1.41693C23.3468 -0.302932 27.3743 2.42191 29.1775 5.07423C30.6301 7.29475 31.5217 9.83292 31.7759 12.4717C34.1976 9.80385 39.6022 7.77317 41.551 12.0003C42.3305 13.6528 42.2681 15.5643 42.2006 17.3878C43.7918 16.9769 45.4541 16.9188 47.0703 17.2178C48.6865 17.5167 50.2173 18.1654 51.5547 19.118V19.118Z" fill="#F6F7F8"/>
				</svg>

			.why__cloud
				<svg width="95" height="35" viewBox="0 0 95 35" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0.566208 34.2145C2.85107 28.5831 7.17973 25.5637 12.3049 24.9995C18.7612 24.2786 25.3223 27.9772 25.3223 27.9772C25.3223 27.9772 22.8907 18.689 26.1818 11.3651C28.4352 6.37097 32.0092 1.67989 36.9877 0.447037C42.1339 -0.827603 47.5945 1.67989 51.4305 5.67097C55.2666 9.66206 57.7191 14.8755 59.9411 20.1099C61.0731 16.4009 62.5928 12.2427 65.9467 10.8636C69.3006 9.48444 73.4616 11.9083 75.2748 15.4188C77.088 18.9293 77.1928 23.2234 76.9517 27.2563C80.9869 24.8428 86.1331 24.1219 90.1683 26.5458C91.4898 27.4012 92.6072 28.5348 93.442 29.8669C94.2768 31.199 94.8085 32.6973 95 34.2563L0.566208 34.2145Z" fill="#F6F7F8"/>
				</svg>
			.why__cloud
				<svg width="224" height="69" viewBox="0 0 224 69" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0 68.2659H164.422C190.23 68.2659 198.291 67.5772 223.986 68.2659C224.28 54.8749 219.832 42.0961 212.245 35.305C208.968 32.4286 204.885 30.3025 200.376 29.125C195.867 27.9475 191.079 27.757 186.46 28.5712C175.351 31.0772 167.832 37.371 160.606 41.9622C158.055 23.5018 149.023 6.59087 139.291 2.89879C122.56 -3.45236 105.061 6.61001 97.2263 16.4045C90.915 24.6046 87.0414 33.9776 85.9367 43.7221C75.4148 33.8702 51.9323 26.3713 43.4651 41.9813C40.0782 48.0838 40.3492 55.1427 40.6427 61.8765C33.7289 60.3589 26.5063 60.1446 19.4841 61.2486C12.4619 62.3525 5.81097 64.7479 0 68.2659H0Z" fill="#F6F7F8"/>
				</svg>
			.why__cloud
				<svg width="224" height="68" viewBox="0 0 224 68" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0 67.3535H164.422C190.23 67.3535 198.291 66.6648 223.986 67.3535C224.28 53.9625 219.832 41.1837 212.245 34.3925C208.968 31.5162 204.885 29.3901 200.376 28.2126C195.867 27.0351 191.079 26.8445 186.46 27.6588C175.351 30.1648 167.832 36.4586 160.606 41.0498C158.055 22.5894 149.023 5.67846 139.291 1.98638C122.56 -4.36477 105.061 5.69759 97.2263 15.4921C90.915 23.6922 87.0414 33.0651 85.9367 42.8097C75.4148 32.9578 51.9323 25.4588 43.4651 41.0689C40.0782 47.1713 40.3492 54.2303 40.6427 60.9641C33.7289 59.4465 26.5063 59.2322 19.4841 60.3361C12.4619 61.4401 5.81097 63.8355 0 67.3535H0Z" fill="#F6F7F8"/>
				</svg>


				
	.why__title.h2 Why Customers Prefer Infatica Residential Proxies
	.why__list
		.why__item
			.why__item-img
				img(src="uploads/going-global.svg" alt="")
			.why__item-content
				.why__item-title.h3 Going global
				.why__item-text.t2
					p Actionable public web data is spread across different regions, countries, and cities – but procuring it is sometimes impossible due to various geo-restrictions. For e-commerce businesses and price aggregators, entering local markets is vital – but their opportunities for collecting public web data are often limited.
					p Infatica’s proxies solve this issue via geo-targeting, offering a set of major cities in the Americas, Europe, and Asia – now you can scrape local data using real user IPs to create marketing strategies, perform search engine optimization, and more. 

		.why__item
			.why__item-img
				img(src="uploads/easy-to-use.svg" alt="")
			.why__item-content
				.why__item-title.h3 Easy-to-use – yet powerful
				.why__item-text.t2
					p Proxies are used by countless companies worldwide – and they have to be accessible to both regular business owners and power users who buy residential IPs to work with crucial public web data.
					p Infatica proxies can be managed via an easy-to-use web interface, which features traffic dashboards, quickstart guides, product & service overviews, and more. For power users requiring more fine-tuning capacities, Infatica offers a proxy management API for better scalability and refined control.

		.why__item
			.why__item-img
				img(src="uploads/less-captchas-more-data.svg" alt="")
			.why__item-content
				.why__item-title.h3 Less CAPTCHAs, more data
				.why__item-text.t2
					p All major tech ecosystems understand the importance of their data – and their security practices are built around safeguarding it. A good example is anti-bot systems like reCAPTCHA and Cloudflare, which use a number of factors (including IP addresses) to categorize real users and scrapers. The former enjoy unrestricted access – and the latter face all sorts of roadblocks, including CAPTCHAs, IP address bans, and region blocks.
					p Infatica’s residential proxies address this problem by routing traffic and masking the IP address, which has the added benefit of privacy. To the anti-bot systems, these requests now appear human-like – and your data collection pipeline will be much more successful. Even if a residential IP does get banned, Infatica’s proxy rotation feature ensures that it is quickly replaced with a new one.

		.why__item
			.why__item-img
				img(src="uploads/reliability-you.svg" alt="")
			.why__item-content
				.why__item-title.h3 Reliability you can count on
				.why__item-text.t2
					p Data collection, cybersecurity tests, search engine optimization, and similar activities all have to run without interruptions to stay efficient. A single proxy error may lead to missed data points and fail the entire operation.
					p Infatica engineers work to improve our stable residential proxy even further: We’ve managed to build a reliable server infrastructure that boasts 99,9% uptime, low response time, and high request success rate – this allows our clients to collect data using real user IPs without a hiccup.
