.why {
  padding-top: 80px;
  padding-bottom: 100px;
  position: relative;
}
.why__cloud {
  position: absolute;
}
.why__cloud:nth-of-type(1) {
  top: 228px;
  left: calc(50% - var(--container-width) / 2 + 0px);
}
.why__cloud:nth-of-type(2) {
  top: 83px;
  left: calc(50% - var(--container-width) / 2 + 305px);
}
.why__cloud:nth-of-type(3) {
  top: 60px;
  right: calc(50% - var(--container-width) / 2 - 45px);
}
.why__cloud:nth-of-type(4) {
  top: 475px;
  left: calc(50% - var(--container-width) / 2 - 345px);
}
.why__avatar {
  margin-bottom: 40px;
}
.why__title {
  margin-bottom: 80px;
}
.why__item {
  display: flex;
  margin-bottom: 80px;
}
.why__item:last-child {
  margin-bottom: 0;
}
.why__item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 350px;
  width: 350px;
  height: 240px;
  background: linear-gradient(180deg, #3D2AA4 0%, #291A7A 100%);
  box-shadow: 8px 8px 0px #000000;
  border-radius: 12px;
  overflow: hidden;
}
.why__item-content {
  width: calc(100% - 350px);
  padding-left: 60px;
}
.why__item-title {
  margin-bottom: 20px;
}
.why__item-text p {
  line-height: 27px;
}

@media (max-width: 1024px) {
  .why {
    padding-bottom: 140px;
  }
  .why__avatar {
    left: -8px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    transform: scale(-1, 1);
    position: relative;
  }
  .why__cloud {
    z-index: -1;
  }
  .why__cloud:nth-of-type(1) {
    left: auto;
    right: calc(50% - var(--container-width) / 2 + 385px);
    transform: scale(-1, 1);
  }
  .why__cloud:nth-of-type(2) {
    left: calc(50% - var(--container-width) / 2 + 385px);
    transform: scale(-1, 1);
  }
  .why__cloud:nth-of-type(3) {
    top: 1056px;
    right: auto;
    left: calc(50% - var(--container-width) / 2 + 785px);
  }
  .why__cloud:nth-of-type(4) {
    top: 695px;
    left: calc(50% - var(--container-width) / 2 + 130px);
  }
  .why__title {
    max-width: 600px;
    text-align: center;
    margin: 0 auto 90px;
  }
  .why__item {
    margin-bottom: 60px;
    flex-direction: column;
    align-items: center;
  }
  .why__item-content {
    width: 100%;
    padding-left: 0;
    margin-top: 60px;
    text-align: center;
  }
  .why__item-text p {
    margin-bottom: 28px;
  }
}
@media (max-width: 580px) {
  .why {
    padding-top: 56px;
    padding-bottom: 82px;
  }
  .why__avatar {
    left: 25px;
    max-width: 260px;
    margin-bottom: 36px;
  }
  .why__avatar svg {
    width: 100%;
  }
  .why__cloud:nth-of-type(1) {
    top: 198px;
    right: calc(50% - var(--container-width) / 2 + 415px);
  }
  .why__cloud:nth-of-type(2) {
    top: 73px;
    left: calc(50% - var(--container-width) / 2 + 405px);
  }
  .why__title {
    margin: 0 auto 60px;
  }
  .why__item {
    max-width: 330px;
    margin: 0 auto 80px;
  }
  .why__item-img {
    width: 100%;
    height: 190px;
    min-width: auto;
  }
  .why__item-content {
    margin-top: 62px;
  }
}