.accordion {
  display: grid;
  grid-auto-flow: row;
}

.accordion__item {
  overflow: hidden;
}

.accordion__head {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.accordion__body {
  transition: max-height 0.5s ease-out;
}

.accordion__arrow-icon {
  fill: var(--color-white);
}

.accordion__item.--open .accordion__arrow-icon {
  transform: rotate(270deg);
}