.d-flex {
    display: flex;
}

.gap-8 {
    gap: 8px;
}

.gap-16 {
    gap: 16px;
}

.gap-32 {
    gap: 32px;
}

.gap-64 {
    gap: 64px;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-blue {
    color: var(--main-blue-color);
}

.h-full {
    height: 100%;
}

.text-center {
    text-align: center;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.rounded-full {
    border-radius: 100%;
}

.overflow-hidden {
    overflow: hidden;
}

.opacity-30 {
    opacity: 30%;
}