.d-md-flex , .d-md-block , .d-xs-block {
    display: none;
}

.mobile-cover img {
    max-width: 380px;
}

.btn-menu.active .icon-menu span:nth-child(2) {
    opacity: 0;
}

.btn-menu.active .icon-menu span:nth-child(1) {
    transform: rotate(45deg);
}

.btn-menu.active .icon-menu span:nth-child(3) {
    transform: rotate(-45deg);
}

.btn-menu.active .icon-menu span:nth-child(1) , .btn-menu.active .icon-menu span:nth-child(3) {
    position: absolute;
    top: 0;
}

@media screen and (max-width: 1200px) {
    
    h1.custom-align {
        font-size: 76px;
        line-height: 70px;
    }

}

@media screen and (max-width: 992px) {

    .d-md-flex {
        display: flex;
    }
    
    .d-md-block {
        display: block;
    }
    
    .d-md-none {
        display: none !important;
    }

    h1.custom-align {
        font-size: 47px;
        line-height: 48px;
    }

    .round-btn-order {
        width: 104px;
        height: 104px;
        font-size: 14px;
    }

    .smile svg {
        width: 80px;
        height: 80px;
    }

    .position-md-relative {
        position: relative !important;
    }

    .flex-md-column {
        flex-direction: column;
    }

    .section-title {
        max-width: 330px;
        font-size: 40px;
        margin: 64px auto 0 auto;
    }

        .underline:after {
            width: 144px;
            background-position: right top;
            background-size: contain;
            background-repeat: no-repeat;
        }

    .section-text {
        margin-right: auto;
        margin-top: 24px;
        gap: 24px;
    }

    .text-lg {
        font-size: 20px;
        line-height: 32px;
    }

    .dayli-section-title {
        font-size: 20px;
    }

        .dayli-item.xl-item , .dayli-item {
            width: 256px;
            height: 256px;
            font-size: 24px;
        }

    .title , .subtitle {
        font-size: 24px;
        line-height: 32px;
    }

    #section-description {
        height: auto;
        margin-bottom: 64px;
    }

        #section-description .text-lg.opacity-30 {
            opacity: 1;
        }

    .dayli-section {
        min-height: 2200px;
    }

        .dayli-circle {
            height: 2400px;
        }

    .dayli-circle .dayli-row {
        flex-direction: column;
        align-items: center;
    }

        .dayli-circle .dayli-row .dayli-item.item-2 {
            order: -1;
            margin-left: 0 !important;
        }

            .dayli-circle .dayli-row .dayli-item:nth-child(odd) {
                transform: rotate(8deg);
                margin-right: 10%;
            }

            .dayli-circle .dayli-row .dayli-item:nth-child(even) , .dayli-circle .dayli-row .dayli-item.item-3 {
                transform: rotate(-8deg);
                margin-left: 10%;
            }

    .card-wrap {
        padding-top: 10%;
        transform: translateX(0);
        flex-direction: column;
        justify-content: start;
    }

        .card-item {
            width: 328px;
            height: 328px;
            border-radius: 24px;
        }

            .card-item-title {
                font-size: 24px;
            }

    .note-for {
        padding-top: 50px;
    }

    .note-for-text {
        position: relative;
        bottom: auto;
        max-width: 100%;
        text-align: center;
    }

    .author-note {
        flex-direction: column;
        margin-bottom: 0;
    }

    .author-desc {
        margin-top: 40%;
        max-width: 100%;
    }

    .card-section-cover img {
        transform: none;
    }

    .cover-note-blank {
        opacity: 0;
    }
    
    /* Mobile nav */
    header nav.open {
        position: absolute;
        top: 0;
        background: #fff;
        width: 100%;
        left: 0;
        padding-left: 16px;
        padding-top: 80px;
        padding-bottom: 16px;
    }

        header nav.open ul {
            flex-direction: column;
            gap: 24px;
        }

        header nav.open ul .language-btn {
            padding-left: 0;
        }

}

@media screen and (max-width: 768px) {

    .d-sm-none {
        display: none !important;
    }

    .dayli-circle .dayli-row .dayli-item:nth-child(odd) {
        margin-right: 5%;
    }

    .dayli-circle .dayli-row .dayli-item:nth-child(even) , .dayli-circle .dayli-row .dayli-item.item-3 {
        margin-left: 5%;
    }

    .flower-section-header , .reviews-header , .photo-owners-header , .note-for-wrap {
        padding-left: 0;
        padding-right: 0;
    }

        .flower-slider-btn {
            width: 40px;
            height: 40px;
        }

            .flower-slider-btn svg {
                width: 12px;
            }

    .flower-slider, .photo-owners-wrap {
        margin-left: 16px;
    }

        .flower-card {
            width: 256px;
        }

            .flower-card-cover {
                height: 328px;
            }

            .flower-card-text {
                font-size: 16px;
            }

            .flower-recomendation {
                padding-left: 0;
                padding-bottom: 0;
            }

    .note-for-text {
        font-size: 20px;
        line-height: 132%;
    }

    .note-for-cover {
        margin-left: 16px;
        margin-right: 16px;
    }

    .author-meta {
        padding: 0 0 240px 0;
        font-size: 24px;
        line-height: 132%;
    }

    .author-meta .underline::after {
        width: 130px;
    }

    .reviews {
        padding-top: 60px;
        padding-bottom: 40px;
    }

        .reviews-item {
            padding: 18px 18px 20px 18px;
            font-size: 16px;
            width: 330px;
        }

        .reviews-author {
            font-size: 20px;
        }

    .photo-owners-btn .btn-next {
        right: 20px;
    }

    .photo-owners-btn .btn-prev {
        left: 20px;
    }

    .contact-wrap {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }

        .contact-form {
            max-width: 100%;
            margin-left: 0;
            margin-top: 24px;
        }

    footer .logo {
        width: 26px;
        height: 25px;
        top: auto;
    }

    .contact {
        padding-top: 0;
        padding-bottom: 80px;
    }

}

@media screen and (max-width: 576px) {

    .custom-align {
        padding-bottom: 0;
    }
    
        .custom-align span {
            margin-left: 0 !important;
        }

    .notation {
        position: relative;
        bottom: auto;
        left: auto;
    }

    .round-btn-order {
        right: 50%;
        transform: translateX(50%);
    }

    .hero-section .h-full.justify-center {
        justify-content: start;
        padding-top: 20%;
    }

    .section-title {
        max-width: 100%;
    }

    .contact-form button {
        width: 100%;
    }
    
    main {
        padding-bottom: 550px;
    }

    .note-for-cover {
        bottom: -35%;
    }

    .note-line {
        right: -108px;
        max-width: 300px;
    }

    .note-vertical-line {
        right: 40px;
        width: 34px;
    }

    .note-horizontal-line {
        height: 34px;
        bottom: 100px;
    }

    .cover-section .subtitle , .mobile-cover-section .subtitle {
        font-size: 16px;
        line-height: 132%;
    }

    .cover-section-text-1 , .cover-section-text-2 , .cover-section-text-3 {
        padding-left: 16px;
        padding-right: 16px;
    }

    .card-section-cover , .mobile-cover-section .subtitle {
        padding: 0 16px;
    }

    .d-xs-none {
        display: none !important;
    }

    .d-xs-block {
        display: block;
    }

    .mobile-cover {
        gap: 10px;
    }

}

@media screen and (max-width: 480px) {

    .cover-note-blank {
        height: 460px;
    }

        .cover-note-blank img:first-child {
            height: 460px;
        }

        .cover-note-blank img {
            height: 460px;
        }

    .mobile-cover img {
        max-width: 320px;
    }
    
}