@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;600;700&family=Libre+Baskerville:ital@1&family=Work+Sans:wght@400;500&display=swap");
h1 {
  margin-bottom: 50px;
  font-size: 72px;
  line-height: 86px;
  font-weight: 500; }

h2 {
  margin-bottom: 40px;
  font-size: 56px;
  line-height: 67px;
  font-weight: 500; }

.headline span {
  font-family: "Libre Baskerville"; }

.headline-gradient {
  background-color: #FF0049;
  background-image: linear-gradient(89.83deg, #FF0049 0.13%, #3D657F 99.86%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent; }

h3 {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.02em; }

h4, h5 {
  margin-bottom: 30px;
  font-weight: 500;
  color: #3D657F; }

h4 {
  font-size: 28px;
  line-height: 44px; }

h5 {
  font-size: 24px;
  line-height: 32px; }

h6 {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 20px;
  font-weight: 700; }

.text-blue {
  color: #3D657F; }

@media screen and (max-width: 768px) {
  h1 {
    font-size: 56px;
    line-height: 67px;
    margin-bottom: 70px; }
    h1 span {
      font-size: 64px;
      line-height: 76px; }
  h2 {
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 48px; }
    h2 span {
      font-size: 48px;
      line-height: 48px; }
  h3 {
    font-size: 24px;
    line-height: 28px; }
  h4 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 16px; } }

.btn {
  max-height: 48px;
  padding: 12px 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  cursor: pointer;
  text-align: center;
  border-radius: 4px; }

.btn-primary {
  background: #FF0049;
  color: #fff;
  border: none;
  box-shadow: 0px 6px 2px -4px rgba(14, 14, 44, 0.1); }
  .btn-primary:hover {
    background: #3D657F; }

.link-primary {
  color: #FF0049; }

.link-more {
  font-weight: 600;
  font-size: 18px;
  text-decoration: none; }
  .link-more svg {
    width: 12px;
    height: 12px;
    margin-left: 14px; }
  .link-more:hover {
    color: #FF0049; }

header {
  padding: 14px 34px;
  position: fixed;
  left: 0;
  z-index: 2;
  width: 100%;
  top: 0; }
  header .logo .logo-white, header .logo .logo-inner {
    display: none; }
  header ul {
    margin: 0;
    padding: 0;
    display: flex; }
    header ul li {
      margin-left: 48px;
      margin-bottom: 0;
      position: relative; }
    header ul a {
      text-decoration: none;
      font-size: 16px;
      line-height: 22px;
      padding-bottom: 5px;
      color: #fff; }
      header ul a:hover {
        color: #fff; }
      header ul a.active {
        font-weight: 600;
        border-bottom: 2px solid #FF0049; }
      header ul a.current-language svg {
        width: 24px;
        height: 24px;
        fill: #fff; }
  header .toggle-nav {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #FF0049; }
    header .toggle-nav span {
      width: 24px;
      height: 2px;
      background: #fff;
      margin-bottom: 5px;
      transition: all .3s ease-in-out; }
      header .toggle-nav span:nth-child(3) {
        margin-bottom: 0; }
    header .toggle-nav.open {
      background: rgba(0, 0, 0, 0.3);
      z-index: 2; }
      header .toggle-nav.open span {
        position: absolute;
        margin: 0; }
        header .toggle-nav.open span:nth-child(1) {
          transform: rotate(45deg); }
        header .toggle-nav.open span:nth-child(2) {
          display: none; }
        header .toggle-nav.open span:nth-child(3) {
          transform: rotate(-45deg); }
  header.sticky {
    background: #FF0049;
    z-index: 9; }
    header.sticky .logo .logo-red-white {
      display: none; }
    header.sticky .logo .logo-white {
      display: inline-block; }
  header.inner-header {
    background: #fff; }
    header.inner-header .logo .logo-red-white {
      display: none; }
    header.inner-header .logo .logo-inner {
      display: inline-block; }
    header.inner-header.sticky .logo .logo-inner {
      display: none; }
    header.inner-header ul a {
      color: #3D657F; }
      header.inner-header ul a.current-language svg {
        fill: #3D657F; }
    header.inner-header nav.open ul a {
      color: #fff; }
      header.inner-header nav.open ul a.active {
        font-weight: 400;
        border-color: #fff; }

.list-language {
  display: none;
  position: absolute; }

.connect-with-us {
  margin-top: 60px;
  font-family: "Libre Baskerville";
  font-size: 24px;
  line-height: 28px;
  color: #fff; }
  .connect-with-us a {
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    margin-right: 24px; }
  .connect-with-us svg {
    width: 32px;
    height: 32px;
    fill: #fff; }

@media screen and (max-width: 992px) {
  header {
    padding: 0 0 0 15px;
    /*&.sticky {
      background: transparent;
        .logo {
          .logo-red-white {
            display: inline-block;
          }

          .logo-white {
            display: none;
          }
        }
    }*/ }
    header nav {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: -100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: #3D657F;
      transition: all .3s ease-in-out; }
      header nav ul {
        flex-direction: column; }
        header nav ul li {
          margin: 0 0 24px 0; }
          header nav ul li:last-child {
            display: none; }
          header nav ul li a {
            font-size: 40px;
            line-height: 48px; }
            header nav ul li a:hover {
              text-decoration: none;
              border-bottom: 2px solid #fff; }
      header nav.open {
        left: 0; } }

.hero-section {
  height: 100vh;
  padding-bottom: 70px;
  background: url(../images/hero-section.jpg) center top/cover no-repeat;
  position: relative;
  color: #fff;
  overflow: hidden; }
  .hero-section .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%; }
  .hero-section h1 span {
    font-family: "Libre Baskerville";
    font-weight: 400;
    position: relative; }
    .hero-section h1 span:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background: #fff; }
  .hero-section h3 span {
    position: relative;
    display: inline-block; }
    .hero-section h3 span:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      animation: fadeOut 1s 1 forwards;
      animation-delay: 1s; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  right: 30px;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.see-more {
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  position: absolute;
  right: 0;
  bottom: 70px;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-decoration: none;
  z-index: 2; }
  .see-more span {
    transform: rotate(-90deg);
    display: inline-block;
    margin-bottom: 55px; }
  .see-more svg {
    width: 14px;
    height: 44px; }
  .see-more:hover {
    text-decoration: underline;
    color: #fff; }

.typeeffect {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden; }
  .typeeffect span {
    width: 0;
    display: inline-block;
    overflow: hidden;
    padding-right: 5px;
    letter-spacing: .05em;
    border-right: 2px solid #fff;
    animation: typing 2s steps(30, end) forwards, blink 0.5s infinite;
    vertical-align: bottom; }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes blink {
  from {
    border-color: transparent; }
  to {
    border-color: #fff; } }

@keyframes fadeOut {
  from {
    width: 100%; }
  to {
    width: 0; } }

.inner-hero-section {
  padding: 250px 0 190px 0; }
  .inner-hero-section.abstract-background.blue-abstract:after {
    top: 25%; }

@media screen and (max-width: 1200px) {
  .inner-hero-section.abstract-background.blue-abstract:after {
    top: 33%; } }

@media screen and (max-width: 768px) {
  .hero-section {
    min-height: 600px; }
    .hero-section .typeeffect {
      white-space: break-spaces; } }

@media screen and (max-width: 576px) {
  .inner-hero-section {
    padding: 150px 0 100px 0; }
    .inner-hero-section.abstract-background.blue-abstract:after {
      top: 7%; } }

.portfolio-list {
  margin: 128px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .portfolio-list.full-portfolio .portfolio-item {
    margin-bottom: 90px; }

.portfolio-item {
  width: 100%;
  max-width: 425px;
  height: 162px;
  margin: 0 20px 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #3D657F; }

.portfolio-slide {
  display: flex !important;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center; }
  .portfolio-slide .slide-image {
    margin-right: 30px; }
  .portfolio-slide .slide-description {
    max-width: 600px;
    font-size: 18px;
    line-height: 24px; }
    .portfolio-slide .slide-description h4 {
      padding-bottom: 24px;
      border-bottom: 1px solid #3D657F; }

@media screen and (max-width: 992px) {
  .portfolio-slide {
    flex-direction: column; }
    .portfolio-slide .slide-image {
      margin: 0 0 30px 0; }
    .portfolio-slide .slide-description {
      max-width: 560px; } }

@media screen and (max-width: 768px) {
  .portfolio-slide {
    display: inline-block !important;
    padding: 0 50px; }
  .portfolio-list {
    margin: 100px 0 0 0;
    flex-direction: column; }
  .portfolio-item {
    max-width: 100%;
    height: 100px;
    margin: 0 0 80px 0; }
    .portfolio-item img {
      max-width: 160px; }
  .slick-prev {
    left: 10px; }
  .slick-next {
    right: 10px; } }

.primary-list {
  margin-bottom: 100px; }
  .primary-list .primary-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0; }
  .primary-list.blue-list .primary-item {
    border-color: #3D657F; }
  .primary-list.blue-list .primary-item-title {
    font-weight: 600;
    color: #3D657F; }
    .primary-list.blue-list .primary-item-title svg {
      width: 16px;
      height: 16px; }
  .primary-list.blue-arrow .primary-item-title svg {
    width: 24px;
    height: 24px;
    stroke: #3D657F;
    stroke-width: 2px; }

.primary-item {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #fff; }
  .primary-item .primary-info {
    font-size: 16px;
    margin-bottom: 10px; }
  .primary-item .primary-item-title {
    width: 100%;
    text-decoration: none;
    line-height: 28px;
    color: #fff;
    padding-right: 50px;
    position: relative;
    display: inline-block; }
    .primary-item .primary-item-title svg {
      width: 24px;
      height: 24px;
      position: absolute;
      top: 0;
      right: 0;
      stroke: #fff;
      stroke-width: 2px; }

@media screen and (max-width: 992px) {
  .primary-list.blue-list {
    margin-top: 90px; } }

@media screen and (max-width: 768px) {
  .primary-list {
    margin-top: 16px;
    margin-bottom: 60px; }
    .primary-list.blue-list {
      margin-top: 90px; } }

@media screen and (max-width: 576px) {
  .primary-item .primary-item-title {
    padding-right: 0; }
    .primary-item .primary-item-title svg {
      margin-top: 14px;
      position: relative;
      display: block; } }

.features {
  padding: 30px 0 80px 0; }
  .features-item {
    margin: 50px 70px; }
    .features-item h4 {
      line-height: 28px;
      margin-bottom: 16px; }
  .features-icon svg {
    width: 40px;
    height: 40px;
    margin-bottom: 16px; }
  .features-icon.small-icon svg {
    width: 24px;
    height: 24px;
    margin-bottom: 32px; }

@media screen and (max-width: 768px) {
  .features {
    padding-bottom: 30px; }
    .features-item {
      margin: 40px 0; } }

.number-wrap .container {
  position: relative;
  z-index: 1; }

.number-wrap.transition .number-section .row [class^="col"]:nth-child(1) {
  animation: fadeIn .8s 1 normal forwards; }

.number-wrap.transition .number-section .row [class^="col"]:nth-child(2) {
  animation: fadeIn .8s .3s 1 normal forwards; }

.number-wrap.transition .number-section .row [class^="col"]:nth-child(3) {
  animation: fadeIn .8s .6s 1 normal forwards; }

.number-wrap.transition .number-line {
  animation: fullwidth .6s 1 normal forwards; }

.number-section {
  padding: 0px 0 140px 0; }
  .number-section .row [class^="col"] {
    transform: scale(0); }
    .number-section .row [class^="col"]:nth-child(1) {
      margin-top: 18%; }
    .number-section .row [class^="col"]:nth-child(2) {
      margin-top: 14%; }
    .number-section .row [class^="col"]:nth-child(3) {
      margin-top: 5.5%; }

.number-item {
  max-width: 355px; }

.number-circle {
  max-width: 64px;
  min-height: 64px;
  position: relative;
  margin-bottom: 32px;
  margin-left: -20px; }
  .number-circle span {
    position: absolute;
    display: inline-block;
    background: #EFF3F5;
    border-radius: 50%;
    border: 2px solid #3D657F; }
    .number-circle span:nth-child(1) {
      width: 32px;
      height: 32px;
      top: 17px;
      left: 17px;
      z-index: 3; }
    .number-circle span:nth-child(2) {
      width: 48px;
      height: 48px;
      top: 9px;
      left: 9px;
      z-index: 2; }
    .number-circle span:nth-child(3) {
      width: 64px;
      height: 64px;
      top: 1px;
      left: 1px;
      z-index: 1; }

.number-count {
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 32px;
  font-weight: 300;
  color: #3D657F; }

.number-title {
  font-size: 40px;
  line-height: 44px;
  font-weight: 600;
  color: #FF0049;
  margin-bottom: 24px; }

.number-line {
  width: 0;
  height: 600px;
  top: 120px;
  position: absolute;
  background: url(../images/number-line.svg) no-repeat; }

/*.number-curve {
  width: 1920px;
  height: 596px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/number-line.svg) no-repeat;
}*/
@keyframes fadeIn {
  0% { }
  100% {
    transform: scale(1); } }

@keyframes fullwidth {
  from {
    width: 0; }
  to {
    width: 100%; } }

@media screen and (max-width: 1440px) {
  .number-section .row [class^="col"]:nth-child(1) {
    margin-top: 11.5%; }
  .number-section .row [class^="col"]:nth-child(2) {
    margin-top: 9%; }
  .number-section .row [class^="col"]:nth-child(3) {
    margin-top: 3%; }
  .number-line {
    top: 0; } }

@media screen and (max-width: 1280px) {
  .number-section .row [class^="col"]:nth-child(1) {
    margin-top: 8.5%; }
  .number-section .row [class^="col"]:nth-child(2) {
    margin-top: 6%; }
  .number-section .row [class^="col"]:nth-child(3) {
    margin-top: 0%; } }

@media screen and (max-width: 1024px) {
  .number-section .row [class^="col"]:nth-child(1) {
    margin-top: 7%; }
  .number-section .row [class^="col"]:nth-child(2) {
    margin-top: 5%; }
  .number-line {
    top: -30px; } }

@media screen and (max-width: 992px) {
  .number-section {
    padding-bottom: 0; }
    .number-section .row [class^="col"]:nth-child(1), .number-section .row [class^="col"]:nth-child(2) {
      margin-top: 0; }
  .number-item {
    max-width: 100%;
    margin-bottom: 60px; } }

@media screen and (max-width: 768px) {
  .number-title {
    font-size: 32px;
    line-height: 38px; } }

.team {
  width: 100%;
  margin-left: calc((100% - 1530px) / 2 + 15px);
  max-width: 100%; }
  .team-slider {
    margin-bottom: 80px; }
    .team-slider .slick-slide {
      margin-right: 16px; }
  .team-member {
    margin-bottom: 64px; }
    .team-member .team-image {
      max-width: 425px;
      height: 268px;
      margin-bottom: 24px;
      overflow: hidden; }
      .team-member .team-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: grayscale(50%);
        transition: all .3s ease; }
    .team-member h5 {
      margin-bottom: 10px; }
    .team-member:hover img {
      filter: grayscale(100%); }
  .team-social {
    margin: 10px 0 0 0;
    padding: 0;
    list-style-type: none; }
    .team-social svg {
      width: 24px;
      height: 24px;
      fill: #FF0049; }

@media screen and (max-width: 1530px) {
  .team {
    margin-left: 15px; } }

@media screen and (max-width: 1400px) {
  .team {
    margin-left: calc((100% - 1140px) / 2 + 15px); } }

@media screen and (max-width: 1200px) {
  .team {
    margin-left: calc((100% - 960px) / 2 + 15px); } }

@media screen and (max-width: 992px) {
  .team {
    margin-left: calc((100% - 720px) / 2 + 15px); } }

@media screen and (max-width: 768px) {
  .team {
    margin-left: calc((100% - 540px) / 2 + 15px); } }

@media screen and (max-width: 540px) {
  .team {
    margin-left: 15px; } }

.two-columns {
  position: relative; }

.wrap-columns {
  max-width: 1530px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .wrap-columns .column {
    max-width: 50%;
    flex: 0 0 50%; }
    .wrap-columns .column.img-column {
      position: absolute;
      left: 0;
      width: 50%;
      height: 100%; }
      .wrap-columns .column.img-column img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .wrap-columns .column.text-column {
      margin-left: auto;
      padding-top: 120px;
      padding-bottom: 120px;
      padding-left: 7vw;
      padding-right: 3vw; }

@media screen and (max-width: 992px) {
  .wrap-columns {
    flex-direction: column;
    align-items: flex-start; }
    .wrap-columns .column {
      max-width: 100%;
      flex: 0 0 100%; }
      .wrap-columns .column.img-column {
        position: relative;
        width: 100%; }
      .wrap-columns .column.text-column {
        margin-left: 0;
        padding: 60px 15px; } }

.wrap-contact {
  background: url(../images/abstract-background-contact.png) right top/contain no-repeat; }

.contact-form {
  margin-top: 80px;
  margin-bottom: 120px; }
  .contact-form p {
    font-family: 'Work Sans', sans-serif; }
  .contact-form .form-row {
    margin-bottom: 16px; }
    .contact-form .form-row input, .contact-form .form-row textarea {
      width: 100%;
      height: 48px;
      background: #ECF1F4;
      box-shadow: inset 0px 2px 2px -1px rgba(74, 74, 104, 0.1);
      padding-left: 16px;
      border-radius: 4px;
      font-family: "Work Sans"; }
      .contact-form .form-row input::placeholder, .contact-form .form-row textarea::placeholder {
        font-weight: 500;
        font-size: 16px;
        color: #8BA3B2; }
    .contact-form .form-row textarea {
      height: 91px;
      padding-top: 12px; }
    .contact-form .form-row input[type="file"] {
      height: auto;
      padding-left: 0;
      background: transparent;
      box-shadow: none; }
    .contact-form .form-row button[type="submit"] {
      padding-top: 15px;
      padding-bottom: 15px; }
  .contact-form .required {
    font-weight: 500;
    font-size: 16px;
    color: #8BA3B2; }
  .contact-form .form-description {
    margin: 32px 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #3D657F; }
  .contact-form .custom-file-button {
    margin-top: 32px;
    font-family: "Work Sans";
    font-weight: 500;
    font-size: 16px;
    line-height: 19px; }
    .contact-form .custom-file-button input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1; }
    .contact-form .custom-file-button label {
      padding: 10px 16px;
      border-radius: 4px;
      color: #3D657F;
      background: #EFF3F5; }
      .contact-form .custom-file-button label svg {
        width: 24px;
        height: 24px;
        margin-right: 8px; }
    .contact-form .custom-file-button span {
      margin-left: 16px;
      color: #8BA3B2; }

@media screen and (max-width: 480px) {
  .contact-form .custom-file-button span {
    display: block;
    margin-left: 0;
    margin-top: 16px; } }

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 100%;
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.mfp-container {
  padding: 0; }

.mfp-content {
  height: 100%; }

button.mfp-close {
  background: url(../images/close-popup.svg) no-repeat;
  font-size: 0;
  top: 32px;
  right: 32px;
  opacity: 1; }
  button.mfp-close:focus, button.mfp-close:active {
    top: 32px; }

.popup-logo {
  position: absolute;
  top: 16px;
  left: 50px; }

@media screen and (max-width: 992px) {
  .white-popup {
    display: block;
    padding: 100px 0 50px 0; } }

.pagination {
  padding: 55px 0; }
  .pagination-list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .pagination li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #111419; }
    .pagination li a svg {
      width: 24px;
      height: 13px;
      margin-right: 16px; }
  .pagination li:nth-child(2) svg {
    width: 40px;
    height: 40px; }
  .pagination li:last-child a svg {
    transform: scale(-1, 1);
    margin-right: 0;
    margin-left: 16px; }

@media screen and (max-width: 480px) {
  .pagination-list a span {
    display: none; } }

footer {
  padding: 55px 0;
  background: #3D657F; }

.footer-nav {
  margin: 0;
  padding: 0; }
  .footer-nav li {
    display: inline-block;
    margin-left: 55px;
    margin-bottom: 0; }
  .footer-nav a {
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
    color: #fff; }

.footer-social {
  margin: 0;
  padding: 0; }
  .footer-social li {
    margin-bottom: 0; }
  .footer-social svg {
    width: 32px;
    height: 32px;
    fill: #fff; }

@media screen and (max-width: 992px) {
  .footer-social, .d-flex {
    width: 100%;
    justify-content: center; }
  .footer-nav {
    margin-top: 20px; }
    .footer-nav li:first-child {
      margin-left: 0; } }

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  min-height: 100%;
  position: relative;
  background-color: #fff;
  font-weight: 400;
  font-style: normal;
  font-family: 'Epilogue', sans-serif;
  color: #111419;
  font-size: 14px;
  line-height: 1.3;
  -webkit-text-size-adjust: none;
  -ms-overflow-x: hidden;
  overflow-x: hidden; }

ol, ul {
  list-style: none; }
  ol li, ul li {
    margin-bottom: 10px; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  border: none; }

a {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

a:hover, a:active, a:focus {
  text-decoration: none; }

a:focus, input:focus, textarea:focus {
  outline: none; }

html {
  height: 100%; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

main {
  min-height: 100vh;
  overflow-x: hidden; }

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1530px; } }

.padding-top-100 {
  padding-top: 100px; }

section p {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300; }

.background-overlay {
  position: relative; }
  .background-overlay:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7); }
  .background-overlay .container {
    z-index: 1;
    position: relative; }

.for-startups {
  padding: 100px 0;
  background: url(../images/for-startups.jpg) center top/cover no-repeat; }

.primary-background {
  background: linear-gradient(89.83deg, #FF0049 0.13%, #3D657F 99.86%); }

.abstract-background {
  position: relative;
  overflow: hidden; }
  .abstract-background:after {
    content: "";
    position: absolute;
    top: -30%;
    left: 0;
    width: 100%;
    height: 200vh;
    background: url(../images/abstract-background.png) no-repeat;
    opacity: .5; }
  .abstract-background .container {
    position: relative;
    z-index: 1; }
  .abstract-background.blue-abstract:after {
    top: 0;
    left: auto;
    right: -28%;
    background: url(../images/abstract-background-blue.png) no-repeat; }
  .abstract-background.middle-abstract {
    overflow: visible; }
    .abstract-background.middle-abstract:after {
      width: 370px;
      height: 970px;
      top: -63%;
      right: 0;
      left: auto;
      background: url(../images/abstract-background-2.png) left center/cover no-repeat; }
  .abstract-background.bottom-abstract:after {
    top: auto;
    right: -50%;
    height: 70vh;
    bottom: 0; }
  .abstract-background.left-bottom:after {
    height: 1000px;
    top: auto;
    bottom: 23%;
    left: -22%;
    background-position: right bottom;
    transform: rotate(90deg);
    background-size: 60%;
    right: auto; }

.light-blue-background {
  background: #EFF3F5; }

.wrap-team {
  overflow-x: hidden; }

.vacancy {
  padding-bottom: 100px; }

.contact-section {
  padding-top: 55px; }

.our-facts {
  padding-bottom: 100px;
  background: url(../images/hero-section.jpg) center/cover no-repeat; }

.fact-item {
  margin-top: 100px;
  margin-bottom: 20px; }
  .fact-item p {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400; }
  .fact-item h1 {
    margin-bottom: 10px; }

.cover-column.position-absolute.right-bottom {
  right: -5%;
  bottom: -68px; }

.cover-column.position-absolute.right-top {
  top: -35px;
  right: -5%;
  z-index: -1; }

.cover-column.position-absolute.right-middle {
  top: 7%;
  right: -13%;
  z-index: -1; }

.our-rules {
  padding-bottom: 120px; }
  .our-rules-item {
    max-width: 440px;
    margin-top: 80px; }

.eco-system {
  margin-top: 110px;
  padding-top: 130px;
  padding-bottom: 70px;
  background: url(../images/ecosystem-bg.jpg) center/cover no-repeat; }

.eco-item {
  max-width: 430px;
  margin: 70px 0;
  display: flex;
  align-items: center; }
  .eco-item-icon {
    min-width: 84px;
    height: 84px;
    margin-right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FF0049;
    border-radius: 80px; }
    .eco-item-icon svg {
      width: 24px;
      height: 24px; }
  .eco-item h5 {
    margin-bottom: 0;
    color: #fff; }

.construction {
  padding-top: 250px;
  padding-bottom: 200px;
  background: url(../images/construction.jpg) center/cover no-repeat; }

.we-item {
  max-width: 500px;
  margin: 50px 0; }
  .we-item h4 {
    margin-bottom: 20px;
    color: #fff; }
    .we-item h4 span {
      display: block;
      font-family: "Libre Baskerville"; }

.change {
  margin-top: 100px;
  padding-top: 250px;
  padding-bottom: 250px;
  background: url(../images/change.jpg) center/cover no-repeat; }

.w-40 {
  max-width: 40%; }

.inner-text {
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 170px; }

@media screen and (max-width: 1400px) {
  .cover-column.position-absolute.right-bottom {
    position: relative !important;
    right: auto;
    bottom: auto; } }

@media screen and (max-width: 992px) {
  .our-rules-item {
    max-width: 100%; } }

@media screen and (max-width: 768px) {
  .padding-top-100 {
    padding-top: 40px; }
  .primary-background.abstract-background:after {
    display: none; }
  .eco-system {
    margin-top: 60px;
    padding-top: 60px; }
  .eco-item {
    max-width: 100%;
    margin: 30px 0; }
  .construction, .change {
    padding: 60px 0; }
  .inner-text {
    padding-left: 0;
    padding-right: 0; } }
