@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px; }

h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px; }

.btn {
  width: 100%;
  max-height: 48px;
  display: block;
  margin-bottom: 16px;
  padding: 12px 40px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.41px;
  color: #fff;
  border-radius: 12px;
  cursor: pointer; }
  .btn svg {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    vertical-align: bottom; }

.primary {
  background: #2321A3; }
  .primary:disabled {
    color: #4746D9;
    background: #191877; }

.inline {
  background: transparent; }

.default {
  width: auto;
  padding-left: 0;
  font-size: 16px;
  font-weight: 400;
  opacity: .6; }

.fb {
  padding-left: 24px;
  padding-right: 24px;
  background: #3C5A9A; }

.instagram {
  padding-left: 24px;
  padding-right: 24px;
  background: linear-gradient(49.12deg, #FFDD55 6.62%, #FF543E 50.06%, #C837AB 93.5%); }

.apple {
  color: #0E0E0E;
  background: #fff; }

.popup-close {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.12);
  cursor: pointer;
  line-height: 32px; }
  .popup-close svg {
    width: 12px;
    height: 12px;
    margin-top: 10px; }

.back {
  width: 24px;
  height: 24px;
  margin-bottom: 10px; }
  .back svg {
    width: 24px;
    height: 24px; }

.show-password {
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 10px;
  right: 16px; }
  .show-password svg {
    width: 24px;
    height: 24px; }

header {
  padding: 10px 24px 0 24px; }
  header h1 {
    margin-top: 8px; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  min-height: 100%;
  position: relative;
  background-color: #fff;
  font-weight: 400;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 1.3;
  -webkit-text-size-adjust: none;
  -ms-overflow-x: hidden;
  overflow-x: hidden; }

ol, ul {
  list-style: none; }
  ol li, ul li {
    margin-bottom: 10px; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  border: none; }

a {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

a:hover, a:active, a:focus {
  text-decoration: none; }

a:focus, input:focus, textarea:focus {
  outline: none; }

html {
  height: 100%; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.row.justify {
  justify-content: space-between; }

.row.around {
  justify-content: space-around; }

.row.center {
  align-items: center; }

#app {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background: linear-gradient(346.96deg, #0E0E0E 0%, #0D0C3C 100%); }

.intro {
  height: 42vh;
  max-height: 356px;
  background: url(../images/intro.png) center top/cover no-repeat; }
  .intro + .logo {
    margin-top: 60px;
    margin-bottom: 80px; }
  .intro-btn {
    padding: 0 43px; }

.logo {
  font-size: 64px;
  line-height: 100px;
  font-weight: 700;
  letter-spacing: -0.3px;
  text-align: center; }

.popup {
  max-height: 440px;
  height: 52vh;
  margin-top: 48px;
  background: #171727;
  border-radius: 16px 16px 0px 0px;
  box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.05);
  position: relative; }
  .popup:after {
    content: "";
    position: absolute;
    width: 31px;
    height: 2px;
    left: 50%;
    margin-left: -15px;
    top: 6px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 16px; }
  .popup-header {
    padding: 32px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between; }

.sign-up-form {
  padding: 32px 24px;
  position: relative; }
  .sign-up-form.float-height {
    min-height: 85vh; }
  .sign-up-form button[type="submit"] {
    width: calc(100% - 86px);
    position: absolute;
    left: 43px;
    bottom: 24px; }

.form-row {
  margin-bottom: 16px;
  position: relative; }
  .form-row label {
    display: block;
    line-height: 20px;
    margin-bottom: 8px; }
  .form-row input {
    width: 100%;
    height: 44px;
    padding-left: 16px;
    color: #fff;
    border-radius: 16px;
    background: #302F50; }
  .form-row input[type="file"] {
    position: absolute;
    height: 88px;
    width: 88px;
    opacity: 0; }
    .form-row input[type="file"] + span {
      width: 88px;
      height: 88px;
      display: inline-block;
      line-height: 88px;
      margin-bottom: 12px;
      border-radius: 16px;
      background: #302F50; }
      .form-row input[type="file"] + span svg {
        width: 14px;
        height: 14px; }
  .form-row input[type="checkbox"] {
    width: 32px;
    height: 32px;
    position: absolute;
    opacity: 0;
    z-index: 1; }
    .form-row input[type="checkbox"] + span {
      width: 32px;
      height: 32px;
      display: inline-block;
      vertical-align: bottom;
      border-radius: 8px;
      background: #2321A3;
      margin-right: 12px;
      position: relative; }
      .form-row input[type="checkbox"] + span:after {
        content: "";
        position: absolute;
        top: 4px;
        left: 4px;
        width: 24px;
        height: 24px;
        background: url(../images/icon-checkbox.svg) no-repeat;
        opacity: 0; }
      .form-row input[type="checkbox"] + span + label {
        display: inline-block; }
    .form-row input[type="checkbox"]:checked + span:after {
      opacity: 1; }
  .form-row button[type="submit"] {
    margin: 32px auto 0 auto;
    position: relative;
    left: auto;
    bottom: auto; }

.notice {
  width: calc(100% + 10px);
  max-width: 390px;
  line-height: 20px;
  margin: 0 auto; }
  .notice span {
    color: rgba(255, 255, 255, 0.4); }
  .notice a {
    text-decoration: none;
    color: #fff; }
