@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  min-height: 100%;
  position: relative;
  background-color: #fff;
  font-weight: 400;
  font-style: normal;
  font-family: 'Ubuntu', sans-serif;
  color: #111F56;
  font-size: 16px;
  line-height: 1.3;
  -webkit-text-size-adjust: none;
  -ms-overflow-x: hidden;
  overflow-x: hidden; }

ol, ul {
  list-style: none; }
  ol li, ul li {
    margin-bottom: 10px; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  border: none; }

a {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

a:hover, a:active, a:focus {
  text-decoration: none; }

a:focus, input:focus, textarea:focus {
  outline: none; }

html {
  height: 100%; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.row.justify {
  justify-content: space-between; }

.row.around {
  justify-content: space-around; }

.row.center {
  align-items: center; }

header {
  padding: 12px 0;
  background: #0B2340;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3; }

nav ul {
  display: flex;
  margin: 0;
  padding: 0; }

nav li {
  margin-right: 30px;
  margin-bottom: 0; }

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px; }
  nav a:hover {
    color: #fff; }

.toggle-nav {
  width: 30px;
  height: 25px;
  border: none;
  padding: 0;
  background: transparent;
  outline: none;
  display: none;
  box-shadow: none !important;
  flex-direction: column;
  justify-content: space-around;
  margin-left: auto; }
  .toggle-nav span {
    width: 100%;
    height: 3px;
    background: #fff; }
  .toggle-nav.open span {
    transition: all .3s ease; }
  .toggle-nav.open span:nth-child(1) {
    transform: rotate(45deg) translate(3px, 3px); }
  .toggle-nav.open span:nth-child(2) {
    display: none; }
  .toggle-nav.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px); }

.header-contact {
  text-align: right; }

.header-phone {
  color: #1AFF00;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-right: 25px; }
  .header-phone:hover {
    color: #1AFF00; }

.primary-btn {
  text-decoration: none;
  padding: 10px 40px;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  display: inline-block;
  border: 2px solid #FFFFFF;
  border-radius: 250px; }
  .primary-btn:hover {
    color: #0B2340;
    background: #fff; }

.intro {
  margin-top: 60px;
  padding: 60px 0;
  background: #003DB4;
  color: #fff;
  overflow-x: hidden; }
  .intro h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    margin-bottom: 30px; }
    .intro h1 span {
      color: #1AFF00; }
  .intro p {
    max-width: 590px;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 50px; }

.brand-btn {
  padding: 20px 42px;
  border-radius: 60px;
  background: #1AFF00;
  text-transform: uppercase;
  color: #0B2340;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  border: none; }
  .brand-btn:hover {
    color: #fff;
    background: #001f5a; }

.additional-info {
  margin: 25px 0 0 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 24px;
  font-size: 16px; }
  .additional-info li {
    max-width: 280px; }

.hero-img .hero-person {
  position: relative;
  z-index: 1; }

.hero-img .hero-bg {
  position: absolute;
  right: 0;
  bottom: 25%; }

.hero-img .hero-figure {
  position: absolute;
  right: 30px; }

.hero-img .hero-large {
  position: absolute;
  right: -100px; }

.find-way {
  padding: 70px 0; }

.section-title {
  max-width: 600px;
  margin-bottom: 40px; }
  .section-title h2 {
    text-transform: uppercase; }

h2 {
  font-weight: 700;
  color: #1B44DA;
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 60px; }

.way-item {
  font-size: 18px;
  line-height: 26px; }

.way-img {
  height: 60px;
  margin-bottom: 20px;
  line-height: 60px; }

.way-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 20px; }

h4 {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px; }

.all-course {
  padding: 10px 0;
  position: relative;
  overflow: hidden; }
  .all-course:after {
    content: "";
    position: absolute;
    top: 190px;
    left: 0;
    width: 100%;
    height: 90%;
    background: #0E34BD;
    z-index: -1; }

.course-item {
  margin-bottom: 30px;
  background: #fff; }
  .course-item .course-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 248px;
    background: #0B2340; }
  .course-item .course-desc {
    height: 215px;
    position: relative;
    padding: 17px 22px; }
  .course-item .course-time {
    position: absolute;
    left: 17px;
    bottom: 20px;
    font-size: 18px; }
    .course-item .course-time span {
      font-weight: 500; }

h5 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700; }

.teachers {
  padding: 80px 0 20px 0;
  overflow-x: hidden; }
  .teachers-img {
    max-width: 300px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1; }

.teacher-item {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 60px; }

.teacher-img {
  margin-bottom: 10px; }

.teacher-position {
  font-size: 20px;
  line-height: 24px;
  max-width: 70%; }

.works {
  padding: 70px 0;
  background: #0B2340; }
  .works h2 {
    color: #fff; }
  .works .section-title {
    position: relative; }
    .works .section-title img {
      position: absolute;
      top: -50px;
      right: -150px; }

.wrap-example {
  max-width: 1180px;
  margin: 0 auto;
  overflow: visible; }

.example-slider {
  width: 1920px; }

.example-item {
  margin-right: 30px;
  outline: none; }
  .example-item img {
    height: 380px;
    width: 100%;
    object-fit: cover; }

.slider-nav {
  text-align: right;
  margin-top: 40px; }
  .slider-nav button {
    background: transparent; }
    .slider-nav button svg {
      width: 66px;
      height: 44px;
      fill: #C6D0D4; }
    .slider-nav button.next {
      margin-left: 36px; }
      .slider-nav button.next svg {
        transform: rotate(180deg); }
    .slider-nav button:hover svg {
      fill: #1AFF00; }
    .slider-nav button.active svg {
      fill: #1AFF00; }

.how-study {
  padding: 70px 0; }
  .how-study .brand-btn {
    margin-top: 40px; }
  .how-study .col-lg-3:first-child .study-number:after {
    display: none; }

.study-item {
  font-size: 18px;
  line-height: 25px; }
  .study-item p {
    margin-top: 10px; }

.study-number {
  width: 66px;
  height: 66px;
  margin-bottom: 30px;
  background: #1B44DA;
  border-radius: 50%;
  text-align: center;
  line-height: 66px;
  color: #1AFF00;
  font-weight: 500;
  font-size: 30px;
  position: relative; }
  .study-number:after {
    content: "";
    position: absolute;
    top: 50%;
    left: -208px;
    width: 200px;
    height: 1px;
    background: #A4B8C0; }

.price-study {
  padding: 80px 0;
  background: #1B44DA;
  color: #fff; }

.cost {
  padding: 60px 70px;
  border: 8px solid #fff; }
  .cost-with-sale {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 -40px; }

.end-of-sale {
  margin-top: 20px;
  font-weight: 500;
  font-size: 80px;
  line-height: 104px; }
  .end-of-sale span {
    display: inline-block;
    font-size: 30px;
    line-height: 33px; }

.current-price {
  font-weight: 500;
  font-size: 100px;
  line-height: 130px;
  margin-top: 70px; }

.past-price {
  margin-top: -30px;
  font-size: 66px;
  line-height: 86px;
  color: #234EEB;
  text-decoration: line-through; }

.price-part {
  margin-top: 30px;
  font-size: 24px;
  line-height: 26px; }
  .price-part p:last-child {
    font-size: 16px; }

.one-time-price {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px; }

.sign-to-course {
  padding: 0 30px; }

.time-course {
  font-weight: 700;
  display: flex;
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 30px;
  color: #214DEA; }
  .time-course p {
    margin-right: 10%;
    min-width: 170px; }
  .time-course span {
    margin-top: 10px;
    color: #fff;
    font-weight: 500;
    display: block;
    font-size: 56px;
    line-height: 45px;
    padding-right: 30%; }

.title-form {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 40px; }

.free-consult input {
  width: 100%;
  height: 55px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 34px;
  border-bottom: 1px solid #fff;
  background: transparent;
  color: #fff; }
  .free-consult input::placeholder {
    color: #fff; }

.free-consult button[type="submit"] {
  height: 66px;
  margin: 80px 0 0 0;
  padding: 0 45px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #173062;
  background: #1AFF00;
  border-radius: 250px;
  text-transform: uppercase;
  transition: all .3s ease; }
  .free-consult button[type="submit"]:hover {
    background: #001f5a;
    color: #fff; }

.free-consult .checkbox {
  width: 30px;
  height: 30px;
  position: absolute;
  opacity: 0;
  cursor: pointer; }
  .free-consult .checkbox + span {
    width: 30px;
    height: 30px;
    background: #1B44DA;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #fff; }
  .free-consult .checkbox + span + label {
    width: calc(100% - 54px);
    margin-left: 14px;
    font-size: 14px;
    color: #BEDCFF;
    vertical-align: middle; }
    .free-consult .checkbox + span + label a {
      color: #BEDCFF; }
  .free-consult .checkbox:checked + span {
    background: #fff; }

.faq {
  padding: 70px 0; }
  .faq .row.bottom {
    align-items: flex-end; }

.faq-wrap {
  margin-top: 20px; }

.faq-item {
  padding-top: 30px;
  padding-bottom: 15px;
  position: relative;
  font-size: 18px;
  line-height: 32px;
  border-bottom: 1px solid #AEC1CC; }
  .faq-item:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    top: 18px;
    right: 0;
    background: url(../images/faq-icon.svg) no-repeat;
    transition: all .3s ease; }
  .faq-item p {
    display: none; }
  .faq-item.open:after {
    transform: rotate(45deg); }

.faq-title {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 32px;
  cursor: pointer;
  font-weight: 700; }

footer {
  padding: 70px 0;
  background: #0B2340;
  line-height: 24px;
  color: #fff; }

.footer-logo {
  max-width: 160px;
  margin-top: 35px; }

.footer-title {
  font-size: 20px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 30px; }

.footer-nav {
  margin: 70px 0 0 0;
  padding: 0; }
  .footer-nav li {
    margin: 0 0 10px 0; }
  .footer-nav a {
    text-decoration: none;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    color: #fff; }

.download-presentation {
  font-size: 16px;
  line-height: 40px;
  color: #1AFF00;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  margin: 80px 0; }
  .download-presentation:hover {
    color: #1AFF00; }

.footer-contact p {
  margin-bottom: 5px; }

.footer-contact a {
  text-decoration: none; }

.footer-phone {
  font-size: 16px;
  color: #fff; }
  .footer-phone:hover {
    color: #fff; }

.footer-email {
  font-size: 18px;
  color: #1AFF00; }
  .footer-email:hover {
    color: #1AFF00; }

.social-nav {
  margin-top: 50px; }
  .social-nav a {
    margin-right: 23px; }

.copyright {
  font-size: 16px; }
  .copyright span {
    font-weight: 600; }

.slick-dots {
  bottom: -50px; }

.slick-dots li button {
  width: 10px;
  height: 10px;
  padding: 0;
  border: 1px solid #bdbdbd;
  border-radius: 50%; }
  .slick-dots li button:before {
    display: none; }

.slick-dots li {
  width: 10px; }
  .slick-dots li.slick-active button {
    background: #bdbdbd; }

.mfp-iframe-holder .mfp-content {
  max-width: 1200px; }

.white-popup-block {
  position: relative;
  background: #FFF;
  padding: 24px 40px;
  width: auto;
  max-width: 580px;
  margin: 20px auto; }
  .white-popup-block .personal-data {
    position: relative;
    z-index: 99999; }

.title-popup {
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 40px;
  font-weight: 700; }

/*@media (min-width: 1440px) {

	.container {
		max-width: 1560px;
	}

}*/
@media (min-width: 1440px) {
  .container {
    max-width: 1210px; } }

@media screen and (max-width: 1280px) {
  .intro {
    padding: 30px 0; }
  .hero-img {
    max-width: 500px; }
    .hero-img img {
      max-width: 90%; }
    .hero-img .hero-figure {
      max-width: 100px; }
  .mfp-iframe-holder .mfp-content {
    max-width: 1100px; }
  .cost-with-sale {
    font-size: 42px;
    line-height: 44px; }
  .current-price {
    margin-top: 90px; }
  .time-course {
    margin-bottom: 0; }
  .free-consult button[type="submit"] {
    margin-bottom: 15px; } }

@media screen and (max-width: 1200px) {
  .works .section-title img {
    top: -20px;
    max-width: 200px; }
  .intro {
    padding: 80px 0; }
  .intro h1 {
    font-size: 55px;
    line-height: 60px; }
  .header-phone {
    font-size: 18px; }
  .study-item {
    font-size: 18px; }
  .study-title {
    font-size: 18px;
    line-height: 25px; }
  .cost-with-sale {
    font-size: 38px;
    line-height: 36px; }
    .cost-with-sale span {
      right: 0; }
      .cost-with-sale span:after {
        width: 100px;
        left: -100px;
        top: 0; }
  .title-form {
    font-size: 34px;
    line-height: 34px; } }

@media screen and (max-width: 991px) {
  .slider-nav {
    display: none; }
  .teachers-img {
    max-width: 200px; }
  .hero-img .hero-large {
    right: -300px;
    max-width: 100%; }
  .navbar-collapse {
    background: #0B2340;
    position: fixed;
    width: 100%;
    left: 0;
    top: 65px;
    z-index: 2; }
    .navbar-collapse ul, .navbar-collapse .header-contact {
      display: block;
      max-width: 720px;
      margin: 0 auto;
      padding: 0 10px; }
      .navbar-collapse ul li, .navbar-collapse .header-contact li {
        margin: 0 0 30px 0; }
    .navbar-collapse .header-contact {
      flex-direction: column;
      align-items: baseline; }
      .navbar-collapse .header-contact .header-phone {
        margin: 30px 0; }
  nav, .header-contact {
    display: none; }
  .toggle-nav {
    display: flex; }
  .intro {
    margin-top: 49px;
    padding: 30px 0; }
    .intro h1 {
      font-size: 40px;
      line-height: 50px; }
    .intro p {
      font-size: 16px;
      line-height: 20px; }
  .teachers .row {
    flex-wrap: nowrap;
    overflow-y: auto; }
  .wrap-example {
    max-width: 720px; }
    .wrap-example .example-slider {
      width: auto; }
  .example-item img {
    height: 200px; }
  .additional-info {
    margin: 55px 0 0 0;
    align-items: flex-start; }
    .additional-info li {
      max-width: 230px; }
  h2 {
    font-size: 32px;
    margin-bottom: 30px; }
  h3 {
    font-size: 32px; }
  .author-course, .for-who, .how-study, .program, .works, .faq, .price-study {
    padding: 40px 0; }
  .study-item {
    font-size: 16px;
    line-height: 24px; }
  .study-number:after {
    display: none; }
  .study-number {
    float: left;
    margin: 0 30px 50px 0; }
  .how-study .brand-btn {
    font-size: 16px;
    margin-top: 30px; }
  .cost-with-sale {
    font-size: 32px;
    line-height: 30px;
    margin: 0;
    text-align: left; }
  .end-of-sale {
    font-size: 50px;
    line-height: 60px; }
    .end-of-sale span {
      font-size: 20px;
      line-height: 22px; }
  .current-price {
    font-size: 70px;
    margin-top: 0; }
  .past-price {
    font-size: 48px; }
  .sign-to-course {
    padding: 0; }
  .time-course {
    margin-top: 35px;
    margin-bottom: 50px;
    font-size: 18px;
    justify-content: space-between; }
    .time-course p {
      min-width: 50%; }
    .time-course span {
      font-size: 46px;
      line-height: 46px;
      margin-left: 30px;
      display: inline-block;
      vertical-align: middle;
      padding: 0;
      margin-top: 0; }
  .title-form {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 20px; }
  .faq-img {
    max-width: 100px;
    margin-left: auto;
    display: block; }
  .faq-wrap {
    margin-top: 30px; }
  .faq-item {
    font-size: 16px;
    line-height: 24px; }
  .faq-title {
    font-size: 24px;
    padding-right: 150px; }
  .footer-nav a {
    line-height: 30px; }
  .footer-nav img {
    margin-bottom: 30px; }
  .social-nav {
    margin-top: 73px; }
  .footer-nav {
    margin: 65px 0 0 0; }
  .program-effect {
    display: none; } }

@media screen and (max-width: 767px) {
  .teachers-img {
    max-width: 100px;
    right: -30px;
    top: 5%; }
  header {
    padding: 0; }
    header .logo {
      max-width: 130px; }
  .intro {
    margin-top: 40px; }
    .intro-description {
      max-width: 270px; }
    .intro h1 {
      font-size: 24px;
      line-height: 32px; }
    .intro p {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 18px; }
    .intro .brand-btn {
      font-size: 16px;
      text-align: center;
      padding-top: 11px;
      padding-bottom: 11px; }
  .hero-img .hero-large {
    top: 0;
    right: -230px; }
  .additional-info {
    margin-top: 30px;
    font-size: 12px;
    line-height: 16px;
    display: block; }
    .additional-info li {
      max-width: 100%; }
  h2 {
    font-size: 22px;
    line-height: 28px; }
  h4 {
    font-size: 18px;
    line-height: 30px; }
  h3 {
    font-size: 26px;
    line-height: 32px; }
  .way-item {
    font-size: 16px;
    line-height: 16px; }
  .way-title {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px; }
  .all-course:after {
    height: 94%; }
  .how-study .brand-btn {
    font-size: 14px;
    line-height: 18px; }
  .program-list-item {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px; }
    .program-list-item b {
      font-size: 18px;
      line-height: 20px; }
      .program-list-item b span {
        display: block; }
  .works h3 {
    font-size: 18px;
    margin-bottom: 20px; }
  .time-course {
    display: block;
    margin-top: 0; }
    .time-course p {
      margin-right: 0;
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .time-course span {
      font-size: 36px;
      height: 46px;
      width: 150px; }
  .sign-to-course {
    padding: 10px 0 0 0; }
  .faq-img {
    margin-top: -70px; }
  .faq-item {
    padding: 15px 0 0 0; }
    .faq-item:after {
      width: 30px;
      height: 30px;
      top: 7px;
      right: 0;
      background-size: cover; }
  .faq-title {
    font-size: 20px;
    line-height: 22px; }
  .cost {
    padding: 30px; }
  .navbar-collapse ul, .navbar-collapse .header-contact {
    max-width: 540px; }
  .navbar-collapse {
    top: 41px;
    padding-top: 20px; }
  .social-nav {
    margin-top: 50px; }
  .footer-nav {
    margin: 25px 0 0 0; }
  footer {
    padding-bottom: 30px; }
  .what-learn-img .effect-img {
    right: 0;
    max-width: 160px; }
  .hero-img .hero-figure {
    max-width: 70px; }
  .primary-btn.brand-btn + .additional-info {
    display: none; }
  .works .section-title img {
    max-width: 100px;
    right: -100px; }
  h5 {
    font-size: 20px;
    line-height: 26px; }
  footer {
    text-align: center; }
  .footer-logo {
    margin: 30px auto; } }

@media screen and (max-width: 576px) {
  .wrap-example {
    padding: 0 15px; }
  .works .section-title img {
    right: 0; }
  .free-consult button[type="submit"] {
    width: 100%;
    height: 44px;
    font-size: 14px;
    margin-top: 40px; }
  .example-item img {
    width: 250px;
    height: 170px; }
  .how-study .brand-btn {
    padding: 10px; }
  .faq-title {
    padding-right: 60px;
    line-height: 26px; } }

@media screen and (max-width: 480px) {
  .faq-item p {
    font-size: 16px;
    line-height: 20px; }
  .hero-img .hero-large {
    top: 55px;
    right: -200px; }
  .cost-with-sale {
    font-size: 22px;
    line-height: 26px;
    margin: 0 -3px; }
  .current-price {
    font-size: 64px; }
  .price-part {
    margin-top: 10px;
    font-size: 20px;
    line-height: 22px; }
    .price-part p:last-child {
      font-size: 14px; }
  footer {
    padding-top: 30px; }
  .study-item p {
    padding-left: 96px; } }
