@font-face {
  font-family: 'Silka-Medium';
  src: url("../fonts/Silka-Medium.eot");
  src: url("../fonts/Silka-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Silka-Medium.woff2") format("woff2"), url("../fonts/Silka-Medium.woff") format("woff"), url("../fonts/Silka-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Silka';
  src: url("../fonts/Silka-Regular.eot");
  src: url("../fonts/Silka-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Silka-Regular.woff2") format("woff2"), url("../fonts/Silka-Regular.woff") format("woff"), url("../fonts/Silka-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Silka-SemiBold';
  src: url("../fonts/Silka-SemiBold.eot");
  src: url("../fonts/Silka-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Silka-SemiBold.woff2") format("woff2"), url("../fonts/Silka-SemiBold.woff") format("woff"), url("../fonts/Silka-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

h1 {
  font-size: 46px;
  line-height: 55px;
  font-family: "Silka-SemiBold";
  color: #BCDDC5; }

h2 {
  margin-bottom: 40px;
  font-size: 56px;
  line-height: 67px;
  font-weight: "Silka-Medium"; }

h3 {
  font-weight: "Silka-Medium";
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.02em; }

h4, h5 {
  margin-bottom: 30px;
  font-weight: "Silka-Medium"; }

h4 {
  font-size: 28px;
  line-height: 44px; }

h5 {
  font-size: 24px;
  line-height: 32px; }

h6 {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 20px; }

@media screen and (max-width: 992px) {
  h1 {
    font-size: 32px;
    line-height: 36px; } }

.btn {
  max-height: 48px;
  padding: 12px 24px;
  font-weight: "Silka-SemiBold";
  font-size: 18px;
  line-height: 18px;
  cursor: pointer;
  text-align: center;
  border-radius: 4px; }

.btn-primary {
  background: #1C6970;
  color: #fff;
  border: none;
  box-shadow: 0px 6px 2px -4px rgba(14, 14, 44, 0.1); }

header {
  left: 0;
  z-index: 2;
  width: 100%;
  top: 0; }
  header .header-container {
    padding: 0 5%; }
  header .logo {
    position: relative; }
    header .logo:after {
      content: "";
      position: absolute;
      top: -416px;
      left: 0;
      width: 560px;
      height: 560px;
      background: #1C6970;
      border-radius: 100%;
      z-index: 1; }
    header .logo a {
      position: relative;
      z-index: 2;
      transform: translate(100%, 30px);
      display: block;
      transition: none; }
  header ul {
    margin: 0;
    padding: 60px 0 0 0;
    display: flex; }
    header ul li {
      margin-left: 60px;
      margin-bottom: 0;
      position: relative; }
    header ul a {
      text-decoration: none;
      font-family: "Silka-Medium";
      font-size: 25px;
      line-height: 30px;
      color: #BCDDC5; }
      header ul a:hover {
        color: #1C6970; }
      header ul a.active {
        color: #1C6970; }
  header .toggle-nav {
    width: 35px;
    height: 40px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: transparent; }
    header .toggle-nav span {
      width: 35px;
      height: 3px;
      background: #1C6970;
      margin-bottom: 5px;
      transition: all .3s ease-in-out; }
      header .toggle-nav span:nth-child(3) {
        margin-bottom: 0; }
    header .toggle-nav.open {
      z-index: 2; }
      header .toggle-nav.open span {
        position: absolute;
        margin: 0; }
        header .toggle-nav.open span:nth-child(1) {
          transform: rotate(45deg); }
        header .toggle-nav.open span:nth-child(2) {
          display: none; }
        header .toggle-nav.open span:nth-child(3) {
          transform: rotate(-45deg); }

@media screen and (max-width: 1700px) {
  header ul li {
    margin-left: 30px; }
  header ul a {
    font-size: 20px; } }

@media screen and (max-width: 1400px) {
  header .logo:after {
    width: 280px;
    height: 280px;
    top: -147px;
    left: -31px; }
  header .logo a {
    transform: none;
    display: block;
    margin: 12px 0 0 25px; }
  header ul li {
    margin-left: 20px; }
  header ul a {
    font-size: 18px; } }

@media screen and (max-width: 992px) {
  header .header-container {
    padding-left: 0; }
  header nav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    padding: 250px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all .3s ease-in-out;
    background: #fff;
    overflow: auto; }
    header nav ul {
      flex-direction: column; }
      header nav ul li {
        margin: 0 0 24px 0; }
        header nav ul li:last-child {
          display: none; }
    header nav.open {
      left: 0; }
      header nav.open ul {
        padding: 0; }
        header nav.open ul a {
          font-size: 25px; } }

.hero-section {
  padding: 160px 0; }

.process {
  padding: 30px 0; }
  .process .title-for-section {
    text-align: right;
    color: #BCDDC5; }

.title-for-section {
  padding-right: 15%;
  font-size: 16px;
  line-height: 19px;
  font-family: "Silka-SemiBold";
  color: rgba(188, 221, 197, 0.6); }

.wrap-graphic {
  margin-top: 100px;
  padding-bottom: 140px;
  position: relative; }
  .wrap-graphic ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 532px; }
    .wrap-graphic ul li {
      margin: 0;
      position: relative; }
      .wrap-graphic ul li:nth-child(1) svg:first-child {
        width: 141px;
        height: 257px; }
      .wrap-graphic ul li:nth-child(1) svg.graphic-title {
        width: 100px;
        height: 160px;
        position: absolute;
        left: 20px;
        top: 37px;
        fill: #fff; }
      .wrap-graphic ul li:nth-child(2) {
        margin-top: -20px; }
        .wrap-graphic ul li:nth-child(2) svg:first-child {
          width: 255px;
          height: 137px; }
        .wrap-graphic ul li:nth-child(2) svg.graphic-title {
          width: 151px;
          height: 103px;
          position: absolute;
          left: 59px;
          top: 11px;
          fill: #fff; }
      .wrap-graphic ul li:nth-child(3) {
        margin-left: 20px; }
        .wrap-graphic ul li:nth-child(3) svg:first-child {
          width: 256px;
          height: 138px; }
        .wrap-graphic ul li:nth-child(3) svg.graphic-title {
          width: 136px;
          height: 77px;
          position: absolute;
          left: 46px;
          top: 33px;
          fill: #fff; }
        .wrap-graphic ul li:nth-child(3) .graphic-desc {
          left: -70%; }
          .wrap-graphic ul li:nth-child(3) .graphic-desc:after {
            transform: rotate(50deg) translate(90px, -80px); }
      .wrap-graphic ul li:nth-child(4) svg {
        width: 256px;
        height: 138px;
        transform: rotate(-90deg) translate(80px, -55px); }
      .wrap-graphic ul li.active svg:first-child {
        fill: #1C6970; }
      .wrap-graphic ul li.active svg.graphic-title {
        fill: #BCDDC5; }
      .wrap-graphic ul li.active .graphic-desc {
        display: block; }
      .wrap-graphic ul li.active .circle-refresh, .wrap-graphic ul li.active .graphic-notification {
        opacity: 1; }
      .wrap-graphic ul li:hover {
        cursor: pointer; }
    .wrap-graphic ul svg {
      fill: #BCDDC5;
      transition: all .3s ease; }
  .wrap-graphic .graphic-logo {
    width: 217px;
    height: 88px;
    position: absolute;
    top: 30%;
    left: 10%;
    fill: #BCDDC5; }
  .wrap-graphic .bg-graphic {
    fill: #BCDDC5; }

.graphic-desc {
  font-size: 12px;
  position: absolute;
  max-width: 200px;
  color: #1C6970;
  display: none; }
  .graphic-desc p {
    position: relative; }
    .graphic-desc p:after {
      content: "";
      position: absolute;
      top: 4px;
      left: -14px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #1C6970; }
  .graphic-desc b {
    font-family: "Silka-SemiBold"; }
  .graphic-desc:after {
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: #BCDDC5; }

.circle-refresh {
  width: 44px;
  height: 44px;
  position: absolute;
  bottom: 0px;
  left: calc(50% - 60px);
  opacity: 0;
  transition: all .1s ease; }

.graphic-notification {
  border-radius: 5px;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Silka-SemiBold";
  color: #1C6970;
  background: #BCDDC5;
  width: 120px;
  padding: 5px;
  position: absolute;
  bottom: -50%;
  right: 27%;
  opacity: 0;
  transition: all .3s ease; }
  .graphic-notification:after {
    content: "";
    position: absolute;
    top: -6px;
    left: 12px;
    width: 12px;
    height: 12px;
    background: #BCDDC5;
    transform: rotate(45deg); }

.animation .wrap-graphic ul li {
  /*&:nth-child(4) {
          svg:first-child {
            animation: fadeIn .5s linear;
          }
          svg.graphic-title {
            animation: changeColor .5s linear;
          }
        }*/ }
  .animation .wrap-graphic ul li:nth-child(1) svg:first-child {
    animation: fadeIn .5s linear; }
  .animation .wrap-graphic ul li:nth-child(1) svg.graphic-title {
    animation: changeColor .5s linear; }
  .animation .wrap-graphic ul li:nth-child(2) svg:first-child {
    animation: fadeIn .5s linear .5s; }
  .animation .wrap-graphic ul li:nth-child(2) svg.graphic-title {
    animation: changeColor .5s linear .5s; }
  .animation .wrap-graphic ul li:nth-child(3) svg:first-child {
    animation: fadeIn .5s linear 1s; }
  .animation .wrap-graphic ul li:nth-child(3) svg.graphic-title {
    animation: changeColor .5s linear 1s; }

@keyframes fadeIn {
  from {
    fill: #BCDDC5; }
  to {
    fill: #1C6970; } }

@keyframes changeColor {
  from {
    fill: #fff; }
  to {
    fill: #BCDDC5; } }

.checklist {
  padding: 70px 0; }

.number-item {
  max-width: 400px;
  margin-top: 80px;
  font-size: 25px;
  line-height: 30px;
  color: #fff; }
  .number-item-title {
    font-family: "Silka-SemiBold";
    font-size: 120px;
    line-height: 114px;
    color: rgba(188, 221, 197, 0.4);
    transition: all .3s ease; }
  .number-item.active .number-item-title {
    color: #BCDDC5; }

.about {
  height: 1290px;
  padding: 70px 0;
  font-size: 25px;
  line-height: 30px;
  color: #fff;
  background: url(../images/bg-about.jpg) center top/cover no-repeat; }
  .about h1 {
    margin-bottom: 40px; }

@media screen and (max-width: 992px) {
  .about {
    height: 790px; } }

footer {
  padding: 18px 0 88px 0;
  background: #1C6970;
  font-family: "Silka-Medium"; }

.footer-contact {
  margin-top: 10px; }
  .footer-contact p {
    margin-bottom: 5px; }
  .footer-contact span {
    margin-right: 15px;
    font-size: 16px;
    color: #BCDDC5; }
  .footer-contact a {
    text-decoration: none;
    font-size: 25px;
    line-height: 30px;
    color: #fff; }
    .footer-contact a:hover {
      text-decoration: underline; }

.footer-nav {
  margin: 0;
  padding: 0;
  text-align: right; }
  .footer-nav li {
    display: inline-block;
    margin-left: 39px;
    margin-bottom: 0; }
    .footer-nav li:first-child {
      margin-left: 0; }
  .footer-nav a {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #BCDDC5; }
    .footer-nav a:hover {
      text-decoration: underline; }

@media screen and (max-width: 992px) {
  footer {
    padding-bottom: 20px; }
  .footer-logo {
    margin-bottom: 100px; }
  .footer-nav {
    margin-top: 140px;
    text-align: left; }
    .footer-nav li {
      margin-left: 20px; } }

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  min-height: 100%;
  position: relative;
  background-color: #fff;
  font-weight: 400;
  font-style: normal;
  font-family: 'Silka' , sans-serif;
  color: #111419;
  font-size: 14px;
  line-height: 1.3;
  -webkit-text-size-adjust: none;
  -ms-overflow-x: hidden;
  overflow-x: hidden; }

ol, ul {
  list-style: none; }
  ol li, ul li {
    margin-bottom: 10px; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  border: none; }

a {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

a:hover, a:active, a:focus {
  text-decoration: none; }

a:focus, input:focus, textarea:focus {
  outline: none; }

html {
  height: 100%; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

main {
  min-height: 100vh;
  overflow-x: hidden; }

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1390px; } }

.bg-light-green {
  background: rgba(188, 221, 197, 0.16); }

.bg-primary-color {
  background: #1C6970; }
