
<footer class="position-relative">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-3 col-lg-4 col-12">
        <p class="text-center text-lg-start mb-3 mb-lg-0">© 2022 Stender GmbH</p>
      </div>
      <div class="col-xl-6 col-lg-8 col-12">
        <ul class="nav align-items-center flex-column flex-lg-row justify-content-lg-end justify-content-xl-center">
          <li class="nav-item"><a class="nav-link" href="#">Cookie-Einstellungen</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Datenschutz</a></li>
          <li class="nav-item"><a class="nav-link" href="#">AGB</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Impressum</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Sitemap</a></li>
        </ul>
      </div>
      <div class="col-xl-3">
        <div class="align-items-center d-flex justify-content-around justify-content-lg-between justify-content-xl-end mt-4 mt-xl-0"><a class="language" href="#">
            <svg>
              <use xlink:href="images/sprite.svg#globe"></use>
            </svg><span>English (UK)</span></a>
          <ul class="nav social-nav">
            <li class="nav-item"><a class="nav-link social-link" href="#">
                <svg>
                  <use xlink:href="images/sprite.svg#facebook"></use>
                </svg></a></li>
            <li class="nav-item"><a class="nav-link social-link" href="#">
                <svg>
                  <use xlink:href="images/sprite.svg#instagram"></use>
                </svg></a></li>
            <li class="nav-item"><a class="nav-link social-link" href="#">
                <svg>
                  <use xlink:href="images/sprite.svg#linkedin"></use>
                </svg></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Scroll up-->
  <button class="scroll-up d-block d-md-none">
    <svg>
      <use xlink:href="images/sprite.svg#arrow-up"></use>
    </svg>
  </button>
</footer>