
<footer>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-3">
        <p>© 2022 Stender GmbH</p>
      </div>
      <div class="col-md-6">
        <ul class="nav justify-content-center">
          <li class="nav-item"><a class="nav-link" href="#">Cookie-Einstellungen</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Datenschutz</a></li>
          <li class="nav-item"><a class="nav-link" href="#">AGB</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Impressum</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Sitemap</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <div class="d-flex align-items-center justify-content-end"><a class="language" href="#">
            <svg>
              <use xlink:href="images/sprite.svg#globe"></use>
            </svg><span>English (UK)</span></a>
          <ul class="nav social-nav">
            <li class="nav-item"><a class="nav-link social-link" href="#">
                <svg>
                  <use xlink:href="images/sprite.svg#facebook"></use>
                </svg></a></li>
            <li class="nav-item"><a class="nav-link social-link" href="#">
                <svg>
                  <use xlink:href="images/sprite.svg#instagram"></use>
                </svg></a></li>
            <li class="nav-item"><a class="nav-link social-link" href="#">
                <svg>
                  <use xlink:href="images/sprite.svg#linkedin"></use>
                </svg></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>