<!-- Top bar -->
<div class="top-bar d-md-block d-none">
  <div class="container">
    <div class="text-center">
      <p>We help you to grow your business into a sustainable future with our peat free soils. <a href="#">Learn More</a></p>
    </div>
  </div>
</div>
<header>
  <nav class="navbar navbar-expand-lg p-0">
    <div class="container">
      <div class="logo"><a href="index.html"><img class="outline" src="images/logo-outline.svg" alt="logo"/><img class="color" src="images/logo-color.svg" alt="logo"/></a></div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
        <svg class="icon-menu">
          <use xlink:href="images/sprite.svg#mobile-menu"></use>
        </svg>
        <svg class="icon-close">
          <use xlink:href="images/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <div class="collapse navbar-collapse" id="nav">
        <ul class="navbar-nav align-items-center ms-auto">
          <li class="nav-item position-relative"><a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Unternehmen</a>
            <!-- Default dropdown menu-->
            <ul class="dropdown-menu pt-2">
              <li><a class="dropdown-item" href="#">Dropdown link</a></li>
              <li><a class="dropdown-item" href="#">Dropdown link</a></li>
              <li><a class="dropdown-item" href="#">Dropdown link</a></li>
              <li><a class="dropdown-item" href="#">Dropdown link</a></li>
            </ul>
          </li>
          <li class="nav-item"> <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Produkte</a>
            <!-- Custom dropdown menu  -->
            <!--.dropdown-menu.w-100.start-50.translate-x-50
            .d-flex
              .dropdown-cover
                img(src="images/dropdown-cover.png", alt="dropdown-cover")
                .dropdown-desc
                  h3 Produkte
                  p Grundstein für deinen Erfolg. Seit Jahrzehnten produzieren wir Subtrate mit hervorragender Qualität aus hochwertigen Rohstoffen.
            
              .dropdown-content
                .dropdown-list
                  .dropdown-title Profisubstrate
                  ul
                    li: a(href="#") Beerensubstrate
                    li: a(href="#") Stender® add it
                    li: a(href="#") Stender® Standard
            
                .dropdown-list
                  .dropdown-title Verkaufserden
                  ul
                    li: a(href="#") Stender® Gärtnererden
                    li: a(href="#") Stender® Gärtnererden BIO
                    li: a(href="#") Stender® Torffrei
                    li: a(href="#") Weitere Verkaufserden
            
                .dropdown-list
                  .dropdown-title Rohstoffe
                  ul
                    li: a(href="#") Weißtorf
                    li: a(href="#") Rindenprodukte
            
            -->
          </li>
          <li class="nav-item"> <a class="nav-link" href="#">Services</a></li>
          <li class="nav-item"> <a class="nav-link" href="#">Nachhaltigkeit</a></li>
          <li class="nav-item"> <a class="nav-link nav-btn" href="#">Kontakt</a></li>
          <li class="nav-item d-inline-block d-lg-none"><a class="language" href="#">
              <svg>
                <use xlink:href="images/sprite.svg#globe"></use>
              </svg><span>English (UK)</span></a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>