
<section>
  <div class="container">
    <p class="subtitle text-center" data-aos="fade-up" data-aos-duration="1000">Wir zu Besuch</p>
    <h2 class="text-center" data-aos="fade-up" data-aos-delay="300">Partner & Kundenstories</h2>
  </div>
  <div class="partner-wrap" data-aos="fade-up" data-aos-delay="600">
    <div class="partner-item text-center">
      <div class="border-gradient"></div><a class="partner-item-img popup-video" href="https://www.youtube.com/watch?v=4dYubi7BBIo"><img src="images/partner-1.png" alt="partner-image"/>
        <svg>
          <use xlink:href="images/sprite.svg#icon-play-white"></use>
        </svg></a>
      <h6>Baumschule De Vries</h6>
    </div>
    <div class="partner-item text-center">
      <div class="border-gradient"></div><a class="partner-item-img popup-video" href="https://www.youtube.com/watch?v=4dYubi7BBIo"><img src="images/partner-2.png" alt="partner-image"/>
        <svg>
          <use xlink:href="images/sprite.svg#icon-play-white"></use>
        </svg></a>
      <h6>Gartenbau Paul Cox</h6>
    </div>
    <div class="partner-item text-center">
      <div class="border-gradient"></div><a class="partner-item-img popup-video" href="https://www.youtube.com/watch?v=4dYubi7BBIo"><img src="images/partner-1.png" alt="partner-image"/>
        <svg>
          <use xlink:href="images/sprite.svg#icon-play-white"></use>
        </svg></a>
      <h6>Baumschule De Vries</h6>
    </div>
    <div class="partner-item text-center">
      <div class="border-gradient"></div><a class="partner-item-img popup-video" href="https://www.youtube.com/watch?v=4dYubi7BBIo"><img src="images/partner-2.png" alt="partner-image"/>
        <svg>
          <use xlink:href="images/sprite.svg#icon-play-white"></use>
        </svg></a>
      <h6>Gartenbau Paul Cox</h6>
    </div>
    <div class="partner-item text-center">
      <div class="border-gradient"></div><a class="partner-item-img popup-video" href="https://www.youtube.com/watch?v=4dYubi7BBIo"><img src="images/partner-1.png" alt="partner-image"/>
        <svg>
          <use xlink:href="images/sprite.svg#icon-play-white"></use>
        </svg></a>
      <h6>Baumschule De Vries</h6>
    </div>
  </div>
</section>