.dropdown-menu.account-dropdown-menu {
    border: 1px solid #E5E5E5;
    box-shadow: none;
    padding-bottom: 20px;
}

    .header-account-dropdown-menu {
        padding: 15px 20px 20px 15px;
    }

    .header-account-dropdown-menu p {
        font-weight: 700;
        font-size: 16px;
        color: #1C84C6;
    }

    .dropdown-menu.account-dropdown-menu .gap-10 {
        gap: 10px;
    }

    .dropdown-menu.account-dropdown-menu .item {
        padding: 0 12px !important;
    }

        .dropdown-menu.account-dropdown-menu .item .name {
            margin-left: 27px !important;
            font-size: 14px;
        }

        .dropdown-menu.account-dropdown-menu .item .info {
            font-size: 12px;
            color: #B3B5B7;
        }