.interactive {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    padding: 100px 0;
    align-items: center;
    gap: 50px;
    font-family: 'Roboto', sans-serif;
}

.interactive * {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}

    .interactive .column-slider , .interactive .column-graphic {
        position: relative;
        width: 100%;
    }

        .interactive .column-slider {
            max-width: 40%;
        }

        .interactive .column-graphic {
            max-width: 650px;
            margin-left: auto;
            margin-right: auto;
        }

.wrap-slider {
    position: relative;
}

    .slider-item {
        border: 1px solid #DFDFDF;
    }

    .slider-item-header {
        color: #fff;
        font-weight: 500;
        font-size: 20px;
        background-color: #0a2d51;
        padding: 12px 30px;
        position: relative;
    }

        .slider-item-header.bg-1 {
            background-color: #0a2d51;
        }

        .slider-item-header.bg-2 {
            background-color: #00686f;
        }

        .slider-item-header.bg-3 {
            background-color: #ffc841;
        }

        .slider-item-header.bg-4 {
            background-color: #a5b0be;
        }

        .slider-arrow {
            position: absolute;
            top: 6px;
            right: 30px;
            display: flex;
            gap: 8px;
            z-index: 2;
        }

        .slider-arrow button {
            color: #fff;
            background: rgba(255,255,255, 0.3);
            border-radius: 50%;
            width: 35px;
            height: 35px;
            text-align: center;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease;
            cursor: pointer;
        }

            .slider-arrow button svg {
                width: 12px;
            }

            .slider-arrow button:hover {
                background: rgba(255,255,255, 0.5);
            }

    .slider-item-content {
        padding: 30px;
        color: #333740;
        line-height: 24px;
        font-size: 16px;
    }

    .slider-item-btn {
        margin-top: 30px;
        display: inline-block;
        border-radius: 20px;
        padding: 0 30px;
        line-height: 45px;
        height: 38px;
        background: linear-gradient(90deg, #E59B74 0%, #E27A43 100%);
    }

.interactive-list {
    position: absolute;
    top: 90px;
    right: 0;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    aspect-ratio: 100/100;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

    .interactive-list a {
        height: 70px;
        position: absolute;
        display: block;
        /*background: rgba(0,0,0,.2);*/
        text-indent: 100%;
        overflow: hidden;
        white-space: nowrap;
        transition: all 0.3s ease;
        border-radius: 10px;
    }

    .interactive-list li:nth-child(1) a {
        width: 21%;
        top: 2%;
        left: 50%;
        transform: rotate(3deg) skew(-20deg, 13deg);
    }

    .interactive-list li:nth-child(2) a {
        width: 20%;
        top: 12%;
        left: 68%;
        transform: rotate(33deg) skew(-10deg, 10deg);
        z-index: 2;
    }

    .interactive-list li:nth-child(3) a {
        width: 19%;
        top: 30%;
        left: 79%;
        transform: rotate(80deg) skew(22deg, -10deg);
        z-index: 3;
    }

    .interactive-list li:nth-child(4) a {
        width: 20%;
        top: 51%;
        left: 79%;
        transform: rotate(116deg) skew(15deg, -8deg);
        z-index: 4;
    }

    .interactive-list li:nth-child(5) a {
        width: 20%;
        top: 69%;
        left: 68%;
        transform: rotate(144deg) skew(23deg, -9deg);
        z-index: 5;
    }

    .interactive-list li:nth-child(6) a {
        width: 19%;
        bottom: 9%;
        left: 50%;
        transform: rotate(182deg) skew(0deg, -11deg);
        z-index: 6;
    }

    .interactive-list li:nth-child(7) a {
        width: 19%;
        bottom: 10%;
        left: 30%;
        transform: rotate(209deg) skew(11deg, -11deg);
        z-index: 7;
    }

    .interactive-list li:nth-child(8) a {
        width: 19%;
        top: 69%;
        left: 12%;
        transform: rotate(57deg) skew(17deg, -9deg);
        z-index: 8;
    }

    .interactive-list li:nth-child(9) a {
        width: 19%;
        top: 51%;
        left: 2%;
        transform: rotate(88deg) skew(5deg, -9deg);
        z-index: 9;
    }

    .interactive-list li:nth-child(10) a {
        width: 19%;
        top: 30%;
        left: 2%;
        transform: rotate(85deg) skew(-7deg, 17deg);
        z-index: 10;
    }

    .interactive-list li:nth-child(11) a {
        width: 19%;
        top: 12%;
        left: 12%;
        transform: rotate(116deg) skew(-23deg, 19deg);
        z-index: 11;
    }

    .interactive-list li:nth-child(12) a {
        width: 20%;
        top: 1%;
        left: 30%;
        transform: rotate(-36deg) skew(-9deg, 13deg);
        z-index: 12;
    }

    .interactive-list li:nth-child(13) a {
        width: 20%;
        top: 18%;
        left: 30%;
        border-top-left-radius: 100px;
        z-index: 13;
    }

    .interactive-list li:nth-child(14) a {
        width: 20%;
        top: 18%;
        right: 30%;
        border-top-right-radius: 100px;
        z-index: 14;
    }

    .interactive-list li:nth-child(15) a {
        width: 20%;
        top: 32%;
        left: 21%;
        border-top-left-radius: 50px;
        z-index: 15;
    }

    .interactive-list li:nth-child(16) a {
        width: 20%;
        top: 32%;
        right: 21%;
        border-top-right-radius: 50px;
        z-index: 16;
    }

    .interactive-list li:nth-child(17) a {
        width: 20%;
        height: 90px;
        top: 46%;
        left: 21%;
        z-index: 17;
    }

    .interactive-list li:nth-child(18) a {
        width: 20%;
        height: 90px;
        top: 46%;
        right: 21%;
        z-index: 18;
    }

    .interactive-list li:nth-child(19) a {
        width: 20%;
        bottom: 26%;
        left: 30%;
        border-bottom-left-radius: 100px;
        z-index: 19;
    }

    .interactive-list li:nth-child(20) a {
        width: 20%;
        bottom: 26%;
        right: 30%;
        border-bottom-right-radius: 100px;
        z-index: 20;
    }

@media screen and (max-width: 992px) {
    
    .interactive {
        flex-direction: column-reverse;
    }

        .interactive .column-slider {
            max-width: 80%;
        }

}

@media screen and (max-width: 560px) {
    
    .interactive-list {
        top: 60px;
    }

}