@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans&display=swap");
@media (min-width: 1400px) {
  .container.custom-container, .container-lg.custom-container, .container-md.custom-container, .container-sm.custom-container, .container-xl.custom-container, .container-xxl.custom-container {
    max-width: 1380px;
  }
}
.with-overlay {
  position: relative;
}
.with-overlay:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.45;
  background-image: linear-gradient(to bottom, #4e3737, #4e3737);
}

.slick-dots {
  bottom: -50px;
}
.slick-dots li {
  width: 12px;
  height: 12px;
  margin: 0 3px;
}
.slick-dots li button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #d7d7d7;
}
.slick-dots li button:before {
  display: none;
}
.slick-dots li.slick-active {
  width: 12px;
  height: 12px;
}
.slick-dots li.slick-active button {
  width: 12px;
  height: 12px;
  background: #D24355;
}

.border-start, .border-end {
  border-color: #E2E2E2;
}

.bg-dark {
  background: #242424 !important;
}

.bg-grey {
  background: #CED4DA;
}

.bg-light-grey {
  background: #F8F9FA;
}

.bg-gradient {
  background: linear-gradient(90deg, #DE415F 6.05%, #FF7608 97.36%) !important;
}

.text-dark {
  color: #101A3F !important;
}

.font-Open-Sans {
  font-family: "Open Sans";
}

.fs-16 {
  font-size: 16px;
  line-height: 24px;
}

.line {
  border-top: 1px solid #CBC9C7;
}
.line span {
  padding: 0 10px;
  font-size: 14px;
  color: #48443E;
}

.benefits-list li {
  padding-top: 3px;
  padding-left: 37px;
  background: url(../images/icon-check.svg) no-repeat;
  border-bottom: 1px solid #E2E2E2;
}
.benefits-list li:last-child {
  border: none;
}
.benefits-list.small li {
  background-size: 24px;
  background-position: 0 3px;
}

.alert {
  border-radius: 4px;
}
.alert.alert-success {
  background: #29823B;
}

hr.hr {
  margin: 16px 0;
  opacity: 1;
  background-color: #D7D7D7;
}
hr.hr.light {
  background: #E2E2E2;
}

.contact-data svg {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.contact-data a {
  color: rgba(0, 0, 0, 0.87);
}

.bg-thin-grey {
  background: #F7F7F7;
}

h1, .title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #101213;
}
h1 span, .title span {
  background: linear-gradient(90deg, #DE415F 6.05%, #FF7608 97.36%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h2, .subtitle {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #101213;
}

.subtitle-md {
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: #19191B;
}

.subtitle-sm {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #19191B;
}

.number-title {
  font-weight: 700;
  font-size: 68px;
  line-height: 82px;
  color: #101A3F;
}

.gradient-text {
  background: linear-gradient(90deg, #DE415F 6.05%, #FF7608 97.36%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

p {
  font-size: 18px;
  line-height: 28px;
}

header {
  padding: 25px 0;
  border-bottom: 1px solid #E2E2E2;
}
header .container {
  max-width: 1390px;
}

.logo img {
  max-width: 155px;
}

.navbar-expand-lg .navbar-nav li.nav-item {
  margin-right: 30px;
}
.navbar-expand-lg .navbar-nav li.nav-item:last-child {
  margin-right: 0;
}
.navbar-expand-lg .navbar-nav a.nav-link {
  padding: 0;
  font-size: 18px;
  color: #272B30;
  line-height: 28px;
}
.navbar-expand-lg .navbar-nav a.nav-link svg {
  width: 16px;
  height: 19px;
  margin-right: 10px;
}
.navbar-expand-lg .navbar-nav a.nav-link:hover, .navbar-expand-lg .navbar-nav a.nav-link.active {
  background: linear-gradient(90deg, #DE415F 6.05%, #FF7608 97.36%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.navbar-expand-lg .navbar-nav a[data-bs-toggle=dropdown] svg {
  width: 24px;
  height: 24px;
  fill: #fff;
  stroke: #fff;
  top: -2px;
  position: relative;
}
.navbar-expand-lg .navbar-nav a[data-bs-toggle=dropdown].show svg {
  transform: rotate(180deg);
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  margin-top: 10px;
  padding: 40px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}
.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}
.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item img {
  margin-right: 7px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item:hover {
  background: transparent;
}
.navbar-expand-lg .navbar-toggler {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  font-size: 0;
  line-height: 0;
  border-radius: 0;
  box-shadow: none;
}
.navbar-expand-lg .navbar-toggler span {
  width: 20px;
  height: 2px;
  display: inline-block;
  margin-bottom: 5px;
  background: #fff;
}
.navbar-expand-lg .navbar-toggler span:last-child {
  margin-bottom: 0;
}
.navbar-expand-lg .navbar-toggler.open span {
  position: relative;
}
.navbar-expand-lg .navbar-toggler.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 7px;
}
.navbar-expand-lg .navbar-toggler.open span:nth-child(2) {
  opacity: 0;
}
.navbar-expand-lg .navbar-toggler.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: -7px;
}

.header-info {
  margin-left: 26px;
  border-left: 1px solid #E9ECEF;
}
.header-info p {
  padding-left: 28px;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
}
.header-info p:first-child svg {
  width: 10.6px;
  height: 10.6px;
}
.header-info p:last-child svg {
  width: 12px;
  height: 13.3px;
}
.header-info svg {
  margin-right: 12px;
}

@media screen and (max-width: 991px) {
  .navbar-expand-lg .navbar-nav {
    margin-top: 70px;
  }
  .navbar-expand-lg .navbar-nav a.nav-link {
    padding: 20px 43px;
    font-size: 22px;
    line-height: 48px;
    border-radius: 0;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    margin: 0;
    padding: 0;
    left: 0;
    transform: none;
    background: transparent;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu li {
    margin: 40px 0;
  }
}
.btn {
  border-radius: 4px;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-primary {
  height: 48px;
  background: linear-gradient(90deg, #DE415F 6.05%, #FF7608 97.36%);
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  transition: all 0.3s ease;
}
.btn-primary:hover {
  background: linear-gradient(90deg, #FF7608 6.05%, #DE415F 97.36%);
}

footer {
  padding-top: 40px;
  border-top: 1px solid #DEE2E6;
}
footer .container {
  max-width: 1250px;
}
footer .footer-logo img {
  max-width: 127px;
}
footer .copyright {
  padding: 32px;
  border-top: 1px solid #DEE2E6;
}
footer .copyright p {
  font-size: 14px;
  color: #101213;
}

.social-links a svg {
  width: 24px;
  height: 24px;
}

.list-title {
  margin-bottom: 16px;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #101213;
}

.list-links {
  font-size: 14px;
  line-height: 20px;
}
.list-links a {
  text-decoration: none;
  color: #101213;
}

.hero-section {
  padding-top: 65px;
}

.hero-blob {
  height: 430px;
  padding-top: 70px;
  padding-left: 115px;
  font-size: 22px;
  line-height: 38px;
  letter-spacing: 0.01em;
  background: url(../images/hero-blob-bg.svg) center/cover no-repeat;
}
.hero-blob-list {
  margin-top: 50px;
}
.hero-blob-list li {
  position: relative;
  margin-bottom: 30px;
}
.hero-blob-list li:after {
  content: "";
  position: absolute;
}
.hero-blob-list li:nth-child(1):after {
  width: 111px;
  height: 70px;
  background: url(../images/arrow-list.svg) center/cover no-repeat;
  bottom: -75px;
  left: 20px;
}
.hero-blob-list li:nth-child(2) {
  margin-left: 8vw;
}
.hero-blob-list li:nth-child(2):after {
  width: 90px;
  height: 90px;
  background: url(../images/arrow-list-2.svg) center/cover no-repeat;
  bottom: -75px;
  left: 60px;
}
.hero-blob-list li:last-child {
  margin-bottom: 0;
}
.hero-blob-list .blob-icon {
  width: 50px;
  height: 50px;
  margin-right: 16px;
}
.hero-blob-list .blob-icon svg, .hero-blob-list .blob-icon img {
  max-width: 100%;
  height: 25px;
}

.hero-blob-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.how-item {
  color: #696871;
}
.how-item-circle {
  min-width: 60px;
  height: 60px;
  margin-right: 24px;
  background: linear-gradient(180deg, #FFF1E4 0%, rgba(255, 241, 228, 0) 100%);
}

.chat-button {
  right: 30px;
  font-size: 16px;
  line-height: 19px;
  color: #000;
}
.chat-button-text {
  transform: translateY(35px);
}
.chat-button-circle {
  width: 60px;
  height: 60px;
  margin: 7px auto 0 auto;
}
.chat-button-circle svg {
  width: 36px;
  height: 36px;
}

.faq-section {
  min-height: 70vh;
}
.faq-section #v-pills-tab button {
  color: #000;
}
.faq-section #v-pills-tab button.active {
  background: linear-gradient(90deg, #DE415F 6.05%, #FF7608 97.36%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.faq-section .tab-content .subtitle-md {
  font-family: "Open Sans";
}
.faq-section .tab-content p {
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.87);
}

form label {
  margin-bottom: 8px;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 24px;
  color: #242424;
}
form input, form .form-control {
  height: 48px;
  font-size: 16px;
  line-height: 24px;
  color: #6A7178;
  border-color: #CED4DA;
  border-radius: 4px;
}
form input.search-input, form .form-control.search-input {
  padding-left: 48px;
  background: url(../images/search.svg) 20px center no-repeat;
}
form input::placeholder, form .form-control::placeholder {
  color: #6A7178;
}
form input::-moz-placeholder, form .form-control::-moz-placeholder {
  color: #6A7178;
}
form input::-webkit-input-placeholder, form .form-control::-webkit-input-placeholder {
  color: #6A7178;
}
form textarea.form-control {
  height: auto;
  resize: none;
}

.dropdown.dropdown-select button[type=button] {
  height: 48px;
  padding-left: 16px;
  font-size: 16px;
  color: #6A7178;
  position: relative;
  background: transparent;
  border: 1px solid #CED4DA;
  border-radius: 4px;
}
.dropdown.dropdown-select button[type=button]::after {
  width: 10.02px;
  height: 5.85px;
  background: url(../images/angle-down.svg) no-repeat;
  border: none;
  position: absolute;
  right: 22px;
  top: 50%;
  transform: translateY(-50%);
}
.dropdown.dropdown-select button[type=button].show::after {
  transform: scale(1, -1);
  margin-top: -3px;
}
.dropdown.dropdown-select .dropdown-menu {
  top: -3px !important;
  padding: 7px 0;
  border: 1px solid #CED4DA;
  border-radius: 4px;
}
.dropdown.dropdown-select .dropdown-menu li {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 21px;
}
.dropdown.dropdown-select .dropdown-menu li a {
  height: 48px;
  line-height: 48px;
  padding: 0 16px;
}
.dropdown.dropdown-select .dropdown-menu li a:hover {
  background: #F1F3F5;
}
.dropdown.dropdown-select .dropdown-menu li input.search-input {
  width: calc(100% - 20px);
  margin: 0 10px 8px 10px;
}

.show-password svg {
  width: 24px;
  height: 24px;
}

.custom-radio-btn {
  margin-bottom: 16px;
  cursor: pointer;
}
.custom-radio-btn input[type=radio] {
  display: none;
}
.custom-radio-btn input[type=radio]:checked + span {
  border-color: #FF7608;
}
.custom-radio-btn input[type=radio]:checked + span:after {
  opacity: 1;
}
.custom-radio-btn span {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border: 1px solid #CED4DA;
  vertical-align: middle;
  position: relative;
}
.custom-radio-btn span:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 18px;
  height: 18px;
  background: linear-gradient(90deg, #DE415F 6.05%, #FF7608 97.36%);
  border-radius: 50%;
  opacity: 0;
}

.input-group button {
  font-size: 14px;
}

.review-item {
  margin: 0 auto;
  padding: 0 35px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.review-item p:last-child {
  font-size: 14px;
  line-height: 20px;
}
.review-item.review-left {
  max-width: 302px;
  height: 287px;
  background: url(../images/review-left.svg) no-repeat;
}
.review-item.review-center {
  margin-top: 30px;
  max-width: 350px;
  height: 332px;
  padding: 0 41px 0 30px;
  background: url(../images/review-center.svg) no-repeat;
}
.review-item.review-center p:first-child {
  font-size: 20px;
}
.review-item.review-center p:last-child {
  font-size: 16px;
}
.review-item.review-right {
  max-width: 302px;
  height: 287px;
  background: url(../images/review-right.svg) no-repeat;
}

.modal-content {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.modal-content p {
  font-size: 16px;
  color: #262626;
}

.modal-header {
  padding: 20px 24px 12px 24px;
}

.modal-body {
  padding: 20px 24px;
}
.modal-body form label {
  color: #4F575E;
}

.modal-footer {
  padding: 0 24px 20px 24px;
}
.modal-footer button.btn-primary {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 16px;
  line-height: 24px;
}

.panel {
  border-radius: 8px;
  padding: 28px 20px;
}
.panel p {
  line-height: 24px;
  color: rgba(0, 0, 0, 0.8);
}
.panel-flag {
  width: 24px;
  height: 24px;
}
.panel-header {
  margin-left: 12px;
}
.panel-header p {
  font-size: 16px;
  color: #48443E;
}
.panel form label {
  color: #4F575E;
}
.panel .dropdown.dropdown-select button[type=button]:after {
  background: url(../images/angle-down-grey.svg) no-repeat;
}
.panel-services-list {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}
.panel-services-list li {
  padding-left: 28px;
  background: url(../images/icon-check-item.svg) no-repeat;
}

.edit-btn svg, .edit-btn img {
  width: 18px;
  height: 18px;
  margin-right: 6px;
  vertical-align: text-bottom;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  min-height: 100%;
  position: relative;
  background-color: #fff;
  font-weight: 400;
  font-style: normal;
  font-family: "Lato", sans-serif;
  color: #272B30;
  font-size: 14px;
  line-height: 1.3;
  -webkit-text-size-adjust: none;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}
ol li, ul li {
  margin-bottom: 10px;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  border: none;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover, a:active, a:focus {
  text-decoration: none;
}

a:focus, input:focus, textarea:focus {
  outline: none;
}

html {
  height: 100%;
  overflow-x: hidden;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}