.select {
  position: relative;
  cursor: pointer;
}
.select__wrap {
  position: relative;
}
.select__area {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid transparent;
}
.select__title {
  white-space: nowrap;
  text-overflow: ellipsis;
}
.select__icon svg {
  transition: 0.3s;
}
.select__drop {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  border: 1px solid transparent;
  border-top: none;
  transform: translateY(10px);
  overflow-y: auto;
}
.select__item {
  transition: 0.3s;
}
.select__item.--hidden {
  display: none;
}
.select__parse {
  display: none;
}
.select.--open {
  z-index: 5;
}
.select.--open .select__area {
  border-radius: 5px 5px 0 0;
}
.select.--open .select__icon svg {
  transform: rotate(180deg);
}
.select.--open .select__drop {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}