.start-trial {
  padding: 24px 40px 40px;
  max-width: 860px;
  width: calc(100% - 48px);
  border-radius: var(--border-rd-medium);
}

.start-trial_icon {
  width: 32px;
  height: 32px;
  fill: var(--color-gray05);
}

.start-trial__headline {
  margin-bottom: 8px;
  text-align: center;
  line-height: 1.3;
  font-size: 24px;
  font-weight: 700;
  color: var(--color-black04);
}

.start-trial__description {
  margin-bottom: 32px;
  margin-left: -40px;
  padding-bottom: 24px;
  width: calc(100% + 80px);
  text-align: center;
  line-height: 1.7;
  font-size: 16px;
  color: var(--color-gray05);
  border-bottom: 1px solid var(--color-silver06);
}

.start-trial__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 28px;
  align-items: start;
}

.start-trial__label {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 2px;
  line-height: 2.1;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-black04);
}

.modal__input {
  position: relative;
  padding: 10px 16px;
  font-size: 16px;
  border: 1px solid var(--color-silver06);
  border-radius: var(--border-rd-small);
}

.start-trial__money {
  position: relative;
  display: grid;
}

.start-trial__money-label {
  position: absolute;
  top: 50%;
  left: 14px;
  padding-right: 12px;
  line-height: 2;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-black04);
  border-right: 1px solid #DDDDE8;
  transform: translateY(-50%);
  z-index: 1;
}

.start-trial__input-money {
  padding-left: 50px;
}

.start-trial__button {
  grid-column: 1/3;
  padding: 16px;
  width: 100%;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-white);
  background-color: var(--color-green03);
  border-radius: var(--border-rd-small);
  transition: background-color 0.2s;
}

.start-trial__button:hover {
  background-color: var(--color-hover-green);
}

@media (max-width: 1024px) {
  .start-trial {
    padding: 24px;
  }
  .start-trial__description {
    margin-left: -24px;
    padding: 0 24px 24px;
    width: calc(100% + 48px);
  }
}
@media (max-width: 767px) {
  .start-trial__form {
    grid-template-columns: 1fr;
    grid-row-gap: 16px;
  }
  .start-trial__button {
    margin-top: 12px;
    grid-column: unset;
  }
}
@media (max-width: 480px) {
  .start-trial {
    padding: 24px 16px;
  }
  .start-trial__description {
    margin-left: -16px;
    padding: 0 16px 24px;
    width: calc(100% + 32px);
    font-size: 14px;
  }
}