include ../../pug/vars

<div id="start-free-trial" class="start-trial modal fade-out">
  <button class="modal__close" data-modal-close="">
    <svg aria-hidden="true" class="start-trial_icon rotate-45">
      <use xlink:href="uploads/sprite.svg#plus"></use>
    </svg>
  </button>

  <h2 class="start-trial__headline">Start Free Trial</h2>
  <p class="start-trial__description">Please fill out the form below and we will get back to you as soon as possible.</p>

  <form class="start-trial__form">
    <label class="start-trial__label">
      <span>What is your name? *</span>
      <input id="contactName" name="trial-name" class="modal__input" type="text" placeholder="John Iverson">
    </label>

    <label class="start-trial__label">
      <span>What is your e-mail address? *</span>
      <input id="contactEmail" name="trial-email" class="modal__input" type="email" placeholder="john.email@gmail.com">
    </label>

    <label class="start-trial__label">
      <span>What is your company's name?</span>
      <input id="contactCompany" name="trial-company" class="modal__input" type="text" placeholder="Alphabet Inc.">
    </label>

    <label class="start-trial__label">
      <span>What is your company's website?</span>
      <input id="contactSite" name="trial-site" class="modal__input" type="text" placeholder="www.alphabet.com">
    </label>

    <label class="start-trial__label">
      <span>Your monthly budget for the proxies package</span>
      <div class="start-trial__money">
        <span class="start-trial__money-label">$</span>
        <input id="money" name="trial-budget" class="modal__input start-trial__input-money" type="text" placeholder="0.00">
      </div>
    </label>

    <label class="start-trial__label">
      <span>If you have a promo-code, please enter it</span>
      <input id="contactPromo" name="trial-promo" class="modal__input" type="text" placeholder="Promocode">
    </label>

    <button class="start-trial__button">Send Request</button>
  </form>
</div>