.g {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}
.g__cloud {
  position: absolute;
}
.g__cloud:nth-of-type(1) {
  max-width: 94px;
  top: 135px;
  left: calc(50% - var(--container-width) / 2 + 385px);
}
.g__cloud:nth-of-type(2) {
  max-width: 52px;
  top: 280px;
  right: calc(50% - var(--container-width) / 2 + 327px);
}
.g__cloud:nth-of-type(3) {
  top: 69px;
  left: calc(50% - var(--container-width) / 2 - 71px);
}
.g__cloud:nth-of-type(4) {
  top: 257px;
  right: calc(50% - var(--container-width) / 2 - 150px);
}
.g__cloud:nth-of-type(5) {
  top: 785px;
  left: calc(50% - var(--container-width) / 2 - 220px);
}
.g__cloud:nth-of-type(6) {
  top: 1105px;
  right: calc(50% - var(--container-width) / 2 - 250px);
}
.g__cloud svg {
  max-width: 100%;
  max-height: 100%;
}
.g__cloud.--mob-hide {
  display: none;
}
.g__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.g__icon-user {
  margin-left: 60px;
}
.g__title {
  text-align: center;
  margin-bottom: 30px;
  max-width: 900px;
}
.g__text {
  max-width: 800px;
  margin-bottom: 30px;
  text-align: center;
}
.g__list {
  display: grid;
  gap: 60px 18px;
  grid-template-columns: repeat(4, 1fr);
  padding: 60px;
}
.g__list.--w5 {
  grid-template-columns: repeat(5, 1fr);
  padding-left: 0;
  padding-right: 0;
}
.g__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.g__item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: linear-gradient(180deg, #3D2AA4 0%, #291A7A 100%);
  margin-bottom: 40px;
}
.g__item-icon img[src*=freedom] {
  position: relative;
  right: -13px;
}
.g__item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

@media (max-width: 1024px) {
  .g {
    padding-top: 86px;
    padding-bottom: 79px;
  }
  .g__cloud:nth-of-type(1) {
    top: 65px;
  }
  .g__cloud:nth-of-type(2) {
    top: 203px;
    right: calc(50% - var(--container-width) / 2 + 387px);
  }
  .g__cloud:nth-of-type(3) {
    top: 580px;
    right: auto;
    left: calc(50% - var(--container-width) / 2 + 187px);
  }
  .g__cloud:nth-of-type(4) {
    top: 810px;
    right: calc(50% - var(--container-width) / 2 + 160px);
  }
  .g__cloud:nth-of-type(5) {
    top: auto;
    bottom: 330px;
    left: calc(50% - var(--container-width) / 2 + 157px);
  }
  .g__cloud:nth-of-type(6) {
    top: auto;
    bottom: 220px;
    right: calc(50% - var(--container-width) / 2 + 145px);
  }
  .g__cloud.--mob-hide {
    display: block;
  }
  .g__title {
    max-width: 550px;
  }
  .g__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .g__list.--w5 {
    padding: 50px 110px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .g__list.--w5 {
    padding: 50px 60px;
  }
}
@media (max-width: 580px) {
  .g {
    padding-top: 80px;
    padding-bottom: 136px;
  }
  .g__cloud:nth-of-type(1) {
    top: 75px;
    left: calc(50% - var(--container-width) / 2 + 405px);
  }
  .g__cloud:nth-of-type(2) {
    top: 190px;
    right: calc(50% - var(--container-width) / 2 + 417px);
  }
  .g__cloud:nth-of-type(3) {
    top: 900px;
    left: calc(50% - var(--container-width) / 2 + 275px);
    transform: scale(-1, 1);
  }
  .g__cloud:nth-of-type(4) {
    top: 630px;
    right: calc(50% - var(--container-width) / 2 + 270px);
  }
  .g__cloud:nth-of-type(5) {
    bottom: 630px;
    left: calc(50% - var(--container-width) / 2 + 280px);
    transform: scale(-1, 1);
  }
  .g__cloud:nth-of-type(6) {
    bottom: 370px;
    right: calc(50% - var(--container-width) / 2 + 265px);
    transform: scale(-1, 1);
  }
  .g__icon {
    margin-bottom: 40px;
  }
  .g__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .g__text {
    margin-bottom: 40px;
  }
  .g__list {
    display: block;
    padding: 0;
  }
  .g__item {
    margin-bottom: 24px;
  }
  .g__item:last-of-type {
    margin-bottom: 0;
  }
}