.guarantee {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: 1px solid #DDDDE8;
  border-bottom: 1px solid #DDDDE8;
  padding-top: 85px;
  padding-bottom: 85px;
}
.guarantee__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  background: var(--color-green03);
  margin-bottom: 26px;
}
.guarantee__title {
  margin-bottom: 20px;
}
.guarantee__text {
  text-align: center;
  max-width: 680px;
  margin-bottom: 48px;
}
.guarantee__btn {
  padding-left: 56px;
  padding-right: 56px;
}