@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
@media (min-width: 1400px) {
  .container-md {
    max-width: 1010px;
  }
  .container-lg {
    max-width: 1210px;
  }
  .container, .container-lg, .container-sm, .container-xl, .container-xxl {
    max-width: 1280px;
  }
}
.with-overlay {
  position: relative;
}
.with-overlay:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.6;
  background: #105FAD;
}
.with-overlay.dark:after {
  background: rgba(0, 0, 0, 0.7);
}
.with-overlay.blue:after {
  opacity: 0.8;
  background: url(../images/bg-gradient.png) center top/cover no-repeat;
}

.bg-dark {
  background: #000 !important;
}

.bg-grey {
  background: #ECECEC;
}

.bg-primary {
  background: #105FAD !important;
}

.bg-similar-primary {
  background: #0A72D8 !important;
}

.bg-secondary {
  background: #22A7CF !important;
}

.bg-pattern {
  background: url(../images/bg-pattern.png) center/cover no-repeat;
}

.bg-grey-light {
  background: #F4F4F4;
}

.bg-dark-grey {
  background: #888888;
}

.bg-light-blue {
  background: rgba(16, 95, 173, 0.08);
}

.text-dark {
  color: #000 !important;
}

.text-primary {
  color: #105FAD !important;
}

.text-secondary {
  color: #22A7CF !important;
}

.text-yellow {
  color: #F4C914;
}

.fw-extrabold {
  font-weight: 800;
}

.min-h-auto {
  min-height: auto !important;
}

.hr {
  max-width: 920px;
  margin: 20px auto;
  background: #000;
  opacity: 1;
}

.opacity {
  opacity: 0;
}

.opacity-30 {
  opacity: 0.3;
}

.rounded-lg {
  border-radius: 43px !important;
}

.w-33 {
  width: 33.3%;
}

.fs-18, p.fs-18 {
  font-size: 18px;
}

.fs-15, p.fs-15 {
  font-size: 15px;
}

p.text-sm, .text-sm {
  font-size: 12px !important;
  font-weight: 500;
  line-height: 127.4%;
  letter-spacing: 0.97px;
}

.z-index-1 {
  z-index: 1;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.custom-shadow {
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.43);
}

.text-copy p, .text-copy ul, .text-copy ol {
  font-size: 18px;
  font-weight: 500;
}

@media screen and (max-width: 576px) {
  .text-copy p, .text-copy ul, .text-copy ol {
    font-size: 16px;
  }
}
h1 {
  font-size: 52px;
  line-height: 110%;
}
h1.hero-title {
  line-height: 1.29;
  letter-spacing: 2.05px;
  font-size: 82px;
  font-weight: 900;
}

h2 {
  margin-bottom: 20px;
  font-size: 42px;
  letter-spacing: 1.05px;
  font-weight: 800;
}

h3 {
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.97px;
  font-weight: 800;
}

h4 {
  font-size: 25px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0.99px;
}

h5 {
  font-size: 24px;
  letter-spacing: 0.97px;
  font-weight: 600;
}

h6 {
  font-size: 20px;
  letter-spacing: 0.97px;
  font-weight: 500;
}

p {
  font-size: 22px;
  letter-spacing: 0.83px;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 32px;
  }
  h1.hero-title {
    margin-bottom: 50px;
    font-size: 42px;
    line-height: 1.36;
    letter-spacing: 1.15px;
  }
  h2 {
    font-size: 26px;
    letter-spacing: 0.65px;
  }
  h4 {
    font-size: 20px;
    letter-spacing: 0.75px;
  }
  h5 {
    font-size: 18px;
    letter-spacing: 0.68px;
  }
  p {
    font-size: 18px;
    letter-spacing: 0.68;
  }
}
.logo img {
  max-width: 268px;
}

header {
  padding-top: 13px;
  padding-bottom: 13px;
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
  position: relative;
}
header .logo {
  position: relative;
  z-index: 1;
}
header .logo img {
  max-width: 192px;
}

.navbar-expand-lg .navbar-nav li.nav-item {
  margin-right: 40px;
  position: relative;
}
.navbar-expand-lg .navbar-nav li.nav-item:last-child {
  margin-right: 0;
}
.navbar-expand-lg .navbar-nav a.nav-link {
  padding: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.97px;
  color: #105FAD;
}
.navbar-expand-lg .navbar-nav a.nav-link:hover, .navbar-expand-lg .navbar-nav a.nav-link.active {
  color: #22A7CF;
}
.navbar-expand-lg .navbar-nav a.nav-link.btn {
  padding: 3px 22px;
  box-shadow: none;
  color: #105FAD;
  min-width: auto;
}
.navbar-expand-lg .navbar-nav a.nav-link.btn:hover, .navbar-expand-lg .navbar-nav a.nav-link.btn:active {
  color: #fff;
  background: #105FAD;
}
.navbar-expand-lg .navbar-toggler {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  font-size: 0;
  line-height: 0;
  border-radius: 0;
  box-shadow: none;
  z-index: 1;
}
.navbar-expand-lg .navbar-toggler span {
  width: 20px;
  height: 2px;
  display: inline-block;
  margin-bottom: 5px;
  background: #000;
}
.navbar-expand-lg .navbar-toggler span:last-child {
  margin-bottom: 0;
}
.navbar-expand-lg .navbar-toggler.open span {
  position: relative;
}
.navbar-expand-lg .navbar-toggler.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 7px;
}
.navbar-expand-lg .navbar-toggler.open span:nth-child(2) {
  opacity: 0;
}
.navbar-expand-lg .navbar-toggler.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: -7px;
}

@media screen and (max-width: 991px) {
  /*.navbar-collapse {
      position: absolute;
      width: 100vw;
      left: calc((100% - 100vw)/2);
      background: $dark-blue;
      top: -45px;
      padding: 180px 25px 60px 25px;
      border-radius: 0 0 16px 16px;
      box-shadow: 0px 4.16px 10.4px rgb(0 0 0 / 15%);
      ul {
          max-width: 700px;
      }
  }*/
}
.btn {
  font-size: 19px;
  min-width: 200px;
  position: relative;
  font-weight: 900;
  padding: 10px 24px;
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.49);
}
.btn.btn-primary {
  background: #105FAD;
}
.btn.btn-primary:hover {
  background: #22A7CF;
  color: #fff;
  border-color: #22A7CF;
}
.btn.btn-primary.bg-secondary:hover, .btn.btn-primary.bg-similar-primary:hover {
  background: #105FAD !important;
}
.btn.btn-outline-light {
  border: 1.5px solid #105FAD;
  border-radius: 6px;
}
.btn.btn-secondary {
  background: #D9D9D9;
  color: #353535;
  border-color: #D9D9D9;
}
.btn.btn-secondary:hover {
  background: #ECECEC;
}
.btn.btn-sm {
  padding: 8px 20px;
  font-size: 15px;
}

.btn-light {
  color: #105FAD;
  background: #fff;
  border-color: #fff;
}
.btn-light:hover {
  background: #22A7CF;
  color: #fff;
  border-color: #22A7CF;
}

.btn-dark {
  background: #000;
  border-color: #000;
}
.btn-dark svg {
  position: absolute;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
}
.btn-dark:hover {
  background: #fff;
  color: #000;
  border-color: #000;
}

.btn-detail {
  position: relative;
}
.btn-detail:after {
  content: "";
  position: absolute;
  top: -80%;
  right: -15px;
  width: 33px;
  height: 53px;
  background: url(../images/detail-arrow.svg) no-repeat;
  background-size: 100%;
}

@media screen and (max-width: 1200px) {
  .btn-detail:after {
    right: 0;
  }
}
.footer-nav {
  margin-top: 30px;
  margin-bottom: 10px;
}
.footer-nav .nav-item {
  margin-right: 30px;
}
.footer-nav .nav-item:last-child {
  margin-right: 0;
}
.footer-nav .nav-link {
  font-size: 22px;
  color: #105FAD;
  letter-spacing: 0.97px;
  font-weight: 500;
  padding: 0;
}
.footer-nav .nav-link:hover {
  color: #22A7CF;
}

.copyright {
  font-size: 12px;
}

@media screen and (max-width: 576px) {
  .footer-nav .nav-item {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.card {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
}
.card-heading {
  min-height: 92px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 21px;
  font-weight: 800;
}
.card-cover {
  height: 100%;
  max-height: 77px;
}
.card-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-content {
  padding-left: 30px;
  padding-right: 30px;
}
.card-content p {
  font-size: 18px;
}
.card-content .btn.disabled {
  opacity: 1;
}

.cta {
  margin: 34px 0;
  padding: 13px 40px;
  background: rgba(16, 95, 173, 0.08);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 43px;
}
.cta .btn {
  width: 300px;
  box-shadow: none;
}

@media screen and (max-width: 991px) {
  .card-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 767px) {
  .card {
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
  }
  .card.full-review {
    max-width: 100%;
  }
}
form input, form textarea {
  width: 100%;
  height: 45px;
  padding-left: 40px;
  border: 1px solid #696969;
  border-radius: 7px;
  font-size: 18px;
  color: #808080;
}
form input::placeholder, form textarea::placeholder {
  font-style: italic;
  color: #808080;
}
form textarea {
  height: 290px;
  padding-top: 9px;
}
form.blog-search input {
  height: 38px;
}
form.blog-search button {
  min-width: auto;
}

.blog-item {
  max-width: 630px;
  margin-bottom: 80px;
}
.blog-item .blog-cover {
  margin-bottom: 30px;
}
.blog-item.small {
  margin-bottom: 0;
  padding: 11px 0;
}
.blog-item.small .blog-cover {
  max-width: 120px;
  margin-right: 8px;
}
.blog-item.small .blog-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 138.9%;
  color: #000;
  text-decoration: none;
}
.blog-item.small .blog-date {
  margin-top: 11px;
  font-weight: 600;
  font-size: 11px;
  line-height: 138.9%;
  color: #A4A4A4;
}

.blog-subtitle {
  font-weight: 700;
  font-size: 15px;
  line-height: 138.9%;
}

.social-links li {
  margin: 15px 0;
}
.social-links li a {
  display: inline-block;
  width: 100%;
  padding: 9px 18px;
  font-weight: 700;
  font-size: 15px;
  line-height: 138.9%;
  text-align: center;
  letter-spacing: 0.972222px;
  color: #fff;
  text-decoration: none;
}
.social-links li a.youtube-link {
  background: #FF1F1F;
}
.social-links li a.facebook-link {
  background: #196ACD;
}
.social-links li a.instagram-link {
  background: #C13584;
}

.pagination li {
  margin: 0 15px;
}
.pagination li a {
  width: 40px;
  height: 37px;
  font-weight: 700;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: #105FAD;
  letter-spacing: 0.972222px;
  border: 1px solid #676767;
  border-radius: 3px;
}
.pagination li a img {
  width: 15px;
  height: 12px;
  margin-top: -5px;
}
.pagination li:first-child {
  margin-left: 0;
}
.pagination li:first-child img {
  transform: rotate(180deg);
}
.pagination li:first-child a {
  width: auto;
  padding: 8px 11px;
  background: #105FAD;
  color: #fff;
}
.pagination li:last-child {
  margin-right: 0;
}
.pagination li:last-child a {
  width: auto;
  padding: 8px 11px;
  background: #105FAD;
  color: #fff;
}

.article-cover {
  margin-bottom: 40px;
}
.article-cover img {
  width: 100%;
  object-fit: cover;
}
.article-cover-desc {
  position: absolute;
  left: 40px;
  bottom: 30px;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .pagination {
    margin-bottom: 50px;
    position: relative;
    justify-content: space-between;
  }
  .pagination li:first-child, .pagination li:last-child {
    position: absolute;
    top: 44px;
  }
  .pagination li:nth-child(2) {
    margin-left: 0;
  }
  .pagination li:nth-child(6) {
    margin-right: 0;
  }
  .pagination li:last-child {
    right: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  min-height: 100%;
  position: relative;
  background-color: #fff;
  font-weight: 400;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 1.3;
  -webkit-text-size-adjust: none;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}
ol li, ul li {
  margin-bottom: 10px;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  border: none;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover, a:active, a:focus {
  text-decoration: none;
}

a:focus, input:focus, textarea:focus {
  outline: none;
}

html {
  height: 100%;
  overflow-x: hidden;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrap-form {
  width: 100%;
  min-height: 500px;
}

.who-is {
  padding: 40px 0;
  background: url(../images/bg-pattern.png) center/cover no-repeat;
}
.who-is-card {
  margin-bottom: 30px;
  padding: 25px 65px;
  box-shadow: 0px 0px 13px 5px rgba(0, 0, 0, 0.25);
}
.who-is-card p {
  font-size: 18px;
}

.suit-main {
  position: absolute;
  bottom: -40px;
  right: -7%;
}

.about-us-intro {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../images/bg-about-us.png) center top/cover repeat-x;
}

ol.list-style {
  list-style: auto;
  list-style-position: inside;
  padding-left: 0;
}

ul.list-style {
  list-style: disc;
  list-style-position: outside;
}

.inner-intro {
  padding: 30px 0;
  background: url(../images/bg-intro.png) center top/cover no-repeat;
}

.testimonials-intro {
  padding: 40px 0;
  background: url(../images/bg-primary.png) center top/cover no-repeat;
}

.review-author {
  width: 118px;
  min-width: 118px;
  height: 118px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.wrap-author {
  margin-top: -68px;
}

.other-intro {
  padding: 40px 0;
  background: url(../images/bg-gradient.png) center top/cover no-repeat;
}

.full-review {
  margin: 100px 0;
}

.index-intro {
  padding: 60px 0;
  background: url(../images/intro-bg.png) center top repeat-y;
}
.index-intro ul {
  font-size: 18px;
  font-weight: 600;
}
.index-intro .suit-main {
  max-width: 380px;
  bottom: -60px;
  right: 0;
}

ul.list-marker li {
  margin-bottom: 20px;
  padding-left: 30px;
  background: url(../images/list-marker.svg) left center no-repeat;
}

@media screen and (max-width: 1200px) {
  .who-is .suit-main, .suit-main .suit-main {
    right: -20%;
  }
  .index-intro .suit-main {
    right: -10%;
  }
}
@media screen and (max-width: 991px) {
  .who-is .suit-main, .suit-main .suit-main {
    text-align: center;
    position: relative;
    right: auto;
  }
  .index-intro .suit-main {
    right: -20%;
  }
}
@media screen and (max-width: 767px) {
  .who-is-card {
    padding-left: 25px;
    padding-right: 25px;
  }
}