@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;700&family=Merriweather:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  min-height: 100%;
  position: relative;
  background: url(../images/bg.jpg) center top no-repeat fixed;
  background-size: cover;
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #353535;
  font-size: 14px;
  line-height: 1.3;
  -webkit-text-size-adjust: none;
  -ms-overflow-x: hidden;
  overflow-x: hidden; }

ol, ul {
  list-style: none; }
  ol li, ul li {
    margin-bottom: 10px; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  border: none; }

a {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

a:hover, a:active, a:focus {
  text-decoration: none; }

a:focus, input:focus, textarea:focus {
  outline: none; }

html {
  height: 100%;
  overflow-x: hidden; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  margin: 0 auto;
  max-width: 1920px;
  padding-left: 60px;
  padding-right: 60px; }

.row {
  margin: 0 auto;
  display: flex; }
  .row.full-justify {
    max-width: 100%; }
  .row.justify {
    justify-content: space-between; }

.intro .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh; }

.intro-title {
  font-family: 'Merriweather', serif;
  font-size: 62px;
  line-height: 78px;
  text-transform: uppercase; }
  .intro-title span {
    margin-top: 30px;
    text-transform: none;
    font-family: 'Catamaran';
    font-weight: 500;
    font-size: 42px;
    line-height: 70px;
    display: block; }

.intro-contact {
  font-size: 18px;
  line-height: 30px;
  display: flex;
  margin-top: 11vh;
  margin-bottom: 50px; }
  .intro-contact div:first-child {
    margin-right: 40px; }

.circle {
  width: 900px;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 32px;
  line-height: 52px;
  font-weight: 700;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  right: -160px;
  top: -400px;
  background: radial-gradient(95.46% 95.46% at 50% 15.65%, rgba(91, 242, 242, 0.45) 0%, rgba(59, 240, 186, 0.2025) 100%), rgba(32, 148, 106, 0.45); }
  .circle p:first-child {
    margin-top: 300px;
    margin-left: 65px; }
  .circle p:last-child {
    margin-right: 200px;
    margin-top: 20px;
    text-align: right; }

.footer-nav {
  display: flex;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 32px;
  bottom: 16px; }
  .footer-nav li {
    margin: 0;
    padding: 0; }
    .footer-nav li:nth-child(2) {
      padding: 0 5px; }
  .footer-nav a {
    text-decoration: none;
    color: #353535; }
    .footer-nav a:hover {
      text-decoration: underline; }

.cookie {
  position: fixed;
  width: 100%;
  z-index: 1;
  bottom: 0;
  padding: 17px 30px;
  color: #fff;
  background: #68C6AD;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .cookie-description {
    max-width: 70%; }
    .cookie-description p {
      margin: 0; }
  .cookie-action .btn:first-child {
    margin-right: 30px; }
  .cookie-action .btn:last-child {
    background: rgba(250, 250, 250, 0.8); }
  .cookie.hide {
    display: none; }

.btn {
  padding: 10px 37px;
  display: inline-block;
  border-radius: 5px;
  background: #fafafa;
  text-decoration: none;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #353535;
  box-shadow: 3px 2px 4px rgba(53, 53, 53, 0.25); }
  .btn:hover {
    box-shadow: none; }

.impressum {
  max-width: 720px;
  padding-top: 30px;
  padding-bottom: 60px;
  line-height: 22px; }
  .impressum ul {
    margin: 0 0 30px 0; }
    .impressum ul li {
      margin: 0; }
    .impressum ul.list {
      margin: 30px 0;
      padding: 0 0 0 20px; }
      .impressum ul.list li {
        margin-bottom: 5px;
        position: relative; }
        .impressum ul.list li:after {
          content: '';
          position: absolute;
          top: 8px;
          left: -10px;
          width: 3px;
          height: 3px;
          border-radius: 50%;
          background: #353535; }
  .impressum b {
    font-weight: 700;
    margin-bottom: 10px;
    display: inline-block; }
  .impressum p.margin-top {
    margin-top: 30px; }
  .impressum p {
    margin-bottom: 10px; }

.back-btn {
  font-weight: 500;
  display: inline-block;
  margin-bottom: 50px; }

h2 {
  margin-bottom: 30px;
  font-size: 32px;
  line-height: 52px;
  font-weight: 500; }

h3 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500; }

@media screen and (max-width: 1300px) {
  .intro {
    padding-top: 550px; }
    .intro .container {
      height: auto; }
  .cookie-description {
    max-width: 50%; } }

@media screen and (max-width: 1024px) {
  .impressum {
    padding-top: 330px; } }

@media screen and (max-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px; }
  .intro-title {
    font-size: 42px;
    line-height: 53px; }
    .intro-title span {
      font-size: 21px;
      line-height: 34px; }
  .intro-contact {
    font-size: 16px;
    margin-bottom: 100px; }
  .footer-nav {
    right: 0;
    bottom: 20px;
    width: 100%;
    justify-content: center; }
  .circle {
    font-size: 28px; }
    .circle-wrap {
      width: 400px;
      margin: 0 auto; }
    .circle p {
      max-width: 280px; }
      .circle p:first-child {
        margin-left: 0; }
      .circle p:last-child {
        margin-right: 60px;
        margin-left: auto; }
  .cookie {
    display: block; }
    .cookie-description {
      max-width: 100%; }
    .cookie-action {
      text-align: center;
      margin-top: 20px; }
  .impressum {
    padding-top: 530px; } }

@media screen and (max-width: 586px) {
  .intro-contact {
    display: block;
    margin-top: 50px; }
    .intro-contact div:first-child {
      margin: 0 0 40px 0; } }

@media screen and (max-width: 420px) {
  .intro, .impressum {
    padding-top: 330px; }
  .circle {
    width: 800px;
    height: 800px;
    right: -40px;
    top: -520px; }
    .circle-wrap {
      width: 440px;
      position: absolute;
      right: 0;
      bottom: 40px; }
      .circle-wrap p:first-child {
        margin-top: auto;
        margin-left: 20px; }
      .circle-wrap p:last-child {
        margin-left: auto;
        margin-right: 80px; }
  .cookie-action {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .cookie-action .btn:first-child {
      margin: 0 0 30px 0; } }

@media screen and (max-width: 380px) {
  .circle-wrap p:first-child {
    margin-left: 60px; } }

@media screen and (max-width: 340px) {
  .intro-title {
    font-size: 30px;
    line-height: 30px; }
  .circle {
    font-size: 24px;
    line-height: 40px; }
    .circle-wrap {
      width: 340px;
      bottom: 60px; }
    .circle p:first-child {
      margin-left: 0; } }
