include ../../pug/vars

.api.case
	.api__wrap
		.api__head
			.api__controls.row
				.api__control.--red
				.api__control.--orange
				.api__control.--green
			.api__drop
				.api__drop-icon
					<svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path opacity="0.6" d="M4.49683 5.39453C4.74683 5.39453 4.93823 5.30469 5.14136 5.10156L7.95776 2.21875C8.1062 2.07422 8.17261 1.90234 8.17261 1.69531C8.17261 1.27344 7.82886 0.921875 7.41089 0.921875C7.20386 0.921875 7.00854 1.00781 6.84839 1.17578L4.50464 3.60938L2.14917 1.17578C1.98901 1.01172 1.7937 0.921875 1.58276 0.921875C1.16479 0.921875 0.821045 1.27344 0.821045 1.69531C0.821045 1.90234 0.891357 2.07031 1.03589 2.22266L3.8562 5.10156C4.05933 5.30859 4.25464 5.39453 4.49683 5.39453Z" fill="#F1F1F1"/>
					</svg>

			.api__url
				.api__url-title Infatica.io/developer-friendly/api
				.api__url-icon
					<svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path opacity="0.7" d="M1.43164 14.0474H7.97363C8.8418 14.0474 9.27246 13.6235 9.27246 12.6733V7.5874C9.27246 6.69189 8.88965 6.26123 8.11719 6.21338V4.55908C8.11719 2.15283 6.55176 0.840332 4.69922 0.840332C2.84668 0.840332 1.28125 2.15283 1.28125 4.55908V6.22705C0.549805 6.30225 0.125977 6.73291 0.125977 7.5874V12.6733C0.125977 13.6235 0.556641 14.0474 1.43164 14.0474ZM2.12891 4.47705C2.12891 2.69287 3.25684 1.64014 4.69922 1.64014C6.1416 1.64014 7.27637 2.69287 7.27637 4.47705V6.21338L2.12891 6.22021V4.47705Z" fill="#F1F1F1"/>
					</svg>

			.api__tab
				.api__tab-icon
					<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="7.4082" cy="7.03711" r="6.5" fill="white" stroke="#5D40F5"/>
						<path opacity="0.396508" fill-rule="evenodd" clip-rule="evenodd" d="M7.48321 7.09444L8.15735 7.48223L8.47916 7.34785L9.22949 6.71173L7.48321 5.70715C7.46106 5.6949 7.43593 5.68872 7.41074 5.68872C7.38555 5.68872 7.36041 5.6949 7.33826 5.70715L5.60177 6.70681L6.42212 7.41949L6.65809 7.486L7.33826 7.09444C7.36041 7.08214 7.38555 7.07601 7.41074 7.07601C7.43593 7.07601 7.46106 7.08214 7.48321 7.09444ZM7.14874 5.09638L7.77302 4.98384L9.22949 4.06032L7.48321 3.05579C7.46106 3.04348 7.43593 3.03735 7.41074 3.03735C7.38555 3.03735 7.36041 3.04348 7.33826 3.05579L5.60177 4.05545L6.1663 4.63585L7.14874 5.09638ZM7.76276 10.5511L9.22949 9.48632L9.21232 9.47647L7.48321 8.48173C7.46106 8.46948 7.43593 8.4633 7.41074 8.4633C7.38555 8.4633 7.36041 8.46948 7.33826 8.48173L5.60177 9.48139L5.99234 9.90631L6.75985 10.4181L7.76276 10.5511Z" fill="url(#paint0_linear_2928_27877)"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M9.4082 7.08677V6.98862C9.40209 6.94087 9.38694 6.89351 9.36212 6.84914C9.32777 6.79017 9.28357 6.74597 9.22952 6.71162L9.21235 6.70177C9.09933 6.64281 8.95935 6.64034 8.84142 6.7091L7.83197 7.28882L7.56583 7.44195C7.46905 7.49767 7.35002 7.49767 7.25324 7.44195L5.98006 6.7091C5.85726 6.63788 5.71481 6.64281 5.6018 6.70669C5.54535 6.73859 5.49623 6.78771 5.45936 6.84914C5.37583 6.99404 5.39798 7.17089 5.5011 7.28882C5.52812 7.31825 5.56253 7.34528 5.59934 7.36738L7.17867 8.27859C7.24989 8.31792 7.33096 8.34001 7.40951 8.34001C7.49058 8.34001 7.56918 8.31792 7.6404 8.27859L9.22219 7.36738C9.25901 7.34528 9.29336 7.31825 9.31792 7.28882C9.36779 7.23182 9.39871 7.16105 9.4082 7.08677ZM9.4082 4.43538V4.33723C9.40209 4.28948 9.38694 4.24211 9.36212 4.19772C9.32777 4.13881 9.28357 4.09456 9.22952 4.0602L9.21235 4.05036C9.09933 3.99144 8.95935 3.98898 8.84142 4.05774L7.83197 4.63741L7.56583 4.79059C7.46905 4.84625 7.35002 4.84625 7.25324 4.79059L5.98006 4.05774C5.85726 3.98652 5.71481 3.99144 5.6018 4.05528C5.54535 4.08722 5.49623 4.13635 5.45936 4.19772C5.37583 4.34268 5.39798 4.51947 5.5011 4.63741C5.52812 4.66689 5.56253 4.69386 5.59934 4.71596L7.17867 5.62722C7.24989 5.66655 7.33096 5.6886 7.40951 5.6886C7.49058 5.6886 7.56918 5.66655 7.6404 5.62722L9.22219 4.71596C9.25901 4.69386 9.29336 4.66689 9.31792 4.63741C9.36779 4.5804 9.39871 4.50964 9.4082 4.43538V4.43538ZM9.4082 8.47405V8.3759C9.40209 8.32814 9.38694 8.28076 9.36212 8.23638C9.32777 8.17746 9.28357 8.13326 9.22952 8.09886L9.21235 8.08907C9.09933 8.0301 8.95935 8.02764 8.84142 8.0964L7.83197 8.67606L7.56583 8.82929C7.46905 8.88496 7.35002 8.88496 7.25324 8.82929L5.98006 8.0964C5.85726 8.02518 5.71481 8.0301 5.6018 8.09399C5.54535 8.12588 5.49623 8.175 5.45936 8.23638C5.37583 8.38133 5.39798 8.55818 5.5011 8.67606C5.52812 8.70555 5.56253 8.73257 5.59934 8.75467L7.17867 9.66588C7.24989 9.70516 7.33096 9.72726 7.40951 9.72726C7.49058 9.72726 7.56918 9.70516 7.6404 9.66588L9.22219 8.75467C9.25901 8.73257 9.29336 8.70555 9.31792 8.67606C9.36779 8.61908 9.39871 8.54833 9.4082 8.47405ZM7.35755 11.1114H7.46248C7.52472 11.104 7.58481 11.0838 7.6404 11.0531L9.22219 10.1419C9.25901 10.1198 9.29336 10.0928 9.31792 10.0634C9.36779 10.0064 9.39871 9.93559 9.4082 9.86133V9.7632C9.40209 9.71545 9.38694 9.66809 9.36212 9.62372C9.32777 9.56476 9.28357 9.52056 9.22952 9.48615L9.21235 9.47631C9.09933 9.41739 8.95935 9.41493 8.84142 9.48369L7.83197 10.0634L7.56583 10.2165C7.46905 10.2722 7.35002 10.2722 7.25324 10.2165L5.98006 9.48369C5.85726 9.41247 5.71481 9.41739 5.6018 9.48128C5.54535 9.51317 5.49623 9.56229 5.45936 9.62372C5.37583 9.76863 5.39798 9.94542 5.5011 10.0634C5.52812 10.0928 5.56253 10.1198 5.59934 10.1419L7.17867 11.0531C7.23426 11.0838 7.29585 11.104 7.35755 11.1114Z" fill="url(#paint1_linear_2928_27877)"/>
						<defs>
						<linearGradient id="paint0_linear_2928_27877" x1="7.41563" y1="3.03735" x2="7.41563" y2="11.1108" gradientUnits="userSpaceOnUse">
						<stop stop-color="#E237B7"/>
						<stop offset="1" stop-color="#705CDE"/>
						</linearGradient>
						<linearGradient id="paint1_linear_2928_27877" x1="7.4082" y1="4.00586" x2="7.4082" y2="11.1114" gradientUnits="userSpaceOnUse">
						<stop stop-color="#E237B7"/>
						<stop offset="1" stop-color="#705CDE"/>
						</linearGradient>
						</defs>
					</svg>
				.api__tab-title Infatica Proxies
		.api__body
			.api__icon
				<svg width="314" height="248" viewBox="0 0 314 248" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M131.877 3.74253L131.833 2.7435L131.877 3.74253ZM26.1708 77.3998L25.8544 76.4512L26.1708 77.3998ZM309.276 112.514L308.312 112.248L309.276 112.514ZM3.11385 123.717L2.14509 123.965L3.11385 123.717ZM258.369 42.3322C230.512 41.6758 214.419 59.2525 207.375 76.9278C203.857 85.754 202.564 94.6696 203.196 101.456C203.511 104.843 204.313 107.775 205.626 109.905C206.953 112.058 208.856 113.456 211.296 113.514L211.344 111.515C209.759 111.477 208.405 110.602 207.328 108.855C206.237 107.084 205.487 104.488 205.187 101.271C204.589 94.8488 205.812 86.2511 209.233 77.6682C216.065 60.5253 231.535 43.7005 258.322 44.3316L258.369 42.3322ZM211.296 113.514C213.99 113.577 215.923 111.27 217.183 108.16C218.48 104.961 219.273 100.459 219.479 95.153C219.892 84.5224 217.956 70.4042 212.653 56.4111C207.35 42.4141 198.656 28.4861 185.509 18.3074C172.347 8.11629 154.779 1.7301 131.833 2.7435L131.922 4.74155C154.419 3.74797 171.516 10.0022 184.285 19.8888C197.07 29.7877 205.575 43.3746 210.783 57.1197C215.993 70.8686 217.883 84.7197 217.481 95.0754C217.279 100.262 216.505 104.508 215.33 107.409C214.118 110.399 212.675 111.546 211.344 111.515L211.296 113.514ZM131.833 2.7435C109.992 3.7081 93.6752 11.0989 81.7211 21.6176C69.7804 32.1245 62.242 45.708 57.8634 59.0021C53.4862 72.2916 52.2488 85.3447 52.9531 94.8541C53.3043 99.5957 54.1435 103.532 55.369 106.188C55.9796 107.512 56.7241 108.602 57.6295 109.291C58.5761 110.011 59.6916 110.279 60.8659 109.918L60.2783 108.006C59.7931 108.156 59.3381 108.078 58.8404 107.699C58.3015 107.289 57.7283 106.528 57.1851 105.35C56.103 103.005 55.2908 99.3394 54.9477 94.7063C54.2633 85.4664 55.4654 72.6758 59.763 59.6277C64.0591 46.5843 71.4307 33.3365 83.0423 23.1191C94.6407 12.9134 110.518 5.68683 131.922 4.74155L131.833 2.7435ZM60.8659 109.918C64.7425 108.727 66.6898 104.972 66.9843 100.646C67.2804 96.2972 65.9554 91.1168 63.0321 86.4998C60.1004 81.8695 55.5348 77.7638 49.3055 75.6188C43.0719 73.4725 35.2512 73.3163 25.8544 76.4512L26.4873 78.3484C35.5403 75.3283 42.904 75.5299 48.6544 77.5099C54.409 79.4913 58.6267 83.2806 61.3423 87.5696C64.0664 91.872 65.2528 96.6353 64.989 100.51C64.7235 104.409 63.0397 107.158 60.2783 108.006L60.8659 109.918ZM310.24 112.78C321.152 73.2414 291.121 43.1039 258.369 42.3322L258.322 44.3316C289.967 45.0772 318.828 74.1449 308.312 112.248L310.24 112.78ZM139.631 171.865C174.747 172.692 213.248 172.7 245.002 165.165C276.758 157.63 302.045 142.475 310.24 112.78L308.312 112.248C300.403 140.904 276.006 155.753 244.54 163.219C213.071 170.686 174.814 170.693 139.678 169.866L139.631 171.865ZM25.8544 76.4512C10.6506 81.5234 -4.08465 99.6293 2.14509 123.965L4.08261 123.469C-1.85968 100.256 12.1711 83.1245 26.4873 78.3484L25.8544 76.4512ZM2.14509 123.965C8.32016 148.087 28.6754 159.686 54.3061 165.442C79.9266 171.196 111.173 171.195 139.631 171.865L139.678 169.866C111.11 169.192 80.1204 169.189 54.7443 163.491C29.3783 157.794 9.97626 146.491 4.08261 123.469L2.14509 123.965Z" fill="#F6F7F8"/>
					<path d="M282.512 122.82C289.458 116.792 293.725 108.252 294.375 99.0782C295.024 89.9042 292.003 80.8479 285.975 73.9016C279.947 66.9554 271.407 62.6881 262.233 62.0386C253.059 61.3892 244.002 64.4106 237.056 70.4384L282.512 122.82Z" fill="#34CCA9"/>
					<path d="M134.377 217.866V247.866H100.377C110.305 230.644 119.338 221.502 134.377 217.866Z" fill="#34CCA9"/>
					<path d="M184.624 155.866V246.866H101.624C115.393 221.715 127.32 214.08 158.494 215.68L165.667 155.866" stroke="white" stroke-width="2"/>
					<path d="M133.624 155.866V246.866H51.6235C65.2275 221.715 77.0104 214.08 107.809 215.68L114.895 155.866" stroke="white" stroke-width="2"/>
					<path d="M110.206 114.672C109.256 119.47 109.19 126.749 112.158 132.981C113.65 136.114 115.913 138.989 119.214 141.128C122.514 143.267 126.799 144.636 132.282 144.842L132.356 142.843C127.173 142.649 123.252 141.362 120.301 139.45C117.352 137.538 115.319 134.967 113.964 132.121C111.238 126.397 111.272 119.587 112.168 115.06L110.206 114.672ZM132.282 144.842C137.772 145.047 142.058 143.93 145.349 141.909C148.64 139.888 150.862 137.008 152.3 133.811C155.159 127.457 154.958 119.781 153.928 114.668L151.968 115.063C152.951 119.942 153.102 127.154 150.476 132.99C149.173 135.888 147.194 138.429 144.302 140.205C141.41 141.981 137.532 143.037 132.356 142.843L132.282 144.842Z" fill="#F6F7F8"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M113.192 77.8554C120.49 60.5381 122.144 47.4566 113.619 49.3758C111.817 49.7815 109.463 52.0233 106.946 55.3384L109.344 67.8086L102.745 61.5975C94.53 75.1639 86.8145 95.3997 92.1718 97.6572C100.128 101.01 108.262 89.5564 113.192 77.8554Z" fill="#F6F7F8"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M157.733 79.794C163.847 65.2848 169.295 51.0465 159.54 48.0381C156.943 47.2371 153.711 50.0754 150.516 54.7352L152.929 67.2834L146.611 61.3373C139.473 75.0522 134.068 94.6237 139.029 96.7139C146.985 100.067 154.302 88.269 157.733 79.794Z" fill="#F6F7F8"/>
				</svg>

			.api__title.h2 Infatica’s Developer-Friendly API
			.api__text.t2 Less code and more data collection: Use Infatica’s bulk residential proxies with third-party proxy management software. An easy-to-use dashboard allows you to get your proxies up and running in no time. If you’re a power user, try our API for even more control over your proxy ecosystem.
			.api__list
				.api__item
					.api__item-icon
						<svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M6.25684 14.7021C6.61377 14.7021 6.896 14.5444 7.09521 14.2373L14.9395 1.88574C15.0889 1.64502 15.147 1.4624 15.147 1.27148C15.147 0.814941 14.8481 0.516113 14.3916 0.516113C14.0596 0.516113 13.877 0.624023 13.6777 0.939453L6.22363 12.8179L2.35547 7.75439C2.14795 7.46387 1.94043 7.34766 1.6416 7.34766C1.16846 7.34766 0.844727 7.67139 0.844727 8.12793C0.844727 8.31885 0.927734 8.53467 1.08545 8.73389L5.39355 14.2207C5.64258 14.5444 5.8999 14.7021 6.25684 14.7021Z" fill="#21CC76"/>
						</svg>
					.api__item-title Easy Integration with third-party software

				.api__item
					.api__item-icon
						<svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M6.25684 14.7021C6.61377 14.7021 6.896 14.5444 7.09521 14.2373L14.9395 1.88574C15.0889 1.64502 15.147 1.4624 15.147 1.27148C15.147 0.814941 14.8481 0.516113 14.3916 0.516113C14.0596 0.516113 13.877 0.624023 13.6777 0.939453L6.22363 12.8179L2.35547 7.75439C2.14795 7.46387 1.94043 7.34766 1.6416 7.34766C1.16846 7.34766 0.844727 7.67139 0.844727 8.12793C0.844727 8.31885 0.927734 8.53467 1.08545 8.73389L5.39355 14.2207C5.64258 14.5444 5.8999 14.7021 6.25684 14.7021Z" fill="#21CC76"/>
						</svg>
					.api__item-title Extend your sessions for up to 30 minutes

				.api__item
					.api__item-icon
						<svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M6.25684 14.7021C6.61377 14.7021 6.896 14.5444 7.09521 14.2373L14.9395 1.88574C15.0889 1.64502 15.147 1.4624 15.147 1.27148C15.147 0.814941 14.8481 0.516113 14.3916 0.516113C14.0596 0.516113 13.877 0.624023 13.6777 0.939453L6.22363 12.8179L2.35547 7.75439C2.14795 7.46387 1.94043 7.34766 1.6416 7.34766C1.16846 7.34766 0.844727 7.67139 0.844727 8.12793C0.844727 8.31885 0.927734 8.53467 1.08545 8.73389L5.39355 14.2207C5.64258 14.5444 5.8999 14.7021 6.25684 14.7021Z" fill="#21CC76"/>
						</svg>
					.api__item-title Developer-friendly documentation

				.api__item
					.api__item-icon
						<svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M6.25684 14.7021C6.61377 14.7021 6.896 14.5444 7.09521 14.2373L14.9395 1.88574C15.0889 1.64502 15.147 1.4624 15.147 1.27148C15.147 0.814941 14.8481 0.516113 14.3916 0.516113C14.0596 0.516113 13.877 0.624023 13.6777 0.939453L6.22363 12.8179L2.35547 7.75439C2.14795 7.46387 1.94043 7.34766 1.6416 7.34766C1.16846 7.34766 0.844727 7.67139 0.844727 8.12793C0.844727 8.31885 0.927734 8.53467 1.08545 8.73389L5.39355 14.2207C5.64258 14.5444 5.8999 14.7021 6.25684 14.7021Z" fill="#21CC76"/>
						</svg>
					.api__item-title Proxy user management with Public API
			.api__btn.btn.--lg.--bg-white See Documentation