
<footer>
  <div class="container-lg">
    <div class="row">
      <div class="col-xxl-3 col-lg-4 offset-xxl-1">
        <div class="logo text-center text-lg-start"><img src="images/logo.png" alt="logo"/></div>
      </div>
      <div class="col-lg-8">
        <nav class="nav footer-nav align-items-center flex-column flex-sm-row justify-content-center justify-content-lg-start">
          <li class="nav-item"><a class="nav-link" href="#">Join!</a></li>
          <li class="nav-item"><a class="nav-link" href="#">About</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Testimonials</a></li>
          <li class="nav-item"><a class="nav-link text-uppercase" href="#">Free courses</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
        </nav>
        <p class="copyright text-center text-lg-start">Copyright Duford Insurance Group 2014-2022 – <a href="#" class="text-dark">Terms And Conditions</a> – <a href="#" class="text-dark">Refund Policy</a> – <a href="#" class="text-dark">Earnings Disclosure</a> - <a href="https://davidduford.com/blog-2/" target="_blank" class="text-dark">Blog</a></p>
      </div>
    </div>
  </div>
</footer>