
<div class="col-12 position-relative">
  <div class="news-slider">
    <div class="news-item card d-block border-0 mt-5 with-overlay overflow-hidden rounded-0 p-0"><img src="images/news-1.png" alt="image"/><a class="news-item-tag" href="#">
        <svg>
          <use xlink:href="images/sprite.svg#icon-h"></use>
        </svg></a>
      <div class="news-item-desc">
        <h4><a class="text-decoration-none" href="#">Die Headline erklärt den Inhalt in zwei oder drei Zeilen </a></h4><a class="btn btn-light btn-sm text-start" href="#">Mehr
          <svg>
            <use xlink:href="images/sprite.svg#arrow-right-black"></use>
          </svg></a>
      </div>
    </div>
    <div class="news-item card d-block border-0 mt-5 with-overlay overflow-hidden rounded-0 p-0"><img src="images/news-2.png" alt="image"/>
      <div class="news-item-desc">
        <h4><a class="text-decoration-none" href="#">Die Headline erklärt den Inhalt in zwei oder drei Zeilen </a></h4><a class="btn btn-light btn-sm text-start" href="#">Mehr
          <svg>
            <use xlink:href="images/sprite.svg#arrow-right-black"></use>
          </svg></a>
      </div>
    </div>
    <div class="news-item card d-block border-0 mt-5 with-overlay overflow-hidden rounded-0 p-0"><img src="images/news-3.png" alt="image"/><a class="news-item-tag" href="#">
        <svg>
          <use xlink:href="images/sprite.svg#icon-t"></use>
        </svg></a>
      <div class="news-item-desc">
        <h4><a class="text-decoration-none" href="#">Die Headline erklärt den Inhalt in zwei oder drei Zeilen </a></h4><a class="btn btn-light btn-sm text-start" href="#">Mehr
          <svg>
            <use xlink:href="images/sprite.svg#arrow-right-black"></use>
          </svg></a>
      </div>
    </div>
    <div class="news-item card d-block border-0 mt-5 with-overlay overflow-hidden rounded-0 p-0"><img src="images/news-1.png" alt="image"/><a class="news-item-tag" href="#">
        <svg>
          <use xlink:href="images/sprite.svg#icon-h"></use>
        </svg></a>
      <div class="news-item-desc">
        <h4><a class="text-decoration-none" href="#">Die Headline erklärt den Inhalt in zwei oder drei Zeilen </a></h4><a class="btn btn-light btn-sm text-start" href="#">Mehr
          <svg>
            <use xlink:href="images/sprite.svg#arrow-right-black"></use>
          </svg></a>
      </div>
    </div>
  </div>
  <div class="text-center mt-5"><a class="btn btn-dark text-start d-inline-block d-md-none" href="#">Alle News
      <svg>
        <use xlink:href="images/sprite.svg#arrow-right-dark"></use>
      </svg></a></div>
  <div class="pattern-image"><img src="images/pattern.svg" alt="pattern-image"/></div>
</div>