
<header class="bg-white">
  <nav class="navbar navbar-expand-lg p-0">
    <div class="container align-items-center flex-row flex-lg-column"><a class="logo z-1" href="/"><img src="images/logo.svg" alt="logo"/></a>
      <button class="navbar-toggler rounded-3 shadow-none z-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon">
          <svg>
            <use xlink:href="images/sprite.svg#icon-open-menu"></use>
          </svg>
          <svg>
            <use xlink:href="images/sprite.svg#icon-close-menu"></use>
          </svg></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link active" href="lediga.html">Lediga lokaler</a></li>
          <li class="nav-item"><a class="nav-link" href="felanmalan.html">Felanmälan</a></li>
          <li class="nav-item"><a class="nav-link" href="about.html">Om oss</a></li>
          <li class="nav-item"><a class="nav-link" href="contact.html">Kontakt</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>