include ../../pug/vars

<section class="questions">
	<div class="questions__wrap">
		<h2 class="questions__headline">Frequently Asked Questions</h2>

		if questions
			<ul class="questions__list accordion" data-multiview='true'>
				each item in questions
					<li class="questions__item accordion__item tog">
						<button class="questions__button accordion__head tog__head">
							span=item[0]
							<svg aria-hidden="true" class="questions__icon accordion__arrow-icon">
								<use xlink:href="uploads/sprite.svg#arrow-right"></use>
							</svg>
						</button>

						.questions__description.accordion__body.tog__body!=item[1]
					</li>
			</ul>
	</div>

	<img src="uploads/homepage/map/map.webp" alt="" class="questions__map questions__map_top">
	<img src="uploads/homepage/map/map.webp" alt="" class="questions__map questions__map_bottom">
	<svg aria-hidden="true" class="questions__plane">
		<use xlink:href="uploads/sprite.svg#plane-blue"></use>
	</svg>
</section>