// Vitalso responsive styles

.owl-carousel .owl-stage {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1550px) {

    .price-save {
        font-size: 24px;
        b {
            margin-right: -40px;
        }
        &:after {
            right: -88px;
            top: -15px;
            transform: scale(0.8);
        }
    }
    
}

@media screen and (max-width: 1500px) {

    .to-top {
        right: 30px;
        bottom: 60%;
    }
    
}

@media screen and (max-width: 1200px) {

    .top-feature-tab.second-feature-tab .nav-link {
        max-width: 250px;
        font-size: 20px;
    }

    .p_service_item {
        height: 340px;
        overflow: hidden;
        margin-bottom: 30px !important;
    }

    .agency_testimonial_info {
        margin-bottom: 100px;
    }

    .menu_four .btn_get {
        display: block;
        max-width: 280px;
        margin: 0 auto !important;
    }

    .testimonials-image {
        margin-bottom: -30px;
    }

    .price-sale {
        font-size: 18px;
    }

    .price-save {
        font-size: 20px;
        &:after {
            right: -104px;
            top: -17px;
            background-position: center;
            background-size: 80%;
        }
    }

    .blog_breadcrumb_area {
        .breadcrumb_content_two {

            h5 {
                font-size: 20px;
                line-height: 20px;
            }

        }
    }

    .why-partner-img {
        right: auto;
        max-width: 100%;
    }

    .navbar-brand {
        img {
            max-height: 80px;
            transform: translateX(-10px);
        }

        &.crop-logo {
            img {
                max-height: none;
                transform: translateX(-20px);
            }
        }
    }

    .form-free-trial.request-demo-form button {
        padding: 19px 28px;
    }
    
}

@media screen and (max-width: 992px) {

    .navbar-collapse, .menu_four .navbar-collapse {
        padding-top: 100px;
    }

    .navbar-brand {
        img {
            max-width: 220px;
        }
    }

    .crop-logo {
        align-items: center;
    }

    .header_area {
        background: #fff;
    }

    .wrap-partner-logo {
        margin-top: 80px;
    }

    .partner_logo .owl-nav {
        text-align: center;
        button {
            width: 38px;
            height: 38px;
            position: relative;
            display: inline-block;
            margin: 0 20px;
                &.owl-prev {
                    left: auto;
                }
                &.owl-next {
                    right: auto;
                }
        }
    }

    .f_size_50 {
        font-size: 35px;
        line-height: 43px;
    }

    .f_size_48 {
        font-size: 32px;
        line-height: 42px;
    }

    .f_size_20 {
        font-size: 14px;
            &.l_height40 {
                line-height: 24px;
            }
    }

    .f_size_19 {
        font-size: 16px;
    }

    .l_height30 {
        line-height: 24px;
    }

    .mb_50 {
        margin-bottom: 30px;
    }

    .f_size_40 {
        font-size: 35px;
    }

    .welcome-section {
        padding: 70px 0;
        .row {
            flex-direction: column-reverse;
        }
        img {
            margin-top: 30px;
            display: inline-block;
        }
    }

    .free-trial {

        .btn-trial {
            margin-top: 30px;
        }
    }

    .agency_testimonial_info {
        .owl-prev , .owl-next {
            right: auto;
            bottom: -60px;
        }
        .owl-prev {
            left: 0;
        }
        .owl-next {
            left: 50px;
        }
    }

    .price_content .price_item p {
        font-size: 15px;
    }

    .footer-line {
        margin: 0;
    }

    .footer-top {
        padding-bottom: 0;
    }

    .footer-email a , .footer-phone a {
        font-size: 21px;
    }

    .testimonials-image {
        margin-bottom: -10px;
    }

    .contents-list {
        column-count: 2;
        column-gap: 20px;
        column-fill: balance;
    }

    .blog_single_info {
        margin-top: 50px;
    }

    .agency_banner_area .protype_img {
        max-width: 500px;
    }

    .max-height {
        height: 1050px;
    }

    .signup-right {
        margin-left: -15px;
        padding-left: 15px;
        padding-top: 80px;
        padding-bottom: 150px;
            .curved {
                transform: none;
                position: absolute;
                top: 0;
            }

            .trusted {
                margin-top: 30px;
            }

    }

    .about-us-bg {
        left: 15px;
    }

    .made-in {
        right: 15px;
    }

    .about-us {
        &-img {
            &:after {
                right: auto;
                transform: translateX(-50%);
                left: 50%;
                max-width: 500px;
                background-size: contain;
                background-position: left top;
            }

            &:before {
                left: -20px;
                bottom: -30px;
            }

            &.right:before {
                left: -20px;
                right: auto;
            }

        }
        
    }

    .about-number-img {
        max-width: 100px;
        bottom: 0;
    }
    
}

@media screen and (max-width: 768px) {

    .agency_content p {
        font-size: 17px;
        line-height: 25px;
    }

    .form-free-trial {
        &.mt_60 {
            margin-top: 30px;
        }
    }

    .agency_banner_btn , .agency_banner_btn_two , .p_service_item p {
        font-size: 16px;
    }

    .p_service_item {
        height: auto;
        p {
            line-height: 25px;
        }
    }

    .mw-80 {
        max-width: 100%;
    }

    .pb_150 {
        padding-bottom: 70px;
    }

    .pt_150 {
        padding-top: 70px;
    }

    .btn-trial {
        padding: 18px 25px;
        font-size: 16px;
    }

    .agency_featured_item .agency_featured_content {
        h3 {
            font-size: 34px;
            line-height: 40px;
        }

        p.featured-title , p , .top-list-features {
            font-size: 14px;
            line-height: 20px;
        }

        .top-list-features {
            li {
                padding-left: 30px;
                background: url(../img/main-img/icons/icon-top-list.png) left 2px/18px no-repeat;
            }
        }

    }

    .blog_grid_info .blog_list_item .blog_content {
        .blog_title {
            font-size: 19px;
            line-height: 28px;
        }
        p {
            font-size: 16px;
            line-height: 25px;
        }
    }

    .trial-image {
        right: 0;
        top: 50%;
        max-width: 130px;
        transform: translateY(-40%);
    }

    .price-save:after {
        right: -88px;
    }

    .price-save b {
        margin-right: -30px;
    }

    .testimonials-image {
        max-width: 70% !important;
    }

    .agency_testimonial_area {
        overflow: hidden;
    }

    .curved {
        background: url(../img/main-img/sharp-top.png) center top/contain no-repeat;
        &.bottom {
            background: url(../img/main-img/sharp.png) center bottom/contain no-repeat;
        }
    }

    .blog_breadcrumb_area {
        padding-top: 0;
        padding-bottom: 60px;
        .breadcrumb_content_two {
            h1 {
                font-size: 36px;
                line-height: 47px;
                margin: 30px 0;
            }

            h5 {
                font-size: 16px;
                line-height: 20px;
            }

            ol li {
                font-size: 18px;
            }

            .share-article {
                p {
                    font-size: 16px;
                }
            }

            .f_social_icon_two  {
                a {
                    width: 34px;
                    height: 34px;
                    line-height: 34px;
                }
            }

        }
    }

    .blog_area_two {
        h3 {
            font-size: 22px;
        }
        .contents-list {
            font-size: 14px;
            line-height: 20px;
        }
    }

    .blog_single_info .blog_list_item_two .blog_content {
        h2 , h3 {
            font-size: 25px;
        }

        p {
            font-size: 14px;
            line-height: 27px;
        }

        .top-list-features li {
            padding-left: 30px;
            background-size: 20px;
        }

    }

    footer {
        .f-logo img {
            max-width: 275px;
        }
    }

    .agency_banner_area .protype_img {
        max-width: 100%;
    }
    
    .f_size_28 {
        font-size: 19px;
    }

    .f_size_18 {
        font-size: 14px;
    }

    .item-text {
        margin-bottom: 20px;
        p {
            &:first-child {
                margin-bottom: 0px;
            }
        }
    }

    .why-partner-img {
        margin-top: 30px;
        display: inline-block;
    }

    .get-item {
        margin-bottom: 30px;
    }

    .f_size_24 {
        font-size: 21px;
        &.mb_20 {
            margin-bottom: 10px;
        }
    }

    .contact-form {
        .form-group {
            margin-bottom: 15px;
        }
        input {
            height: 48px;
            font-size: 16px;
        }
        button {
            padding-top: 14px;
            padding-bottom: 14px;
        }
    }

    .contact-form.office-form {
        padding: 20px 25px;
    }

    .agency_banner_area {
        padding-top: 80px;
        padding-bottom: 40px;
    }

    .contact-form.intro-form {
        margin-top: 230px;
    }

    .demo-intro-2 {
        right: 0;
        max-width: 100%;
    }

    .top-list-features.column-list {
        column-count: 1;
        column-gap: 0;
        li {
            background-size: 20px;
        }
    }

    .accordion-item {
        &-header .btn-link {
            font-size: 18px;
            line-height: 25px;
            min-height: 41px;
        }

        .card-body {
            font-size: 14px;
        }
    }

    .signup-form {
        label {
            font-size: 13px;
            margin-bottom: 5px;
        }
        input , select {
            height: 37px;
            font-size: 13px;
        }
        p {
            font-size: 13px;
        }
    }

    .text-after-form {
        p {
            font-size: 14px;
            line-height: 18px;
        }
    }

    .review-slider {
        li {
            margin-top: 50px;
        }
        p {
            font-size: 14px;
            line-height: 18px;
        }
    }

    .f_size_48 {
        font-size: 27px;
        line-height: 32px;
    }

    .heading_style h4 {
        font-size: 24px;
    }

    .f_size_50 {
        font-size: 28px;
        line-height: 36px;
    }

    .top-feature-content h3 {
        font-size: 25px;
    }

    .agency_featured_item .agency_featured_content h3 {
        font-size: 28px;
        line-height: 36px;
    }

    .pb_120 {
        padding-bottom: 60px;
    }

    .footer_area_four .footer_top , .blog_breadcrumb_area .breadcrumb_content_two {
        padding-top: 40px;
    }

    .blog_breadcrumb_area .breadcrumb_content_two h1 {
        font-size: 32px;
        line-height: 42px;
    }

    .sidebar-banner p {
        font-size: 25px;
        line-height: 35px;
    }

    .pt_120 {
        padding-top: 60px;
    }

    ol.breadcrumb-list {
        margin-top: 20px;
        li {
            font-size: 16px;
        }
    }

    .free-demo-header {
        font-size: 22px;
        line-height: 32px;
    }

    .pt_130 {
        padding-top: 60px;
    }

    .navbar-brand img {
        transform: translateX(-30px);
    }

    .transform-none .navbar-brand img {
        transform: translateX(0px);
    }

    .made-in {
        max-width: 100px;
    }

    .about-us-bg {
        max-width: 70px;
    }

    .about-number-img {
        bottom: -3vw;
    }

    .review.owl-carousel {
        .owl-nav {
            position: absolute;
            top: 0;
            left: 85vw;
            transform: translate(0);
        }
    }

    .made-in-small {
        right: 4px;
        top: 10px;
    }

    .transform-top-80 {
        top: 55px;
    }

    .top-feature-tab.second-feature-tab .nav-link {
        max-width: 190px;
        line-height: 28px;
    }

    .top-list-features li {
        min-height: 28px;
        line-height: 28px;
    }

    .paid-traffic-img {
        .traffic-img-1 {
            max-width: 80px;
            bottom: -130%;
            left: 0;
            z-index: 2;
        }
        .traffic-img-2 {
            max-width: 120px;
            bottom: -120%;
        }
    }

}

@media screen and (max-width: 576px) {

    .max-height {
        height: 1200px;
    }

    .about-us-img:before , .about-us-img.right:before {
        left: -50px;
    }

    .about-number-img {
        bottom: -6vw;
    }

    .made-in-small {
        max-width: 130px;
    }

    .top-feature-tab.second-feature-tab .nav-link {
        max-width: 150px;
        line-height: 28px;
    }

    .form-free-trial.request-demo-form {
        input {
            font-size: 16px;
            &::-webkit-input-placeholder , &::placeholder {
                font-size: 16px;
            }
        }
        button {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .transform-bottom-60 {
        margin-top: 0;
    }
    
}

@media screen and (max-width: 480px) {

    .review-item {
        max-width: 360px;
    }

    .price-nav-mobile {
        a {
            margin: 0 2px;
            padding: 9px 20px;
        }
    }

    .article-info {
        flex-wrap: wrap;
        .article-author {
            margin-left: 0 !important;
            margin-top: 15px;
        }
    }

    .blog_single_info {
        .blog-signup {
            padding: 30px;

            .form-free-trial button {
                padding: 10px 27px;
                position: relative;
                top: auto;
                right: auto;
                margin-top: 20px;
            }
        }

        .bottom-article a {
            font-size: 16px;
        }
    }

    .blog-sidebar .widget.widget_search .search-form {
        .form-control {
            height: 44px;
            background: #fff;
            font-size: 17px;
    
            &::placeholder {
                font-size: 17px;
            }
    
        }

        button {
            font-size: 18px;
        }

    }

    .wrap-signup-widget {
        padding: 30px;
        input {
            width: 100%;
        }
    }

    .contact-form {
        button {
            display: block;
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .agency_banner_btn, .agency_banner_btn_two {
        font-size: 14px;
    }

    .top-feature-tab .tab-icon span {
        font-size: 1.8rem;
    }

    .agency_testimonial_info .testimonial_slider .testimonial_item p {
        margin-top: 10px;
    }

    footer .f_menu li a {
        font-size: 14px;
    }

    .footer_bottom {
        padding: 20px 0;
    }

    footer .btn-trial {
        font-size: 14px;
        padding-left: 14px;
        padding-right: 14px;
    }

    .blog_single_info .blog-signup .form-free-trial input {
        height: 44px;
        background: #fff;
        padding-left: 15px;
        font-size: 17px;

        &::placeholder {
            font-size: 17px;
        }

    }

    .mt_100 {
        margin-top: 50px;
    }

    .curved.left {
        left: 0;
    }

    .signup-right {
        padding-bottom: 50px;
    }

    .about-number-img {
        bottom: -8vw;
    }

    .paid-traffic-img {
        .traffic-img-1 , .traffic-img-2 {
            bottom: -70%;
        }
    }
    
}