// Styles for tab-features section
.top-features {
    background: url(../img/main-img/tab-bg.png) 87% 420px no-repeat;

    &.second-version {
        background: url(../img/main-img/tab-bg-2.png) 13% 470px no-repeat;
    }

}

.top-feature-tab {
    margin-bottom: 60px;
    .nav-link {
        max-width: 215px;
        height: 180px;
        padding: 30px 20px;
        border-radius: 10px;
        border: 1px solid #dcdcdc;
        font-size: 20px;
        line-height: 27px;
        color: $default-text;
        text-align: center;
        font-weight: 600;
        margin: 0 auto 20px auto;

            &.active {
                position: relative;
                background: $primary-red;
                border-color: $primary-red;

                &:after {
                    content: "";
                    position: absolute;
                    bottom: -15px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0;
                    height: 0;
                    border-top: 15px solid $primary-red;
                    border-left: 17px solid transparent;
                    border-right: 17px solid transparent;
                }

                svg {
                    fill: #fff;
                }

            }

    }

    .tab-icon {
        margin-bottom: 10px;
        svg {
            max-width: 60px;
            height: 60px;
        }
        img {
            display: inline-block;
            width: auto;
        }

        span {
            font-size: 2.5rem;
        }
    }

    .owl-nav {
        text-align: center;
        button {
            width: 37px;
            height: 37px;
            background: url(../img/main-img/icons/icon-circle-arrow.png) center/cover no-repeat !important;
            text-indent: -9999px;
            position: relative;
            top: auto;
            margin: 20px;
                &.owl-prev {
                    left: auto;
                }
                &.owl-next {
                    transform: scale(-1,1);
                    right: auto;
                }
        }
    }

    &.second-feature-tab {
        .nav-link {
            max-width: 315px;
            height: 150px;
            font-size: 26px;
        }
    }

}

.top-feature-content {
    h3 {
        font-size: 35px;
    }
    img {
        max-width: 100%;
    }
}

.top-list-features {
    font-size: 17px;
    color: #414141;
    font-weight: 500;
    line-height: 28px;
    list-style-type: none;
    h6 {
        margin-bottom: 20px;
        font-size: 25px;
        font-weight: 600;
        color: $default-text;
    }
    li {
        margin-bottom: 40px;
        padding-left: 40px;
        background: url(../img/main-img/icons/icon-top-list.png) left 2px no-repeat;
            &:last-child {
                margin-bottom: 0;
            }
    }

    &.column-list {
        column-count: 2;
        column-gap: 20px;
        li {
            margin-bottom: 20px;
        }
    }

}

@media screen and (max-width: 768px) {

    .top-features {
        background: url(../img/main-img/tab-bg.png) center 90%/80% no-repeat;
    }

    .top-feature-tab {
        margin-bottom: 30px;
        .nav-link {
            max-width: 132px;
            height: 111px;
            padding: 20px 10px;
            font-size: 14px;
            line-height: 17px;
                &.active {
                    &:after {
                        bottom: -10px;
                        border-top: 10px solid #ff516c;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                    }
                }
        }
        .tab-icon {
            margin-bottom: 10px;
            img {
                max-height: 25px;
            }
            svg {
                max-width: 35px;
                height: 35px;
            }
        }
    }

    .top-feature-content {
        h3 {
            font-size: 30px;
        }

        .top-list-features li:last-child {
            margin-bottom: 50px;
        }
    }

    .top-list-features {
        font-size: 15px;
        line-height: 23px;
        h6 {
            font-size: 21px;
            margin-bottom: 10px;
        }
        li {
            margin-bottom: 30px;
        }
    }
    
}

@media screen and (max-width: 480px) {

    .top-feature-tab .nav-link {
        max-width: 120px;
        padding: 20px 5px;
    }
    
}