// Why partner section

.why-partner {
    &-img {
        right: 13vw;
        position: relative;
    }
}

    .item-text {
        margin-bottom: 60px;
        p:last-child {
            color: #414141;
        }
    }

// Get paid section

.how-it-works {
    .container {
        position: relative;
        z-index: 1;
    }
}

.get-item {
    &-icon {
        width: 150px;
        height: 150px;
        margin: 0 auto 20px auto;
        background: #fff;
        border-radius: 50%;
        box-shadow: 4px 0 19px 0 rgba(0, 0, 0, .12);
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 60px;
        color: $primary-blue;
        transition: all .3s ease;
        align-items: center;
            svg {
                width: 70px;
                height: 70px;
                fill: $primary-blue;
            }

    }

    &:hover {
        .get-item-icon {
            background: $primary-blue;
            svg {
                fill: #fff;
            }
        }
        h3 {
            color: $primary-blue;
        }
    }

}

.how-it-works-line {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1735px;
}