img {
    max-width: 100%;
}

.columns-list {
    column-count: 2;
    list-style: decimal;
}

.list-group picture {
    width: 48px;
    height: 48px;
}

    .list-group .flag-icon {
        width: 18px;
        height: 12px;
    }

    .list-group .vote-btn img {
        max-width: 24px;
    }

    .list-group .heading-list span {
        min-width: 60px;
        text-align: right;
    }

.sticker {
    width: 26px;
    left: 17px;
    transform: rotate(-25deg);
}

@media screen and (max-width: 480px) {

    .columns-list {
        column-count: 1;
    }

}