img {
    max-width: 100%;
}

.list-group picture {
    width: 48px;
    height: 48px;
}

    .list-group .flag-icon {
        width: 18px;
        height: 12px;
    }

    .list-group .vote-btn img {
        max-width: 24px;
    }

    .list-group .heading-list span {
        min-width: 90px;
        text-align: right;
    }

.sticker {
    width: 26px;
    left: 17px;
    transform: rotate(-25deg);
}