
<footer class="text-center text-md-start">
  <div class="container">
    <div class="row gap-4 gap-md-0">
      <div class="col-md-4">
        <h4 class="mb-3 text-white">Support</h4>
        <ul class="m-0 p-0 footer-link">
          <li class="py-2"><a href="#">Spåra paket</a></li>
          <li class="py-2"><a href="#">Vanliga frågor</a></li>
          <li class="py-2"><a href="#">Kontakta oss</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4 class="mb-3 text-white">Om HemPost</h4>
        <ul class="m-0 p-0 footer-link">
          <li class="py-2"><a href="#">Om oss</a></li>
          <li class="py-2"><a href="#">Hållbarhetsarbete</a></li>
          <li class="py-2"><a href="#">Jobba hos oss</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4 class="mb-3 text-white">Besöksadress:</h4>
        <ul class="m-0 p-0 footer-link">
          <li class="py-2"><b>HemPost</b> <br> Nohabgatan 14, plan 2 <br> 461 53 Trollhättan</li>
        </ul>
      </div>
    </div>
    <div class="mt-32 mb-32 d-flex align-items-center gap-3 flex-column flex-md-row">
      <div class="eco-img"><img src="images/eco.svg" alt="eco"/></div>
      <div class="text-center text-md-start">
        <h4 class="text-white mb-1">Server provider is green</h4>
        <p class="mb-0 d-flex align-items-center gap-2 pdf-certificate justify-content-center justify-content-md-start">View PDF Certificate
          <svg>
            <use xlink:href="images/sprite.svg#pdf-icon"></use>
          </svg>
        </p>
      </div>
    </div>
    <div class="pt-32 bottom-footer d-flex align-items-center flex-wrap justify-content-center justify-content-md-start"><a class="logo mb-4 mb-md-0" href="/"><img src="images/logo-white.svg" alt="logo"/></a>
      <ul class="navbar-nav d-flex flex-row flex-wrap justify-content-center justify-content-md-start">
        <li class="nav-item mb-0"><a class="nav-link" href="#">Cookiepolicy</a></li>
        <li class="nav-item mb-0"><a class="nav-link" href="#">Dataskyddspolicy</a></li>
        <li class="nav-item mb-0"><a class="nav-link" href="#">Persondata policy</a></li>
      </ul>
      <p class="mb-0 ms-lg-auto mt-4 mt-lg-0">© 2024 HemPost. All rights reserved.</p>
    </div>
  </div>
</footer>