include ../../pug/vars

if blocked
	.blocked.case
		.blocked__title.h2= blocked.title
		.blocked__wrap.row
			.blocked__img
				img(src=blocked.img alt="")
			.blocked__content
				.blocked__text.t2!= blocked.text