// Font Family
$font-family: 'Nunito', sans-serif; // Main font family for the project

// Primary Color
//$primary-color: #007bff; // Primary brand color
$primary-color: #5085C4;

// Login Panel Dimensions
$login-panel-width: 600px; // Width of the login panel
$login-panel-height: 600px; // Height of the login panel

// Menu Bar Colors and Dimensions
$menubar-color: #004EA0; // Background color of the menu bar
$menubar-height: 80px; // Height of the menu bar
$menubar-width: 316px; // Width of the menu bar

// Custom Colors
$blue-color: #004EA0; // Custom blue color
$yellow-color: #f29100; // Custom yellow color
$grey-color: #707070; // Custom grey color

$grey-secondary-color: #919A9F;
$bg-grey: #F1F1F1;
$green-color: #2FC129;

//$blue-secondary-color: #5085C4;

// Text Color
$text-color: rgb(33, 37, 41); // Default text color

$screen-md-min: 1000px;
$screen-sm-min: 600px;

$middle-padding: 50px;
$small-padding: 20px;