@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
body {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6, p {
  font-family: "Nunito", sans-serif;
  word-break: break-all; }

h3 {
  font-size: 50px;
  font-weight: 600; }
  @media screen and (max-width: 420px) {
    h3 {
      font-size: 40px;
      width: inherit; } }

h4 {
  font-size: 30px;
  font-weight: 400; }
  @media screen and (max-width: 420px) {
    h4 {
      font-size: 24px;
      width: inherit; } }

p {
  font-size: 20px; }
  @media screen and (max-width: 420px) {
    p {
      font-size: 16px;
      width: inherit; } }

body {
  margin: 0;
  padding: 0; }

a {
  color: #5085C4;
  text-decoration: none;
  text-align: center;
  color: #212529; }
  a.original {
    text-decoration: underline;
    color: #5085c4; }

button {
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: #5085C4;
  color: white; }
  button:hover {
    background-color: #004EA0; }
  button.disabled {
    background-color: #919a9f; }
  button.btn-secondary {
    background-color: #5085C4; }
    button.btn-secondary:hover {
      background-color: #004EA0; }
  button.btn-sm {
    padding: 0 13px; }
  button.btn-md {
    padding: 2px 21px;
    border-radius: 5px; }
  button.btn-lg {
    padding: 12px 34px;
    border-radius: 8px; }
  button.btn-success {
    background-color: #2FC129;
    color: #fff; }

select, textarea, input:not([type="checkbox"]) {
  background-color: #f1f1f1;
  border: none;
  width: 100%;
  outline: none; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.col-custom {
  padding: 0; }

.cursor-pointer {
  cursor: pointer; }

.card {
  margin: 20px;
  width: 360px;
  min-height: 150px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px #0000001A;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: none; }
  .card:not(:last-child) {
    margin-bottom: 90px; }
  @media screen and (max-width: 600px) {
    .card {
      width: 320px; } }

.like-card {
  border-radius: 20px;
  box-shadow: 0px 0px 15px #0000001A;
  background-color: white; }
  .like-card.small {
    border-radius: 5px;
    box-shadow: 0px 0px 6px #00000029; }

.custom-container {
  max-width: 1108px; }

.table-heading > div {
  font-size: 15px;
  line-height: 20px;
  color: #707070;
  position: relative;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  font-weight: 200; }
  .table-heading > div:not(:last-child):after {
    content: "";
    width: 1px;
    height: 21px;
    background-color: #707070;
    position: absolute;
    right: 0;
    top: 7px; }

.table-cell {
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  text-align: center;
  padding-top: 4px !important;
  padding-bottom: 4px !important; }

.table-cell-checkbox {
  width: 40px; }

.table-body {
  padding-top: 10px;
  background-color: #F7F7F7;
  gap: 10px;
  min-height: calc(10 * 25px); }

.login-background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.25; }

.login-container {
  min-height: 100vh;
  z-index: 1; }

form input:not([type="checkbox"]) {
  height: 62px;
  padding: 32px 12px 12px 12px;
  border-radius: 8px;
  margin-bottom: 24px; }

form input[type="checkbox"] {
  margin-top: 12px; }
  form input[type="checkbox"] + span {
    margin-left: 12px; }

form button {
  min-width: 203px;
  padding: 18px 32px;
  display: inline-block; }

.login-page {
  display: flex;
  margin: 48px; }
  .login-page .login-panel,
  .login-page .register-panel {
    max-width: 600px;
    width: 600px;
    padding: 16px 64px 32px 64px;
    background-color: white;
    box-shadow: 0px 0px 8.5px rgba(0, 0, 0, 0.62);
    border-radius: 20px; }
    @media screen and (max-width: 576px) {
      .login-page .login-panel,
      .login-page .register-panel {
        padding: 16px;
        width: inherit; } }
    .login-page .login-panel span,
    .login-page .register-panel span {
      position: absolute;
      font-size: 12px;
      left: 10px;
      top: 10px; }
    .login-page .login-panel div,
    .login-page .register-panel div {
      position: relative; }
    .login-page .login-panel a,
    .login-page .register-panel a {
      font-size: 12px;
      color: #5085C4;
      text-decoration: underline; }
      .login-page .login-panel a:hover,
      .login-page .register-panel a:hover {
        text-decoration: none; }
    .login-page .login-panel .login-form-forgot,
    .login-page .register-panel .login-form-forgot {
      margin: -15px 0px 20px 12px;
      text-align: left; }
      .login-page .login-panel .login-form-forgot p,
      .login-page .register-panel .login-form-forgot p {
        font-size: 12px;
        line-height: 16px;
        color: #919A9F; }
        .login-page .login-panel .login-form-forgot p:not(:last-child),
        .login-page .register-panel .login-form-forgot p:not(:last-child) {
          margin-bottom: 8px; }
    .login-page .login-panel .input-form-header,
    .login-page .register-panel .input-form-header {
      position: relative;
      width: 100%;
      min-width: 320px; }
      .login-page .login-panel .input-form-header a,
      .login-page .register-panel .input-form-header a {
        position: absolute;
        left: 0;
        top: calc(50% - 15px); }
        .login-page .login-panel .input-form-header a img,
        .login-page .register-panel .input-form-header a img {
          width: 30px;
          height: 30px;
          opacity: 30%; }
      @media screen and (max-width: 420px) {
        .login-page .login-panel .input-form-header > img,
        .login-page .register-panel .input-form-header > img {
          width: 50%; } }
  .login-page .login-panel .input-form {
    margin-top: 42px; }
  .login-page .register-panel .input-form {
    margin-top: 16px; }
  .login-page .login-caption {
    max-width: 1000px;
    margin-left: 128px;
    margin-top: 0px; }
    .login-page .login-caption .login-caption-image {
      max-width: 576px;
      margin-top: 150px;
      padding: 25px 29px;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0px 0px 8.5px rgba(0, 0, 0, 0.38); }
      .login-page .login-caption .login-caption-image .row:nth-child(2) {
        margin-top: 4px; }
      .login-page .login-caption .login-caption-image .item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0; }
        .login-page .login-caption .login-caption-image .item:nth-child(1), .login-page .login-caption .login-caption-image .item:nth-child(3) {
          border-radius: 6px;
          box-shadow: 0px 0px 3.5px rgba(0, 0, 0, 0.16);
          border: 5px solid #004ea0; }
          .login-page .login-caption .login-caption-image .item:nth-child(1) img, .login-page .login-caption .login-caption-image .item:nth-child(3) img {
            width: 100%;
            height: 100%; }
        .login-page .login-caption .login-caption-image .item:nth-child(2) {
          flex-grow: 1;
          min-width: 30px; }
  .login-page > div:nth-child(1) {
    order: 1; }
  @media screen and (max-width: 1400px) {
    .login-page {
      display: block; }
      .login-page .login-caption {
        margin-left: 0px;
        margin-bottom: 128px; } }
  @media screen and (max-width: 576px) {
    .login-page {
      padding: 16px !important; } }

.register-container {
  max-width: 1690px;
  width: 100%; }

.register-caption .card {
  width: 275px; }
  .register-caption .card p:first-child {
    margin: 25px 0; }
    .register-caption .card p:first-child + p {
      font-size: 15px;
      font-weight: 600; }
  .register-caption .card ul {
    font-size: 12px;
    line-height: 15px;
    list-style-type: none;
    text-align: left; }
    .register-caption .card ul li {
      padding: 3px 0 3px 55px; }
      .register-caption .card ul li:nth-child(2n+1) {
        background-color: #F1F1F1; }
      .register-caption .card ul li i {
        color: #00CB10; }
  .register-caption .card.trial p:first-child {
    color: #707070; }
  .register-caption .card.pro p:first-child {
    color: #5085C4; }
  .register-caption .card.enterprise p:first-child {
    color: #f29100; }
  .register-caption .card > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; }
    .register-caption .card > div > div {
      display: flex;
      justify-content: center; }
  .register-caption .card button {
    width: 203px;
    height: 62px; }
