extends ../../templates/default
block vars
	-
		title = "Australian Proxies - Infatica"
		breadcrumbs = [
			['Main', 'index.html'],
			['Locations', 'index.html'],
			['Australia', 'index.html'],
			['Australian Proxies'],
		]
block content
	-
		intro = {
			icon: {
				el: 'uploads/intro-australia.png'
			},
			desc: '',
			title: 'Australian Proxies (100000 IPs)',
			text: "If you're looking to expand your business into Australia, you need a proxy service that can <br>offer Australian IP addresses. At Infatica, we have a large selection of proxies available and <br>our proxies are fast and anonymous. Our prices are also very reasonable, making us the <br>perfect choice for businesses and individuals looking to expand their reach in Australia.",
			btns: [
				{
					cls: '--green --lg',
					title: 'Free Trial'
				},
				{
					cls: '--b-white --lg',
					title: 'Contact Sales'
				},
			]
		}
	include ../../../blocks/intro/intro
	+style('intro', 'blocks')

	-
		pool = {
			title: 'Huge pool of Australia proxies',
			text: '(100000 IPs)We have one of the biggest pools of Australian proxies, with over 100,000 IP addresses. You can buy as many IPs as you want without any hassle. We have both static and rotating proxies so that you can choose the one that best fits your needs. Gain access to websites and other online services via authentic residential IP addresses from cities like:',
			img: 'uploads/pool-australia.svg',
			links: [
				[
					'Sydney',
					'Melbourne',
					'Brisbane',
					'Perth',
					'Adelaide',
					'Gold Coast',
					'Canberra',
				],
				[
					'Newcastle',
					'Wollongong',
					'Logan City',
					'Geelong',
					'Hobart',
				],
			]
		}
	include ../../../blocks/pool/pool
	+style('pool', 'blocks')

	-
		real = {
			title: 'Residential Proxies with IP Address of Real People',
			text: '<p>All of our Australian proxies are residential, which means they come with the IP address of a real person living in Australia. This is important because it helps to ensure that your online activity is not being tracked or monitored. We also have a strict no-bot policy so you can be sure that all of our IP addresses are clean and not being used for malicious purposes.</p><p>Get in touch with us to learn more about our services and how we can help you achieve your goals. We look forward to hearing from you soon! Infatica is the leading provider of Australian proxies, and we are confident that we can provide you with the best service possible.</p>',
			img: 'uploads/real-australia.svg'
		}
	include ../../../blocks/real/real
	+style('real', 'blocks')


	-
		blocked = {
			title: 'Visit any Australian Website without being Blocked',
			text: "<p>If you're trying to access an Australian website from outside the country, you may be blocked in some cases. However, with Infatica's Australian proxies, you can bypass these restrictions and visit any site you want. Whether you're trying to access geo-restricted content or simply want to browse the web anonymously, our proxies will give you the freedom and flexibility you need.</p><p>Don't wait any longer, order Australian proxies from Infatica today and get access to the data you need. We offer the best prices and the most reliable service in the industry.</p>",
			img: 'uploads/blocked-australia.png'
		}
	include ../../../blocks/blocked/blocked
	+style('blocked', 'blocks')



	-
		work = {
			title: 'How Proxies Work',
			subtitle: 'Australia Proxies',
			text: 'A residential proxy server is an intermediary between you and your target website. It masks your original <a href="">IP address</a>, providing a new residential one. This new IP address is issued by the given country’s ISP, which helps you appear as a regular user from India. This makes local data collection and other activities much easier, with the added benefits of improved privacy and security.',
			img: 'uploads/australia-round.svg'
		}
	include ../../../blocks/work/work
	+style('work', 'blocks')

	include ../../../blocks/vs/vs
	+style('vs', 'blocks')

	- should__title = 'Why you should choose Infatica Australian proxies'
	include ../../../blocks/should/should
	+style('should', 'blocks')

	include ../../../blocks/cases/cases
	+style('cases', 'blocks')

	include ../../../blocks/reviews/reviews
	+style('reviews', 'blocks')
	+script('reviews', 'blocks')

	- pricePlanText = 'We’re offering a set of pricing plans with varying parameters like IP address count and channel bandwidth – or use our flexible pricing option to fine-tune the parameters yourself. Choose the plan that fits your project’s needs best:'
	include ../../../blocks/price-plan/price-plan
	+style('price-plan', 'blocks')

	include ../../../blocks/trial/trial
	+style('trial', 'blocks')

	-
		ipsTitle = 'Other Countries' 
	include ../../../blocks/ips/ips
	+style('ips', 'blocks')

	-
		questions = [
			["What is the proxy of Australia?", "An Australian proxy is an IP address that allows you to mask your real identity and browse the web anonymously. When you connect to a website through an Australian proxy server, the website will think that your IP address is from Australia."],
			["Why should I choose Infatica for my Australian proxy needs?", "Infatica is a leading provider of Australian proxies, with over 100,000 IP addresses to choose from. We offer the best prices and the most reliable service in the industry. Contact us today to learn more about our services and how we can help you achieve your goals."],
			["How do I use a proxy in Australia?", "If you're trying to access a website from outside the country, you will likely be blocked. However, with Infatica's Australian proxies, you can bypass these restrictions and visit any site you want. Whether you're trying to access geo-restricted content or simply want to browse the web anonymously, our proxies will give you the freedom and flexibility you need."],
			["What is the fastest proxy service?", "Infatica is the fastest proxy service, with high-bandwidth channels and robust server infrastructure. Our proxies maintain high uptime and low response time, so you can access more URLs and send requests faster than your competitors."],
			["Can you be traced with a proxy?", "When you connect to a website through a proxy server, the website will only see the IP address of the proxy server. Your real IP address will be hidden, so you will remain anonymous."],
		]
	include ../../../blocks/questions/questions
	+style('questions', 'blocks')