.work {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #F6F7F8;
}
.work__title {
  margin-bottom: 30px;
}
.work__wrap {
  background: #FFFFFF;
  border: 3px solid #000000;
  box-shadow: 12px 12px 0px #000000;
  border-radius: 6px;
  padding: 70px 55px;
  transform: rotate(-1deg);
}
.work__img {
  width: 138px;
  height: 138px;
  position: relative;
  overflow: hidden;
}
.work__img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.work__img::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 138px;
  height: 138px;
  transform: translate(-50%, -50%);
  border: 9px solid #301F88;
  border-radius: 50%;
}
.work__content {
  width: calc(100% - 138px);
  padding-left: 32px;
}
.work__subtitle {
  color: var(--color-primary-blue);
  margin-bottom: 4px;
}
.work__text {
  color: #7D7D82;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}
.work__text a {
  color: var(--color-primary-blue);
}
.work__text a:hover {
  border-color: var(--color-primary-blue);
}

@media (max-width: 1024px) {
  .work {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .work__title {
    margin-bottom: 36px;
    text-align: center;
  }
  .work__wrap {
    padding: 58px 20px;
  }
  .work__content {
    padding-left: 26px;
  }
}
@media (max-width: 767px) {
  .work__img {
    width: 93px;
    height: 93px;
  }
  .work__img:before {
    width: 93px;
    height: 93px;
    border-width: 2px;
  }
  .work__content {
    width: calc(100% - 93px);
  }
}
@media (max-width: 540px) {
  .work {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .work__title {
    margin-bottom: 40px;
  }
  .work__wrap {
    transform: none;
    padding: 40px 25px 60px;
    align-items: center;
    flex-direction: column;
    box-shadow: 6px 6px 0px #000000;
  }
  .work__content {
    padding-left: 0;
  }
  .work__img {
    margin-bottom: 16px;
  }
  .work__content {
    width: 100%;
    text-align: center;
  }
  .work__subtitle {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 12px;
  }
  .work__text {
    text-align: justify;
  }
}