include ../../pug/vars

<section class="premium case">
	<h2 class="premium__headline">Premium Private Proxies</h2>
	<ul class="premium__list">
		<li class="premium__item">
			<img src="uploads/homepage/premium/grow.svg" class="premium__image" aria-hidden="true" alt="">
			<h3>Grow</h3>
			<p class="premium__description">Invest in your brand, your strategy and your data quality, with a range of options to suit all needs and budgets.</p>
		</li>

		<li class="premium__item">
			<img src="uploads/homepage/premium/protected.svg" class="premium__image" aria-hidden="true" alt="">
			<h3>Protected</h3>
			<p class="premium__description">Our commercial proxies are protected from blacklisting by intelligent rotation and a strictly enforced anti-abuse policy</p>
		</li>

		<li class="premium__item">
			<img src="uploads/homepage/premium/safe.svg" class="premium__image" aria-hidden="true" alt="">
			<h3>Safe</h3>
			<p class="premium__description">To safeguard your privacy and business secrets, your data is encrypted end to end.</p>
		</li>
	</ul>
</section>