@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  font-weight: 500;
}

h1 {
  font-size: 3rem;
  line-height: 72px;
  letter-spacing: -1px;
  margin-bottom: 30px;
}

h2 {
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 40px;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 18px;
  line-height: 27px;
  color: #333333;
}

p {
  line-height: 150%;
  font-size: 1rem;
}
p.fs-18 {
  font-size: 1.125rem;
}
p.fs-20 {
  font-size: 20px;
}
p.subtitle {
  font-size: 24px;
  line-height: 36px;
}
p.subtitle:not(:last-child) {
  margin-bottom: 24px;
}
p.subtitle.sm {
  font-size: 20px;
  line-height: 30px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.25rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}
section {
  padding: 140px 0;
}

.text-dark-blue {
  color: #0E206E;
}

.text-gray {
  color: #333333;
}

.list-decimal {
  list-style-type: decimal;
}

.list-bullet {
  list-style-type: disc;
}

.info {
  cursor: pointer;
}
.info .bi-minus {
  display: none;
}
.info[aria-expanded=true] .bi-plus {
  display: none;
}
.info[aria-expanded=true] .bi-dash {
  display: block;
}

.mx-32 {
  margin-left: 32px;
  margin-right: 32px;
}
.mt-32 {
  margin-top: 32px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mb-64 {
  margin-bottom: 64px;
}

.p-64 {
  padding: 64px;
}
.pt-80 {
  padding-top: 80px;
}
.pt-64 {
  padding-top: 64px;
}
.pt-32 {
  padding-top: 32px;
}
.pb-32 {
  padding-bottom: 32px;
}
.pb-64 {
  padding-bottom: 64px;
}
.pb-80 {
  padding-bottom: 80px;
}

.gap-32 {
  gap: 32px;
}
.gap-64 {
  gap: 64px;
}
.gap-80 {
  gap: 80px;
}

@media screen and (max-width: 768px) {
  section {
    padding: 80px 0;
  }
}
.btn {
  padding: 20px 40px;
  font-weight: 500;
  gap: 16px;
  border-radius: 6px;
}
.btn.btn-sm {
  padding: 8px 12px !important;
  font-size: 15px !important;
}
.btn.btn-primary {
  border: none;
  background-color: #0E206E;
  color: #F7F7F7 !important;
}
.btn.btn-primary:hover {
  background-color: #0E206E;
}
.btn.btn-outline {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  background-color: #fff;
  color: #333333;
  border: 2px solid #0E206E;
}
.btn.btn-outline:hover {
  background-color: #0E206E;
  color: #fff !important;
}
.btn.btn-link {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 2px;
  font-weight: 600;
}

header {
  padding: 32px 0;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: #F5F5FA;
}
header .container {
  position: relative;
}
header .navbar-toggler {
  width: 56px;
  height: 56px;
  padding: 16px;
  background-color: #F8F8F8;
  border: none;
}
header .navbar-toggler .navbar-toggler-icon {
  width: 24px;
  height: 24px;
  background-image: none;
}
header .navbar-toggler .navbar-toggler-icon svg {
  width: 24px;
  height: 24px;
}
header .navbar-toggler .navbar-toggler-icon svg:last-child {
  display: none;
}
header .navbar-toggler[aria-expanded=true] .navbar-toggler-icon svg:first-child {
  display: none;
}
header .navbar-toggler[aria-expanded=true] .navbar-toggler-icon svg:last-child {
  display: block;
}

.navbar-collapse {
  margin-left: 32px;
  padding-left: 32px;
}

.navbar-expand-md .navbar-nav, .navbar-expand-lg .navbar-nav {
  flex: 1;
  align-items: center;
}
.navbar-expand-md .navbar-nav .nav-item, .navbar-expand-lg .navbar-nav .nav-item {
  margin-bottom: 0;
  flex-shrink: 0;
}
.navbar-expand-md .navbar-nav .nav-item:not(:last-child), .navbar-expand-lg .navbar-nav .nav-item:not(:last-child) {
  margin-right: 32px;
}
.navbar-expand-md .navbar-nav .nav-link, .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
  font-size: 16px;
  line-height: 160%;
  font-weight: 500;
  color: #374151;
}
.navbar-expand-md .navbar-nav .nav-link.active, .navbar-expand-md .navbar-nav .nav-link:hover, .navbar-expand-lg .navbar-nav .nav-link.active, .navbar-expand-lg .navbar-nav .nav-link:hover {
  text-decoration: underline;
}
.navbar-expand-md .navbar-nav .nav-link.active, .navbar-expand-lg .navbar-nav .nav-link.active {
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  header .logo {
    max-width: 220px;
  }
}
@media screen and (max-width: 992px) {
  header {
    padding: 8px 0;
  }
  .navbar-collapse {
    margin: 0;
    padding: 0;
    border: none;
    position: fixed;
    width: 100vw;
    height: calc(100vh - 72px);
    background: white;
    top: 72px;
    left: 0;
    transition: opacity 0.1s ease;
    overflow: auto;
  }
  .navbar-collapse.collapsing {
    opacity: 0;
  }
  .navbar-collapse.collapse {
    opacity: 1;
  }
  .navbar-expand-md .navbar-nav, .navbar-expand-lg .navbar-nav {
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 5%;
  }
  .navbar-expand-md .navbar-nav .nav-item.ms-auto, .navbar-expand-lg .navbar-nav .nav-item.ms-auto {
    margin-left: 0 !important;
  }
  .navbar-expand-md .navbar-nav .nav-item:not(:last-child), .navbar-expand-lg .navbar-nav .nav-item:not(:last-child) {
    margin-right: 0;
  }
  .navbar-expand-md .navbar-nav .nav-link, .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 24px;
    font-weight: 600;
  }
  .navbar-expand-md .navbar-nav .nav-link.active, .navbar-expand-lg .navbar-nav .nav-link.active {
    text-decoration: none;
  }
  .navbar-expand-md .navbar-nav .nav-link:hover, .navbar-expand-lg .navbar-nav .nav-link:hover {
    text-decoration: none;
  }
}
.title-section {
  text-align: center;
  position: relative;
}
.title-section span {
  display: inline-block;
  padding: 15px;
  background-color: #F5F5FA;
  z-index: 2;
  position: relative;
  font-weight: 600;
}
.title-section:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #0E206E;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.blog-item {
  margin-bottom: 32px;
}

.cover-post {
  max-height: 190px;
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

.blog-item:hover .cover-post {
  border-color: #0E206E;
  transform: scale(1.03);
}

.price-form input[type=range] {
  width: 100%;
  -webkit-appearance: none;
  height: 10px;
  border-radius: 5px;
  background: #d2d8ee;
}
.price-form input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #0E206E;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
  transition: all 0.3s ease;
}
.price-form input[type=range]:hover::-webkit-slider-thumb {
  background: #2497E3;
  transform: scale(1.05);
}
.price-form .priceValue {
  position: relative;
  width: 100px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  border-radius: 10px;
  background: #0E206E;
  padding: 5px 10px;
  min-width: 70px;
}
.price-form .priceValue:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #0E206E;
  transform: rotate(45deg) translateY(-50%);
  left: -7px;
  top: 50%;
}

footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-link li {
  margin-bottom: 0 !important;
}
.footer-link a {
  font-size: 15px;
  text-decoration: none;
  color: #444444;
}

@media screen and (max-width: 768px) {
  footer {
    padding-top: 64px;
  }
  footer .navbar-nav {
    padding-left: 0;
    margin-left: 0;
    border-left: none;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  min-height: 100%;
  position: relative;
  background-color: #F5F5FA;
  font-weight: 400;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  color: #374151;
  font-size: 14px;
  line-height: 1.3;
  -webkit-text-size-adjust: none;
}

ol, ul {
  list-style: none;
}
ol li:not(:last-child), ul li:not(:last-child) {
  margin-bottom: 10px;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  border: none;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover, a:active, a:focus {
  text-decoration: none;
}

a:focus, input:focus, textarea:focus {
  outline: none;
}

html {
  height: 100%;
  overflow-x: hidden;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1342px;
  }
}