.vs {
  position: relative;
  border-bottom: 1px solid #DDDDE8;
}
.vs__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 143px 137px 100px;
}
.vs__cloud {
  position: absolute;
}
.vs__cloud:nth-of-type(1) {
  max-width: 94px;
  top: 100px;
  left: calc(50% - var(--container-width) / 2 + 385px);
}
.vs__cloud:nth-of-type(2) {
  max-width: 52px;
  top: 245px;
  right: calc(50% - var(--container-width) / 2 + 380px);
}
.vs__cloud:nth-of-type(3) {
  top: 90px;
  left: calc(50% - var(--container-width) / 2 - 71px);
}
.vs__cloud:nth-of-type(4) {
  top: 336px;
  right: calc(50% - var(--container-width) / 2 - 150px);
}
.vs__cloud:nth-of-type(5) {
  top: 785px;
  left: calc(50% - var(--container-width) / 2 - 220px);
}
.vs__cloud:nth-of-type(6) {
  top: 1105px;
  right: calc(50% - var(--container-width) / 2 - 250px);
}
.vs__cloud svg {
  max-width: 100%;
  max-height: 100%;
}
.vs__icon {
  margin-bottom: 30px;
}
.vs__title {
  text-align: center;
  margin-bottom: 30px;
}
.vs__text {
  text-align: center;
}
.vs__list {
  margin: 75px -20px -40px;
  justify-content: center;
  width: 100%;
}
.vs__item {
  width: 368px;
  background: #FFFFFF;
  border: 3px solid #000000;
  box-shadow: 6px 6px 0px #000000;
  border-radius: 8px;
  padding: 30px 40px;
  margin: 0 20px 40px;
}
.vs__item-title {
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(221, 221, 232, 0.6);
  margin-bottom: 24px;
}
.vs__item-title.--green {
  color: #34CCA9;
}
.vs__item-title.--red {
  color: #CF2F2F;
}
.vs__item-el {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.vs__item-el:last-child {
  margin-bottom: 0;
}
.vs__item-el span {
  width: calc(100% - 32px);
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  padding-left: 16px;
}
.vs__btn {
  margin-top: 50px;
  min-width: 300px;
}

@media (max-width: 1280px) {
  .vs__inner {
    padding: 143px 80px 100px;
  }
  .vs__item {
    width: 330px;
  }
}
@media (max-width: 1024px) {
  .vs__inner {
    padding: 126px 0px 140px;
  }
  .vs__title {
    margin-bottom: 32px;
  }
  .vs__text p {
    line-height: 26px;
    margin-bottom: 31px;
  }
  .vs__list {
    margin: 120px 0 0;
  }
  .vs__item {
    width: 100%;
    max-width: 368px;
    padding: 26px 37px 35px;
    margin: 0 auto 48px;
  }
  .vs__item:nth-of-type(2) {
    order: 1;
  }
  .vs__item:nth-of-type(1) {
    order: 2;
    margin: 0 auto;
  }
  .vs__btn.--lg {
    height: 75px;
  }
}
@media (max-width: 767px) {
  .vs__cloud:nth-of-type(1) {
    top: 60px;
  }
  .vs__cloud:nth-of-type(2) {
    top: 200px;
  }
  .vs__inner {
    padding-top: 95px;
    padding-bottom: 80px;
  }
  .vs__list {
    margin-top: 45px;
  }
}