include ../../pug/vars

.vs.case
	.vs__clouds
		.vs__cloud
			<svg width="95" height="35" viewBox="0 0 95 35" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M94.4338 34.4788C92.1489 28.8474 87.8203 25.828 82.6951 25.2638C76.2388 24.5429 69.6777 28.2414 69.6777 28.2414C69.6777 28.2414 72.1093 18.9533 68.8182 11.6293C66.5648 6.63526 62.9908 1.94417 58.0123 0.711319C52.8661 -0.56332 47.4055 1.94417 43.5695 5.93525C39.7334 9.92634 37.2809 15.1398 35.0589 20.3742C33.9269 16.6652 32.4072 12.507 29.0533 11.1278C25.6994 9.74873 21.5384 12.1726 19.7252 15.6831C17.912 19.1936 17.8072 23.4877 18.0483 27.5205C14.0131 25.1071 8.86691 24.3862 4.83173 26.8101C3.51022 27.6654 2.39278 28.7991 1.55801 30.1312C0.723247 31.4633 0.19145 32.9616 0 34.5206L94.4338 34.4788Z" fill="#F6F7F8"/>
			</svg>

		.vs__cloud
			<svg width="52" height="19" viewBox="0 0 52 19" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0.445313 18.3823H38.2879C44.2278 18.3823 46.083 18.1958 51.9969 18.3823C52.0645 14.7561 51.0407 11.2957 49.2946 9.45665C48.5404 8.67776 47.6006 8.10201 46.5628 7.78315C45.525 7.46428 44.4231 7.41269 43.3599 7.63318C40.8032 8.31181 39.0726 10.0161 37.4097 11.2594C36.8225 6.2604 34.7438 1.68101 32.504 0.681212C28.6532 -1.03865 24.6257 1.68619 22.8225 4.33851C21.3699 6.55904 20.4783 9.0972 20.2241 11.736C17.8024 9.06813 12.3978 7.03745 10.449 11.2646C9.66952 12.9171 9.73188 14.8286 9.79943 16.6521C8.20818 16.2412 6.54588 16.1831 4.92969 16.4821C3.31349 16.781 1.78274 17.4297 0.445312 18.3823H0.445313Z" fill="#F6F7F8"/>
			</svg>

		.vs__cloud
			<svg width="224" height="87" viewBox="0 0 224 87" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0 86.1321H164.422C190.23 86.1321 198.291 85.2551 223.986 86.1321C224.28 69.0799 219.832 52.8073 212.245 44.1594C208.968 40.4967 204.885 37.7893 200.376 36.2898C195.867 34.7904 191.079 34.5478 186.46 35.5846C175.351 38.7758 167.832 46.7903 160.606 52.6368C158.055 29.1292 149.023 7.59475 139.291 2.89323C122.56 -5.19436 105.061 7.61912 97.2263 20.0915C90.915 30.5335 87.0414 42.4691 85.9367 54.8779C75.4148 42.3324 51.9323 32.7832 43.4651 52.6611C40.0782 60.4321 40.3492 69.421 40.6427 77.9958C33.7289 76.0633 26.5063 75.7904 19.4841 77.1962C12.4619 78.602 5.81097 81.6523 0 86.1321Z" fill="#F6F7F8"/>
			</svg>

		.vs__cloud
			<svg width="224" height="87" viewBox="0 0 224 87" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0 86.1885H164.422C190.23 86.1885 198.291 85.3115 223.986 86.1885C224.28 69.1363 219.832 52.8637 212.245 44.2158C208.968 40.5531 204.885 37.8457 200.376 36.3462C195.867 34.8468 191.079 34.6042 186.46 35.641C175.351 38.8322 167.832 46.8467 160.606 52.6932C158.055 29.1856 149.023 7.65115 139.291 2.94963C122.56 -5.13796 105.061 7.67551 97.2263 20.1479C90.915 30.5899 87.0414 42.5255 85.9367 54.9343C75.4147 42.3888 51.9323 32.8396 43.4651 52.7175C40.0782 60.4884 40.3492 69.4774 40.6427 78.0522C33.7289 76.1197 26.5063 75.8468 19.4841 77.2526C12.4619 78.6584 5.81097 81.7087 0 86.1885Z" fill="#F6F7F8"/>
			</svg>

		.vs__cloud
			<svg width="224" height="86" viewBox="0 0 224 86" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M224 85.7683H59.5778C33.7697 85.7683 25.7089 84.8913 0.0136719 85.7683C-0.279846 68.7162 4.16826 52.4435 11.7549 43.7957C15.0317 40.1329 19.1152 37.4255 23.6242 35.9261C28.1333 34.4266 32.9209 34.184 37.5404 35.2209C48.6494 38.4121 56.1683 46.4266 63.3937 52.273C65.9451 28.7654 74.9768 7.23098 84.7085 2.52946C101.44 -5.55813 118.939 7.25535 126.774 19.7278C133.085 30.1697 136.959 42.1054 138.063 54.5142C148.585 41.9687 172.068 32.4194 180.535 52.2974C183.922 60.0683 183.651 69.0572 183.357 77.632C190.271 75.6996 197.494 75.4266 204.516 76.8324C211.538 78.2382 218.189 81.2885 224 85.7683V85.7683Z" fill="#F6F7F8"/>
			</svg>


		.vs__cloud
			<svg width="170" height="87" viewBox="0 0 170 87" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0 86.3684H164.422C190.23 86.3684 198.291 85.4914 223.986 86.3684C224.28 69.3163 219.832 53.0436 212.245 44.3958C208.968 40.733 204.885 38.0256 200.376 36.5262C195.867 35.0267 191.079 34.7841 186.46 35.821C175.351 39.0122 167.832 47.0267 160.606 52.8731C158.055 29.3655 149.023 7.83108 139.291 3.12956C122.56 -4.95803 105.061 7.85544 97.2263 20.3279C90.915 30.7698 87.0414 42.7055 85.9367 55.1143C75.4148 42.5688 51.9323 33.0195 43.4651 52.8975C40.0782 60.6684 40.3492 69.6573 40.6427 78.2321C33.7289 76.2997 26.5063 76.0267 19.4841 77.4325C12.4619 78.8383 5.81097 81.8886 0 86.3684Z" fill="#F6F7F8"/>
			</svg>


	.vs__inner
		.vs__icon
			<svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M27.6064 29.7332C28.8223 32.4637 30.0146 35.2059 31.2539 37.9364C35.0644 46.284 38.8838 54.6258 42.7119 62.9618C43.9922 65.7567 45.2871 68.5282 46.541 71.3436C47.127 72.6414 46.834 73.4588 45.6855 74.2176L43.5205 74.1825C43.207 73.5614 42.8789 72.9491 42.5859 72.3192C39.8184 66.3153 37.0537 60.3055 34.292 54.2899C32.8975 51.2518 31.5381 48.1961 30.1465 45.158C28.1934 40.8787 26.2197 36.6063 24.2256 32.3407C24.0439 31.9569 23.6191 31.6844 23.165 31.2098C22.0342 33.6825 21.0381 35.8739 20.0303 38.0623C18.0771 42.2987 16.1191 46.535 14.1563 50.7713C10.5391 58.6034 6.92578 66.4354 3.31641 74.2674L1.19531 74.4051L0.0234375 73.2157V71.8094C1.00781 69.7586 2.01855 67.7079 2.97363 65.6307C4.42969 62.4344 5.85937 59.2118 7.32422 55.9891C11.25 47.4168 15.1797 38.8465 19.1133 30.2782C19.1483 30.1669 19.17 30.0518 19.1777 29.9354C19.5762 29.1444 20.0098 28.368 20.3496 27.5536C20.5057 27.0719 20.6156 26.5765 20.6777 26.0741C20.9516 25.8179 21.1971 25.5331 21.4102 25.2244C21.8818 24.3602 22.5352 23.6776 23.5371 23.6864C24.5391 23.6952 25.1191 24.3573 25.4941 25.242C25.6375 25.5073 25.8084 25.7567 26.0039 25.9862L27.6064 29.7332Z" fill="#EFE3D5"/>
				<path d="M27.6064 29.7334L26.0068 25.9893C30.1465 24.1758 34.4883 23.5664 38.9824 23.6455C44.1211 23.7246 49.2627 23.666 54.4043 23.666H55.8486V19.6611H63.917V23.6455H65.2471C70.4678 23.6455 75.6885 23.7012 80.9062 23.625C85.3623 23.5605 89.666 24.1729 93.7676 25.9687L92.1592 29.7187C88.9043 28.2539 85.4912 27.668 81.9287 27.7148C76.3945 27.7676 70.8574 27.7148 65.3232 27.7148H63.9111V101.145C63.9111 101.651 63.8848 102.158 63.8701 102.662H55.8955C55.8809 102.158 55.8574 101.651 55.8574 101.145C55.8574 77.209 55.8574 53.2734 55.8574 29.3379V27.873C55.6251 27.811 55.3879 27.7689 55.1484 27.7471C48.9102 27.7471 42.6728 27.7471 36.4365 27.7471C33.3867 27.7849 30.3787 28.4615 27.6064 29.7334Z" fill="#915731"/>
				<path d="M55.8955 102.662H63.8672L71.8154 110.631C71.4227 110.744 71.0208 110.823 70.6142 110.865C69.1494 110.895 67.6846 110.865 66.2197 110.865C69.8291 112.307 71.7334 114.967 72.0527 118.775C65.9336 118.787 59.8144 118.799 53.6953 118.811H31.6142C31.5967 116.276 32.5781 114.308 34.3623 112.705C36.0469 111.193 38.1035 110.704 40.3008 110.675C42.9111 110.643 45.5215 110.637 48.1318 110.616C48.4901 110.732 48.8592 110.81 49.2334 110.851C54.1025 110.866 58.9717 110.866 63.8408 110.851C64.0608 110.839 64.28 110.815 64.4971 110.777V110.61H48.1435C48.1846 110.47 48.1846 110.288 48.2754 110.197C50.8105 107.688 53.3506 105.176 55.8955 102.662Z" fill="#F8B34D"/>
				<path d="M92.1592 29.7363L93.7676 25.9863C94.0497 25.4811 94.3598 24.9921 94.6963 24.5214C95.666 23.2968 97.2393 23.4931 98.1856 24.9082C98.458 25.3183 98.7891 25.6904 99.0938 26.08C99.0615 26.2939 98.9385 26.5517 99.0117 26.7128C99.5127 27.7939 100.052 28.8544 100.579 29.9208C101.789 32.6513 102.973 35.3935 104.215 38.124C108.035 46.497 111.868 54.8652 115.714 63.2285C116.974 65.9824 118.248 68.7334 119.487 71.4961C120.032 72.7177 119.725 73.4941 118.526 74.1826H116.502C116.191 73.6435 115.84 73.125 115.576 72.5654C114.53 70.3505 113.508 68.1211 112.48 65.8974C110.657 61.9404 108.836 57.9824 107.016 54.0234C103.799 46.9921 100.581 39.955 97.3623 32.9121C97.1104 32.3642 96.6387 31.9189 96.1377 31.248C95.6455 32.1914 95.2588 32.8623 94.9395 33.5625C92.3887 39.0976 89.8438 44.6416 87.3047 50.1943C85.8955 53.2705 84.5069 56.3466 83.0713 59.4199C80.749 64.3769 78.4111 69.3252 76.0576 74.2646L74.0918 74.3789C72.8262 73.2275 72.6504 72.6445 73.3389 71.1123C75.2608 66.8232 77.2207 62.5488 79.1748 58.2714C82.8369 50.2461 86.499 42.2216 90.1612 34.1982C90.8379 32.7158 91.4942 31.2246 92.1592 29.7363Z" fill="#EFE3D5"/>
				<path d="M74.0859 74.3789L76.0518 74.2646C76.5557 74.2852 77.0625 74.3232 77.5664 74.3232C87.1816 74.3232 96.7969 74.3291 106.412 74.3408C106.266 75.4043 106.257 76.5117 105.943 77.5254C104.604 81.876 101.704 84.709 97.3447 86.0449C97.0889 86.157 96.847 86.2986 96.624 86.4668C92.543 86.4111 88.4385 86.625 84.3896 86.2324C78.999 85.7051 74.0508 80.6484 74.0859 74.3789Z" fill="#F8B44E"/>
				<path d="M1.17188 74.4053L3.29297 74.2676C3.79687 74.2852 4.30078 74.3203 4.80469 74.3232L33.4307 74.3613C33.1904 75.7939 33.1846 77.3203 32.6631 78.6445C31.1279 82.5586 28.2334 85.0547 24.123 86.0889C23.9385 86.1357 23.792 86.3379 23.6309 86.4668C19.3242 86.3525 14.9561 86.6631 10.7402 86.0215C5.13867 85.1748 1.29785 80.0801 1.17188 74.4053Z" fill="#F8B44E"/>
				<path d="M63.917 19.6611H49.8545V15.6562H55.3184C54.8145 13.6055 54.3662 11.7773 53.9033 9.94629C53.5225 8.44922 53.3818 6.95801 53.9941 5.48438C54.3472 4.55479 54.9185 3.72363 55.6598 3.06084C56.4011 2.39806 57.2907 1.92304 58.2539 1.67578C58.4745 1.81403 58.6849 1.96774 58.8838 2.13574C59.7803 3.01465 60.8144 3.78516 61.5205 4.79004C62.7568 6.54785 62.4404 8.50781 61.9043 10.4531C61.4385 12.1406 61.0488 13.8486 60.5977 15.668H69.8906V19.6611H63.917Z" fill="#F8B34D"/>
				<path d="M23.6426 86.458C23.8037 86.3291 23.9502 86.127 24.1348 86.0801C28.2363 85.0459 31.1396 82.5498 32.6748 78.6357C33.1963 77.3115 33.2021 75.7852 33.4424 74.3525C33.8541 74.2781 34.2699 74.2282 34.6875 74.2031C37.6172 74.1797 40.5762 74.1738 43.5205 74.1621L45.6855 74.1973C45.7295 78.7471 43.6523 82.1367 39.9492 84.6035C37.8457 86.001 35.4668 86.502 32.9736 86.499C29.8623 86.5049 26.751 86.4814 23.6426 86.458Z" fill="#F99931"/>
				<path d="M96.624 86.458C96.847 86.2898 97.0889 86.1483 97.3447 86.0361C101.704 84.7002 104.604 81.8672 105.943 77.5166C106.257 76.5029 106.266 75.3955 106.412 74.332C106.828 74.2851 107.244 74.2061 107.663 74.2002C110.607 74.1768 113.555 74.168 116.502 74.1562H118.526C118.664 78.7412 116.52 82.1103 112.834 84.5859C110.669 86.0508 108.199 86.5137 105.618 86.4932C102.618 86.4902 99.6094 86.4814 96.624 86.458Z" fill="#F99931"/>
				<path d="M72.0703 118.79C71.751 114.967 69.8467 112.318 66.2373 110.88C67.7021 110.88 69.167 110.897 70.6318 110.88C71.0384 110.837 71.4403 110.759 71.833 110.646C74.4844 110.646 77.1328 110.646 79.7842 110.681C83.9531 110.733 87.0586 113.139 88.043 117.076C88.1467 117.648 88.2161 118.225 88.251 118.805L72.0703 118.79Z" fill="#F9982F"/>
				<path d="M64.6113 15.6593H60.6064C61.0576 13.8399 61.4473 12.1436 61.9131 10.4444C62.4492 8.49911 62.7656 6.53329 61.5293 4.78134C60.8174 3.77645 59.7715 2.99715 58.8926 2.12704C58.6937 1.95903 58.4833 1.80533 58.2627 1.66708C62.7188 0.331141 67.0518 4.37411 66.0967 9.00887C65.6953 10.9366 65.1592 12.835 64.7022 14.754C64.6496 15.0531 64.6192 15.3557 64.6113 15.6593Z" fill="#F99931"/>
				<path d="M100.579 29.915C100.052 28.8486 99.5127 27.7881 99.0117 26.707C98.9385 26.5459 99.0615 26.2881 99.0938 26.0742L103.523 23.9004C104.127 25.1016 104.695 26.2441 105.322 27.4863L100.579 29.915Z" fill="#945A35"/>
				<path d="M20.6807 26.0771C20.6185 26.5796 20.5087 27.075 20.3525 27.5566C20.0127 28.3711 19.5791 29.1475 19.1807 29.9385L14.4639 27.4922L16.2539 23.9121L20.6807 26.0771Z" fill="#925932"/>
				<path d="M48.1436 110.631H64.4853V110.798C64.2683 110.835 64.0491 110.86 63.8291 110.871C58.96 110.871 54.0908 110.871 49.2217 110.871C48.8475 110.831 48.4784 110.752 48.1201 110.637L48.1436 110.631Z" fill="#F9C77C"/>
			</svg>

		.vs__title.h2 Free vs. Private Proxy List
		.vs__text.t2
			p Reading about the benefits that proxies offer, keep in mind that they don’t apply to free proxies. While it’s tempting to use them to save some money, their downsides are significant – and we should help you make an educated decision between free and paid options.
			p The main disadvantage of free proxies is poor performance: the network is unable to vet its clients and filter their activity, resulting in thousands of users overloading the network. While most of these users utilize the proxy with good intentions, some of them use it to send spam or perform DDoS attacks. Because of this, anti-bot systems (e.g. Cloudflare) find it easier to simply ban all IP addresses related to free proxy networks.
			p More importantly, some of the free proxies pose significant security risks: To monetize their product, free proxy providers may collect their users’ data without their consent – and even inject malicious code to steal their users’ sensitive information like passwords and credit card details.
			p Infatica is an ethical proxy provider, which means that using our proxies is safe. Infatica sources its IP addresses thanks to consenting residents from various countries all across the globe, guaranteeing our proxies’ quality.

		.vs__list.row
			.vs__item
				.vs__item-title.h3.--green Private Proxies
				.vs__item-els
					.vs__item-el
						<svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M17.3335 6.77548L21.2255 15.8569C21.2966 16.0229 21.3333 16.2016 21.3333 16.3822V27.0521C21.3333 28.5234 20.141 29.7155 18.6699 29.7155H10.6632C8.66015 29.7155 6.51367 28.2989 5.72351 26.4552L2.77446 19.5741C2.70333 19.4081 2.66666 19.2294 2.66666 19.0488V16.3822C2.66666 14.1659 4.45281 12.3822 6.66318 12.3822H12V7.0463C12 4.83043 13.7891 3.04883 16.0014 3.04883C16.738 3.04883 17.3351 3.64621 17.3347 4.38286L17.3335 6.77548Z" fill="#34CCA9" stroke="black"/>
							<rect x="24" y="15.0488" width="5.33333" height="14.6667" rx="1" fill="#34CCA9" stroke="black"/>
						</svg>
						span Fast
					.vs__item-el
						<svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M17.3335 6.77548L21.2255 15.8569C21.2966 16.0229 21.3333 16.2016 21.3333 16.3822V27.0521C21.3333 28.5234 20.141 29.7155 18.6699 29.7155H10.6632C8.66015 29.7155 6.51367 28.2989 5.72351 26.4552L2.77446 19.5741C2.70333 19.4081 2.66666 19.2294 2.66666 19.0488V16.3822C2.66666 14.1659 4.45281 12.3822 6.66318 12.3822H12V7.0463C12 4.83043 13.7891 3.04883 16.0014 3.04883C16.738 3.04883 17.3351 3.64621 17.3347 4.38286L17.3335 6.77548Z" fill="#34CCA9" stroke="black"/>
							<rect x="24" y="15.0488" width="5.33333" height="14.6667" rx="1" fill="#34CCA9" stroke="black"/>
						</svg>
						span Ethical
					.vs__item-el
						<svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M17.3335 6.77548L21.2255 15.8569C21.2966 16.0229 21.3333 16.2016 21.3333 16.3822V27.0521C21.3333 28.5234 20.141 29.7155 18.6699 29.7155H10.6632C8.66015 29.7155 6.51367 28.2989 5.72351 26.4552L2.77446 19.5741C2.70333 19.4081 2.66666 19.2294 2.66666 19.0488V16.3822C2.66666 14.1659 4.45281 12.3822 6.66318 12.3822H12V7.0463C12 4.83043 13.7891 3.04883 16.0014 3.04883C16.738 3.04883 17.3351 3.64621 17.3347 4.38286L17.3335 6.77548Z" fill="#34CCA9" stroke="black"/>
							<rect x="24" y="15.0488" width="5.33333" height="14.6667" rx="1" fill="#34CCA9" stroke="black"/>
						</svg>
						span Guaranteed quality

			.vs__item
				.vs__item-title.h3.--red Free Proxies
				.vs__item-els
					.vs__item-el
						<svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M14.6665 25.9892L10.7745 16.9077C10.7033 16.7417 10.6666 16.5631 10.6666 16.3825V5.71255C10.6666 4.24127 11.859 3.04915 13.33 3.04915H21.3368C23.3398 3.04915 25.4863 4.46578 26.2765 6.30948L29.2255 13.1906C29.2966 13.3566 29.3333 13.5353 29.3333 13.7158V16.3825C29.3333 18.5988 27.5472 20.3825 25.3368 20.3825H20V25.7184C20 27.9342 18.2109 29.7158 15.9986 29.7158C15.2619 29.7158 14.6649 29.1184 14.6653 28.3818L14.6665 25.9892Z" fill="#CF2F2F" stroke="black"/>
							<rect x="8" y="17.7158" width="5.33333" height="14.6667" rx="1" transform="rotate(-180 8 17.7158)" fill="#CF2F2F" stroke="black"/>
						</svg>
						span Poor Performance
					.vs__item-el
						<svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M14.6665 25.9892L10.7745 16.9077C10.7033 16.7417 10.6666 16.5631 10.6666 16.3825V5.71255C10.6666 4.24127 11.859 3.04915 13.33 3.04915H21.3368C23.3398 3.04915 25.4863 4.46578 26.2765 6.30948L29.2255 13.1906C29.2966 13.3566 29.3333 13.5353 29.3333 13.7158V16.3825C29.3333 18.5988 27.5472 20.3825 25.3368 20.3825H20V25.7184C20 27.9342 18.2109 29.7158 15.9986 29.7158C15.2619 29.7158 14.6649 29.1184 14.6653 28.3818L14.6665 25.9892Z" fill="#CF2F2F" stroke="black"/>
							<rect x="8" y="17.7158" width="5.33333" height="14.6667" rx="1" transform="rotate(-180 8 17.7158)" fill="#CF2F2F" stroke="black"/>
						</svg>
						span Unsecure
					.vs__item-el
						<svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M14.6665 25.9892L10.7745 16.9077C10.7033 16.7417 10.6666 16.5631 10.6666 16.3825V5.71255C10.6666 4.24127 11.859 3.04915 13.33 3.04915H21.3368C23.3398 3.04915 25.4863 4.46578 26.2765 6.30948L29.2255 13.1906C29.2966 13.3566 29.3333 13.5353 29.3333 13.7158V16.3825C29.3333 18.5988 27.5472 20.3825 25.3368 20.3825H20V25.7184C20 27.9342 18.2109 29.7158 15.9986 29.7158C15.2619 29.7158 14.6649 29.1184 14.6653 28.3818L14.6665 25.9892Z" fill="#CF2F2F" stroke="black"/>
							<rect x="8" y="17.7158" width="5.33333" height="14.6667" rx="1" transform="rotate(-180 8 17.7158)" fill="#CF2F2F" stroke="black"/>
						</svg>
						span Support
		.vs__btn.btn.--lg.--green Free Trial