/* Top bar */
.top-bar + #wrapper {
    margin-top: 52px;
}

    .top-bar + #wrapper .navbar-fixed-top {
        top: 52px;
    }

.top-bar {
    position: fixed;
    top: 0;
    z-index: 99999;
}

.top-bar .btn-default {
    width: 34px;
    height: 34px;
    background: rgba(0, 0, 0, .15);
    padding-top: 8px;
}

    .top-bar .btn-default i {
        font-size: 18px;
    }

    .top-bar .close {
        opacity: 1;
    }
