/* Custom CSS */
.vertical-align {
    vertical-align: middle;
}

.font-size-28 {
    font-size: 28px;
}

.plan-switcher label {
    cursor: pointer;
    margin-right: -4px;
}

    .plan-switcher label span {
        position: relative;
        display: inline-block;
        padding: 25px 47px;
        font-weight: 700;
        font-size: 14px;
        color: #888888;
        border-radius: 3px;
        border: 1px solid #1AB394;
    }

        .plan-switcher label span .label {
            position: absolute;
            font-size: 10px;
            font-style: normal;
            top: 0;
            right: 0;
        }

        .plan-switcher label input[type="radio"] {
            display: none;
        }

        .plan-switcher label input[type="radio"]:checked + span {
            background: #1AB394;
            color: #fff;
        }

.price-switcher {
    position: relative;
    margin: 40px 0;
    padding: 0 5px;
    font-size: 16px;
    color: #888888;
    border-bottom: 2px solid #EEEEEE;
}

    .price-switcher .current-price {
        font-size: 44px;
        font-family: Inter;
    }

    .price-switcher b {
        font-size: 19px;
    }

    .price-switcher .uppertext {
        position: absolute;
        right: -15px;
    }

.ibox .price-switcher {
    font-size: 14px;
}

    .ibox .price-switcher .uppertext {
        right: auto;
    }

    .ibox .price-switcher .current-price {
        font-size: 36px;
    }

    .ibox .price-switcher b {
        font-size: 16px;
    }

.plan-switch {
    font-size: 15px;
    font-weight: 500;
    font-family: Inter;
    color: #888888;
}

/* Switch button style */
.switch-button input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  .switch-button label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 32px;
    background: #D8CFC6;
    display: inline-block;
    border-radius: 100px;
    position: relative;
  }
  
  .switch-button label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  }
  
  .switch-button input:checked + label {
    background: #FFB15C;
  }
  
  .switch-button input:checked + label:after {
    left: calc(100% + 1px);
    transform: translateX(-100%);
  }
  
  .switch-button label:active:after {
    width: 30px;
  }