.free-trial {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 16px;
  text-align: center;
  line-height: 1.6;
  font-size: 16px;
  color: var(--color-white);
  background-color: #120D34;
}

.free-trial:before,
.free-trial:after {
  content: "";
  height: 1px;
  width: 100%;
  background: #353152;
}

.free-trial:before {
  margin-bottom: 80px;
}

.free-trial:after {
  margin-top: 80px;
}

.free-trial__headline {
  line-height: 1.3;
  font-size: 40px;
  font-weight: 700;
}

.free-trial__button {
  justify-self: center;
  margin-top: 14px;
  padding: 20px;
  max-width: 240px;
  width: 100%;
  line-height: 1.2;
  border-radius: var(--border-rd-small);
}

@media (max-width: 1440px) {
  .free-trial__headline {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .free-trial {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 14px;
    grid-row-gap: 24px;
  }
  .free-trial:before {
    margin-bottom: 40px;
  }
  .free-trial:after {
    margin-top: 40px;
  }
  .free-trial__headline {
    font-size: 24px;
    font-weight: 600;
  }
  .free-trial__button {
    margin-top: 0;
  }
}
@media (max-width: 480px) {
  .free-trial p {
    justify-self: center;
    max-width: 290px;
  }
}