// Import your SCSS dependencies
@import '../variables'; // Import your variable definitions
@import '../_mixins'; // Import your mixins

.main-container {
    .main-content {
        .consumption-table {
            margin-top: 120px;
            max-width: 80%;

            .table-heading , .table-body {
                .table-cell {
                    &:first-child {
                        max-width: 20%;
                    }

                    &:last-child {
                        max-width: 10%;
                    }
                }
            }

            .table-heading {
                .table-cell {
                    &:first-child {
                        padding-left: 35px;

                        & + .table-cell {
                            margin-left: 25px;
                        }
                    }
                }
            }

        }
    }
}