// Import your SCSS dependencies
@import '../variables';
@import '../_mixins';


.main-container {

    #question {
        max-width: 50%;
        select {
            font-size: 12px;
        }

        @media screen and (max-width: $screen-sm-min) {
            max-width: 100%;
        }

    }

    textarea {
        height: 300px !important;
    }
}