// Import your SCSS dependencies
@import '../variables';
@import '../_mixins';


.main-container {

    #question {
        max-width: 50%;
        select {
            font-size: 12px;
        }
    }

    textarea {
        height: 300px !important;
    }
}