// Import your SCSS dependencies
@import '../variables'; // Import your variable definitions
@import '../_mixins'; // Import your mixins

.main-container {
    .main-content {

        // Up-Down Tab Wrapper
        .up-down-tab-wrapper {
            >div {
                flex-grow: 1;
                height: 50px;
                background-color: #f1f1f1;
                display: flex;

                &:first-child {
                    border-radius: 5px 0 0 0;
                }

                &:last-child {
                    border-radius: 0 5px 0 0;
                }

                &.selected {
                    border-bottom: 4px solid $blue-color;
                }
            }

            a {
                width: 100%;
                height: 100%;
                line-height: 50px;
            }
        }

        // Upload Content
        .upload-content {
            flex-wrap: wrap;
            padding-top: 110px;

            .card {

                img {
                    width: 100px;
                    height: 100px;
                }

            }
        }

        // Download Content
        .download-content {
            padding-top: 110px;
        }

    }
}

// UI-updates
.amount {
    margin-bottom: 40px;
    padding: 12px 20px;
    border-radius: 5px;
    background-color: $bg-grey;
    font-size: 20px;
    line-height: 27px;
    font-weight: 600;
    margin-left: 50%;
}