// Import your SCSS dependencies
@import '../variables';
@import '../_mixins';

// Define a variable for the login caption image width
$login-caption-image-width: 576px;

// Global styles for the login page
.login-background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.25;
}

.login-container {
    min-height: 100vh;
    z-index: 1;
}

form {
    input:not([type="checkbox"]) {
        // Styling for non-checkbox inputs
        height: 62px;
        padding: 32px 12px 12px 12px;
        border-radius: 8px;
        margin-bottom: 24px;
    }

    input[type="checkbox"] {
        // Styling for checkbox inputs
        margin-top: 12px;

        // Style the span immediately following the checkbox
        +span {
            margin-left: 12px;
        }
    }

    button {
      // Button styling
      min-width: 203px;
      padding: 18px 32px;
      display: inline-block;
    }
}

.login-page {
    display: flex;
    margin: 48px;

    // Common styles for login and registration panels
    .login-panel,
    .register-panel {
        max-width: $login-panel-width;
        width: $login-panel-width;
        padding: 16px 64px 32px 64px;
        background-color: white;
        @include panel-shadow(8.5px, 0.62);
        border-radius: 20px;

        @media screen and (max-width: 576px) {
            padding: 16px;
            width: inherit;
        }

        // Shared styles for form elements
        span {
            position: absolute;
            font-size: 12px;
            left: 10px;
            top: 10px;
        }

        div {
            position: relative;
        }

        a {
            font-size: 12px;
            color: $primary-color;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }

        .login-form-forgot {
            margin: -15px 0px 20px 12px;
            text-align: left;

            p {
                font-size: 12px;
                line-height: 16px;
                color: $grey-secondary-color;

                &:not(:last-child) {
                    margin-bottom: 8px;
                }

            }
        }

        .input-form-header {
            position: relative;
            width: 100%;
            min-width: 320px;

            a {
                position: absolute;
                left: 0;
                top: calc(50% - 15px);

                img {
                    width: 30px;
                    height: 30px;
                    opacity: 30%;
                }
            }

            >img {
                @media screen and (max-width: 420px) {
                    width: 50%;
                }
            }
        }
    }

    // Specific styles for the login panel
    .login-panel {
        .input-form {
            margin-top: 42px;
        }
    }

    // Specific styles for the registration panel
    .register-panel {
        .input-form {
            margin-top: 16px;
        }
    }

    // Styles for the login caption section
    .login-caption {
        max-width: 1000px;
        margin-left: 128px;
        margin-top: 0px;

        // Styles for the login caption image
        .login-caption-image {
            max-width: $login-caption-image-width;
            margin-top: 150px;
            padding: 25px 29px;
            background-color: white;
            border-radius: 10px;
            @include panel-shadow(8.5px, 0.38);

            .row:nth-child(2) {
                margin-top: 4px;
            }

            .item {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;

                // Styles for individual items within the caption
                &:nth-child(1),
                &:nth-child(3) {
                    border-radius: 6px;
                    @include panel-shadow(3.5px, 0.16);
                    border: 5px solid #004ea0;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                &:nth-child(2) {
                    flex-grow: 1;
                    min-width: 30px;
                }
            }
        }
    }

    // Reorder the first child for responsive layout
    >div:nth-child(1) {
        order: 1;
    }

    // Responsive layout adjustments
    @media screen and (max-width: 1400px) {
        display: block;

        .login-caption {
            margin-left: 0px;
            margin-bottom: 128px;
        }
    }

    @media screen and (max-width: 576px) {
        padding: 16px !important;
    }
}

.register-container {
    max-width: 1690px;
    width: 100%;
}

.register-caption {

    // Card
    .card {
        width: 275px;

        p:first-child {
            margin: 25px 0;
            & + p {
                font-size: 15px;
                font-weight: 600;
            }
        }

        ul {
            font-size: 12px;
            line-height: 15px;
            list-style-type: none;
            text-align: left;

            li {
                padding: 3px 0 3px 55px;
                &:nth-child(2n+1) {
                    background-color: $bg-grey;
                }
                i {
                    color: #00CB10;
                }
            }

        }

        // Trial Card
        &.trial {
            p:first-child {
                color: $grey-color;
            }
        }

        // Pro Card
        &.pro {
            p:first-child {
                color: $primary-color;
            }
        }

        // Enterprise Card
        &.enterprise {
            p:first-child {
                color: $yellow-color;
            }
        }

        > div {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            > div {
                display: flex;
                justify-content: center;
            }
        }

        // Button
        button {
            width: 203px;
            height: 62px;
        }
    }

}