// Import your SCSS dependencies
@import '../variables'; // Import your variable definitions
@import '../_mixins';   // Import your mixins

.main-container {
    .main-content {
        // Card Wrapper
        .card-wrapper {
            padding: 0 30px;
            flex-wrap: wrap;

            // Card
            .card {
                width: 275px;

                p:first-child {
                    margin: 25px 0;
                    & + p {
                        font-size: 15px;
                        font-weight: 600;
                    }
                }

                ul {
                    font-size: 12px;
                    line-height: 15px;
                    list-style-type: none;
                    text-align: left;

                    li {
                        padding: 3px 0 3px 55px;
                        &:nth-child(2n+1) {
                            background-color: $bg-grey;
                        }
                        i {
                            color: #00CB10;
                        }
                    }

                }

                // Trial Card
                &.trial {
                    p:first-child {
                        color: $grey-color;
                    }
                }

                // Pro Card
                &.pro {
                    p:first-child {
                        color: $primary-color;
                    }
                }

                // Enterprise Card
                &.enterprise {
                    p:first-child {
                        color: $yellow-color;
                    }
                }

                > div {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;

                    > div {
                        display: flex;
                        justify-content: center;
                    }
                }

                // Button
                button {
                    width: 203px;
                    height: 62px;
                }
            }
        }
    }
}