<section class="industrial">
<p class="industrial__description">Pay close attention! You don’t want to miss out this deal.</p>
<h2 class="industrial__headline">When Can Infatica Be Useful</h2>
<div class="industrial__box">
<div class="industrial__wrapper">
<img src="uploads/homepage/industrial/like-inside.svg" class="industrial__image" aria-hidden="true" alt="">
<p class="industrial__wrapper-description">Let’s see how our clients use Infatica</p>
<h3 class="industrial__wrapper-headline">How Industrial Clients Use Infatica</h3>
<p class="industrial__wrapper-sub-description">You can be or do almost anything with Infatica, including but not limited to these use cases:</p>
</div>
<button class="button button_green button_border4 button_vertical_pad_20 industrial__box-button industrial__button" data-modal="start-free-trial">Start Free Trial</button>
<ul class="industrial__list">
<li class="industrial__item">
<a href="/proxy-for-price-aggregators/" class="industrial__link">
<svg width="16" height="16" aria-hidden="true">
<use xlink:href="uploads/sprite.svg#industrial-marker"></use>
</svg>
<span rel="tooltip" title="Maintaining current and highly local pricing databases for key industries: travel, hospitality, commodities">Price Aggregators</span>
</a>
</li>
<li class="industrial__item">
<a href="/proxies-for-cyber-security/" class="industrial__link">
<svg width="16" height="16" aria-hidden="true">
<use xlink:href="uploads/sprite.svg#industrial-marker"></use>
</svg>
<span rel="tooltip" title="Penetration testing, load simulation">Cybersecurity</span>
</a>
</li>
<li class="industrial__item">
<a href="/proxy-for-brand-protection/" class="industrial__link">
<svg width="16" height="16" aria-hidden="true">
<use xlink:href="uploads/sprite.svg#industrial-marker"></use>
</svg>
<span rel="tooltip" title="Identify impostor websites. Combat counterfeit retailers. Shutter unauthorized distributors.">Brand Protection</span>
</a>
</li>
<li class="industrial__item">
<a href="/" class="industrial__link">
<svg width="16" height="16" aria-hidden="true">
<use xlink:href="uploads/sprite.svg#industrial-marker"></use>
</svg>
<span rel="tooltip" title="Load simulation, network troubleshooting">IT Departments</span>
</a>
</li>
<li class="industrial__item">
<a href="/proxies-for-uptime-and-performance-services/" class="industrial__link">
<svg width="16" height="16" aria-hidden="true">
<use xlink:href="uploads/sprite.svg#industrial-marker"></use>
</svg>
<span rel="tooltip" title="Checking site metrics and availability from around the globe">Uptime and Performance Tracking</span>
</a>
</li>
<li class="industrial__item">
<a href="" class="industrial__link">
<svg width="16" height="16" aria-hidden="true">
<use xlink:href="uploads/sprite.svg#industrial-marker"></use>
</svg>
<span rel="tooltip" title="Any web data acquisition project">Data as a Service (DaaS)</span>
</a>
</li>
<li class="industrial__item">
<a href="/proxies-for-seo/" class="industrial__link">
<svg width="16" height="16" aria-hidden="true">
<use xlink:href="uploads/sprite.svg#industrial-marker"></use>
</svg>
<span rel="tooltip" title="Global Crawls, Local Search Results, Backlinks Mapping">SEO Data Providers</span>
</a>
</li>
<li class="industrial__item">
<a href="/proxies-for-academic-research/" class="industrial__link">
<svg width="16" height="16" aria-hidden="true">
<use xlink:href="uploads/sprite.svg#industrial-marker"></use>
</svg>
<span rel="tooltip" title="Meta-studies, sentiment studies, social-scientific research">Academic</span>
</a>
</li>
<li class="industrial__item">
<a href="/" class="industrial__link">
<svg width="16" height="16" aria-hidden="true">
<use xlink:href="uploads/sprite.svg#industrial-marker"></use>
</svg>
<span rel="tooltip" title="Election security testing, economic research">Government</span>
</a>
</li>
<li class="industrial__item">
<a href="/proxies-for-marketing/" class="industrial__link">
<svg width="16" height="16" aria-hidden="true">
<use xlink:href="uploads/sprite.svg#industrial-marker"></use>
</svg>
<span rel="tooltip" title="Content Validation, Ad Validation, Consumer Sentiment Data Capture and Analysis, Competitive Intelligence, Lead Generation">Marketers</span>
</a>
</li>
</ul>
<img src="uploads/homepage/industrial/shape-group.webp" alt="" class="industrial__box-decor">
<img src="uploads/homepage/industrial/shape-group-mobile.webp" alt="" class="industrial__box-decor-mobile industrial__box-decor">
</div>
<button class="button button_green industrial__button" data-modal="start-free-trial">Start Free Trial</button>
<img src="uploads/homepage/industrial/like-blue.webp" alt="" class="industrial__like-blue">
<img src="uploads/homepage/industrial/like-green.webp" alt="" class="industrial__like-green">
<img src="uploads/homepage/industrial/illustration.webp" alt="" class="industrial__illustration">
</section>