include ../../pug/vars

<footer class="footer case">
  <div class="footer__group">
    <section class="footer__column">
      <h2 class="footer__headline">PRODUCTS</h2>
      <ul class="footer__list">
        <li>
          <a href="/residential-proxies/" class="footer__link">Residential Proxies</a>
        </li>
        <li>
          <a href="/mobile-proxies/" class="footer__link">Mobile proxies</a>
        </li>
        <li>
          <a href="/datacenter-proxies/" class="footer__link">Data center proxies</a>
        </li>
        <li>
          <a href="/scraper-api/" class="footer__link">Web Scraper API</a>
        </li>
      </ul>
    </section>
    <section class="footer__column">
      <h2 class="footer__headline">COMPANY</h2>
      <ul class="footer__list">
        <li>
          <a href="/about/" class="footer__link">About Us</a>
        </li>
        <li>
          <a href="/ethical-code/" class="footer__link">Ethical Code</a>
        </li>
        <li>
          <a href="/faq/" class="footer__link">FAQ</a>
        </li>
        <li>
          <a href="/blog/" class="footer__link">BLOG</a>
        </li>
        <li>
          <a href="/careers/" class="footer__link">Careers</a>
        </li>
      </ul>
    </section>
  </div>

  <section class="footer__column">
    <h2 class="footer__headline">CLIENT PROFILES</h2>
    <ul class="footer__list">
      <li>
        <a href="/proxy-for-price-aggregators/" class="footer__link">Price Aggregators</a>
      </li>
      <li>
        <a href="/proxies-for-seo/" class="footer__link">SEO Data Providers</a>
      </li>
      <li>
        <a href="/proxy-for-brand-protection/" class="footer__link">Brand Protection</a>
      </li>
      <li>
        <a href="/proxies-for-marketing/" class="footer__link">Marketers</a>
      </li>
      <li>
        <a href="/proxies-for-academic-research/" class="footer__link">Academic research</a>
      </li>
      <li>
        <a href="/proxies-for-uptime-and-performance-services/" class="footer__link">Uptime and performance services</a>
      </li>
      <li>
        <a href="/proxies-for-corporate-protection/" class="footer__link">Protecting corporate data</a>
      </li>
      <li>
        <a href="/proxies-for-cyber-security/" class="footer__link">Cybersecurity Firms</a>
      </li>
    </ul>
  </section>

  <div class="footer__group">
    <section class="footer__column">
      <h2 class="footer__headline">PROGRAMS</h2>
      <ul class="footer__list">
        <li>
          <a href="/contribute/" class="footer__link">Write for us</a>
        </li>
        <li>
          <a href="/affiliate/" class="footer__link">Referral Program</a>
        </li>
        <li>
          <a href="/sdk-monetization/" class="footer__link">Infatica SDK</a>
        </li>
      </ul>
    </section>
    <section class="footer__column">
      <h2 class="footer__headline">legacy info</h2>
      <ul class="footer__list">
        <li>
          <a href="/Infatica/terms/" class="footer__link">Terms and Conditions</a>
        </li>
        <li>
          <a href="/Infatica/privacy/" class="footer__link">Privacy</a>
        </li>
        <li>
          <a href="/refunds/" class="footer__link">Refunds</a>
        </li>
      </ul>
    </section>
  </div>

  <div class="footer__column footer__column-logo">
    <a href="/">
      <img src="uploads/logo-white.svg" alt="" class="footer__logo">
    </a>

    <button type="button" class="button footer__button" data-modal="contact-sales">Contact Sales</button>
    <p class="footer__description">Free trial — Cancel any time — No card requied</p>

    <ul class="footer__social">
      <li>
        <a href="https://www.facebook.com/infatica/" class="footer__social-link" target="_blank" rel="noopener nofollow">
          <svg aria-hidden="true" class="footer__social-icon">
            <use xlink:href="uploads/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/infatica" class="footer__social-link" target="_blank" rel="noopener nofollow">
          <svg aria-hidden="true" class="footer__social-icon">
            <use xlink:href="uploads/sprite.svg#twitter"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/company/infatica/" class="footer__social-link" target="_blank" rel="noopener nofollow">
          <svg aria-hidden="true" class="footer__social-icon">
            <use xlink:href="uploads/sprite.svg#linkedin"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/channel/UCvUtwFWi77GFU7SUNN74sSA" class="footer__social-link" target="_blank" rel="noopener nofollow">
          <svg aria-hidden="true" class="footer__social-icon">
            <use xlink:href="uploads/sprite.svg#youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>

  <div class="footer__information">
    <div class="footer__information-group">
      <svg aria-hidden="true" class="footer__icon">
        <use xlink:href="uploads/sprite.svg#chat-messages-2"></use>
      </svg>
      <p class="footer__information-label">Want To Say Hi?</p>
      <p>Mail us at: <a href="mailto:sales@infatica.io">sales@infatica.io</a> or call:: <a href="tel:+12403823360">+1 240 382 3360</a></p>
    </div>

    <a href="https://reviews.financesonline.com/p/infatica/" rel="noreferrer noopener" target="_blank">
      <img class="footer__image" src="uploads/footer/verified-quality.webp" alt="">
    </a>
  </div>

  <div class="footer__copyright">
    <p>© 2022 All Rights Reserved. Infatica Pte. Ltd.</p>
    <p>Eu Tong Sen Street, #09-09, The Central, Soho 1, Singapore, 059817</p>
  </div>
</footer>


include ../start-trial/start-trial
+style('start-trial', 'blocks')

include ../contact-sales/contact-sales
+style('contact-sales', 'blocks')