<footer class="footer case">
<div class="footer__group">
<section class="footer__column">
<h2 class="footer__headline">PRODUCTS</h2>
<ul class="footer__list">
<li>
<a href="/residential-proxies/" class="footer__link">Residential Proxies</a>
</li>
<li>
<a href="/mobile-proxies/" class="footer__link">Mobile proxies</a>
</li>
<li>
<a href="/datacenter-proxies/" class="footer__link">Data center proxies</a>
</li>
<li>
<a href="/scraper-api/" class="footer__link">Web Scraper API</a>
</li>
</ul>
</section>
<section class="footer__column">
<h2 class="footer__headline">COMPANY</h2>
<ul class="footer__list">
<li>
<a href="/about/" class="footer__link">About Us</a>
</li>
<li>
<a href="/ethical-code/" class="footer__link">Ethical Code</a>
</li>
<li>
<a href="/faq/" class="footer__link">FAQ</a>
</li>
<li>
<a href="/blog/" class="footer__link">BLOG</a>
</li>
<li>
<a href="/careers/" class="footer__link">Careers</a>
</li>
</ul>
</section>
</div>
<section class="footer__column">
<h2 class="footer__headline">CLIENT PROFILES</h2>
<ul class="footer__list">
<li>
<a href="/proxy-for-price-aggregators/" class="footer__link">Price Aggregators</a>
</li>
<li>
<a href="/proxies-for-seo/" class="footer__link">SEO Data Providers</a>
</li>
<li>
<a href="/proxy-for-brand-protection/" class="footer__link">Brand Protection</a>
</li>
<li>
<a href="/proxies-for-marketing/" class="footer__link">Marketers</a>
</li>
<li>
<a href="/proxies-for-academic-research/" class="footer__link">Academic research</a>
</li>
<li>
<a href="/proxies-for-uptime-and-performance-services/" class="footer__link">Uptime and performance services</a>
</li>
<li>
<a href="/proxies-for-corporate-protection/" class="footer__link">Protecting corporate data</a>
</li>
<li>
<a href="/proxies-for-cyber-security/" class="footer__link">Cybersecurity Firms</a>
</li>
</ul>
</section>
<div class="footer__group">
<section class="footer__column">
<h2 class="footer__headline">PROGRAMS</h2>
<ul class="footer__list">
<li>
<a href="/contribute/" class="footer__link">Write for us</a>
</li>
<li>
<a href="/affiliate/" class="footer__link">Referral Program</a>
</li>
<li>
<a href="/sdk-monetization/" class="footer__link">Infatica SDK</a>
</li>
</ul>
</section>
<section class="footer__column">
<h2 class="footer__headline">legacy info</h2>
<ul class="footer__list">
<li>
<a href="/Infatica/terms/" class="footer__link">Terms and Conditions</a>
</li>
<li>
<a href="/Infatica/privacy/" class="footer__link">Privacy</a>
</li>
<li>
<a href="/refunds/" class="footer__link">Refunds</a>
</li>
</ul>
</section>
</div>
<div class="footer__column footer__column-logo">
<a href="/">
<img src="uploads/logo-white.svg" alt="" class="footer__logo">
</a>
<button type="button" class="button footer__button" data-modal="contact-sales">Contact Sales</button>
<p class="footer__description">Free trial — Cancel any time — No card requied</p>
<ul class="footer__social">
<li>
<a href="https://www.facebook.com/infatica/" class="footer__social-link" target="_blank" rel="noopener nofollow">
<svg aria-hidden="true" class="footer__social-icon">
<use xlink:href="uploads/sprite.svg#facebook"></use>
</svg>
</a>
</li>
<li>
<a href="https://twitter.com/infatica" class="footer__social-link" target="_blank" rel="noopener nofollow">
<svg aria-hidden="true" class="footer__social-icon">
<use xlink:href="uploads/sprite.svg#twitter"></use>
</svg>
</a>
</li>
<li>
<a href="https://www.linkedin.com/company/infatica/" class="footer__social-link" target="_blank" rel="noopener nofollow">
<svg aria-hidden="true" class="footer__social-icon">
<use xlink:href="uploads/sprite.svg#linkedin"></use>
</svg>
</a>
</li>
<li>
<a href="https://www.youtube.com/channel/UCvUtwFWi77GFU7SUNN74sSA" class="footer__social-link" target="_blank" rel="noopener nofollow">
<svg aria-hidden="true" class="footer__social-icon">
<use xlink:href="uploads/sprite.svg#youtube"></use>
</svg>
</a>
</li>
</ul>
</div>
<div class="footer__information">
<div class="footer__information-group">
<svg aria-hidden="true" class="footer__icon">
<use xlink:href="uploads/sprite.svg#chat-messages-2"></use>
</svg>
<p class="footer__information-label">Want To Say Hi?</p>
<p>Mail us at: <a href="mailto:sales@infatica.io">sales@infatica.io</a> or call:: <a href="tel:+12403823360">+1 240 382 3360</a></p>
</div>
<a href="https://reviews.financesonline.com/p/infatica/" rel="noreferrer noopener" target="_blank">
<img class="footer__image" src="uploads/footer/verified-quality.webp" alt="">
</a>
</div>
<div class="footer__copyright">
<p>© 2022 All Rights Reserved. Infatica Pte. Ltd.</p>
<p>Eu Tong Sen Street, #09-09, The Central, Soho 1, Singapore, 059817</p>
</div>
</footer><div id="start-free-trial" class="start-trial modal fade-out">
<button class="modal__close" data-modal-close="">
<svg aria-hidden="true" class="start-trial_icon rotate-45">
<use xlink:href="uploads/sprite.svg#plus"></use>
</svg>
</button>
<h2 class="start-trial__headline">Start Free Trial</h2>
<p class="start-trial__description">Please fill out the form below and we will get back to you as soon as possible.</p>
<form class="start-trial__form">
<label class="start-trial__label">
<span>What is your name? *</span>
<input id="contactName" name="trial-name" class="modal__input" type="text" placeholder="John Iverson">
</label>
<label class="start-trial__label">
<span>What is your e-mail address? *</span>
<input id="contactEmail" name="trial-email" class="modal__input" type="email" placeholder="john.email@gmail.com">
</label>
<label class="start-trial__label">
<span>What is your company's name?</span>
<input id="contactCompany" name="trial-company" class="modal__input" type="text" placeholder="Alphabet Inc.">
</label>
<label class="start-trial__label">
<span>What is your company's website?</span>
<input id="contactSite" name="trial-site" class="modal__input" type="text" placeholder="www.alphabet.com">
</label>
<label class="start-trial__label">
<span>Your monthly budget for the proxies package</span>
<div class="start-trial__money">
<span class="start-trial__money-label">$</span>
<input id="money" name="trial-budget" class="modal__input start-trial__input-money" type="text" placeholder="0.00">
</div>
</label>
<label class="start-trial__label">
<span>If you have a promo-code, please enter it</span>
<input id="contactPromo" name="trial-promo" class="modal__input" type="text" placeholder="Promocode">
</label>
<button class="start-trial__button">Send Request</button>
</form>
</div><link rel="stylesheet" href="template/blocks/start-trial/start-trial.css?ver=1661140639491"/><div id="contact-sales" class="contact-sales modal fade-out">
<button class="modal__close" data-modal-close="">
<svg aria-hidden="true" class="start-trial_icon rotate-45">
<use xlink:href="uploads/sprite.svg#plus"></use>
</svg>
</button>
<h2 class="contact-sales__headline">How do you plan to use proxies?</h2>
<p class="contact-sales__description">Please, describe your case. So Infatice will find the most suitable solution.</p>
<form class="contact-sales__form">
<label class="contact-sales__label contact-sales__label_uppercase">
<span>Your name</span>
<input type="text" class="modal__input" placeholder="John Iverson">
</label>
<label class="contact-sales__label contact-sales__label_uppercase">
<span>Your email</span>
<input type="email" class="modal__input" placeholder="John@Iverson.com">
</label>
<label class="contact-sales__label contact-sales__label_uppercase">
<span>Your company (optional)</span>
<input type="text" class="modal__input" placeholder="John Iverson Co.">
</label>
<label class="contact-sales__label">
<span>Please describe how you plant to use proxies. Tell us more about your project.</span>
<textarea class="contact-sales__textarea" placeholder="I am planning to use proxies to..."></textarea>
</label>
<label class="contact-sales__label">
<span>What is you budget?</span>
<span class="contact-sales__money">
<span class="contact-sales__money-label">USD</span>
<input type="text" class="modal__input contact-sales__money-input">
</span>
</label>
<div class="contact-sales__action">
<button class="contact-sales__button button button_blue">Submit</button>
<p>This site is protected by reCAPTCHA and the Google <a href="">Privacy Policy</a> and <a href="">Terms of Service</a> apply.</p>
</div>
</form>
</div><link rel="stylesheet" href="template/blocks/contact-sales/contact-sales.css?ver=1661140639491"/>