.reviews {
  padding-top: 80px;
  padding-bottom: 80px;
  background: linear-gradient(180deg, #291A7A 0%, #3D2AA4 100%);
}

.reviews__headline {
  margin-bottom: 40px;
  line-height: 1.25;
  font-size: 40px;
  font-weight: 700;
  color: var(--color-white);
}

.reviews__text {
  color: #fff;
  max-width: 600px;
  margin-bottom: 40px;
}

.reviews__wrapper {
  display: grid;
  grid-template-columns: 1fr 480px;
  grid-column-gap: 130px;
}

.reviews__row {
  position: relative;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 16px;
}

.reviews__main {
  padding: 30px;
  background-color: var(--color-primary-blue);
  border-radius: var(--border-rd-medium);
}

.reviews__main-description {
  line-height: 1.4;
  font-size: 20px;
  font-weight: 500;
  color: var(--color-white);
  margin-bottom: 32px;
}

.reviews__main-footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.reviews__user {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 16px;
  grid-row-gap: 4px;
  justify-content: start;
  align-items: start;
  color: var(--color-white);
}

.reviews__user * {
  line-height: 1;
}

.reviews__user-image {
  grid-row: 1/3;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.reviews__user-name {
  align-self: end;
  font-size: 13px;
  font-weight: 600;
}

.reviews__user-country {
  font-size: 12px;
}

.reviews__trustpilot {
  max-width: 120px;
  width: 100%;
}

.reviews__more {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 6px;
  justify-content: start;
  justify-self: end;
  align-items: center;
  font-size: 15px;
  color: var(--color-white);
  text-decoration: underline;
}

.reviews__more-icon {
  width: 16px;
  height: 16px;
  fill: var(--color-white);
  transition: transform 0.2s;
}

.reviews__more:hover .reviews__more-icon {
  transform: translateX(5px);
}

.reviews__swiper-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.reviews__container {
  position: relative;
  width: 100%;
}

.reviews__list {
  width: 100%;
  grid-row-gap: 0 !important;
}

.reviews__card {
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  grid-row-gap: 12px;
  padding: 12px;
  height: auto;
  border-radius: var(--border-rd-small);
}

.reviews__card-header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.reviews__rating {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 2px;
  justify-content: start;
}

.reviews__rating-icon {
  width: 16px;
  height: 16px;
}

.reviews__card-date {
  line-height: 1;
  font-size: 10px;
  font-weight: 500;
  color: var(--color-gray05);
}

.reviews__card-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  line-height: 1;
  font-size: 12px;
  font-weight: 700;
  color: var(--color-dark);
  overflow: hidden;
}

.reviews__card-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  line-height: 1.2;
  font-size: 14px;
  font-weight: 400;
  color: var(--color-dark);
  overflow: hidden;
}

.reviews__card-author {
  align-self: end;
  line-height: 1.2;
  font-size: 10px;
  font-weight: 500;
  color: var(--color-gray05);
}

.reviews__button {
  top: calc(50% - 10px);
}

.reviews__button[aria-disabled=false]:hover {
  border-color: var(--color-gray50);
}

.reviews__button[aria-disabled=false]:hover svg {
  fill: var(--color-gray50);
}

.reviews__button-next {
  right: -50px;
}

.reviews__button-prev {
  left: -50px;
}

.reviews__group {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: start;
}

.reviews__rate {
  display: grid;
  grid-auto-flow: row;
  justify-self: end;
  font-size: 14px;
  color: var(--color-white);
}

.reviews__rate-image {
  max-width: 75px;
}

@media (max-width: 1440px) {
  .reviews {
    padding-top: 80px;
    padding-bottom: 112px;
    clip-path: polygon(0 40px, 100% 0, 100% 95%, 0 100%);
  }
  .reviews__headline {
    margin-bottom: 30px;
    font-size: 32px;
    text-align: center;
  }
  .reviews__text {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  .reviews .reviews__row:first-child {
    justify-self: center;
    max-width: 900px;
  }
  .reviews__wrapper {
    grid-template-columns: 1fr;
    grid-row-gap: 48px;
  }
  .reviews__row + .reviews__row {
    max-width: 900px;
    justify-self: center;
  }
}
@media (max-width: 1200px) {
  .reviews__text {
    max-width: 760px;
  }
  .reviews .reviews__row:first-child {
    max-width: 760px;
  }
  .reviews__row + .reviews__row {
    max-width: 760px;
  }
}
@media (max-width: 1024px) {
  .reviews {
    padding-bottom: 80px;
    clip-path: none;
  }
  .reviews__headline {
    margin-bottom: 20px;
  }
  .reviews__text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .reviews__row {
    grid-row-gap: 25px;
  }
  .reviews__main {
    padding: 35px 40px;
  }
  .reviews__main-description {
    line-height: 26px;
    margin-bottom: 38px;
  }
  .reviews__more {
    right: -7px;
    font-size: 16px;
    position: relative;
  }
  .reviews__button-prev {
    left: -78px;
  }
  .reviews__button-next {
    right: -78px;
  }
  .reviews__text {
    max-width: 560px;
  }
  .reviews .reviews__row:first-child {
    max-width: 560px;
  }
  .reviews__row + .reviews__row {
    max-width: 450px;
  }
}
@media (max-width: 767px) {
  .reviews__main-description {
    text-align: justify;
  }
}
@media (max-width: 640px) {
  .reviews {
    padding-top: 40px;
    padding-bottom: 40px;
    clip-path: unset;
  }
  .reviews__headline {
    font-size: 24px;
    font-weight: 600;
  }
  .reviews__main {
    padding: 40px 20px;
  }
  .reviews__text {
    max-width: 100%;
  }
  .reviews .reviews__row:first-child {
    max-width: 100%;
  }
  .reviews__main-description {
    margin-bottom: 28px;
    font-size: 18px;
  }
  .reviews__wrapper {
    grid-row-gap: 40px;
  }
  .reviews__more {
    justify-self: start;
  }
  .reviews__row + .reviews__row {
    max-width: 100%;
    grid-row-gap: 28px;
  }
  .reviews__button {
    top: unset;
    bottom: 55px;
    transform: unset;
  }
  .reviews__button-prev {
    left: unset;
    right: 40px;
  }
  .reviews__button-next {
    right: 0;
  }
  .reviews__group {
    grid-auto-flow: row;
    grid-row-gap: 24px;
  }
}
@media (max-width: 480px) {
  .reviews__main {
    padding: 24px 16px;
  }
  .reviews__main-footer {
    grid-auto-flow: row;
    grid-row-gap: 16px;
  }
}