<section class="reviews case">
<h2 class="reviews__headline">What Customers Say about us</h2><div class="reviews__text t2">Our residential proxy users come from different backgrounds and create both small- and large-scale projects, utilizing millions of real IPs. Whatever your project may be, we would be pleased to have you as our client.</div><div class="reviews__wrapper">
<div class="reviews__row">
<div class="reviews__main">
<p class="reviews__main-description">“I tried many providers of mobile proxies, I chose infatica as the favorite, because <u>the price is adequate, the reviews are good</u> and <u>they showed themselves well</u> during the test period, I recommend it for cooperation.”
</p>
<div class="reviews__main-footer">
<div class="reviews__user">
<img src="uploads/homepage/user-avatar.webp" alt="" class="reviews__user-image">
<span class="reviews__user-name">Nora Fay</span>
<span class="reviews__user-country">Canada</span>
</div>
<img class="reviews__trustpilot" src="uploads/homepage/services/trustpilot.svg" alt="">
</div>
</div>
<a href="/" class="reviews__more">
<span>Explore More Reviews</span>
<svg aria-hidden="true" class="reviews__more-icon">
<use xlink:href="uploads/sprite.svg#arrow-right"></use>
</svg>
</a>
</div>
<div class="reviews__row">
<div id="reviews-swiper" class="reviews__container swiper">
<div class="reviews__list swiper-wrapper">
<div class="reviews__card box swiper-slide">
<div class="reviews__card-header">
<div class="reviews__rating">
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
</div>
<span class="reviews__card-date">Mar 12, 2022</span>
</div>
<p class="reviews__card-title">We use proxies for marketing research</p>
<p class="reviews__card-description">We use proxies for marketing research. Infatica proxies solve our needs in full. Thank you</p>
<span class="reviews__card-author">Adele Osborne</span>
</div>
<div class="reviews__card box swiper-slide">
<div class="reviews__card-header">
<div class="reviews__rating">
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
</div>
<span class="reviews__card-date">Mar 12, 2022</span>
</div>
<p class="reviews__card-title">We use proxies for marketing research for marketing research</p>
<p class="reviews__card-description">We use proxies for marketing research. Infatica proxies solve our needs in full. Thank you Thank you Thank you Thank you</p>
<span class="reviews__card-author">Adele Osborne</span>
</div>
<div class="reviews__card box swiper-slide">
<div class="reviews__card-header">
<div class="reviews__rating">
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
</div>
<span class="reviews__card-date">Mar 12, 2022</span>
</div>
<p class="reviews__card-title">We use proxies for marketing research</p>
<p class="reviews__card-description">We use proxies for marketing research. Infatica proxies solve our needs in full. Thank you</p>
<span class="reviews__card-author">Adele Osborne</span>
</div>
<div class="reviews__card box swiper-slide">
<div class="reviews__card-header">
<div class="reviews__rating">
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
</div>
<span class="reviews__card-date">Mar 12, 2022</span>
</div>
<p class="reviews__card-title">We use proxies for marketing research for marketing research</p>
<p class="reviews__card-description">We use proxies for marketing research. Infatica proxies solve our needs in full. Thank you Thank you Thank you Thank you</p>
<span class="reviews__card-author">Adele Osborne</span>
</div>
<div class="reviews__card box swiper-slide">
<div class="reviews__card-header">
<div class="reviews__rating">
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
</div>
<span class="reviews__card-date">Mar 12, 2022</span>
</div>
<p class="reviews__card-title">We use proxies for marketing research</p>
<p class="reviews__card-description">We use proxies for marketing research. Infatica proxies solve our needs in full. Thank you</p>
<span class="reviews__card-author">Adele Osborne</span>
</div>
<div class="reviews__card box swiper-slide">
<div class="reviews__card-header">
<div class="reviews__rating">
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
</div>
<span class="reviews__card-date">Mar 12, 2022</span>
</div>
<p class="reviews__card-title">We use proxies for marketing research for marketing research</p>
<p class="reviews__card-description">We use proxies for marketing research. Infatica proxies solve our needs in full. Thank you Thank you Thank you
</p>
<span class="reviews__card-author">Adele Osborne</span>
</div>
<div class="reviews__card box swiper-slide">
<div class="reviews__card-header">
<div class="reviews__rating">
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
</div>
<span class="reviews__card-date">Mar 12, 2022</span>
</div>
<p class="reviews__card-title">We use proxies for marketing research</p>
<p class="reviews__card-description">We use proxies for marketing research. Infatica proxies solve our needs in full. Thank you</p>
<span class="reviews__card-author">Adele Osborne</span>
</div>
<div class="reviews__card box swiper-slide">
<div class="reviews__card-header">
<div class="reviews__rating">
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
<svg aria-hidden="true" class="reviews__rating-icon">
<use xlink:href="uploads/sprite.svg#star"></use>
</svg>
</div>
<span class="reviews__card-date">Mar 12, 2022</span>
</div>
<p class="reviews__card-title">We use proxies for marketing research for marketing research</p>
<p class="reviews__card-description">We use proxies for marketing research. Infatica proxies solve our needs in full. Thank you Thank you Thank you
</p>
<span class="reviews__card-author">Adele Osborne</span>
</div>
</div>
<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
<button class="reviews__button reviews__button-prev custom-swiper-button custom-swiper-button-prev swiper-button-prev">
<svg aria-hidden="true" class="custom-swiper-button-icon custom-swiper-button-icon-prev">
<use xlink:href="uploads/sprite.svg#arrow-right"></use>
</svg>
</button>
<button class="reviews__button reviews__button-next custom-swiper-button custom-swiper-button-next swiper-button-next">
<svg aria-hidden="true" class="custom-swiper-button-icon">
<use xlink:href="uploads/sprite.svg#arrow-right"></use>
</svg>
</button>
<div class="reviews__group">
<div class="reviews__pagination custom-swiper-pagination"></div>
<div class="reviews__rate">
<span>Rated <span class="text-fw600">5 / 5</span> based on <span class="text-underline">9 reviews</span>.</span>
<a href="https://www.trustpilot.com/review/infatica.io" target="_blank" rel="noreferrer noopener">
<img class="reviews__rate-image" src="uploads/homepage/services/trustpilot.svg" alt="Trustpilot rating 4.7">
</a>
</div>
</div>
</div>
</div>
</section>