include ../../pug/vars

.cases.case
	.cases__clouds
		.cases__cloud
			<svg width="95" height="35" viewBox="0 0 95 35" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M94.4338 34.5967C92.1489 28.9653 87.8203 25.9459 82.6951 25.3817C76.2388 24.6608 69.6777 28.3594 69.6777 28.3594C69.6777 28.3594 72.1093 19.0712 68.8182 11.7473C66.5648 6.75318 62.9908 2.06209 58.0123 0.829239C52.8661 -0.4454 47.4055 2.06209 43.5695 6.05317C39.7334 10.0443 37.2809 15.2577 35.0589 20.4921C33.927 16.7831 32.4072 12.6249 29.0533 11.2458C25.6994 9.86665 21.5384 12.2906 19.7252 15.801C17.912 19.3115 17.8072 23.6056 18.0483 27.6385C14.0131 25.225 8.86691 24.5041 4.83173 26.928C3.51022 27.7834 2.39278 28.917 1.55801 30.2491C0.723247 31.5812 0.19145 33.0795 0 34.6385L94.4338 34.5967Z" fill="#F6F7F8"/>
			</svg>

		.cases__cloud
			<svg width="52" height="19" viewBox="0 0 52 19" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0.445313 18.5002H38.2879C44.2278 18.5002 46.083 18.3137 51.9969 18.5002C52.0645 14.874 51.0407 11.4136 49.2946 9.57457C48.5404 8.79568 47.6006 8.21993 46.5628 7.90107C45.525 7.5822 44.4231 7.53061 43.3599 7.7511C40.8032 8.42972 39.0726 10.134 37.4097 11.3773C36.8225 6.37832 34.7438 1.79893 32.504 0.799132C28.6532 -0.92073 24.6257 1.80411 22.8225 4.45643C21.3699 6.67696 20.4783 9.21512 20.2241 11.8539C17.8024 9.18605 12.3978 7.15537 10.449 11.3825C9.66952 13.035 9.73188 14.9465 9.79943 16.77C8.20818 16.3591 6.54588 16.301 4.92969 16.6C3.31349 16.8989 1.78274 17.5476 0.445312 18.5002H0.445313Z" fill="#F6F7F8"/>
			</svg>

		.cases__cloud
			<svg width="224" height="49" viewBox="0 0 224 49" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0 48.312H164.422C190.23 48.312 198.291 47.8234 223.986 48.312C224.28 38.8107 219.832 29.7437 212.245 24.9251C208.968 22.8843 204.885 21.3757 200.376 20.5402C195.867 19.7048 191.079 19.5696 186.46 20.1473C175.351 21.9254 167.832 26.3911 160.606 29.6487C158.055 16.5504 149.023 4.55152 139.291 1.93186C122.56 -2.57449 105.061 4.56509 97.2263 11.5147C90.915 17.3328 87.0414 23.9833 85.9367 30.8974C75.4148 23.9071 51.9323 18.5864 43.4651 29.6622C40.0782 33.9921 40.3492 39.0007 40.6427 43.7785C33.7289 42.7018 26.5063 42.5497 19.4841 43.333C12.4619 44.1163 5.81097 45.8159 0 48.312H0Z" fill="#F6F7F8"/>
			</svg>

		.cases__cloud
			<svg width="224" height="49" viewBox="0 0 224 49" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0 48.4131H164.422C190.23 48.4131 198.291 47.9245 223.986 48.4131C224.28 38.9118 219.832 29.8447 212.245 25.0262C208.968 22.9854 204.885 21.4768 200.376 20.6413C195.867 19.8058 191.079 19.6706 186.46 20.2484C175.351 22.0265 167.832 26.4921 160.606 29.7497C158.055 16.6514 149.023 4.65259 139.291 2.03294C122.56 -2.47342 105.061 4.66617 97.2263 11.6157C90.915 17.4339 87.0414 24.0844 85.9367 30.9985C75.4148 24.0082 51.9323 18.6874 43.4651 29.7633C40.0782 34.0932 40.3492 39.1018 40.6427 43.8796C33.7289 42.8029 26.5063 42.6508 19.4841 43.4341C12.4619 44.2174 5.81097 45.917 0 48.4131H0Z" fill="#F6F7F8"/>
			</svg>

		.cases__cloud
			<svg width="224" height="48" viewBox="0 0 224 48" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M224 47.7896H59.5778C33.7697 47.7896 25.7089 47.3009 0.0136719 47.7896C-0.279846 38.2882 4.16826 29.2212 11.7549 24.4027C15.0317 22.3618 19.1152 20.8533 23.6242 20.0178C28.1333 19.1823 32.9209 19.0471 37.5404 19.6249C48.6494 21.403 56.1683 25.8686 63.3937 29.1262C65.9451 16.0279 74.9768 4.02906 84.7085 1.4094C101.44 -3.09695 118.939 4.04263 126.774 10.9922C133.085 16.8104 136.959 23.4608 138.063 30.375C148.585 23.3847 172.068 18.0639 180.535 29.1398C183.922 33.4697 183.651 38.4782 183.357 43.2561C190.271 42.1793 197.494 42.0272 204.516 42.8105C211.538 43.5938 218.189 45.2934 224 47.7896V47.7896Z" fill="#F6F7F8"/>
			</svg>

		.cases__cloud
			<svg width="224" height="48" viewBox="0 0 224 48" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0 47.7896H164.422C190.23 47.7896 198.291 47.3009 223.986 47.7896C224.28 38.2882 219.832 29.2212 212.245 24.4027C208.968 22.3618 204.885 20.8533 200.376 20.0178C195.867 19.1823 191.079 19.0471 186.46 19.6249C175.351 21.403 167.832 25.8686 160.606 29.1262C158.055 16.0279 149.023 4.02906 139.291 1.4094C122.56 -3.09695 105.061 4.04263 97.2263 10.9922C90.915 16.8104 87.0414 23.4608 85.9367 30.375C75.4148 23.3847 51.9323 18.0639 43.4651 29.1398C40.0782 33.4697 40.3492 38.4782 40.6427 43.2561C33.7289 42.1793 26.5063 42.0272 19.4841 42.8105C12.4619 43.5938 5.81097 45.2934 0 47.7896H0Z" fill="#F6F7F8"/>
			</svg>

	.cases__icon
		<svg width="180" height="153" viewBox="0 0 180 153" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M82.1476 9.07031L101.098 0.723933L144.969 100.332L126.019 108.678L82.1476 9.07031Z" fill="#434396"/>
			<path d="M10.3335 75.8652L47.6243 59.441L65.5499 100.14L28.2591 116.565L10.3335 75.8652Z" fill="#5F48DC"/>
			<path d="M47.6776 59.3952L65.6237 100.093C65.6237 100.093 89.5722 90.7069 126.094 108.61L104.134 58.8061L82.1723 9.00391C70.7608 48.0425 47.6776 59.3952 47.6776 59.3952Z" fill="#6E5ADD"/>
			<path d="M65.9853 151.419C64.0596 152.268 61.881 152.345 59.9004 151.632C57.9199 150.92 56.2891 149.473 55.3456 147.592L37.6961 112.409L56.2617 104.223L70.3281 140.976C71.0827 142.941 71.0527 145.122 70.2443 147.066C69.4359 149.009 67.911 150.568 65.9853 151.419Z" fill="#434396"/>
			<path d="M8.04594 111.529L25.0719 109.138L13.6502 83.2358L0.402344 94.1944L8.04594 111.529Z" fill="#434396"/>
			<path d="M148.852 42.645C148.036 42.6463 147.244 42.3665 146.61 41.8528C145.975 41.3391 145.537 40.6227 145.369 39.824C145.2 39.0252 145.312 38.1929 145.685 37.4667C146.057 36.7405 146.669 36.1648 147.416 35.8363L169.372 26.1533C170.227 25.8127 171.181 25.8169 172.033 26.1652C172.884 26.5134 173.568 27.1785 173.94 28.0206C174.311 28.8626 174.342 29.8159 174.025 30.6799C173.708 31.5439 173.068 32.2513 172.24 32.6533L150.284 42.3404C149.834 42.5412 149.346 42.645 148.852 42.645Z" fill="#434396"/>
			<path d="M142.966 29.3104C142.351 29.3098 141.747 29.15 141.213 28.8465C140.679 28.543 140.233 28.1062 139.917 27.5787C139.602 27.0512 139.429 26.4511 139.415 25.8368C139.401 25.2226 139.547 24.6152 139.837 24.0739L150.02 5.11012C150.241 4.6988 150.541 4.335 150.902 4.03951C151.264 3.74402 151.68 3.52261 152.127 3.38794C152.574 3.25327 153.043 3.20796 153.508 3.25461C153.972 3.30125 154.423 3.43894 154.834 3.65981C155.246 3.88068 155.609 4.1804 155.905 4.54186C156.2 4.90332 156.422 5.31944 156.556 5.76647C156.691 6.2135 156.736 6.68267 156.69 7.14721C156.643 7.61175 156.505 8.06255 156.285 8.47387L146.094 27.4295C145.791 27.9963 145.34 28.4704 144.789 28.8016C144.238 29.1327 143.608 29.3086 142.966 29.3104Z" fill="#434396"/>
			<path d="M175.6 61.2496C175.305 61.2496 175.012 61.2134 174.726 61.1419L153.859 55.8668C152.958 55.6239 152.189 55.0367 151.718 54.2317C151.246 53.4268 151.11 52.4686 151.338 51.5641C151.567 50.6595 152.141 49.881 152.939 49.3966C153.736 48.9122 154.692 48.7607 155.6 48.9747L176.469 54.2417C177.31 54.4535 178.044 54.9654 178.534 55.6809C179.024 56.3964 179.235 57.2663 179.128 58.1268C179.022 58.9873 178.604 59.7791 177.954 60.3531C177.304 60.9271 176.467 61.2438 175.6 61.2435V61.2496Z" fill="#434396"/>
			<path d="M117.937 38.7796L128.229 62.1206C129.761 61.4448 131.146 60.4738 132.303 59.2629C133.461 58.0521 134.368 56.6251 134.974 55.0635C135.58 53.5019 135.872 51.8363 135.834 50.1618C135.796 48.4872 135.429 46.8365 134.753 45.3039C134.077 43.7713 133.106 42.3869 131.896 41.2295C130.685 40.0722 129.258 39.1647 127.696 38.5589C126.135 37.953 124.469 37.6607 122.794 37.6986C121.12 37.7364 119.469 38.1038 117.937 38.7796Z" fill="#8D21EF"/>
		</svg>

	.cases__title.h2 Use Cases Of Usa Web Proxies
	.cases__list
		.cases__item
			.cases__item-icon
				img(src="uploads/uptime-violet-bg.svg" alt="")
			.cases__item-title Uptime and Performance Tracking
		.cases__item
			.cases__item-icon
				img(src="uploads/seo-violet-bg.svg" alt="")
			.cases__item-title Search Engine Optimization
		.cases__item
			.cases__item-icon
				img(src="uploads/cybersecurity-violet-bg.svg" alt="")
			.cases__item-title Cybercecurity
		.cases__item
			.cases__item-icon
				img(src="uploads/protected-violet-bg.svg" alt="")
			.cases__item-title Brand Protection
		.cases__item
			.cases__item-icon
				img(src="uploads/search-violet-bg.svg" alt="")
			.cases__item-title Data Collection