.btn-primary {
    background-color: var(--primary-color);
}

.btn.btn-xl {
    padding: 12px 24px;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.5px;
    font-weight: 500;
    border-radius: 5px;
}

.btn svg {
    width: 16px;
    height: 16px;
}

.btn {
    gap: 12px;
    padding: 8px 24px;
    font-size: 14px;
}

.btn-sm {
    padding: 8px 14px;
}