.header
	display: grid
	grid-template-columns: auto 1fr repeat(4, auto)
	grid-column-gap: 24px
	align-items: center
	padding: 20px calc(50% - 1170px / 2)
	font-size: 14px
	background-color: #291A7A
	transition: background-color .3s

.header__logo-link
	display: grid

.header__logo
	width: 216px

.header__list
	display: grid
	grid-auto-flow: column
	grid-column-gap: 16px
	justify-self: end
	justify-content: end
	align-items: center
	line-height: 1.7
	font-size: 14px
	color: var(--color-white)

.header__item
	position: relative
	display: grid
	grid-auto-flow: column
	grid-column-gap: 4px
	justify-content: start
	align-items: center
	padding: 16px 0
	cursor: default

.header__icon
	width: 16px
	height: 16px
	fill: var(--color-white)
	transform: rotate(90deg)
	transition: all .3s

.header__item.is-active .header__icon
	transform: rotate(90deg) scale(-1, 1)

.header__menu
	position: absolute
	top: calc(100% + 0px)
	left: 50%
	padding: 38px 30px
	width: 418px
	background-color: var(--color-white)
	border-radius: var(--border-rd-large)
	box-shadow: 0 8px 80px rgba(28, 28, 32, 0.12)
	transform: translateX(-51%)
	opacity: 0
	visibility: hidden
	z-index: 100
	transition: opacity .3s cubic-bezier(0.7, 0.14, 0.54, 0.88), visibility .3s cubic-bezier(0.7, 0.14, 0.54, 0.88)

.header__menu-client
	//display: grid
	grid-template-columns: repeat(3, 1fr) 180px
	grid-column-gap: 8px

.header__menu_client
	width: 1324px

.header__menu_products
	display: flex
	flex-direction: column
	//display: grid
	grid-auto-flow: row
	grid-template-columns: 420px 360px
	grid-column-gap: 40px
	grid-row-gap: 40px
	//width: unset

.header__menu_products > div:nth-of-type(1)
	grid-row: 1 / 2
	grid-column: 1 / 2

.header__menu_products > div:nth-of-type(2)
	grid-row: 2 / 3
	grid-column: 1 / 2

.header__menu_products > div:nth-of-type(3)
	grid-row: 1 / 3
	grid-column: 2 / 3

.header__menu-companies
	margin-top: 24px
	padding-left: 76px

.header__menu-companies-headline
	margin-bottom: 16px
	line-height: 15px
	font-size: 15px
	font-weight: 600
	color: var(--color-black04)

.header__menu-companies-list
	display: grid
	grid-template-columns: auto auto
	grid-auto-flow: row
	justify-content: start
	grid-column-gap: 40px
	grid-row-gap: 10px
	margin-bottom: 16px

.header__menu-companies-item
	display: flex
	line-height: 1
	font-size: 13px
	font-weight: 600
	color: var(--color-gray05)

.header__menu-companies-link
	position: relative
	grid-column-gap: 8px

.header__menu-companies-arrow
	position: absolute
	top: 50%
	right: -18px
	width: 12px
	height: 12px
	fill: var(--color-gray05)
	transform: translateY(-50%)

@media (hover: hover)
	.header__menu-companies-link:hover .header__menu-companies-arrow
		transform: translateY(-50%) translateX(5px)

.header__menu-companies-more
	position: relative
	line-height: 18px
	font-size: 12px
	font-weight: 400
	color: var(--color-black04)

.header__menu-companies-more span
	text-decoration: underline

.header__menu-companies-more svg
	position: absolute
	top: 50%
	right: -18px
	width: 12px
	height: 12px
	fill: var(--color-black04)
	transform: translateY(-50%)

@media (hover: hover)
	.header__menu-companies-more:hover span
		text-decoration: unset

	.header__menu-companies-more:hover svg
		transform: translateY(-50%) translateX(5px)

// Light header
.header-white
	.header
		background: #fff
		&__item-button , &__link
			color: #1C1C20
		&__icon , &__logo-top , &__logo-bottom
			fill: #1C1C20
		&__button
			background: #434396
			color: #fff

@media (max-width: 1700px)
	.header__menu_client
		width: 1150px

.header__menu-client .header__menu-headline:nth-of-type(1)
	grid-column: 1 / 4
	grid-row: 1 / 2

.header__menu-services
	width: calc(100%/4)
	grid-row: 1 / 3
	grid-column: 4 / 5
	margin-left: 20px

.header__menu-client .header__menu-headline:nth-of-type(2)
	grid-row: 1 / 2
	margin-left: 20px

.header__menu-list-data
	align-self: start

.header__item.is-active .header__menu
	opacity: 1
	visibility: visible

.header__menu:after
	content: ''
	position: absolute
	top: -18px
	left: 50%
	width: 20px
	height: 16px
	border: 10px solid transparent
	border-bottom: 10px solid var(--color-white)
	transform: translateX(-50%)
	z-index: 10

.header__menu-headline
	margin-bottom: 20px
	padding-bottom: 20px
	text-transform: uppercase
	line-height: 1
	font-size: 13px
	font-weight: 700
	color: var(--color-gray05)
	border-bottom: 1px solid var(--color-silver06)

.header__menu-headline_red
	color: var(--color-red)

.header__menu-ticket
	justify-self: end
	padding: 4px 6px
	line-height: 1
	font-size: 12px
	color: #FF4B55
	background-color: rgba(285, 75, 85, .08)
	border-radius: var(--border-rd-small)

.header__menu-list
	display: grid
	grid-auto-flow: row

.header__menu-list:not(.header__menu-list-data)
	grid-row-gap: 16px

.header__menu-contact
	width: 340px

.header__menu-contact .header__menu-list
	grid-row-gap: 0

.header__menu-list-client
	grid-auto-flow: unset
	grid-template-columns: repeat(3, 1fr)
	grid-column-gap: 20px

.header__menu-list-data
	grid-row-gap: 16px

.header__menu-list-data a
	padding: 8px 0

.header__menu-item
	position: relative
	padding: 8px
	font-size: 13px
	color: var(--color-gray05)
	border-radius: 6px
	transition: background-color .2s

.header__menu-contact .header__menu-item
	font-weight: 600
	color: var(--color-black04)

@media (hover: hover)
	.header__menu-item:hover
		background-color: rgba(243, 244, 248, 0.5)

.header__menu-link
	display: grid
	grid-template-columns: auto 1fr
	grid-column-gap: 20px
	justify-content: center
	align-items: center
	grid-column: 1 / 2
	grid-row: 1 / 3
	line-height: 1

.header__menu-image
	width: 48px
	height: 48px

.header__menu-label
	margin-bottom: 2px
	color: var(--color-black04)
	font-size: 15px
	font-weight: 600

.header__menu-list-data .header__menu-label a
	transition: color .2s

@media (hover: hover)
	.header__menu-list-data .header__menu-label:hover a
		color: var(--color-primary-blue)

.header__menu-description
	grid-column: 1/3
	grid-row: 2

.header__menu-label + .header__menu-description
	grid-column: 1/2

.header__link
	line-height: 1.7
	color: var(--color-white)

.header__hide
	display: none

.header__decor
	width: 1px
	height: 36px
	background-color: var(--color-primary-blue)

.header__language
	display: grid
	justify-content: center
	align-items: center

.header__button
	display: grid
	justify-content: center
	align-items: center
	padding: 8px 26px
	line-height: 2
	font-size: 12px
	font-weight: 500
	color: #291A7A
	background-color: var(--color-white)
	border-radius: var(--border-rd-medium)
	transition: color .2s, background-color .2s

@media (hover: hover)
	.header__button:hover
		background-color: var(--color-primary-blue)
		color: var(--color-white)

.header__menu-icon-color path
	stroke: var(--color-primary-blue)

.header__menu-button
	display: none

.header__item > span:nth-of-type(1)
	cursor: pointer

.header__menu-location-list
	display: grid
	grid-auto-flow: row
	grid-row-gap: 12px
	justify-content: start

.header__menu-location-label
	grid-column-gap: 4px
	line-height: 1
	font-size: 15px
	font-weight: 600
	color: var(--color-black04)

.header__menu-location-label span
	text-decoration: underline

.header__menu-location-arrow
	width: 16px
	height: 16px
	fill: var(--color-black04)
	transition: transform .2s

.header__menu-location.--open .header__menu-location-label .header__menu-location-arrow
	transform: rotateZ(270deg)

.header__menu-country-list
	display: none
	grid-auto-flow: row
	grid-row-gap: 8px
	margin-top: 8px

.header__menu-location.--open .header__menu-country-list
	display: grid

.header__menu-country-item
	grid-column-gap: 8px
	line-height: 18px
	font-size: 13px
	font-weight: 400
	color: var(--color-gray05)
	transition: color .2s

.header__menu-country-item:hover
	color: var(--color-primary-blue)

.header__item-button
	grid-column-gap: 4px
	line-height: 24px
	font-size: 14px
	font-weight: 400
	color: var(--color-white)

@media (max-width: 1200px) and (hover: hover)
	.header__menu-item:hover
		background-color: rgba(243, 244, 248, 0.1)

@media (max-width: 1200px)
	.header
		position: relative
		grid-template-columns: auto auto
		padding: 16px 40px

	.is-active.header
		background-color: var(--color-white)

	.header__logo-top,
	.header__logo-bottom
		transition: fill .3s, stroke .3s

	.is-active.header .header__logo-top,
	.is-active.header .header__logo-bottom
		fill: var(--color-primary-blue)

	.is-active.header .header__logo-bottom
		stroke: var(--color-primary-blue)

	.header__logo
		width: 154px

	.header__navigation
		position: absolute
		top: 80px
		right: 0
		left: 0
		display: block
		padding: 8px 20px 24px 40px
		border-bottom: 2px solid var(--color-gray100)
		background: url("../../../uploads/header/world-map.webp"), var(--color-white)
		background-size: 472px 303px
		background-repeat: repeat
		z-index: 45
		transition: .3s
		// transform: translateY(-100%)
		opacity: 0
		visibility: hidden
		pointer-events: none

	.is-active .header__navigation
		// transform: translateY(0px)
		opacity: 1
		visibility: visible
		pointer-events: auto

	.header__list
		grid-auto-flow: row
		grid-row-gap: 8px
		justify-content: start
		justify-items: start

	.header__item-button
		color: var(--color-black04)

	.header__item
		grid-template-columns: auto 1fr
		grid-auto-flow: row
		padding: 0

	.header__item > span:nth-of-type(1)
		grid-column: 1 / 2

	.header__icon
		grid-column: 2 / 3
		transform: rotateZ(0)
		fill: var(--color-black04)

	.header__item-button:focus .header__icon,
	.header__item:hover .header__icon
		transform: rotateZ(0)

	.is-active.header__item .header__icon
		transform: rotateZ(90deg)

	.header__menu
		position: static
		top: unset
		left: unset
		grid-column: 1 / 3
		// display: none
		margin-top: 0 !important
		padding: 0 !important
		width: unset
		opacity: 1
		visibility: visible
		box-shadow: unset
		background-color: transparent
		transform: unset
		border-radius: 0 !important
		max-width: 100% !important
		padding-left: 0
		overflow: hidden
		max-height: 0

	.header__item.is-active .header__menu
		padding: 0 0 40px 0 !important
		max-height: 100%
		margin-top: 24px !important

	.header__item:nth-of-type(1) .header__menu
		max-width: 380px

	.header__menu_products
		grid-template-columns: unset
		grid-row-gap: 0px

	.header__menu_products div + div
		margin-top: 40px

	.header__menu_products > div:nth-of-type(2)
		grid-row: 2 / 3

	.header__menu_products > div:nth-of-type(3)
		grid-column: 1 / 2
		grid-row: 3 / 4

	.header__menu:after
		display: none

	.header__menu-client
		grid-template-columns: 1fr 1fr
		grid-column-gap: 32px
		grid-auto-flow: row

	.header__menu-client .header__menu-headline:nth-of-type(1)
		grid-column: 1 / 3

	.header__menu-services
		grid-column: unset
		grid-row: unset
		margin-left: 68px
		margin-top: 40px
		max-width: 200px

	.header__menu-last
		grid-row: 3 / 5
		margin-top: 40px

	.header__menu-contact
		margin-top: 12px
		padding-bottom: 0

	.header__menu-contact .header__menu-list
		grid-row-gap: 12px

	.header__menu-inner
		display: grid
		grid-auto-flow: row
		grid-row-gap: 24px
		align-content: start

	.header__menu-item
		grid-column-gap: 12px
		align-content: start
		margin-left: 0
		padding: 0
		width: unset
		min-height: 64px
		color: var(--color-gray05)

	.header__menu-contact .header__menu-item
		padding: 4px
		min-height: unset
		color: var(--color-black04)

	.header__menu-contact .header__menu-headline
		display: none

	.header__menu-headline:not(.header__menu-headline_red)
		color: var(--color-primary-blue)

	.header__menu-label
		color: var(--color-black04)

	.header__menu-list + .header__menu-headline
		margin-top: 40px

	.header__menu-list-client
		grid-template-columns: 1fr 1fr
		grid-column-gap: 32px
		grid-row-gap: 24px

	.header__hide
		display: block

	.header__hide.header__link
		color: var(--color-black04)

	.header__link:not(.header__hide),
	.header__decor,
	.header__language,
	.header__button:not(.header__hide)
		display: none

	.header__action
		padding: 4px 16px
		line-height: 24px
		font-size: 12px
		font-weight: 500
		border: 1px solid var(--color-primary-blue)
		border-radius: 6px
		color: var(--color-white)
		background: var(--color-primary-blue)

	.header__button_small
		padding: 4px 16px
		line-height: 2

	.header__menu-button
		display: grid
		justify-content: center
		justify-self: end
		align-items: center

	.header__menu-icon
		width: 24px
		height: 24px

	.header__menu_location
		padding-bottom: 16px

@media (max-width: 767px)
	.header
		padding: 16px

	.header__logo
		width: 122px

	.header__navigation
		padding: 8px 20px 24px 16px

	.header__menu:not(.header__menu-contact, .header__menu_location)
		padding-left: 0

	.header__menu-companies
		padding-left: 0

@media (max-width: 640px)
	.header__navigation
		padding: 16px

	.header__list
		justify-items: unset
		justify-content: unset

	.header__list > li:last-of-type
		justify-self: start

	.header__item:nth-of-type(1) .header__menu
		max-width: 100%
		width: 100%

	.header__menu-client .header__menu-headline:nth-of-type(1)
		grid-column: 1 / 2

	.header__menu-client
		grid-template-columns: 1fr

	.header__menu-headline
		grid-column: 1 / 2

	.header__menu-services
		justify-content: start
		justify-self: start
		margin-top: 40px
		margin-left: 0
		max-width: unset

	.header__menu-last
		grid-row: unset

	.header__menu-inner + .header__menu-inner:not(.header__menu-last)
		margin-top: 32px

.hamburger-lines
	display: flex
	flex-direction: column
	justify-content: space-between
	height: 18px
	width: 24px
	z-index: 2

.hamburger-lines .line
	display: block
	height: 2px
	width: 100%
	border-radius: 10px
	background: var(--color-white)

.header.is-active .hamburger-lines .line
	background-color: var(--color-primary-blue)

.hamburger-lines .line:nth-of-type(1)
	transform-origin: 0 0
	transition: transform 0.3s ease-in-out

.hamburger-lines .line:nth-of-type(2)
	transition: transform 0.15s ease-in-out

.hamburger-lines .line:nth-of-type(3)
	transform-origin: 0 100%
	transition: transform 0.3s ease-in-out

.is-active .line:nth-of-type(1)
	transform: rotate(45deg)

.is-active .line:nth-of-type(2)
	transform: scaleY(0)

.is-active .line:nth-of-type(3)
	transform: rotate(-45deg)
