include ../vars
doctype html
block vars
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title=title
	body
		.wrap
			link(rel="stylesheet" href="template/css/style.css" + version)

			+style('header', 'blocks')
			include ../../blocks/header/header
			+script('header', 'blocks')
			
			main.main
				block content

			+style('footer', 'blocks')
			include ../../blocks/footer/footer


			+script('field', 'components')
			+script('check', 'components')
			+script('select', 'components')
			+script('popup', 'components')
			script(src="template/js/common.js" + version)