include ../vars
doctype html
block vars
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		<link rel="icon" type="image/x-icon" href="uploads/favicon.ico">
		title=title
	body
		.wrap
			link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css")
			link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css")
			link(rel="stylesheet" href="template/css/style.css" + version)
			+style('cookie', 'blocks')
			include ../../blocks/cookie/cookie
			+script('cookie', 'blocks')

			+style('header', 'blocks')
			include ../../blocks/header/header
			+script('header', 'blocks')
			
			main.main
				block content

			+style('footer', 'blocks')
			include ../../blocks/footer/footer

			script(src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js")
			script(src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js")

			+script('tog', 'components')
			script(src="template/js/common.js" + version)