.desc {
  padding-top: 100px;
  padding-bottom: 100px;
}
.desc__title {
  margin-bottom: 20px;
}
.desc__text {
  max-width: 800px;
  margin-bottom: 30px;
}
.desc__list {
  margin: 0 -15px -30px;
}
.desc__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(33.3333333333% - 30px);
  margin: 0 15px 30px;
  background: #FFFFFF;
  border: 3px solid #000000;
  box-shadow: 12px 12px 0px #000000;
  border-radius: 6px;
  padding: 44px 40px;
}
.desc__item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: linear-gradient(180deg, #3D2AA4 0%, #291A7A 100%);
  margin-bottom: 16px;
}
.desc__item-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
}

@media (max-width: 1024px) {
  .desc {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .desc__title {
    text-align: center;
  }
  .desc__text {
    text-align: center;
  }
  .desc__list {
    margin: 0;
  }
  .desc__item {
    width: 100%;
    max-width: 390px;
    margin: 0 auto 30px;
    padding: 41px 40px;
    box-shadow: 9px 8px 0px #000000;
  }
  .desc__item:last-of-type {
    margin: 0 auto 0;
  }
}
@media (max-width: 580px) {
  .desc__item {
    padding: 41px 10px;
    max-width: 330px;
  }
}