// Popup

#mobile-phone.mfp-hide.white-popup-block
  p.title-popup Kostenlose 24h Soforthotline

  a(href="tel: 0800/7234114").popup-number
    svg
      use(xlink:href="images/sprite.svg#icons8-ringer-volume")
    span 0800 / 723 41 14

  p Sie haben Frage und wünschen eine kostenlose Erstberatung per Telefon? Zögern Sie nicht uns unter oben genannter Nummer zu kontaktieren


#result-text.mfp-hide.white-popup-block
  p.title-popup Fallgutachten

  p Sehr geehrter Max Mustermann, <br><br>

  p Zunächst müsste überprüft werden, ob anhand der vorhandenen Beweismittel in der Ermittlungsakte der Tatnachweis wirklich geführt werden kann. Dann sollte geklärt werden, ob die Messung korrekt erfolgt ist. Messfehler sind keine Seltenheit. Das bei Ihnen verwendete Messsystem ist in den letzten Monaten wieder sehr stark in die Kritik geraten. Es sind sehr viele Verfahren eingestellt worden. Erste Gerichte stellen die Verwertbarkeit dieses Messsystems generell in Frage. Allerdings ist immer eine Einzelfallbetrachtung notwendig.<br><br>

  p Unabhängig hiervon müsste überprüft werden, ob sich andere Fahrzeuge im Messbereich befunden haben. Ferner müssten die Formalien der Messung: Eichung, Wartung, Schulung der Mess- und Auswertebeamten etc. überprüft werden. Auch hier gibt es häufig Ansatzpunkte. In diesem Zusammenhang müsste auch die Erkennbarkeit der konkreten Beschilderung und die korrekte Anordnung überprüft werden. Nicht zuletzt ist fraglich, ob das Originalbild zur zweifelsfreien Identifizierung ausreichend sein wird. <br><br>

  p Die Messung ist angreifbar Wie geht's weiter?

  a(href="#" , v-on:click="next()").brand-btn Zu den Verteidigungsoptionen

  #result-video.mfp-hide.white-popup-block
    p.title-popup Videoinformationen

    .video
      iframe(width="100%" , height="315" , src="https://www.youtube.com/embed/Ot8n-nk_rAU?controls=0" , frameborder="0" , allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" , allowfullscreen)#video
      a(href="#").play-video
        img(src="images/icons8-tv-show.svg")

    p Die Messung ist angreifbar Wie geht's weiter?

    a(href="#" , v-on:click="next()").brand-btn Zu den Verteidigungsoptionen
