// Popup

#mobile-phone.mfp-hide.white-popup-block
  p.title-popup Kostenlose 24h Soforthotline

  a(href="tel: 0800/7234114").popup-number
    svg
      use(xlink:href="images/sprite.svg#icons8-ringer-volume")
    span 0800 / 723 41 14

  p Sie haben Frage und wünschen eine kostenlose Erstberatung per Telefon? Zögern Sie nicht uns unter oben genannter Nummer zu kontaktieren
