header

  button.menu
    span
    span
    span

  .logo
    a(href="index.html")
      img(src="images/logo.png")

  ul.mobile-nav
    li
      a(href="index.html") STARTSEITE

    li
      a(href="#") IMPRESSUM

    li
      a(href="#") DATENSCHUTZ

  ul.header-title
    li BUSSGELDKANZLEI.DE

  // Progress bar
  .progress-bar
    .progress(v-bind:style="{ width: currentWidth + '%'}")

  a(href="#mobile-phone").whatsapp-header
    svg
      use(xlink:href="images/sprite.svg#icons8-ringer-volume")

  .header-partners
    p Bekannt aus Rundfunk und TV
    .partners-img
      img(src="images/welt_testimonial.png")
      img(src="images/heise_testimonial.png")
      img(src="images/br_testimonial.png")
