header.header-form

  .logo
    a(href="index.html")
      img(src="images/logo.png")

  button.menu
    span
    span
    span

  ul.mobile-nav
    li
      a(href="index.html") STARTSEITE

    li
      a(href="#") IMPRESSUM

    li
      a(href="#") DATENSCHUTZ

  // Progress bar
  .progress-bar
    .progress(v-bind:style="{ width: currentWidth + '%'}")

  .header-partners
    p Bekannt aus Rundfunk und TV
    .partners-img
      img(src="images/welt_testimonial.png")
      img(src="images/heise_testimonial.png")
      img(src="images/br_testimonial.png")

  .author
    img(src="images/rabier.png")
