@import "tailwindcss";

@theme {
    --font-body: "Roboto", sans-serif;

    /* Colors */
    --color-dark: #252631;
    --color-dark-50: #6B6B6B;
    --color-dark-100: #1B1E24;
    
    --color-light: #707070;
    --color-light-50: #EEF2FA;
    --color-light-500: #98A9BC;

    --color-green-50: #95A200;

    --color-blue-50: #f5f8fd;
    --color-blue-500: #315189;

    --shadow-item: 0px 0px 38px #25263117;
}