
<footer class="text-center text-md-start">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12"><a class="logo z-1" href="/"><img src="images/logo.svg" alt="logo"/></a></div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <h4 class="mt-3 mt-md-0 mb-3">Navigering</h4>
        <ul class="m-0 p-0 footer-link">
          <li class="py-2"><a href="#">Hem</a></li>
          <li class="py-2"><a href="#">Produkt</a></li>
          <li class="py-2"><a href="#">Prissättning</a></li>
          <li class="py-2"><a href="#">Blogg</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4 class="mt-3 mt-md-0 mb-3">Kunder</h4>
        <ul class="m-0 p-0 footer-link">
          <li class="py-2"><a href="#">Användningsområden</a></li>
          <li class="py-2"><a href="#">e-handel</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4 class="mt-3 mt-md-0 mb-3">Support</h4>
        <ul class="m-0 p-0 footer-link">
          <li class="py-2"><a href="#">Hjälpcenter</a></li>
          <li class="py-2"><a href="#">API-dokumentation</a></li>
          <li class="py-2"><a href="#">Kontakta oss</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4 class="mt-3 mt-md-0 mb-3">Juridiskt</h4>
        <ul class="m-0 p-0 footer-link">
          <li class="py-2"><a href="#">Integritetspolicy</a></li>
          <li class="py-2"><a href="#">Användarvillkor</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>