
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0 align-items-start">
        <p class="text-center px-4">Tack för ditt intresse för våra tjänster. Vi hanterar alla nya registreringar manuellt och kommer att svara på din förfrågan så snart som möjligt, vanligtvis inom 3 arbetsdagar. Vänligen fyll i formuläret nedan för att komma igång.</p>
        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="#">
          <div class="mb-3">
            <label class="form-label" for="CompanyName">Företagsnamn:</label>
            <input class="form-control" type="text" id="CompanyName" placeholder="Företagsnamn"/>
          </div>
          <div class="mb-3">
            <label class="form-label" for="ContactPerson">Kontaktperson:</label>
            <input class="form-control" type="text" id="ContactPerson" placeholder="Kontaktperson"/>
          </div>
          <div class="mb-3">
            <label class="form-label" for="Phone">Telefon:</label>
            <input class="form-control" type="phone" id="Phone" placeholder="Telefon"/>
          </div>
          <div class="mb-3">
            <label class="form-label" for="Email">E-post:</label>
            <input class="form-control" type="email" id="Email" placeholder="E-post"/>
          </div>
          <div class="mb-3">
            <label class="form-label" for="Volume">Uppskattad volym som ska skickas:</label>
            <input class="form-control" type="text" id="Volume" placeholder="Uppskattad volym som ska skickas"/>
          </div>
          <button class="btn btn-primary w-100" type="submit">Skicka</button>
        </form>
      </div>
    </div>
  </div>
</div>