
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="footer-logo mb-3"><img src="images/logo.svg" alt="footer-logo"/></div>
        <div class="social-links align-items-center d-flex"> <a class="text-decoration-none me-1" href="#">
            <svg>
              <use xlink:href="images/sprite.svg#facebook"></use>
            </svg></a><a class="text-decoration-none" href="#">
            <svg>
              <use xlink:href="images/sprite.svg#instagram"></use>
            </svg></a></div>
        <div class="header-info mt-4">
          <p class="mb-2">
            <svg>
              <use xlink:href="images/sprite.svg#icon-phone"></use>
            </svg>+49 (0) 40 - 60 77 90 96
          </p>
          <p class="mb-0">
            <svg>
              <use xlink:href="images/sprite.svg#icon-calendar"></use>
            </svg>Montag bis Freitag <br> 09:00 bis 18:00
          </p>
        </div>
      </div>
      <div class="col-md-2 offset-lg-1">
        <div class="list-title">Rechtliches</div>
        <ul class="m-0 p-0 list-links">
          <li><a href="imprint.html">Impessung</a></li>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="data-protection.html">Datenschutz</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <div class="list-title">Kontakt</div>
        <ul class="m-0 p-0 list-links">
          <li><a href="contact.html">Kontakt</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="list-title">Beliebte Reiseziele</div>
        <ul class="m-0 p-0 list-links d-flex flex-wrap">
          <li class="me-4"><a href="#">Thailand</a></li>
          <li class="me-4"><a href="#">USA</a></li>
          <li class="me-4"><a href="#">Kanada</a></li>
          <li class="me-4"><a href="#">Australien</a></li>
          <li class="me-4"><a href="#">Russland</a></li>
          <li class="me-4"><a href="#">Indien</a></li>
          <li class="me-4"><a href="#">China</a></li>
          <li class="me-4"><a href="#">Singapur</a></li>
          <li class="me-4"><a href="#">Kuba</a></li>
          <li class="me-4"><a href="#">Ägypten</a></li>
          <li class="me-4"><a href="#">Kapverden</a></li>
        </ul>
      </div>
      <div class="col-12 mt-5">
        <div class="copyright">
          <p class="mb-0">© Visa, 2022 - All rights reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>