
<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg p-0">
      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation"><span></span><span></span><span></span></button>
      <div class="logo"><a href="index.html"><img src="images/logo.svg" alt="logo"/></a></div>
      <div class="header-info">
        <p class="mb-0">
          <svg>
            <use xlink:href="images/sprite.svg#icon-phone"></use>
          </svg>+49 (0) 40 - 60 77 90 96
        </p>
        <p class="mb-0">
          <svg>
            <use xlink:href="images/sprite.svg#icon-calendar"></use>
          </svg>Monday to Friday - 09:00 to 18:00
        </p>
      </div>
      <div class="collapse navbar-collapse" id="nav">
        <ul class="navbar-nav align-items-lg-center ms-auto">
          <li class="nav-item mb-0 position-relative"><a class="nav-link" href="#" role="button" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
              <svg>
                <use xlink:href="images/sprite.svg#icon-user"></use>
              </svg><span>John Doe</span>
              <svg class="icon-toggle">
                <use xlink:href="images/sprite.svg#icon-toggle"></use>
              </svg></a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item p-0" href="#">
                  <svg>
                    <use xlink:href="images/sprite.svg#dashboard"></use>
                  </svg>My Dashboard</a></li>
              <li><a class="dropdown-item p-0" href="#">
                  <svg>
                    <use xlink:href="images/sprite.svg#log-out"></use>
                  </svg>Log out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>