
<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg p-0">
      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation"><span></span><span></span><span></span></button>
      <div class="logo"><a href="index.html"><img src="images/logo.svg" alt="logo"/></a></div>
      <div class="header-info">
        <p class="mb-0">
          <svg>
            <use xlink:href="images/sprite.svg#icon-phone"></use>
          </svg>+49 (0) 40 - 60 77 90 96
        </p>
        <p class="mb-0">
          <svg>
            <use xlink:href="images/sprite.svg#icon-calendar"></use>
          </svg>Monday to Friday - 09:00 to 18:00
        </p>
      </div>
      <div class="collapse navbar-collapse" id="nav">
        <ul class="navbar-nav align-items-lg-center ms-auto">
          <li class="nav-item mb-0"><a class="nav-link" href="index.html">Home</a></li>
          <li class="nav-item mb-0"><a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Destinations</a>
            <!-- Dropdown menu-->
            <div class="dropdown-menu custom rounded-0 border-0 w-100 start-0">
              <div class="row mx-0">
                <div class="col-md-2">
                  <p>Africa</p>
                  <ul class="m-0 p-0">
                    <li><a class="dropdown-item w-auto p-0" href="country-info.html"><img src="images/flags/cape-verde.png" alt="Cape Verde"/>Cape Verde</a></li>
                    <li><a class="dropdown-item w-auto p-0" href="country-info.html"><img src="images/flags/egypt.png" alt="Egypt"/>Egypt</a></li>
                  </ul>
                </div>
                <div class="col-md-2">
                  <p>America</p>
                  <ul class="m-0 p-0">
                    <li><a class="dropdown-item w-auto p-0" href="country-info.html"><img src="images/flags/canada.png" alt="Canada"/>Canada</a></li>
                    <li><a class="dropdown-item w-auto p-0" href="country-info.html"><img src="images/flags/united-states-of-america.png" alt="USA"/>USA</a></li>
                  </ul>
                </div>
                <div class="col-md-2">
                  <p>Asia</p>
                  <ul class="m-0 p-0">
                    <li><a class="dropdown-item w-auto p-0" href="country-info.html"><img src="images/flags/south-korea.png" alt="South Korea"/>South Korea</a></li>
                    <li><a class="dropdown-item w-auto p-0" href="country-info.html"><img src="images/flags/sri-lanka.png" alt="Sri Lanka"/>Sri Lanka</a></li>
                    <li><a class="dropdown-item w-auto p-0" href="country-info.html"><img src="images/flags/india.png" alt="India"/>India</a></li>
                    <li><a class="dropdown-item w-auto p-0" href="country-info.html"><img src="images/flags/thailand.png" alt="Thailand"/>Thailand</a></li>
                  </ul>
                </div>
                <div class="col-md-2">
                  <p>Europa</p>
                  <ul class="m-0 p-0">
                    <li><a class="dropdown-item w-auto p-0" href="country-info.html"><img src="images/flags/germany.png" alt="Germany"/>Germany</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item mb-0"><a class="nav-link" href="#">Prices</a></li>
          <li class="nav-item mb-0"><a class="nav-link" href="travel-agency.html">Travel Agencies</a></li>
          <li class="nav-item mb-0"><a class="nav-link" href="#">Content</a></li>
          <li class="nav-item mb-0"><a class="nav-link" href="#">
              <svg>
                <use xlink:href="images/sprite.svg#icon-user"></use>
              </svg>Login</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>