
<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg p-0">
      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation"><span></span><span></span><span></span></button>
      <div class="logo"><a href="index.html"><img src="images/logo.svg" alt="logo"/></a></div>
      <div class="collapse navbar-collapse" id="nav">
        <ul class="navbar-nav align-items-lg-center mx-auto">
          <li class="nav-item mb-0"><a class="nav-link" href="index.html">Start</a></li>
          <li class="nav-item mb-0"><a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Reiseziele</a>
            <!-- Dropdown menu-->
            <div class="dropdown-menu custom rounded-0 border-0 w-100 start-0">
              <div class="row mx-0">
                <div class="col-md-2">
                  <p>Africa</p>
                  <ul class="m-0 p-0">
                    <li><a class="dropdown-item w-auto p-0" href="country-info.html"><img src="images/flags/cape-verde.png" alt="Cape Verde"/>Cape Verde</a></li>
                    <li><a class="dropdown-item w-auto p-0" href="country-info.html"><img src="images/flags/egypt.png" alt="Egypt"/>Egypt</a></li>
                  </ul>
                </div>
                <div class="col-md-2">
                  <p>America</p>
                  <ul class="m-0 p-0">
                    <li><a class="dropdown-item w-auto p-0" href="country-info.html"><img src="images/flags/canada.png" alt="Canada"/>Canada</a></li>
                    <li><a class="dropdown-item w-auto p-0" href="country-info.html"><img src="images/flags/united-states-of-america.png" alt="USA"/>USA</a></li>
                  </ul>
                </div>
                <div class="col-md-2">
                  <p>Asia</p>
                  <ul class="m-0 p-0">
                    <li><a class="dropdown-item w-auto p-0" href="country-info.html"><img src="images/flags/south-korea.png" alt="South Korea"/>South Korea</a></li>
                    <li><a class="dropdown-item w-auto p-0" href="country-info.html"><img src="images/flags/sri-lanka.png" alt="Sri Lanka"/>Sri Lanka</a></li>
                    <li><a class="dropdown-item w-auto p-0" href="country-info.html"><img src="images/flags/india.png" alt="India"/>India</a></li>
                    <li><a class="dropdown-item w-auto p-0" href="country-info.html"><img src="images/flags/thailand.png" alt="Thailand"/>Thailand</a></li>
                  </ul>
                </div>
                <div class="col-md-2">
                  <p>Europa</p>
                  <ul class="m-0 p-0">
                    <li><a class="dropdown-item w-auto p-0" href="country-info.html"><img src="images/flags/germany.png" alt="Germany"/>Germany</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item mb-0"><a class="nav-link" href="#">Visaberater</a></li>
          <li class="nav-item mb-0"><a class="nav-link" href="travel-agency.html">FAQ</a></li>
          <li class="nav-item mb-0"><a class="nav-link" href="#">Für Reisebüros</a></li>
        </ul>
        <ul class="navbar-nav align-items-lg-center">
          <li class="nav-item mb-0 border-0 me-3"><a class="nav-link fw-normal" href="#">
              <svg>
                <use xlink:href="images/sprite.svg#icon-user"></use>
              </svg>Login</a></li>
          <li class="nav-item mb-0"><a class="btn btn-primary border-0 shadow-none" href="#">Antrag starten</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>