
<header>
  <div class="container-fluid px-lg-4">
    <nav class="navbar navbar-expand-lg p-0">
      <div class="logo"><a href="index.html"><img src="images/logo.svg" alt="logo"/></a></div>
      <button class="navbar-toggler ms-5" type="button" data-bs-toggle="collapse" data-bs-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation"><span></span><span></span><span></span></button>
      <ul class="navbar-nav align-items-lg-center ms-auto">
        <li class="nav-item mb-0 border-0">
          <!--a(href="#").nav-link.fw-normal
          svg
          	use(xlink:href="images/sprite.svg#icon-user")
          |John Doe
          -->
          <div class="dropdown nav-link">
            <button class="bg-transparent text-start shadow-none" id="dropdownAdminUser" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <svg>
                <use xlink:href="images/sprite.svg#icon-user"></use>
              </svg>John Doe
            </button>
            <ul class="dropdown-menu start-50 translate-middle-x" aria-labelledby="dropdownAdminUser">
              <li class="p-0"><a class="dropdown-item p-0 fs-6" href="#">Log out</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>