
<!-- Login modal-->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title fw-bold" id="exampleModalLabel">Log In</h5>
        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="#">
        <div class="modal-body">
          <label class="form-label">Email</label>
          <input class="form-control shadow-none" type="email" name="email"/>
        </div>
      </form>
      <div class="modal-footer border-top-0 justify-content-start">
        <button class="btn btn-primary btn-lg border-0 shadow-none m-0" type="button" data-bs-toggle="modal" data-bs-target="#validationModal" data-bs-dismiss="modal">Continue</button>
      </div>
    </div>
  </div>
</div>
<!-- Validation modal-->
<div class="modal fade" id="validationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title fw-bold" id="exampleModalLabel">Validation</h5>
        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="#">
        <div class="modal-body">
          <p>Please enter the validation code we sent to the email john.doe@gmail.com</p>
          <label class="form-label">Validation Code</label>
          <input class="form-control shadow-none" type="text"/>
        </div>
        <div class="modal-footer border-top-0 justify-content-between">
          <button class="btn btn-primary btn-lg border-0 shadow-none m-0" type="submti">Verify</button>
          <p>Didn’t get the code? <a href="#" class="gradient-text text-decoration-none">Resend</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Company register modal-->
<div class="modal fade" id="companyRegisterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title fw-bold" id="exampleModalLabel">Registration</h5>
        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="#">
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Company Name</label>
            <input class="form-control shadow-none" type="text" name="name" placeholder="Reiseburo Aachen"/>
          </div>
          <div class="mb-3">
            <label class="form-label">Address</label>
            <input class="form-control shadow-none" type="text" placeholder="Berlin"/>
          </div>
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input class="form-control shadow-none" type="text" name="email" placeholder="travel@aachen.de"/>
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <div class="position-relative">
              <input class="form-control shadow-none" type="password" name="password"/>
              <button class="show-password bg-transparent end-0 position-absolute top-50 translate-middle" type="button">
                <svg>
                  <use xlink:href="images/sprite.svg#icon-show-password"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="modal-footer border-top-0 justify-content-between">
          <button class="btn btn-primary btn-lg border-0 shadow-none m-0" type="submit">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>