
<div class="offcanvas offcanvas-end" id="visa-1" tabindex="-1" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <div class="subtitle-md mb-0">USA - ESTA Antrag</div>
    <button class="btn-close text-reset" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p>2 January 2022</p>
    <ul class="nav nav-pills mb-3 flex-nowrap overflow-auto" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="side-tab-1" data-bs-toggle="pill" data-bs-target="#side-1" type="button" role="tab" aria-controls="side-1" aria-selected="true">Antragsstatus</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="side-tab-2" data-bs-toggle="pill" data-bs-target="#side-2" type="button" role="tab" aria-controls="side-2" aria-selected="false">Nachrichten</button><span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger lh-1 mt-2 px-1">22</span>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="side-tab-3" data-bs-toggle="pill" data-bs-target="#side-3" type="button" role="tab" aria-controls="side-3" aria-selected="false">Rechnungen</button>
      </li>
    </ul>
    <div class="tab-content" id="side-tabContent">
      <div class="tab-pane fade show active" id="side-1" role="tabpanel" aria-labelledby="side-tab-1">
        <p><span class="badge bg-success rounded-pill">Übermittelt</span></p>
        <div class="d-flex align-items-center justify-content-between my-4">
          <p class="mb-0">Zusammenfassung</p><a class="gradient-text ms-auto" href="#">usa27_summary.pdf<img class="ms-1" src="images/icon-download.svg" alt="icon"/></a>
        </div>
        <p>Wir werden Dich informieren sobald dein Visum genehmigt wurde</p>
        <p class="fs-18">Reiseteilnehmer</p>
        <div class="d-flex align-items-center justify-content-between border-bottom py-3"><span class="fs-18">John Smith Doe</span></div>
        <div class="d-flex align-items-center justify-content-between border-bottom py-3"><span class="fs-18">Kate Terry Doe</span></div>
        <div class="d-flex align-items-center justify-content-between border-bottom py-3"><span class="fs-18">Frank Terry Smith Doe</span></div>
        <p class="mt-4"><span class="badge bg-primary rounded-pill">Genehmigt</span></p>
        <p class="fs-18">Reiseteilnehmer</p>
        <div class="d-flex align-items-center justify-content-between border-bottom py-3"><span class="fs-18">John Smith Doe</span><a class="gradient-text ms-auto" href="#">Visa Download<img class="ms-1" src="images/icon-download.svg" alt="icon"/></a></div>
        <div class="d-flex align-items-center justify-content-between border-bottom py-3"><span class="fs-18">Kate Terry Doe</span><a class="gradient-text ms-auto" href="#">Visa Download<img class="ms-1" src="images/icon-download.svg" alt="icon"/></a></div>
        <div class="d-flex align-items-center justify-content-between border-bottom py-3"><span class="fs-18">Frank Terry Smith Doe</span><a class="gradient-text ms-auto" href="#">Visa Download<img class="ms-1" src="images/icon-download.svg" alt="icon"/></a></div>
        <p class="mt-4"><span class="badge bg-warning rounded-pill">Fehlende Daten</span></p>
        <p class="fs-18">Dokumente hochladen</p>
        <p class="fs-16 text-danger mb-0">Folgende Dokumente fehlen:</p>
        <ul class="m-0 p-0 fs-16 list-style">
          <li class="text-danger">Reisepass</li>
        </ul>
        <div class="mb-3">
          <div class="form-group files">
            <label for="upload-file"><img src="images/upload-file-icon.png" alt="upload-file-icon"/>
              <p class="mb-0">Datei hierher ziehen oder Datei öffnen <br> Unterstützt JPEG, JPG, PNG, PDF</p>
            </label>
            <input class="form-control shadow-none" type="file" multiple="" id="upload-file"/><span></span>
          </div>
          <div class="file-upload-list">
            <div class="item-file d-none">
              <div class="d-flex align-items-center">
                <svg>
                  <use xlink:href="images/sprite.svg#icon-file-item"></use>
                </svg>
                <div class="w-100">
                  <div class="file-name">IMG_342.jpg</div>
                  <div class="progress rounded-pill">
                    <div class="progress-bar rounded-pill bg-gradient" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><a class="btn btn-primary border-0 shadow-none" href="#">Dokumente hochladen</a>
      </div>
      <div class="tab-pane fade" id="side-2" role="tabpanel" aria-labelledby="side-tab-2">
        <div class="wrap-chat">
          <div class="chat-box">
            <div class="chat-item">
              <div class="d-flex">
                <div class="chat-message">
                  <p class="mb-2">John Doe</p><span>Hello Scott!</span>
                </div>
                <div class="chat-avatar rounded-pill text-center text-uppercase">JD</div>
              </div>
              <div class="chat-item-date">15:32:41</div>
            </div>
            <div class="chat-item main-message">
              <div class="d-flex">
                <div class="chat-message">
                  <p class="mb-2">Scott Richie</p><span>hi John!</span>
                </div>
                <div class="chat-avatar rounded-pill text-center text-uppercase">SR</div>
              </div>
              <div class="chat-item-date">15:33:41</div>
            </div>
          </div>
          <form class="chat-form d-flex justify-content-between align-items-center">
            <div class="add-message position-relative me-3 flex-fill">
              <input class="border rounded-pill shadow-sm w-100" type="text" placeholder="Schreib eine Nachricht"/>
              <label for="add-file-to-message">
                <input type="file" id="add-file-to-message"/><span>
                  <svg>
                    <use xlink:href="images/sprite.svg#paperclip"></use>
                  </svg></span>
              </label>
            </div>
            <button class="add-voice-message">
              <svg>
                <use xlink:href="images/sprite.svg#microphone"></use>
              </svg>
            </button>
          </form>
        </div>
      </div>
      <div class="tab-pane fade" id="side-3" role="tabpanel" aria-labelledby="side-tab-3">
        <div class="d-flex align-items-center justify-content-between py-3 fs-16"><span>Rechnung</span><a class="gradient-text" href="#">usa36_summary.pdf<img class="ms-1" src="images/icon-download.svg" alt="icon"/></a></div>
        <div class="d-flex align-items-center justify-content-between py-3 fs-16"><span>Rechnungsdatum</span><span>2 January 2022</span></div>
        <div class="d-flex align-items-center justify-content-between py-3 fs-16"><span>Rechnungsnummer</span><span>2314</span></div>
        <div class="d-flex align-items-center justify-content-between py-3 fs-16"><span>Antragsnummer</span><span>usa36</span></div>
        <div class="d-flex align-items-center justify-content-between py-3 fs-16"><span>Status</span><span class="badge bg-success rounded-pill">Bezahlt</span></div>
        <hr class="hr light"/>
      </div>
    </div>
  </div>
</div>