
<div class="offcanvas offcanvas-end" id="order-info" tabindex="-1" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header mb-3">
    <div class="subtitle-sm mb-0">Order Info</div>
    <button class="btn-close text-reset" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="subtitle-sm fw-normal font-Lato">Application Details</div>
    <div class="d-flex align-items-center justify-content-between py-2 fs-16"><span>Application Number</span><span>lv34</span></div>
    <div class="d-flex align-items-center justify-content-between py-2 fs-16"><span>Created on</span><span>5 June 2022</span></div>
    <div class="d-flex align-items-center justify-content-between py-2 fs-16"><span>Updated on</span><span>10 June 2022</span></div>
    <div class="d-flex align-items-center justify-content-between py-2 fs-16"><span>Status</span><span class="text-warning">Incomplete</span></div>
    <div class="subtitle-sm fw-normal font-Lato mt-4 mb-2">Traveler Details</div>
    <div class="d-flex align-items-center justify-content-between py-2 fs-16"><span>Title</span><span>Mr.</span></div>
    <div class="d-flex align-items-center justify-content-between py-2 fs-16"><span>First Name</span><span>John</span></div>
    <div class="d-flex align-items-center justify-content-between py-2 fs-16"><span>Middle Name</span><span>Terry</span></div>
    <div class="d-flex align-items-center justify-content-between py-2 fs-16"><span>Family Name</span><span>Doe</span></div>
    <div class="subtitle-sm fw-normal font-Lato mt-4 mb-2">Contact Details</div>
    <div class="d-flex align-items-center justify-content-between py-2 fs-16"><span>Phone Number</span><span><img class="me-2" src="images/flags/germany.png" alt="Germany"/>+49 152 901820</span></div>
    <div class="d-flex align-items-center justify-content-between py-2 fs-16"><span>Email</span><span>john.doe@hotmail.com</span></div>
    <div class="subtitle-sm fw-normal font-Lato mt-4 mb-2">Address Details</div>
    <div class="d-flex align-items-center justify-content-between py-2 fs-16"><span>Country at Birth</span><span>Germany</span></div>
    <div class="d-flex align-items-center justify-content-between py-2 fs-16"><span>City of Birth</span><span>Berlin</span></div>
  </div>
</div>