extends ../../templates/default
block vars
	-
		title = "Indian Proxies - Infatica"
		breadcrumbs = [
			['Main', 'index.html'],
			['Locations', 'index.html'],
			['Asia', 'index.html'],
			['Indian Proxies'],
		]
block content
	-
		intro = {
			icon: {
				el: 'uploads/intro-india.png'
			},
			desc: '',
			title: 'Indian Proxies (100000 IPs)',
			text: "If you're looking for a proxy service that offers Indian IP addresses, look no further <br>than Infatica! We have a large selection of proxies available, and our proxies are <br>fast and anonymous. Our prices are also very reasonable, making us the perfect <br>choice for businesses and individuals looking to expand their reach in India. <br>Contact us today to learn more about our services!",
			btns: [
				{
					cls: '--green --lg',
					title: 'Free Trial'
				},
				{
					cls: '--b-white --lg',
					title: 'Contact Sales'
				},
			]
		}
	include ../../../blocks/intro/intro
	+style('intro', 'blocks')

	-
		pool = {
			title: 'Huge pool of Indian proxies',
			text: 'Infatica offers one of the biggest pools of Indian proxies, with over 100,000 IP addresses. You can buy as many IPs as you want without any hassle. We have both static and rotating proxies so that you can choose the one that best fits your needs. Gain access to websites and other online services via authentic residential IP addresses from cities like:',
			img: 'uploads/pool-india.svg',
			links: [
				[
					'Mumbai',
					'Delhi',
					'Bangalore',
					'Hyderabad',
					'Ahmedabad',
					'Chennai',
					'Kolkata',
				],
				[
					'Surat',
					'Pune',
					'Jaipur',
					'Lucknow',
					'Kanpur',
					'Nagpur',
					'Indore',
				],
				[
					'Thane'
				]
			]
		}
	include ../../../blocks/pool/pool
	+style('pool', 'blocks')

	-
		real = {
			title: 'Residential Proxies with IP Address of Real People',
			text: '<p>All of our proxies come with residential IPs. This means that they come from real people living in the country. With Infatica, you can be sure that your online activity is backed by a real person in India. We have a strict no-bot policy to ensure that all of our IP addresses are clean and not being used for malicious purposes.</p><p>Get in touch with us to learn more about our services and how we can help you achieve your goals. We look forward to hearing from you soon! Infatica is the leading provider of Indian proxies, and we are confident that we can meet your needs. Contact us today!</p>',
			img: 'uploads/real-india.svg'
		}
	include ../../../blocks/real/real
	+style('real', 'blocks')


	-
		blocked = {
			title: 'Visit any Indian Website without being Blocked',
			text: "If you're trying to access an Indian website from outside the country, you will likely be blocked. However, with Infatica's India proxies, you can bypass these restrictions and visit any site you want. Whether you're trying to access geo-restricted content or simply want to browse the web anonymously, our proxies will give you the freedom and flexibility you need. <br>Don't wait any longer, order Indian proxies from Infatica today and get access to the data you need. We offer the best prices and the most reliable service in the industry. Contact us today to learn more about our services and how we can help you achieve your goals! Infatica is the leading provider of Indian proxies – contact us today!",
			img: 'uploads/blocked-india.png'
		}
	include ../../../blocks/blocked/blocked
	+style('blocked', 'blocks')



	-
		work = {
			title: 'How Proxies Work',
			subtitle: 'Indian Proxies',
			text: 'A residential proxy server is an intermediary between you and your target website. It masks your original <a href="">IP address</a>, providing a new residential one. This new IP address is issued by the given country’s ISP, which helps you appear as a regular user from India. This makes local data collection and other activities much easier, with the added benefits of improved privacy and security.',
			img: 'uploads/india-round.svg'
		}
	include ../../../blocks/work/work
	+style('work', 'blocks')

	include ../../../blocks/vs/vs
	+style('vs', 'blocks')

	- should__title = 'Why You Should Choose Infatica Indian proxies'
	include ../../../blocks/should/should
	+style('should', 'blocks')

	include ../../../blocks/cases/cases
	+style('cases', 'blocks')

	include ../../../blocks/reviews/reviews
	+style('reviews', 'blocks')
	+script('reviews', 'blocks')

	- pricePlanText = 'We’re offering a set of pricing plans with varying parameters like IP address count and channel bandwidth – or use our flexible pricing option to fine-tune the parameters yourself. Choose the plan that fits your project’s needs best:'
	include ../../../blocks/price-plan/price-plan
	+style('price-plan', 'blocks')

	include ../../../blocks/trial/trial
	+style('trial', 'blocks')

	-
		ipsTitle = 'Other Countries' 
	include ../../../blocks/ips/ips
	+style('ips', 'blocks')

	-
		questions = [
			["How can I get a proxy server in India?", "If you need an Indian proxy server, Infatica is the provider you're looking for. We offer the best prices and the most reliable service in the industry. Contact us today to learn more about our services and how we can help you get the data you need."],
			["Is free proxy list safe?", "No, free proxy lists are not safe. Free proxy networks sometimes collect your data without your consent. In a worst-case scenario, they might steal your sensitive information like login and credit card details. Infatica, on the other hand, is an ethical proxy provider, obtaining IP addresses from consenting users from all across the globe – this guarantees reliable proxy performance and high uptime."],
			["How can I buy a proxy in India?", "If you need an Indian proxy server, Infatica is the provider you're looking for. We offer the best prices and the most reliable service in the industry. Contact us today to learn more about our services and how we can help you get the data you need. You can purchase our proxies through our website or by contacting us directly."],
			["Which proxy server is best in India?", "There is no one-size-fits-all answer to this question as the best proxy server for you will depend on your specific needs. However, we can say that Infatica is a reliable proxy provider with a wide range of proxies available in various locations across the globe."],
			["What do you need proxies for?", "What do you need proxies for?"],
		]
	include ../../../blocks/questions/questions
	+style('questions', 'blocks')