
<footer class="bg-dark text-white position-relative overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-xl-10 offset-xl-1">
        <div class="row">
          <div class="col-md-6">
            <h5>Newsletter abonnieren</h5>
            <p>Lorem ipsum dolor sit amet, consectetuer <br> adipiscing elit. Aenean commodo.</p>
            <form class="mt-4" action="#">
              <div class="form-row d-flex justify-content-between flex-column flex-lg-row">
                <input class="bg-dark border-bottom" type="email" name="email" placeholder="E-Mailadresse eingeben"/>
                <button class="btn btn-light text-start mt-3 mt-lg-0" type="submit">Jetzt anmelden
                  <svg>
                    <use xlink:href="images/sprite.svg#arrow-right-black"></use>
                  </svg>
                </button>
              </div>
            </form>
          </div>
          <div class="col-md-4 offset-md-2 mt-5 mt-md-0">
            <h5>Kontakt & Adresse</h5>
            <p class="mb-0">Kuhweg 2o, 50735 Köln</p><a class="btn btn-light btn-recovery text-start mt-3 mt-md-5" href="#">Mitglied werden
              <svg class="d-none d-md-block">
                <use xlink:href="images/sprite.svg#arrow-right-black"></use>
              </svg>
              <svg class="d-block d-md-none">
                <use xlink:href="images/sprite.svg#arrow-right-dark"></use>
              </svg></a>
          </div>
        </div>
        <hr class="d-none d-md-block"/>
        <div class="text-center">
          <div class="logo position-relative top-0 start-0 d-none d-md-block"><a href="index.html"><img src="images/logo.png" alt="logo"/></a></div>
          <div class="footer-links"><a class="text-decoration-none" href="#">Kontakt</a><a class="text-decoration-none" href="#">Impressum</a><a class="text-decoration-none" href="#">Datenschutz</a></div>
        </div>
      </div>
    </div>
  </div>
</footer>