
<header>
  <div class="container">
    <div class="row">
      <div class="col-xl-10 offset-xl-1">
        <div class="top-bar-nav text-end d-none d-lg-block"><a href="#">Trainingszeiten</a><a href="#">Kontakt</a></div>
        <nav class="navbar navbar-expand-lg p-0">
          <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation"><span></span><span></span><span></span></button>
          <div class="logo"><a href="index.html"><img src="images/logo.png" alt="logo"/></a></div>
          <div class="collapse navbar-collapse" id="nav">
            <ul class="navbar-nav align-items-lg-center justify-content-between w-100">
              <li class="nav-item mb-0"><a class="nav-link text-uppercase" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Hockey
                  <svg class="d-inline-block d-lg-none">
                    <use xlink:href="images/sprite.svg#arrow-down"></use>
                  </svg></a>
                <!-- Default dropdown menu-->
                <ul class="dropdown-menu rounded-0 border-0">
                  <li><a class="dropdown-item" href="hockey-herren.html">Hockeyherren</a></li>
                  <li><a class="dropdown-item" href="hockey.html">Hockeydamen</a></li>
                  <li><a class="dropdown-item" href="hockeycamp.html">Hockeyjugend</a></li>
                  <li><a class="dropdown-item" href="trainingsplane.html">Trainingspläne</a></li>
                  <li><a class="dropdown-item" href="#">Ansprechpartner</a></li>
                  <li><a class="dropdown-item" href="#">FAQ</a></li>
                </ul>
              </li>
              <li class="nav-item mb-0"><a class="nav-link text-uppercase" href="tennis.html">Tennis</a></li>
              <li class="nav-item mb-0"><a class="nav-link text-uppercase" href="#">Lacrosse</a></li>
              <li class="nav-item mb-0"><a class="nav-link text-uppercase" href="#">Kids & Family</a></li>
              <li class="nav-item mb-0"><a class="nav-link text-uppercase" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Klub
                  <svg class="d-inline-block d-lg-none">
                    <use xlink:href="images/sprite.svg#arrow-down"></use>
                  </svg></a>
                <!-- Default dropdown menu-->
                <ul class="dropdown-menu rounded-0 border-0">
                  <li><a class="dropdown-item" href="news.html">News</a></li>
                  <li><a class="dropdown-item" href="downloads.html">Downloads</a></li>
                  <li><a class="dropdown-item" href="gastronomie.html">Gastronmie</a></li>
                  <li><a class="dropdown-item" href="#">Trainingsgelände</a></li>
                  <li><a class="dropdown-item" href="vorstand.html">Vorstand</a></li>
                  <li><a class="dropdown-item" href="sponsor.html">Sponsoren</a></li>
                  <li><a class="dropdown-item" href="history.html">Historie</a></li>
                  <li><a class="dropdown-item" href="#">Büro</a></li>
                  <li><a class="dropdown-item" href="#">Newsletter</a></li>
                </ul>
              </li>
              <li class="nav-item mb-0 d-block d-lg-none"><a class="nav-link text-uppercase" href="#">Trainingszeiten</a></li>
              <li class="nav-item mb-0 d-block d-lg-none"><a class="nav-link text-uppercase" href="#">Kontakt</a></li>
              <li class="nav-item mb-0 d-none d-lg-block"><a class="social-link" href="#">
                  <svg>
                    <use xlink:href="images/sprite.svg#facebook"></use>
                  </svg></a><a class="social-link" href="#">
                  <svg>
                    <use xlink:href="images/sprite.svg#instagram"></use>
                  </svg></a></li>
            </ul>
            <p class="d-block d-lg-none text-white text-center mb-0 header-copyright">© Schwarz-Weiß Köln 2022</p>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>