/* Event page */
header.header-event {
  padding-top: 64px;
}
header.header-event.fixed {
  background: transparent;
  position: absolute;
}
header.header-event a {
  color: #F6F1EA;
}
header.header-event a:hover {
  color: #F29F05;
}
@media screen and (max-width: 768px) {
  header.header-event {
    padding-top: 16px;
  }
}

.hero-section.event-hero {
  height: auto;
  max-height: none;
  padding-top: 40vh;
  padding-bottom: 40vh;
  background: url(../images/event-hero.png) center no-repeat;
  max-height: 1730px;
}
.hero-section.event-hero::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 25%;
  background: linear-gradient(180deg, transparent 0%, #1d5033 100%);
  z-index: 3;
}
.hero-section.event-hero .container {
  z-index: 3;
}
@media screen and (max-width: 1200px) {
  .hero-section.event-hero .w-75 {
    width: 100% !important;
  }
}
@media screen and (max-width: 768px) {
  .hero-section.event-hero {
    padding-top: 20vh;
  }
}

h1.text-xl {
  white-space: nowrap;
}
@media screen and (max-width: 1400px) {
  h1.text-xl {
    white-space: normal;
  }
}

.hero-event-list li {
  position: relative;
  padding-left: 60px;
}
.hero-event-list li:not(:last-child) {
  margin-bottom: 24px;
}
.hero-event-list li:after, .hero-event-list li:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.hero-event-list li:after {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #F29F05;
  left: 0;
}
.hero-event-list li:before {
  width: 24px;
  height: 24px;
  background: url(../images/check-circle.svg) no-repeat;
  left: 12px;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .hero-event-list {
    font-size: 16px !important;
  }
}

.event-form {
  max-width: 630px;
}
.event-form .form-row:not(:last-child) {
  margin-bottom: 12px;
}
.event-form input {
  height: 48px;
  background: #FEFAF2;
  border-color: #FEFAF2;
  color: #36212A;
  text-align: center;
  padding-left: 0;
  font-weight: 500;
}
.event-form input::placeholder {
  color: #36212A;
}
@media screen and (max-width: 768px) {
  .event-form input {
    font-size: 14px;
  }
}
.event-form button:hover {
  color: #36212A;
}

.btn-orange:hover {
  color: #36212A;
}

.event-image {
  border-radius: 12px;
}

.curve-arrow {
  position: absolute;
  right: -80px;
  bottom: -120px;
  animation: scrollDown 2s infinite;
}

.section-with-transform .container {
  transform: translateY(-130px);
  position: relative;
  z-index: 5;
}

.head-of-card {
  min-height: 88px;
  margin-bottom: 24px;
  padding-bottom: 24px;
  color: #025939;
  border-bottom: 1px solid #025939;
  display: flex;
  align-items: center;
  gap: 12px;
}
.head-of-card svg {
  width: 48px;
  height: 48px;
  fill: #F29F05;
  flex-shrink: 0;
}
.head-of-card h4 {
  line-height: 32px;
}
@media screen and (max-width: 1200px) {
  .head-of-card h4 {
    font-size: 24px;
  }
}

.present-card {
  max-width: 517px;
  height: 600px;
}
.present-card img {
  height: 100%;
  object-fit: cover;
}
.present-card .blog-cover-desc {
  padding: 10px;
  bottom: 37px;
  left: 28px;
}
.present-card .blog-cover-desc p {
  font-size: 24px;
  line-height: 24px;
}
@media screen and (max-width: 992px) {
  .present-card {
    margin-bottom: 24px;
  }
}

.sign-wrap {
  gap: 100px;
}

.sign-card {
  max-width: 440px;
  min-height: 370px;
  padding: 16px 40px;
  position: relative;
}
.sign-card h4 {
  margin-bottom: 12px;
}
.sign-card p {
  font-size: 18px;
}
.sign-card .sign-number {
  font-size: 96px;
  line-height: 118px;
}
.sign-card:not(:last-child):after {
  content: "";
  position: absolute;
  width: 128px;
  height: 128px;
  background: url(../images/u_angle-right.svg) no-repeat;
  top: 50%;
  transform: translateY(-50%);
  right: -120px;
}
@media screen and (max-width: 1200px) {
  .sign-card {
    max-width: 240px;
    padding-left: 16px;
    padding-right: 16px;
    flex-shrink: 0;
  }
}
@media screen and (max-width: 992px) {
  .sign-card {
    max-width: 100%;
  }
  .sign-card:not(:last-child):after {
    top: auto;
    transform: translateX(50%) rotate(90deg);
    bottom: -110px;
    right: 50%;
  }
}

.event-blob {
  top: 25%;
  pointer-events: none;
}

.sign-event-blob {
  pointer-events: none;
  top: -35%;
  max-width: 50%;
}