@import url("https://fonts.googleapis.com/css2?family=Mansalva&family=Inter:wght@400;700&family=Outfit:wght@300;400;500;600&display=swap");
.bg-akcent-color {
  background: #FAC705;
}

.list-icon svg {
  width: 20px;
  height: 20px;
}

.w-100vw {
  width: 100vw;
}

.mh-100vh {
  min-height: 100vh;
}

.overflow-x-scroll {
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.overflow-x-scroll::-webkit-scrollbar {
  display: none;
}

.start-auto {
  left: auto !important;
}

.fw-bold {
  font-weight: 600 !important;
}

.fw-medium {
  font-weight: 500;
}

.mw-60 {
  max-width: 60%;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.border-radius-6 {
  border-radius: 6px;
}

.blob-image-2 {
  width: 80%;
  max-width: 1855px;
  position: absolute;
  top: -29%;
  right: -14%;
}

.white-popup-block {
  position: relative;
  background: #FEFAF2;
  padding: 150px 115px;
  width: 100%;
  max-width: 1600px;
  margin: 20px auto;
  border-radius: 12px;
}
.white-popup-block .cover-video {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.white-popup-block button.mfp-close {
  display: none;
}

.popup-modal-dismiss {
  width: 48px;
  height: 48px;
  background: url(../images/close-popup.svg) center/cover no-repeat;
  position: absolute;
  text-indent: -9999px;
  right: 45px;
  top: 45px;
}

.tab-nav .nav-item {
  margin-right: 50px;
}
.tab-nav .nav-item:last-child {
  margin-right: 0;
}
.tab-nav .nav-link {
  font-size: 32px;
  font-weight: 700;
  color: #D6D6D6;
  border-radius: 0;
}
.tab-nav .nav-link.active {
  border-bottom: 1px solid #F29F05;
  color: #F29F05;
}
.tab-nav .nav-link:hover {
  border-bottom: 1px solid;
}

.card-slider .slick-dots {
  bottom: 40px;
  text-align: left;
  padding-left: 40px;
}
.card-slider .slick-dots li {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.card-slider .slick-dots li:last-child {
  margin-right: 0;
}
.card-slider .slick-dots li button {
  width: 16px;
  height: 16px;
}
.card-slider .slick-dots li button:before {
  width: 16px;
  height: 16px;
  opacity: 1;
  color: #FEFAF2;
  background: #FEFAF2;
}
.card-slider .slick-dots li.slick-active button {
  width: 16px;
  height: 16px;
}
.card-slider .slick-dots li.slick-active button:before {
  width: 16px;
  height: 16px;
  color: #025939;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), #025939;
}

.card-slider.slick-initialized {
  display: block;
  height: 100% !important;
}

@media screen and (max-width: 1200px) {
  .white-popup-block {
    padding: 50px;
  }
}
@media screen and (max-width: 1440px) {
  .mw-50 {
    max-width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .blob-image-2 {
    top: 20%;
    width: 100%;
  }
  .popup-modal-dismiss {
    width: 28px;
    height: 28px;
    top: 30px;
    right: 30px;
  }
  .bg-blob {
    max-width: 50%;
    top: 10% !important;
  }
}
@media screen and (max-width: 768px) {
  .tab-nav .nav-item {
    margin-right: 15px;
  }
  .tab-nav .nav-link {
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  .white-popup-block {
    padding: 30px;
  }
}
h1 {
  font-size: 95px;
  line-height: 110%;
  font-weight: 600;
  letter-spacing: -1px;
}

h2 {
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -0.5px;
  font-weight: 600;
  color: #F29F05;
  margin-bottom: 16px;
}

h3 {
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.5px;
  font-weight: 600;
}

h4 {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
}

h5 {
  font-size: 26px;
  line-height: 26px;
  font-weight: 600;
}

h6 {
  font-size: 24px;
  line-height: 120%;
  font-weight: 600;
}

.title {
  font-family: "Mansalva";
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -0.5px;
  color: #F6F1EA;
}

.subtitle {
  font-family: "Mansalva";
  font-size: 32px;
  line-height: 123.5%;
  color: #025939;
}

p {
  margin-bottom: 0;
  font-size: 22px;
  line-height: 160%;
  letter-spacing: 0.15px;
}

.list-text li {
  background: url(../images/list-icon.svg) left center/20px no-repeat;
  margin-bottom: 18px;
  padding-left: 30px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
    line-height: 100%;
    letter-spacing: -0.123123px;
  }
  h2 {
    font-size: 30px;
    line-height: 120%;
  }
  h3 {
    font-size: 20px;
    line-height: 120%;
  }
  h4 {
    font-size: 16px;
    line-height: 25px;
  }
  h5, h6 {
    font-size: 16px;
  }
  .title {
    font-size: 20px;
    line-height: 25px;
  }
  .subtitle {
    font-size: 20px;
    line-height: 123.5%;
  }
  p {
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.0369369px;
  }
}
.top-bar {
  padding: 14px 0;
  background-image: url(../images/top-bar-bg-1.svg), url(../images/top-bar-bg-2.svg);
  background-position: 7% top, 90% center;
  background-repeat: no-repeat, no-repeat;
  background-color: #FAC705;
  font-weight: 300;
  color: #36212A;
}
.top-bar p {
  font-size: 16px;
  line-height: 100%;
}
.top-bar a {
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: #36212A;
}

header {
  padding: 16px 0;
  position: absolute;
  width: 100%;
  z-index: 3;
  transition: all 0.3s ease;
}
header.fixed {
  position: fixed;
  top: 0;
  background: #F6F1EA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 4px 16px rgba(0, 0, 0, 0.12);
}
header.fixed .navbar .navbar-nav .nav-link {
  color: rgba(54, 33, 42, 0.8);
}
header.fixed .navbar .navbar-nav .nav-link:hover {
  color: #36212A;
}
header.fixed .logo .outline {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
header.fixed .logo .color {
  width: auto;
  height: auto;
  opacity: 1;
  visibility: visible;
}
header.fixed .logo.open-menu .outline {
  width: auto;
  height: auto;
  opacity: 1;
  visibility: visible;
}
header.fixed .logo.open-menu .color {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
header.fixed .navbar-toggler svg {
  fill: #36212A;
}
header .navbar-toggler, header .navbar-toggler:active, header .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
header .navbar-toggler svg {
  width: 24px;
  height: 20px;
  fill: #FEFAF2;
}
header .navbar-toggler svg.icon-close {
  width: 13px;
  height: 13px;
  display: none;
}
header .navbar-toggler[aria-expanded=true] svg.icon-menu {
  display: none;
}
header .navbar-toggler[aria-expanded=true] svg.icon-close {
  display: inline-block;
}

.logo .color {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.navbar .navbar-nav .nav-item {
  margin-left: 30px;
  margin-bottom: 0;
}
.navbar .navbar-nav .nav-item:first-child {
  margin-left: 0;
}
.navbar .navbar-nav .nav-link {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0.15px;
  padding: 0;
}
.navbar .navbar-nav .nav-link:hover {
  color: #fff;
}
.navbar .navbar-nav .nav-btn {
  color: rgba(54, 33, 42, 0.8);
  padding: 9px 24px;
  border-radius: 500px;
  background: #F6F1EA;
}
.navbar .navbar-nav .nav-btn:hover {
  background: #FAC705;
}

.dropdown-menu {
  max-width: 1600px;
  border-radius: 16px;
  border: none;
  padding: 0;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}
.dropdown-menu ul {
  margin: 0 0 57px 0;
  padding: 0;
}
.dropdown-menu ul a {
  text-decoration: none;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.15px;
  color: #36212A;
}
.dropdown-menu ul a:hover {
  text-decoration: underline;
}
.dropdown-menu .dropdown-cover {
  position: relative;
  max-width: 486px;
  flex: 1 0 100%;
  border-radius: 16px 0 0 16px;
  overflow: hidden;
}
.dropdown-menu .dropdown-cover:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}
.dropdown-menu .dropdown-desc {
  position: absolute;
  top: 0;
  padding-top: 30px;
  padding-left: 43px;
  padding-right: 90px;
  color: #F6F1EA;
  z-index: 2;
}
.dropdown-menu .dropdown-desc p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.dropdown-title {
  margin-top: 43px;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.15px;
}

.dropdown-content {
  flex: 1 0 auto;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 992px) {
  .logo, .navbar-toggler {
    z-index: 2;
    position: relative;
  }
  .navbar-collapse {
    position: absolute;
    width: 100%;
    left: 0;
    background: #fff;
    top: -17px;
    padding: 150px 25px 60px 25px;
    border-radius: 0 0 16px 16px;
    box-shadow: 0px 4.16px 10.4px rgba(0, 0, 0, 0.15);
  }
  .navbar-collapse:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 96px;
    top: 0;
    left: 0;
    background: #F29F05;
  }
  .navbar-collapse.show:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 97%;
    left: 0;
    background: rgba(54, 33, 42, 0.7);
    z-index: -1;
  }
  .navbar-collapse .navbar-nav {
    max-width: 690px;
    margin-right: auto;
    align-items: start !important;
  }
  .navbar-collapse .navbar-nav .nav-item {
    width: 100%;
    margin-left: 0;
    padding: 16px 0;
    border-top: 1px solid rgba(54, 33, 42, 0.16);
    position: relative;
  }
  .navbar-collapse .navbar-nav .nav-item:last-child, .navbar-collapse .navbar-nav .nav-item:first-child {
    border-top: 0;
  }
  .navbar-collapse .navbar-nav .nav-item .language {
    font-size: 18px;
  }
  .navbar-collapse .navbar-nav .nav-item:last-child {
    margin-top: 25px;
  }
  .navbar-collapse .navbar-nav .nav-item:last-child:after {
    display: none;
  }
  .navbar-collapse .navbar-nav .nav-link {
    display: inline-block;
    font-size: 20px;
    color: #36212A;
  }
  .navbar-collapse .navbar-nav .nav-link:after {
    content: "";
    position: absolute;
    top: 25px;
    right: 0;
    width: 5px;
    height: 9px;
    background: url(../images/arrow-right.svg) top left/cover no-repeat;
  }
  .navbar-collapse .navbar-nav .nav-link:hover {
    color: rgba(54, 33, 42, 0.7);
    background: transparent;
  }
  .navbar-collapse .navbar-nav .nav-link.show:after {
    transform: rotate(90deg);
  }
  .navbar-collapse .navbar-nav .nav-btn {
    padding: 0;
    background: transparent;
  }
  .dropdown-menu {
    box-shadow: none;
  }
}
@media screen and (max-width: 768px) {
  .logo img {
    max-width: 48px;
  }
  .navbar-collapse {
    padding-top: 110px;
  }
  .navbar-collapse:after {
    height: 64px;
  }
  .navbar-collapse .navbar-nav {
    max-width: 510px;
  }
}
@media screen and (max-width: 480px) {
  .navbar-collapse {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.hero-section {
  height: 100vh;
  max-height: 890px;
  padding: 0;
  background: url(../images/hero-image.png) center/cover no-repeat;
  position: relative;
}
.hero-section h1 {
  color: #F6F1EA;
}
.hero-section .container, .hero-section .row {
  height: 100%;
}
.hero-section .bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-section:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
.hero-section.bg-sustainabillity {
  height: 100vh;
  background: url(../images/bg-mission-section.png) center/cover no-repeat;
}
.hero-section.hero-magazin {
  padding-top: 30vh;
  padding-bottom: 20vh;
}

.scroll-down {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 65px;
  animation: scrollDown 2s infinite;
}
.scroll-down svg {
  width: 27px;
  height: 42px;
}

.fixed-btn {
  width: 48px;
  position: fixed;
  right: 0;
  top: 20vh;
  z-index: 3;
}
.fixed-btn a {
  display: flex;
  width: 48px;
  height: 48px;
  margin-bottom: 4px;
  align-items: center;
  justify-content: center;
  border-radius: 4px 0 0 4px;
  background: #ADD0F0;
}
.fixed-btn a svg {
  width: 24px;
  height: 24px;
}
.fixed-btn a:hover {
  padding-right: 10px;
}

.section-bg-video {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  left: 0;
}
.section-bg-video-overlay:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

@media screen and (max-width: 992px) {
  .hero-section.hero-article {
    height: 50vh;
  }
  .hero-section.hero-article.h-auto.mh-100 {
    height: 80vh !important;
  }
  .hero-section.hero-article.h-auto.mh-100 .blog-cover-link img {
    height: 100%;
    object-fit: cover;
  }
}
@media screen and (max-width: 768px) {
  .hero-section {
    height: 50vh;
  }
  .hero-section.hero-article {
    height: 30vh;
  }
  .hero-section.bg-sustainabillity {
    height: 100vh;
  }
  .fixed-btn {
    width: 40px;
  }
  .fixed-btn a {
    width: 40px;
    height: 40px;
  }
  .fixed-btn a svg {
    width: 16px;
    height: 13px;
  }
}
.welcome-item {
  position: absolute;
  max-width: 190px;
  text-align: left;
  z-index: 1;
}
.welcome-item .subtitle {
  font-size: 28px;
}
.welcome-item:nth-child(1) img {
  margin-left: 50%;
}
.welcome-item:nth-child(2) {
  right: 0;
}
.welcome-item:nth-child(2) img {
  margin-left: -70%;
  margin-top: -20%;
}
.welcome-item:nth-child(3) {
  right: 0;
  bottom: 0;
}
.welcome-item:nth-child(3) img {
  position: absolute;
  bottom: 0;
  left: -70%;
}
.welcome-item:nth-child(4) {
  left: 10%;
  bottom: 10%;
}
.welcome-item:nth-child(4) img {
  position: absolute;
  bottom: -20%;
  right: -30%;
}

@media screen and (max-width: 1440px) {
  .welcome-item img {
    transform: scale(0.7);
  }
  .welcome-item:nth-child(2) {
    top: -5%;
    right: -5%;
  }
  .welcome-item:nth-child(3) {
    right: -10%;
  }
  .welcome-item:nth-child(4) {
    left: -5%;
  }
}
@media screen and (max-width: 992px) {
  .welcome-item img {
    transform: scale(1);
  }
  .welcome-item:nth-child(2) {
    top: 0;
    right: 0;
  }
  .welcome-item:nth-child(3) {
    right: 0;
  }
  .welcome-item:nth-child(4) {
    left: 0;
  }
}
@media screen and (max-width: 768px) {
  [data-aos^=zoom][data-aos^=zoom].aos-animate.welcome-item {
    transform: scale(0.5);
  }
  .welcome-image img[data-aos^=zoom][data-aos^=zoom].aos-animate {
    transform: scale(0.8);
  }
  .welcome-item:nth-child(2) {
    right: -12vw;
  }
  .welcome-item:nth-child(3) {
    right: -16vw;
    bottom: 10%;
  }
}
@media screen and (max-width: 480px) {
  .welcome-item:nth-child(2), .welcome-item:nth-child(3) {
    right: -20vw;
  }
}
.number-list {
  margin-top: 80px;
  color: #F29F05;
}
.number-list .list-item {
  text-align: center;
  border-right: 1px solid #F29F05;
  flex-basis: 20%;
}
.number-list .list-item:last-child {
  border: none;
}
.number-list .number {
  font-family: "Mansalva";
  font-size: 95px;
  line-height: 110%;
  letter-spacing: -1px;
}
.number-list p {
  font-size: 20px;
  line-height: 150%;
  color: #F6F1EA;
}

@media screen and (max-width: 1440px) {
  .number-list p {
    padding: 0 15px;
  }
}
@media screen and (max-width: 1200px) {
  .number-list {
    flex-wrap: wrap;
  }
  .number-list .list-item {
    margin-bottom: 30px;
    flex-basis: 33%;
    max-width: 33%;
  }
  .number-list .list-item:nth-child(1), .number-list .list-item:nth-child(2) {
    flex-basis: 50%;
    max-width: 50%;
  }
  .number-list .list-item:nth-child(2) {
    border-right: none;
  }
}
@media screen and (max-width: 992px) {
  .number-list .number {
    font-size: 65px;
  }
}
@media screen and (max-width: 768px) {
  .number-list {
    margin-top: 30px;
  }
  .number-list .number {
    font-size: 30px;
  }
  .number-list p {
    font-size: 16px;
  }
}
.wrap-blog-slider, .wrap-event {
  width: 100vw;
}

.blog-slider .slick-slide {
  margin-right: 16px;
}
.blog-slider .slick-dots {
  max-width: 923px;
}
.blog-slider .blog-next {
  height: 100%;
  width: 50%;
  position: absolute;
  background: transparent;
  left: 50%;
  top: 0;
}

.blog-cover {
  width: 100%;
  max-width: 923px;
  position: relative;
  margin-right: 16px;
  border-radius: 12px;
  overflow: hidden;
}
.blog-cover-link {
  text-decoration: none;
  color: #F6F1EA;
  overflow: hidden;
  display: block;
  border-radius: 6px;
}
.blog-cover-link img {
  border-radius: 12px;
  transition: all 0.3s ease;
}
.blog-cover-link:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(54, 33, 42, 0.7) 100%);
}
.blog-cover-link:hover {
  color: #F6F1EA;
}
.blog-cover-link:hover img {
  transform: scale(1.05);
}
.blog-cover-link:hover .go-to-story svg {
  transform: translateX(10px);
}
.blog-cover-desc {
  position: absolute;
  left: 32px;
  right: 32px;
  bottom: 23px;
  z-index: 2;
}
.blog-cover.event-cover {
  max-width: 475px;
  flex-shrink: 0;
}
.blog-cover.team-item {
  margin-top: 60px;
  max-width: 517px;
}
.blog-cover.team-item:hover .hover-card-desc {
  left: 0;
}
.blog-cover .hover-card-desc {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -110%;
  color: #fff;
  text-align: center;
  font-weight: 600;
  padding: 0 50px;
  background: #36212A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  transition: all 0.3s ease;
}
.blog-cover .hover-card-desc p {
  font-size: 20px;
}
.blog-cover .blog-date {
  min-width: 125px;
  height: 87px;
  margin-right: 10px;
  padding: 17px;
  display: inline-block;
  font-size: 30px;
  background: url(../images/bg-blog-date.svg) center/100% no-repeat;
}
.blog-cover.index {
  margin-top: -40vh;
  margin-bottom: 80px;
  z-index: 1;
}
.blog-cover.index .blog-cover-link:after {
  background: rgba(0, 0, 0, 0.3);
}
.blog-cover.index .blog-label {
  font-weight: 600;
  font-size: 16px;
}
.blog-cover.index h3 {
  font-size: 36px;
  line-height: 44px;
}
.blog-cover.index .blog-cover-desc {
  left: 37px;
  bottom: 50px;
  max-width: 50%;
}
.blog-cover.article-cover {
  margin-top: -80vh;
}

.hero-magazin .blog-cover.index {
  margin-bottom: 145px;
}
.hero-magazin .blog-cover.index .blog-cover-desc {
  left: 133px;
}
.hero-magazin .blog-cover.index .blog-date {
  top: 20px;
  left: 20px;
  z-index: 1;
}
.hero-magazin .blog-cover.index .blog-label {
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
}
.hero-magazin .blog-cover.index h3 {
  font-size: 48px;
  line-height: 57px;
}

.blog-item {
  display: flex;
  align-items: center;
  color: #F6F1EA;
}
.blog-item-image {
  width: 111px;
  max-width: 111px;
  margin-right: 24px;
  border-radius: 12px;
  overflow: hidden;
  flex: 1 0 auto;
}
.blog-item-image img {
  transition: all 0.3s ease;
}
.blog-item .blog-cover-link.small {
  max-height: 267px;
}
.blog-item .blog-cover-link.large {
  max-height: 650px;
}
.blog-item a {
  text-decoration: none;
  font-size: 20px;
  line-height: 120%;
  font-weight: 600;
  color: #F6F1EA;
}
.blog-item-desc .blog-date {
  min-width: 76px;
  height: 53px;
  margin-right: 10px;
  padding: 10px;
  display: inline-block;
  font-size: 18px;
  background: url(../images/bg-blog-date.svg) center/100% no-repeat;
}
.blog-item:hover img {
  transform: scale(1.05);
}

.blog-label {
  margin-bottom: 4px;
}
.blog-label span {
  margin-left: 6px;
  margin-right: 6px;
  position: relative;
}
.blog-label span:after {
  content: ".";
  top: 30%;
  position: absolute;
  right: -8px;
  transform: translateY(-50%);
  font-weight: 600;
  font-size: 16px;
}
.blog-label span:first-child {
  margin-left: 0;
}
.blog-label span:last-child {
  margin-right: 0;
}
.blog-label span:last-child::after {
  display: none;
}

.kreis-img {
  position: absolute;
  top: -18%;
  left: 25%;
  pointer-events: none;
}

.btn-watch {
  position: absolute;
  width: 96px;
  height: 96px;
  background: #FAC705;
  border-radius: 50%;
  display: flex;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #36212A;
  left: 18%;
  bottom: 40%;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}
.btn-watch:hover {
  background: #F6F1EA;
  color: #36212A;
}
.btn-watch svg {
  display: none;
  width: 7px;
  height: 13px;
}

.go-to-story svg {
  width: 14px;
  height: 14px;
  margin-left: 8px;
  fill: #fff;
  transition: all 0.3s ease;
}

.author-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}

.article-tag {
  margin-top: 12px;
}
.article-tag span {
  display: inline-block;
  margin: 0 4px;
  padding: 2px 10px;
  border-radius: 16px;
  font-weight: 500;
}
.article-tag span.green-tag {
  color: #50D2A1;
  border: 1px solid #50D2A1;
}
.article-tag span.white-tag {
  color: #F6F1EA;
  border: 1px solid #F6F1EA;
}
.article-tag span.dark-tag {
  color: #000;
  border: 1px solid #000;
}
.article-tag span.orange-tag {
  color: #FF7A00;
  border: 1px solid #FF7A00;
}

.article-content {
  margin-top: 70px;
}
.article-content p {
  color: #000;
}
.article-content blockquote {
  margin: 40px 0;
  padding: 5px 0 5px 32px;
  font-weight: 700;
  font-size: 22px;
  line-height: 35px;
  border-left: 4px solid #F29F05;
}
.article-content ul {
  font-size: 22px;
}
.article-content ul li {
  list-style-type: disc;
}
.article-content ul.article-nav li {
  list-style-type: none;
}

.article-slider .slick-slide {
  margin: 0 35px;
}

.article-info-section-icon svg {
  width: 48px;
  height: 48px;
}
.article-info-section-title {
  font-size: 24px;
  font-family: "Inter";
  font-weight: 700;
  color: #000;
}

.article-nav {
  background: #FEFAF2;
  letter-spacing: 0.15px;
  position: absolute;
  left: 1vw;
  z-index: 2;
}
.article-nav li {
  margin-bottom: 0;
  padding: 10px 10px 0 10px;
}
.article-nav li.current-chapter a {
  color: #000;
  border-bottom: 1px solid #000;
}
.article-nav li:last-child a {
  border-bottom: 0;
}
.article-nav a {
  font-size: 14px;
  text-decoration: none;
  display: block;
  padding-bottom: 10px;
  color: #A6A6A6;
  border-bottom: 1px solid #A6A6A6;
}
.article-nav.sticky {
  position: fixed;
  top: 136px;
}

.info-box {
  font-family: "Inter";
  margin-bottom: 40px;
  padding: 40px;
  border-radius: 12px;
}
.info-box-icon {
  margin-right: 16px;
}
.info-box-icon svg {
  width: 36px;
  height: 36px;
}
.info-box h6 {
  font-weight: 700;
  color: #fff;
}
.info-box p {
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.magazin-grid {
  margin-top: -50px;
  padding: 0;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  overflow: hidden;
}
.magazin-grid .blog-item {
  position: relative;
  height: 35vw;
  border-right: 2px solid #F6F1EA;
  border-bottom: 2px solid #F6F1EA;
}
.magazin-grid .blog-item:hover img {
  transform: none;
}
.magazin-grid .blog-item:hover .blog-cover-link::after {
  opacity: 1;
}
.magazin-grid .blog-item.square-item .blog-item-desc {
  left: 36px;
  bottom: 50px;
}
.magazin-grid .blog-item.short-item {
  height: 17.5vw;
}
.magazin-grid .blog-item.short-item .blog-item-desc {
  left: 36px;
  bottom: 40px;
}
.magazin-grid .blog-cover-link {
  max-height: 640px;
  height: 100%;
  border-radius: 0;
}
.magazin-grid .blog-cover-link:after {
  opacity: 0;
  transition: all 0.3s ease;
}
.magazin-grid .blog-cover-link img {
  border-radius: 0;
  height: 100%;
  object-fit: cover;
}
.magazin-grid .blog-cover-link video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.magazin-grid .blog-item-desc {
  position: absolute;
  left: 80px;
  bottom: 80px;
  max-width: 60%;
}
.magazin-grid .row > div:nth-of-type(2) .blog-item, .magazin-grid .row > div:nth-of-type(5) .blog-item, .magazin-grid .row > div:nth-of-type(7) .blog-item, .magazin-grid .row > div:nth-of-type(10) .blog-item {
  border-right: none;
}
.magazin-grid.index-grid {
  max-width: 1410px;
  margin: 66px auto 0 auto;
  border-radius: 12px;
  position: relative;
  z-index: 1;
}
.magazin-grid.index-grid .blog-item {
  height: 26vw;
  border-width: 1px;
}
.magazin-grid.index-grid .blog-item.short-item {
  height: 13vw;
}
.magazin-grid.index-grid .blog-item.short-item .blog-item-desc {
  max-width: 80%;
}
.magazin-grid.index-grid .blog-item.short-item .blog-item-desc a {
  font-size: 16px;
}
.magazin-grid.index-grid .blog-item.square-item .blog-item-desc {
  max-width: 80%;
}
.magazin-grid.index-grid .blog-item.square-item .blog-item-desc a {
  font-size: 16px;
}
.magazin-grid.index-grid .row > div:nth-child(3) .blog-item, .magazin-grid.index-grid .row > div:nth-child(4) .blog-item, .magazin-grid.index-grid .row > div:nth-child(5) .blog-item {
  border-bottom: none;
}
.magazin-grid.index-grid + .kreis-img {
  top: 12%;
  left: 3%;
}

@media screen and (max-width: 1440px) {
  .blog-cover .hover-card-desc p {
    font-size: 16px;
  }
  .magazin-grid .blog-item .blog-item-desc {
    max-width: 100%;
    padding-right: 36px;
  }
}
@media screen and (max-width: 1200px) {
  .blog-cover.index .blog-cover-desc {
    max-width: 100%;
  }
  .blog-item .blog-cover-link.large + .blog-item-desc {
    width: 100% !important;
  }
}
@media screen and (max-width: 992px) {
  .blog-cover.article-cover {
    margin-top: -40vh;
  }
  .hero-magazin .blog-cover.index {
    margin-bottom: 80px;
  }
  .hero-magazin .blog-cover.index .blog-cover-desc {
    left: 20px;
  }
  .hero-magazin .blog-cover.index .blog-label {
    font-size: 16px;
    line-height: 1.3;
  }
  .hero-magazin .blog-cover.index h3 {
    font-size: 36px;
    line-height: 44px;
  }
  .magazin-grid .blog-item {
    height: auto !important;
    max-height: 640px;
    border: none;
  }
  .magazin-grid .blog-item .blog-item-desc {
    left: 36px;
    max-width: 100%;
  }
  .magazin-grid.index-grid {
    max-width: 720px;
    padding: 0 15px;
  }
}
@media screen and (max-width: 768px) {
  .blog-cover.index.article-cover {
    margin-top: -20vh;
  }
  .blog-label span {
    font-size: 11px;
  }
  .btn-watch {
    width: 48px;
    height: 48px;
  }
  .kreis-img {
    top: 10%;
    left: auto;
    right: -5%;
    max-width: 190px;
  }
  .blog-item-image {
    max-width: 83px;
    height: 83px;
  }
  .blog-item a {
    font-size: 15px;
  }
  .blog-cover.event-cover {
    max-width: 335px;
  }
  .blog-cover.index {
    margin-top: -20vh;
    margin-bottom: 40px;
  }
  .blog-cover.index .blog-cover-link:after {
    display: none;
  }
  .blog-cover.index .blog-cover-desc {
    margin-top: 10px;
    position: relative;
    left: 0;
    bottom: 0;
    color: #36212A;
  }
  .blog-cover.index .blog-cover-desc h3 {
    font-size: 30px;
    line-height: 30px;
  }
  .blog-cover.index .blog-date {
    min-width: 50px;
    height: 34px;
    margin-right: 10px;
    white-space: nowrap;
    text-align: center;
    padding: 0;
    line-height: 32px;
    font-size: 12px;
    background: url(../images/bg-blog-date-small.svg) center/100% no-repeat;
  }
  .article-content {
    margin-top: 40px;
  }
  .article-content blockquote, .article-content ul {
    max-width: 100%;
    font-size: 16px;
    line-height: 26px;
  }
  .hero-magazin .blog-cover.index .blog-date {
    margin-top: 20px;
    left: auto;
    top: auto;
    position: relative !important;
  }
  .hero-magazin .blog-cover.index .blog-cover-desc {
    left: 0;
    color: #F6F1EA;
  }
  .article-info-section-title {
    font-size: 16px;
  }
}
.btn {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  border-radius: 6px;
  letter-spacing: 0.15px;
  padding: 12px 40px;
}

.btn-outline {
  margin-top: 40px;
}
.btn-outline span {
  width: 23px;
  height: 1px;
  display: inline-block;
  background: #F6F1EA;
  margin-right: 16px;
  vertical-align: middle;
  margin-top: -3px;
}
.btn-outline svg {
  width: 23px;
  height: 23px;
  margin-right: 16px;
  fill: #36212A;
}
.btn-outline.light {
  color: #F6F1EA;
  border-color: rgba(246, 241, 234, 0.23);
}
.btn-outline.light:hover {
  background: #F6F1EA;
  color: #36212A;
}
.btn-outline.light:hover span {
  background: #36212A;
}
.btn-outline.secondary {
  background: #FEFAF2;
  color: #989898;
  border-color: #36212A;
}
.btn-outline.secondary:hover {
  background: #36212A;
  color: #F6F1EA !important;
}
.btn-outline.secondary:hover svg {
  fill: #F6F1EA;
}

.btn-light {
  padding: 12px 24px;
  background: #F6F1EA;
}
.btn-light svg {
  width: 23px;
  height: 23px;
  margin-right: 16px;
  margin-left: 16px;
  fill: #000;
}

.btn-dark {
  color: #F6F1EA;
  background: #36212A;
  border: none;
}
.btn-dark svg {
  width: 23px;
  height: 23px;
  margin-right: 16px;
}
.btn-dark:hover {
  color: #FDF5E6;
}

.btn-green {
  background: #C4D473;
}

@media screen and (max-width: 768px) {
  .btn {
    font-size: 16px;
  }
  .btn-outline-light {
    padding: 6px 21px;
  }
  .btn-outline-light span {
    width: 12px;
  }
  .btn-light {
    padding: 4px 13px;
  }
}
.card-item {
  margin-top: 80px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}
.card-item img {
  transition: all 0.3s ease;
}
.card-item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(54, 33, 42, 0.6) 0%, rgba(54, 33, 42, 0) 100%);
  border-radius: 12px;
}
.card-item .card-desc {
  position: absolute;
  top: 32px;
  left: 48px;
  bottom: 50px;
  padding-right: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #F6F1EA;
  z-index: 2;
}
.card-item:hover img {
  transform: scale(1.05);
}

.card-text {
  padding: 55px 40px;
  border-radius: 6px;
  color: #025939;
  transition: all 0.3s ease;
}
.card-text .card-icon {
  margin-bottom: 20px;
}
.card-text .card-icon svg {
  width: 116px;
  height: 116px;
  fill: #025939;
  transition: all 0.3s ease;
}
.card-text .card-icon.bg-icon {
  position: absolute;
  top: 50px;
}
.card-text .card-icon.bg-icon svg {
  fill: rgba(196, 212, 115, 0.25);
  margin-left: -15px;
}
.card-text .card-icon.bg-icon.light-fill svg {
  fill: #F0F1D2;
}
.card-text p {
  font-size: 20px;
}
.card-text:hover {
  background: #36212A;
  color: #F6F1EA;
}
.card-text:hover svg {
  fill: #F6F1EA;
}

.square {
  min-height: 320px;
  pointer-events: none;
}

.card-label {
  padding: 43px 25px;
}
.card-label h4 {
  margin-bottom: 0;
  font-size: 28px;
  line-height: 38px;
}

@media screen and (max-width: 1200px) {
  .card-text {
    padding: 25px 20px;
  }
  .card-text h4 {
    font-size: 28px;
  }
}
@media screen and (max-width: 992px) {
  .card-item .card-desc {
    top: 14px;
    bottom: 14px;
    padding-right: 22px;
    left: 22px;
  }
  .card-item .card-desc h3 {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .card-item {
    margin-top: 30px;
  }
  .card-item .card-desc h3 {
    font-size: 22px;
  }
  .card-text p {
    font-size: 16px;
  }
  .card-text .card-icon svg {
    width: 90px;
    height: 90px;
  }
}
@media screen and (max-width: 576px) {
  .square {
    min-height: 200px;
  }
}
.marquee {
  overflow: hidden;
  margin-bottom: 160px;
  font-size: 120px;
  line-height: 120px;
  font-weight: 600;
  letter-spacing: -0.5px;
}
.marquee div span {
  display: block;
  white-space: nowrap;
}
.marquee div:first-child {
  margin-bottom: 50px;
}
.marquee div:first-child span {
  transform: translateX(-7%);
}
.marquee div:last-child span {
  transform: translateX(-3%);
}

.cover-video {
  max-width: 788px;
  max-height: 515px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}
.cover-video img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cover-video:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(54, 33, 42, 0.4), rgba(54, 33, 42, 0.4));
}
.cover-video .play-video {
  width: 103px;
  height: 103px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background: #F29F05;
}
.cover-video .play-video svg {
  width: 23px;
  height: 26px;
}
.cover-video iframe {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cover-video.play iframe {
  z-index: 1;
  opacity: 1;
}
.cover-video.play img {
  opacity: 0;
}
.cover-video.play:after {
  display: none;
}
.cover-video.play .play-video {
  display: none;
}
.cover-video.play + .after-play {
  display: none !important;
}

.cover-title-video {
  width: auto !important;
  height: auto !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.mission-image {
  position: absolute;
  top: 30%;
}

.subbutton {
  font-family: "Mansalva";
  font-size: 28px;
  line-height: 34px;
  color: #025939;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.subbutton span {
  width: 48px;
  height: 48px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FAC705;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 4px 16px rgba(0, 0, 0, 0.12);
  border-radius: 50%;
}
.subbutton span svg {
  width: 11px;
  height: 12px;
}
.subbutton:hover {
  color: #F6F1EA;
}

.video-arrow {
  transform: translate(-10px, -40px);
}

.after-play {
  animation: scrollDown 2s infinite;
}

@media screen and (max-width: 768px) {
  .marquee {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .marquee div:first-child {
    margin-bottom: 20px;
  }
  .mission-image {
    max-width: 150px;
  }
  .cover-video .play-video {
    width: 42px;
    height: 42px;
  }
  .cover-video .play-video svg {
    width: 9px;
    height: 10px;
  }
  .cover-title-video {
    max-width: 120px;
  }
  .after-play {
    margin-top: -40px;
  }
  .after-play a {
    transform: scale(0.7);
  }
  .after-play .video-arrow {
    transform: translate(30px, -20px) scale(0.7);
  }
}
.history-slider {
  margin-top: 90px;
}
.history-slider .slick-slide {
  margin: 0 12px;
}

.arrows {
  width: 96px;
  height: 96px;
  background: #FAC705;
  border-radius: 50%;
  position: absolute;
  display: flex;
  bottom: 25%;
  left: 10%;
}
.arrows button {
  width: 48px;
  height: 96px;
  background: transparent;
}
.arrows button svg {
  width: 7px;
  height: 13px;
  fill: #36212A;
}
.arrows button.prev svg {
  transform: rotate(180deg);
}
.arrows button:hover svg {
  fill: #fff;
}

@media screen and (max-width: 768px) {
  .history-slider .slick-slide {
    max-width: 50%;
  }
  .arrows {
    width: 48px;
    height: 48px;
    bottom: 15%;
  }
  .arrows button {
    width: 24px;
    height: 48px;
  }
  .arrows button svg {
    width: 4px;
    height: 7px;
  }
}
.with-illustration {
  overflow: hidden;
}
.with-illustration:after {
  content: "";
  position: absolute;
  top: 0;
  right: 7%;
  width: 970px;
  height: 540px;
  background: url(../images/contact-image.svg) left top/contain no-repeat;
  pointer-events: none;
}

.contact-img {
  position: absolute;
  top: -30%;
  right: 10%;
  transform: rotate(94deg);
  pointer-events: none;
}

@media screen and (max-width: 1440px) {
  .with-illustration:after {
    max-width: 50%;
  }
}
@media screen and (max-width: 992px) {
  .contact-img {
    max-width: 150px;
    top: 0;
    right: 15%;
  }
  .with-illustration:after {
    max-width: 60%;
    height: 250px;
  }
}
.partner-wrap {
  margin-left: calc((100vw - 1660px) / 2);
  padding-left: 30px;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.partner-wrap::-webkit-scrollbar {
  display: none;
}
.partner-wrap h6 {
  transition: all 0.3s ease;
}
.partner-wrap .slick-dots {
  bottom: -30px;
}
.partner-wrap .slick-dots li button:before {
  background: rgba(54, 33, 42, 0.7);
}
.partner-wrap .slick-dots li.slick-active button:before {
  background: #F29F05;
}

.partner-item {
  max-width: 368px;
  margin-top: 110px;
  margin-right: 40px;
  flex: 1 0 100%;
  transition: all 0.3s ease;
  position: relative;
}
.partner-item .border-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 368px;
  max-height: 368px;
  border-radius: 50%;
  top: 0;
  left: 0;
  background: linear-gradient(324.11deg, #C4D473 15.67%, #F29F05 84.6%);
  opacity: 0;
  transition: all 0.3s ease;
  animation: rotate 0.5s linear infinite;
}
.partner-item .border-gradient:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  bottom: 6px;
  right: 6px;
  border-radius: 50%;
  background: #FEFAF2;
}
.partner-item-img {
  display: block;
  margin-bottom: 32px;
  padding: 12px;
  border-radius: 50%;
  border: 1px solid rgba(54, 33, 42, 0.3);
  overflow: hidden;
  position: relative;
}
.partner-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.partner-item-img svg {
  width: 36px;
  height: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
}
.partner-item-img:after {
  content: "";
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  position: absolute;
  top: 12px;
  left: 12px;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(54, 33, 42, 0.4), rgba(54, 33, 42, 0.4));
  opacity: 0;
  transition: all 0.3s ease;
}
.partner-item:hover {
  transform: scale(1.035);
}
.partner-item:hover .border-gradient {
  opacity: 1;
}
.partner-item:hover .partner-item-img {
  border-color: transparent;
}
.partner-item:hover .partner-item-img:after, .partner-item:hover .partner-item-img svg {
  opacity: 1;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

@media screen and (max-width: 1630px) {
  .partner-wrap {
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .partner-item {
    max-width: 170px;
    margin-top: 30px;
  }
  .partner-item-img {
    padding: 4px;
    margin-bottom: 12px;
  }
  .partner-item-img svg {
    width: 11px;
    height: 15px;
  }
  .partner-item-img:after {
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    top: 4px;
    left: 4px;
  }
  .partner-item .border-gradient {
    max-width: 170px;
    max-height: 170px;
  }
}
footer {
  padding: 50px 0;
  background: #FDF5E6;
}
footer p {
  font-size: 16px;
}
footer .nav .nav-item {
  margin-right: 16px;
  margin-bottom: 0;
}
footer .nav .nav-item:last-child {
  margin-right: 0;
}
footer .nav .nav-link {
  padding: 0;
  font-size: 16px;
  text-decoration: underline;
  letter-spacing: 0.15px;
  color: #36212A;
}
footer .nav .nav-link:hover {
  text-decoration: none;
}
footer .social-nav .nav-item {
  margin-right: 24px;
}

.language {
  margin-right: 40px;
  font-size: 16px;
  color: #36212A;
}
.language svg {
  width: 24px;
  height: 24px;
}
.language span {
  margin-left: 11px;
}
.language:hover {
  color: #36212A;
}

.social-link svg {
  width: 20px;
  height: 20px;
}

.scroll-up {
  width: 48px;
  height: 48px;
  background: #FEFAF2;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  position: absolute;
  right: 15px;
  bottom: 80px;
}
.scroll-up svg {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 1440px) {
  footer .language {
    margin-right: 15px;
  }
}
@keyframes scrollDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes scaleOn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scaleOn2x {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fadeOn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marquee-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes floating {
  0% {
    top: 10%;
    left: 0;
  }
  30% {
    top: 15%;
    left: 10%;
  }
  70% {
    top: 5%;
    left: 5%;
  }
  100% {
    top: 10%;
    left: 0;
  }
}
@keyframes floating-2 {
  0% {
    top: 50%;
    left: 15%;
  }
  30% {
    top: 45%;
    left: 20%;
  }
  70% {
    top: 55%;
    left: 22%;
  }
  100% {
    top: 50%;
    left: 15%;
  }
}
@keyframes floating-3 {
  0% {
    top: 80%;
    left: 10%;
  }
  30% {
    top: 70%;
    left: 30%;
  }
  70% {
    top: 85%;
    left: 25%;
  }
  100% {
    top: 80%;
    left: 10%;
  }
}
@keyframes fadeLine {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes outLine {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
[data-aos=rotate-up].aos-animate {
  transform: rotate(90deg);
  opacity: 1;
}

.blob-animation {
  max-width: 80%;
  position: absolute;
  top: -25%;
  right: -30%;
  animation: rotate 100s infinite linear;
}
.blob-animation img {
  animation: scaleOn 5s infinite alternate;
}
.blob-animation.blob-left-side {
  top: -15%;
  right: auto;
  left: -10%;
}

.vacancy-nav {
  margin-bottom: 30px;
}
.vacancy-nav span {
  margin: 0 10px;
  width: 1px;
  height: 23px;
  border-right: 1px solid #BABABA;
}
.vacancy-nav a {
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: -0.5px;
  color: #BABABA;
}
.vacancy-nav a.active {
  color: #36212A;
}

.collapse-item {
  max-width: 540px;
  padding: 15px 0;
  border-bottom: 1px solid #36212A;
}
.collapse-item:last-child {
  border-bottom: 0;
}
.collapse-item svg {
  position: absolute;
  width: 12px;
  height: 20px;
  right: 0;
  top: 5px;
  transform: rotate(-90deg);
}
.collapse-item a[aria-expanded=true] svg {
  transform: rotate(90deg);
}

@media screen and (max-width: 992px) {
  .vacancy-grid .collapse-item {
    max-width: 100%;
  }
}
.map {
  max-width: 330px;
  margin-top: 110px;
  margin-left: auto;
  margin-right: auto;
}
.map-image {
  height: 460px;
}
.map .point {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  cursor: pointer;
}
.map .point.orange {
  top: 63px;
  left: 84px;
  background: #F29F05;
  animation: scaleOn 2s infinite;
}
.map .point.orange:after {
  animation: fadeOn 2s infinite;
  border: 2px solid #F29F05;
}
.map .point.green {
  top: 143px;
  left: 44px;
  background: #C4D473;
  animation: scaleOn 3s infinite;
}
.map .point.green:after {
  animation: fadeOn 3s infinite;
  border: 2px solid #C4D473;
}
.map .point:after {
  content: "";
  position: absolute;
  width: 130%;
  height: 130%;
  border-radius: 50%;
  left: -15%;
  top: -15%;
}
.map .point.open {
  animation: none;
  transform: scale(1.18);
}
.map .point.open:after {
  animation: none;
}
.map .point-desc {
  width: 175px;
  height: 175px;
  padding: 15px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
}
.map .point-desc b {
  font-weight: 600;
  position: relative;
  z-index: 2;
}
.map .point-desc p {
  font-size: 12px;
  line-height: 14px;
  position: relative;
  z-index: 1;
}
.map .point-desc:after {
  content: "";
  position: absolute;
  width: 240px;
  height: 3px;
}
.map .point-desc:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 147px;
  height: 147px;
  border-radius: 50%;
  background: #fff;
  z-index: 1;
}
.map .point-desc.orange {
  top: -22%;
  right: -30%;
  border: 14px solid #F29F05;
}
.map .point-desc.orange:after {
  left: -100%;
  transform: rotate(-27deg);
  top: 80%;
  background: #F29F05;
}
.map .point-desc.green {
  right: -15%;
  bottom: 12%;
  border: 14px solid #C4D473;
}
.map .point-desc.green:after {
  left: -100%;
  top: 7%;
  transform: rotate(37deg);
  background: #C4D473;
}

.wrap-point {
  height: 100%;
}

.white-point {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: #F6F1EA;
  position: absolute;
}
.white-point:nth-child(1) {
  top: 10%;
  transform: rotate(-25deg);
  animation: floating 4s infinite linear;
}
.white-point:nth-child(1) span {
  transform: translateY(30px) rotate(25deg);
}
.white-point:nth-child(2) {
  top: 50%;
  left: 15%;
  transform: rotate(15deg);
  animation: floating-2 5s infinite linear;
}
.white-point:nth-child(2) span {
  transform: translate(40%, -20px) rotate(-15deg);
}
.white-point:nth-child(3) {
  top: 80%;
  left: 10%;
  transform: rotate(35deg);
  animation: floating-3 3s infinite linear;
}
.white-point:nth-child(3) span {
  transform: translate(30px, -40px) rotate(-35deg);
}
.white-point:after {
  content: "";
  position: absolute;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  left: -10px;
  top: -10px;
  border: 2px solid #F6F1EA;
}
.white-point:before {
  content: "";
  position: absolute;
  width: 15vw;
  height: 3px;
  right: -12vw;
  top: calc(50% - 1.5px);
  background: #F6F1EA;
}
.white-point span {
  position: absolute;
  right: -23vw;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.15px;
  color: #F6F1EA;
  text-decoration: underline;
  display: block;
}

.gallery div[data-masonry] a {
  display: block;
}
.gallery div[data-masonry] img {
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .white-point:before {
    right: -9vw;
  }
}
@media screen and (max-width: 992px) {
  .wrap-point {
    min-height: 50vh;
  }
  .wrap-point .white-point:nth-child(1) {
    transform: scale(0.7) rotate(-25deg);
  }
  .wrap-point .white-point:nth-child(2) {
    transform: scale(0.7) rotate(15deg);
  }
  .wrap-point .white-point:nth-child(3) {
    transform: scale(0.7) rotate(35deg);
  }
  .wrap-point .white-point span {
    right: -28vw;
  }
}
@media screen and (max-width: 768px) {
  .wrap-point .white-point span {
    right: -210px;
  }
}
@media screen and (max-width: 576px) {
  .map .point-desc.orange {
    top: -17%;
    right: -7%;
  }
  .map .point-desc.orange:after {
    left: -80%;
  }
  .map .point-desc.green {
    right: -7%;
  }
}
.newsletter {
  background-image: url(../images/paperlane.svg);
  background-repeat: no-repeat;
  background-position: 94% center;
}
.newsletter-form input[type=text] {
  width: 100%;
  max-width: 313px;
  height: 48px;
  padding: 0 40px;
  border-radius: 6px;
  color: #fff;
  background: #F29F05;
  border: 1px solid #fff;
}
.newsletter-form input[type=text]::placeholder {
  color: #fff;
}
.newsletter-form button {
  height: 48px;
  padding-top: 0;
  padding-bottom: 0;
  background: #FEFAF2;
}

@media screen and (max-width: 1200px) {
  .newsletter-form button {
    width: 100%;
    max-width: 313px;
  }
}
@media screen and (max-width: 992px) {
  .newsletter {
    background-size: 30%;
  }
}
@media screen and (max-width: 768px) {
  .newsletter-form input[type=text], .newsletter-form button {
    max-width: 100%;
    width: 100%;
  }
}
form .form-row {
  margin-bottom: 12px;
}
form input, form select, form textarea {
  width: 100%;
  background-color: #fff;
  height: 62px;
  padding-left: 16px;
  border-radius: 6px;
  font-weight: 300;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0.15px;
  color: rgba(54, 33, 42, 0.8);
  border: 1px solid rgba(12, 12, 11, 0.2);
  outline: none;
  box-shadow: none;
}
form input::placeholder, form select::placeholder, form textarea::placeholder {
  color: rgba(54, 33, 42, 0.4);
}
form input::-moz-placeholder, form select::-moz-placeholder, form textarea::-moz-placeholder {
  color: rgba(54, 33, 42, 0.4);
}
form input:-ms-input-placeholder, form select:-ms-input-placeholder, form textarea:-ms-input-placeholder {
  color: rgba(54, 33, 42, 0.4);
}
form input::-webkit-input-placeholder, form select::-webkit-input-placeholder, form textarea::-webkit-input-placeholder {
  color: rgba(54, 33, 42, 0.4);
}
form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../images/select-icon.svg);
  background-position: 97% center;
  background-repeat: no-repeat;
  color: rgba(54, 33, 42, 0.4);
}
form textarea {
  height: 170px;
  padding-top: 15px;
  resize: none;
}

.roadmap-heading p, .roadmap-heading h2 {
  position: relative;
  z-index: 1;
}
.roadmap-heading:after {
  content: "";
  position: absolute;
  top: -120px;
  left: 50%;
  width: 100%;
  max-width: 1196px;
  height: 150px;
  transform: translateX(-50%);
  background: #FEFAF2;
  border-radius: 12px;
}

.roadmap-title {
  font-size: 48px;
}

.bg-top-figure {
  padding-top: 312px;
}
.bg-top-figure:after {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 312px;
  background: url(../images/bg-top-figure.png) center bottom/cover no-repeat;
}

.roadmap-number {
  max-width: 390px;
  height: 380px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: translateY(-5vw);
}
.roadmap-number span {
  font-size: 108px;
  font-family: "Mansalva";
  background: linear-gradient(324.11deg, #C4D473 15.67%, #F29F05 84.6%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.roadmap-number-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/roadmap-number-border.svg) center/cover no-repeat;
  pointer-events: none;
  transform: rotate(-90deg);
  opacity: 0;
}
.roadmap-number-border.double {
  height: calc(100% + 10px);
  background: url(../images/roadmap-number-border-double.svg) center/cover no-repeat;
}

.roadmap .row {
  margin: 220px 0;
}

.roadmap-wrap-line {
  overflow: hidden;
  position: absolute;
  top: 2%;
  left: 30%;
  transform: translateX(-50%);
  max-width: 1266px;
  width: 100%;
}
.roadmap-wrap-line img {
  position: absolute;
  width: 100%;
  top: -3%;
  left: 0;
}

.roadmap-flag {
  margin-left: 80px;
}

@media screen and (max-width: 1440px) {
  .roadmap .row {
    margin: 140px 0;
  }
}
@media screen and (max-width: 1440px) {
  .roadmap-wrap-line {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .roadmap-heading:after {
    top: -60px;
  }
  .roadmap .row {
    margin: 40px 0;
  }
  .bg-top-figure {
    padding-top: 112px;
  }
  .bg-top-figure:after {
    height: 112px;
  }
}
@media screen and (max-width: 768px) {
  .roadmap-title {
    font-size: 20px;
  }
  .roadmap-number {
    width: 180px;
    height: 170px;
  }
  .roadmap-number span {
    font-size: 40px;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  min-height: 100%;
  position: relative;
  background-color: #FEFAF2;
  font-weight: 400;
  font-style: normal;
  font-family: "Outfit", sans-serif;
  color: rgba(54, 33, 42, 0.8);
  font-size: 14px;
  line-height: 1.3;
  -webkit-text-size-adjust: none;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}
ol li, ul li {
  margin-bottom: 10px;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  border: none;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover, a:active, a:focus {
  text-decoration: none;
}

a:focus, input:focus, textarea:focus {
  outline: none;
}

html {
  height: 100%;
  overflow-x: hidden;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1630px;
  }
}
section {
  padding-top: 130px;
  padding-bottom: 150px;
}

.bg-brown {
  background: #36212A;
}

.bg-green {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), #025939;
}

.bg-green-light {
  background: #C4D473;
}
.bg-green-light.opacity {
  background: rgba(196, 212, 115, 0.25);
}

.bg-green-secondary-dark {
  background: #055A3A;
}

.border-green-light {
  border: 2px solid #C4D473;
}

.light-border {
  border: 2px solid #F0F1D2;
}

.bg-blue {
  background: #ADD0F0;
}

.bg-orange {
  background-color: #F29F05;
}

.text-white {
  color: #F6F1EA !important;
}

.mt-120 {
  margin-top: 120px;
}

.mb-2rem {
  margin-bottom: 2rem;
}

.py-90 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.translate-x-50 {
  transform: translateX(-50%);
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.text-secondary {
  color: #36212A !important;
}

.text-orange {
  color: #F29F05;
}

.with-top-bg:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 270px;
  top: 0;
  left: 0;
  background: #fff;
}

.bg-was-torf {
  background: url(../images/bg-was-torf.png) center/cover no-repeat;
}

.bg-green-secondary {
  background: #025939;
}

@media screen and (max-width: 1200px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  section {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .mt-120 {
    margin-top: 30px;
  }
}