include ../../pug/vars

.trial.case
	.trial__inner
		.trial__title.h2 Commitment-Free Trial
		.trial__text.t2 When shopping for cheap residential proxies, several providers may catch your eye – and we believe that Infatica has the most to offer. Your user experience with residential proxies isn’t limited to technical factors like household IPs – it’s also the 24/7 support, the wide choice of geo-locations, the ease-of-use, and more. Start a commitment-free trial to try these benefits for yourself.
		.trial__list.row
			.trial__item
				.trial__item-count 1
				.trial__item-title Share your contact details with us.
			
			.trial__item
				.trial__item-count 2
				.trial__item-title We’ll send you a trial account login.

			.trial__item
				.trial__item-count 3
				.trial__item-title Try Infatica. Pay only if you stay.
				
		.trial__btn.btn.--lg.--violet Start your Free Trial