
<footer class="text-grey">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-4 col-md-6">
        <p class="text-white fw-semibold">Gnomes Company</p>
        <p>537 Elk Rd Little <br> Tucson, Arizona(AZ), 85716</p>
        <p>520-318-3897</p>
      </div>
      <div class="col-lg-4 col-md-6">
        <ul class="nav-list mb-0 ps-0">
          <li><a class="text-white text-decoration-none btn-with-border" href="#about">About</a></li>
          <li><a class="text-white text-decoration-none btn-with-border" href="#thoughts">Thoughts</a></li>
          <li><a class="text-white text-decoration-none btn-with-border" href="#meet-us">Meet us</a></li>
          <li><a class="text-white text-decoration-none btn-with-border" href="#join-us">Join us</a></li>
        </ul>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center pt-140">
      <ul class="nav social-nav">
        <li class="nav-item mb-0"><a class="nav-link social-link p-0 align-items-center d-flex justify-content-center" href="#">
            <svg>
              <use xlink:href="images/sprite.svg#facebook"></use>
            </svg></a></li>
        <li class="nav-item mb-0"><a class="nav-link social-link p-0 align-items-center d-flex justify-content-center" href="#">
            <svg>
              <use xlink:href="images/sprite.svg#twitter"></use>
            </svg></a></li>
        <li class="nav-item mb-0"><a class="nav-link social-link p-0 align-items-center d-flex justify-content-center" href="#">
            <svg>
              <use xlink:href="images/sprite.svg#instagram"></use>
            </svg></a></li>
        <li class="nav-item mb-0"><a class="nav-link social-link p-0 align-items-center d-flex justify-content-center" href="#">
            <svg>
              <use xlink:href="images/sprite.svg#LinkedIn"></use>
            </svg></a></li>
        <li class="nav-item mb-0"><a class="nav-link social-link p-0 align-items-center d-flex justify-content-center" href="#">
            <svg>
              <use xlink:href="images/sprite.svg#YouTube"></use>
            </svg></a></li>
      </ul>
      <p class="mb-0 text-sm">2022 Gnomes Company Inc. All rights reserved.</p>
    </div>
  </div>
</footer>