extends ../../templates/default
block vars
	-
		title = "Residential Proxies - Infatica"
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	-
		intro = {
			icon: {
				el: 'uploads/intro-home.svg'
			},
			desc: 'Residential Proxy Network',
			title: 'Residential Proxies',
			text: 'Data is key in all business areas – and a residential proxy network can provide secure and anonymous access to the data of any major platform. If you’re looking to buy residential IP addresses that are optimized for reliability, high performance, and maximum uptime, contact Infatica today!',
			btns: [
				{
					cls: '--violet --lg',
					title: 'Free Trial'
				},
				{
					cls: '--b-white --lg',
					title: 'Contact Sales'
				},
			]
		}
	include ../../../blocks/intro/intro
	+style('intro', 'blocks')

	include ../../../blocks/desc/desc
	+style('desc', 'blocks')

	include ../../../blocks/why/why
	+style('why', 'blocks')

	include ../../../blocks/api/api
	+style('api', 'blocks')

	include ../../../blocks/ips/ips
	+style('ips', 'blocks')

	include ../../../blocks/how/how
	+style('how', 'blocks')

	include ../../../blocks/reviews/reviews
	+style('reviews', 'blocks')
	+script('reviews', 'blocks')

	- pricePlanText = 'We’re offering a set of pricing plans with varying parameters like IP address count and channel bandwidth – or use our flexible pricing option to fine-tune the parameters yourself. Choose the plan that fits your project’s needs best:'
	include ../../../blocks/price-plan/price-plan
	+style('price-plan', 'blocks')

	include ../../../blocks/trial/trial
	+style('trial', 'blocks')

	-
		questions = [
			["What can I use residential proxies for?", "Any use case where access to web data is crucial: Infatica clients use our residential proxies to build price aggregation platforms, perform search engine optimization, create brand protection and marketing strategies, conduct academic and adtech research, produce uptime and performance services, ensure corporate data protection, and more."],
			["Is using residential proxies legal?", "Yes. A proxy is simply a network add-on whose basic functionality makes your browsing easier and safer, much like an antivirus. What’s important is what you do with proxies: Performing a DDoS attack, for instance, is obviously illegal – and a valid reason for contract termination for any proxy provider."],
			["How much do residential proxies cost?", "If you’re looking for cheap residential proxies, Infatica offers a wide range of pricing options. They mainly vary by available traffic size (e.g. 400 GB per month), with $360 per month as the starter plan. Alternatively, you can select the Pay as You Go option with customizable parameters."],
			["Where can I get residential proxies?", "The easiest method is contacting a dependable proxy provider. Different providers will offer you different options regarding proxy types, locations, features, etc. An important factor has to do with the provider’s ethical standards: Proxies have to be sourced ethically to provide the best user experience."],
			["Are residential proxies detectable?", "Yes, but it would require a lot of effort on the other party’s end. For all practical purposes, a bot using real user IPs is a genuine website visitor from a specific country. Still, factors unrelated to proxies (e.g. improper use of request headers) may be indirect evidence of proxy usage."],
			["Can residential proxies expire?", "Proxy providers typically lease the IP addresses for a set period of time – after that, the given address leaves the network and becomes unavailable to its users. However, this doesn’t mean that the proxies expire in general: The proxy network still has a large number of IPs at its disposal."],
			["How do residential proxies work?", "Each internet home user (resident) has an IP address. Some users provide their IP addresses to the proxy network in exchange for various rewards. This creates a residential proxy network, which makes it possible for other users to connect to it and use these residential IP addresses to appear as genuine users from other locations."],
			["How are datacenter, residential, and ISP proxies different?", "<p>Datacenter proxies are sourced from data centers, where a large number of concurrent connections originate from. This makes data center proxies cheaper, although more detectable.</p><p>Residential proxies are backed by real users, who lend their IP addresses voluntarily to the proxy network.</p><p>ISP proxies combine the features of their datacenter and residential counterparts: Even though they’re supplied from datacenters, they feature residential IP addresses provided by the ISP.</p>"],
			["What are rotating residential proxies?", "Proxy rotation is a feature that ensures that the data collection pipeline remains operational. When a request originates from a suspicious IP address, it gets denied and the IP is blocked. When this happens, the address is rotated, i.e. replaced by a new one, maintaining a high request success rate."],
			["Which locations can Infatica’s residential proxies offer?", "Infatica’s proxy network features a set of major cities from different countries. The most popular geolocations include: the United States, Germany, Russia, Ukraine, India, Turkey, Poland, China, Brazil, Saudi Arabia, Indonesia, and Vietnam – and the full list is more extensive."],
			["Is my traffic safe when using residential proxies?", "Yes: Proxies are a good security measure as they can be configured to filter traffic and change IP addresses. More importantly, Infatica protects all traffic routed through the proxy network via end-to-end encryption: This means that no malicious third party can intercept your traffic to steal sensitive data."],
			["Are residential proxies hard to use?", "Nope: They’re easy to install via certificates or proxy management tools (which typically exist as browser extensions.) Upon installation, they don’t require active management from your end. Troubleshooting proxy issues is also easy thanks to Infatica’s technical support team – just submit a ticket and we’ll do our best to solve the problem."],
		]
	include ../../../blocks/questions/questions
	+style('questions', 'blocks')