@font-face {
  font-family: 'TTNorms-Regular';
  src: url("../fonts/TTNorms-Regular.eot");
  src: url("../fonts/TTNorms-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNorms-Regular.svg#TTNorms-Regular") format("svg"), url("../fonts/TTNorms-Regular.ttf") format("truetype"), url("../fonts/TTNorms-Regular.woff") format("woff"), url("../fonts/TTNorms-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TTNorms-Medium';
  src: url("../fonts/TTNorms-Medium.eot");
  src: url("../fonts/TTNorms-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNorms-Medium.svg#TTNorms-Medium") format("svg"), url("../fonts/TTNorms-Medium.ttf") format("truetype"), url("../fonts/TTNorms-Medium.woff") format("woff"), url("../fonts/TTNorms-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  min-height: 100%;
  position: relative;
  background-color: #fff;
  font-family: 'TTNorms-Regular' , sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  font-size: 14px;
  line-height: 1.3;
  -webkit-text-size-adjust: none;
  -ms-overflow-x: hidden;
  overflow-x: hidden; }

ol, ul {
  list-style-type: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  border: none; }

a {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

a:hover, a:active, a:focus {
  text-decoration: none; }

a:focus, input:focus, textarea:focus {
  outline: none; }

html {
  height: 100%; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.overflow-y {
  overflow-y: hidden; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.d-block {
  display: block !important; }

.bg-white {
  background: #fff; }

.margin-top-80 {
  margin-top: 80px; }

.padding-100 {
  padding-top: 100px;
  padding-bottom: 100px; }

.padding-200 {
  padding-top: 225px;
  padding-bottom: 225px; }

.container {
  margin: 0 auto;
  max-width: 1380px;
  position: relative; }

.row {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; }
  .row.justify {
    justify-content: space-between; }
  .row.around {
    justify-content: space-around; }
  .row.center {
    align-items: center; }

.column-50 {
  max-width: 50%;
  flex: 0 0 50%; }

.ml-auto {
  margin-left: auto; }

main {
  min-height: 100vh;
  margin-top: 100vh;
  background: #fff;
  position: relative;
  z-index: 2; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2; }

.logo {
  max-width: 30%; }
  .logo span {
    margin: 15px 0 0 15px;
    font-family: 'TTNorms-Medium';
    font-size: 16px;
    vertical-align: top;
    color: #fff;
    font-weight: 500;
    display: inline-block;
    position: absolute; }

.nav {
  margin-right: 20px;
  padding: 12px 0;
  transition: all .3s ease-in-out; }
  .nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
  .nav li {
    margin-left: 16px; }
    .nav li:first-child {
      margin-left: 0; }
  .nav a {
    display: inline-block;
    padding: 10px 18px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    position: relative;
    overflow: hidden;
    border-radius: 15px; }
    .nav a:after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 15px;
      background: #DFECE7;
      transition: all .3s ease;
      transform: translateX(-110%);
      z-index: -1; }
    .nav a:hover {
      color: #008076; }
      .nav a:hover:after {
        transform: translateX(0); }
    .nav a.active {
      color: #008076;
      background: #DFECE7; }

.toggle-nav {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.5);
  line-height: 0.2;
  padding: 0 10px;
  outline: none;
  cursor: pointer;
  transition: all .3s ease-in-out;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
  margin-right: 40px;
  display: none; }
  .toggle-nav span {
    width: 20px;
    height: 2px;
    display: inline-block;
    top: -2px;
    position: relative;
    background: #fff;
    transition: all .3s ease-in-out; }
  .toggle-nav:focus {
    outline: none; }
  .toggle-nav.open {
    background: #000;
    z-index: 1; }
    .toggle-nav.open span {
      top: auto; }
    .toggle-nav.open span:nth-child(1) {
      transform: rotate(45deg); }
    .toggle-nav.open span:nth-child(2) {
      display: none; }
    .toggle-nav.open span:nth-child(3) {
      transform: rotate(-45deg) translate(4px, -4px); }

.intro {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-size: cover; }
  .intro .container {
    height: 100%; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  right: 30px;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.instagram-link {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 1;
  display: inline-block;
  overflow: hidden; }
  .instagram-link:after, .instagram-link:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    transition: all .3s ease; }
  .instagram-link:after {
    left: 0; }
  .instagram-link:before {
    left: -120%; }
  .instagram-link:hover:after {
    transform: translateX(120%); }
  .instagram-link:hover:before {
    transform: translateX(120%); }

.tree {
  position: relative; }
  .tree .container {
    position: initial; }

.tree-animation {
  width: 100%;
  max-width: 780px;
  height: 440px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }
  .tree-animation .tree-video {
    max-width: 100%; }

h1, .title {
  margin-bottom: 40px;
  font-size: 45px;
  font-family: 'TTNorms-Medium';
  color: #000;
  position: relative; }
  h1 + p, .title + p {
    font-size: 18px; }
  h1.white + p, .title.white + p {
    color: #fff; }
  h1.white .title-tooltip, .title.white .title-tooltip {
    color: #fff;
    border-color: #fff; }

.white {
  color: #fff; }

.uppercase {
  text-transform: uppercase; }

.animated {
  visibility: hidden; }

.title-tooltip {
  position: absolute;
  top: 0;
  left: -40px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 15px;
  text-align: center;
  line-height: 20px;
  border: 1px solid #000; }

.cards {
  height: 530px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20%;
  font-size: 18px;
  position: relative; }
  .cards.illustration {
    padding: 0; }
  .cards p {
    margin-bottom: 20px; }
    .cards p:last-child {
      margin-bottom: 0; }
  .cards .notice {
    width: 184px;
    position: absolute;
    font-size: 18px;
    opacity: .5;
    right: 15px;
    bottom: 20px; }

.green {
  background: #008076; }

.light-green {
  background: #DFECE7; }

.caption {
  max-width: 1125px;
  margin-left: auto;
  margin-right: auto; }
  .caption p {
    margin-bottom: 25px; }

.preveliges {
  position: relative;
  padding-top: 125px;
  background-image: url(../images/bg-preveliges.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  overflow-x: hidden; }

.bg-change {
  animation: bgColor 5s ease infinite; }

@keyframes bgColor {
  0% {
    background-color: #008076; }
  50% {
    background-color: #806377; }
  100% {
    background-color: #008076; } }

.image-house {
  margin-top: 40px;
  text-align: center; }
  .image-house img {
    margin-bottom: -3px; }

.vertical-btn {
  position: absolute;
  right: 0;
  top: 50%;
  background: #fff;
  border-radius: 15px 15px 0 0;
  padding: 14px 33px 37px 33px;
  font-size: 18px;
  text-decoration: none;
  color: #000;
  transform: rotate(-90deg) translateY(104px); }
  .vertical-btn:hover {
    transform: rotate(-90deg) translateY(94px);
    background: #DFECE7; }

.blue {
  background: #006F93; }

.orange {
  background: #ECBA6F; }

.grey-color {
  background: #8B9B7F; }

h3 {
  font-family: 'TTNorms-Medium';
  font-size: 25px; }

.square {
  max-width: 580px;
  padding: 0 15%;
  visibility: visible;
  transition: all .3s ease; }
  .square.blue {
    margin-top: 230px; }
  .square.grey-color {
    margin-left: -100px;
    margin-top: -260px; }
  .square.second-green {
    margin-top: 200px;
    z-index: 1; }
  .square.light-green {
    margin-top: -400px;
    position: absolute;
    right: 14%;
    padding: 0 7%; }
  .square.last-orange {
    margin-left: -400px;
    margin-top: -40px;
    z-index: -1; }

.cards-caption {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 30px; }
  .cards-caption .cards-icon {
    margin-right: 20px; }
    .cards-caption .cards-icon svg {
      max-width: 83px;
      max-height: 80px; }

.rotation-cards {
  overflow-x: hidden; }
  .rotation-cards .column-50 {
    overflow: visible; }
    .rotation-cards .column-50::-webkit-scrollbar {
      display: none; }

.construction {
  padding: 100px 0 50px 0;
  font-size: 18px; }
  .construction-desc {
    padding-left: 14%;
    padding-right: 14%; }

.primary-btn {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  margin-top: 40px;
  margin-bottom: 18px;
  text-align: center;
  padding: 15px 43px;
  border-radius: 15px;
  color: #fff;
  background: #008076;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-border-radius: 15px; }
  .primary-btn span {
    position: relative;
    z-index: 1; }
  .primary-btn:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    background: #006F93;
    transition: all .3s ease;
    transform: translateX(-100%); }
  .primary-btn:hover:after {
    transform: translateX(0); }

.bah-gallery {
  padding-top: 150px; }

.gallery-pack {
  margin-top: 90px;
  max-height: 607px; }
  .gallery-pack li {
    margin-right: 50px;
    outline: none; }
    .gallery-pack li.first-col {
      padding-top: 45px; }
    .gallery-pack li.second-col {
      padding-top: 155px; }
    .gallery-pack li.third-col {
      padding-top: 15px; }
    .gallery-pack li.fourst-col {
      padding-top: 135px; }
    .gallery-pack li img {
      margin-bottom: 50px; }

.configure {
  height: 750px;
  position: relative;
  overflow: hidden; }
  .configure:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #006F93; }
  .configure .container, .configure .row {
    height: 100%; }
  .configure-desc {
    position: absolute;
    top: 0;
    z-index: 1;
    max-width: 235px;
    text-align: center;
    left: 50%;
    margin-left: -117px;
    padding-top: 70px; }
    .configure-desc h3 {
      padding-top: 45px; }
      .configure-desc h3 .title-tooltip {
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-color: #fff;
        left: 50%;
        margin-left: -15px;
        top: 70px; }
  .configure-btn {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    margin-top: 110px;
    font-family: 'TTNorms-Medium';
    display: inline-block;
    background: #fff;
    border-radius: 15px;
    padding: 18px 35px;
    font-size: 18px;
    text-decoration: none;
    color: #000;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);
    position: relative;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-border-radius: 15px; }
    .configure-btn span {
      position: relative;
      z-index: 1; }
    .configure-btn:after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 15px;
      background: #ECBA6F;
      transition: all .3s ease;
      transform: translateX(-100%); }
    .configure-btn:hover:after {
      transform: translateX(0); }

.side-scrolling {
  max-width: 470px;
  height: 750px;
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .side-scrolling ul {
    height: 100%; }
    .side-scrolling ul li {
      width: 100% !important;
      max-width: 400px;
      padding: 15% 0;
      transition: all 0.5s ease;
      text-align: center;
      outline: none; }
      .side-scrolling ul li img {
        margin-left: auto;
        margin-right: auto;
        opacity: .2;
        transition: all .3s ease; }
  .side-scrolling.left {
    text-align: center; }
  .side-scrolling.right {
    margin-left: auto; }
    .side-scrolling.right ul li {
      padding: 6% 0; }

.slick-current.slick-center img {
  opacity: 1; }

footer {
  background: #fff;
  padding-top: 30px;
  padding-bottom: 18px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  position: relative;
  z-index: 2; }
  footer .instagram-link {
    color: #000;
    position: relative;
    right: auto;
    bottom: auto; }
    footer .instagram-link:after, footer .instagram-link:before {
      background: #000; }

.footer-column {
  margin-right: 55px;
  line-height: 28px; }
  .footer-column:last-child {
    margin-right: 0; }
  .footer-column a {
    color: #000;
    text-decoration: none; }

.title-grey {
  font-size: 15px;
  text-transform: uppercase;
  opacity: .5;
  margin-bottom: 18px; }

.copyright {
  margin-top: 25px; }
  .copyright .row {
    align-items: flex-end; }

.footer-logo {
  margin-bottom: -18px; }
  .footer-logo img {
    margin-bottom: -5px; }

@media screen and (max-width: 1440px) {
  .nav {
    margin-right: 40px; }
    .nav li {
      margin-left: 8px; } }

@media screen and (max-width: 1280px) {
  .logo {
    margin-top: 0;
    margin-left: 15px;
    max-width: 20%; }
  .nav a {
    font-size: 16px;
    padding-left: 12px;
    padding-right: 12px; } }

@media screen and (max-width: 992px) {
  .container {
    padding-left: 10px;
    padding-right: 10px; }
  .column {
    flex-direction: column; }
  .column-reverse {
    flex-direction: column-reverse; }
  .column-50 {
    max-width: 100%;
    flex: 0 0 100%; }
  .nav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 110%;
    background: rgba(255, 255, 255, 0.9);
    font-size: 24px; }
    .nav ul {
      flex-direction: column;
      height: 100%;
      justify-content: center;
      text-align: center; }
    .nav li {
      margin: 1% 0; }
    .nav a {
      color: #000; }
    .nav.open {
      left: 0; }
  .toggle-nav {
    display: block; }
  .bg-video {
    left: 0;
    right: 0;
    width: 100%; }
  .tree-animation {
    position: relative;
    max-width: 100%;
    top: auto;
    left: auto; }
  .cards {
    padding: 0 10%; }
    .cards.margin-top-80 {
      margin-top: 0; }
  .square {
    margin: 0 !important;
    position: relative !important; }
    .square.light-green {
      right: 0; }
  .archi .cards {
    background-color: #DFECE7; }
    .archi .cards .title {
      color: #000; }
      .archi .cards .title-tooltip {
        border-color: #000;
        color: #000; }
      .archi .cards .title + p {
        color: #000; }
  .archi + section {
    overflow-x: hidden; }
  .logo {
    margin-left: 0; }
  .toggle-nav {
    margin-right: 10px; }
  .intro {
    margin: 0;
    height: 100vh; }
  h1, .title {
    margin-bottom: 25px;
    font-size: 30px; }
    h1 + p, .title + p {
      font-size: 16px; }
  .caption .title {
    padding-left: 0; }
  .title {
    padding-left: 40px; }
    .title-tooltip {
      left: 0; }
    .title + p {
      padding-left: 40px; }
  .padding-200 {
    padding-top: 35px;
    padding-bottom: 35px; }
  .padding-100 {
    padding-top: 50px;
    padding-bottom: 50px; }
  .configure .row {
    flex-direction: row; }
  .configure .column-50 {
    max-width: 50%;
    flex: 0 0 50%; }
  .configure .side-scrolling {
    max-width: 370px; }
    .configure .side-scrolling ul li img {
      max-width: 80%; }
  footer {
    padding-left: 0;
    padding-right: 0; } }

@media screen and (max-width: 768px) {
  .cards {
    height: 260px;
    font-size: 16px; }
    .cards.square {
      height: 430px;
      padding: 0 20px; }
    .cards .notice {
      position: relative;
      margin-left: auto;
      font-size: 16px;
      margin-top: 20px; }
    .cards.illustration {
      align-items: center; }
      .cards.illustration img {
        max-width: 340px; }
  .tree-animation {
    height: 350px; }
  .archi {
    padding-top: 0; }
  h3 {
    font-size: 20px; }
  .construction {
    padding: 60px 0 50px 0;
    font-size: 16px; }
    .construction-desc {
      margin-top: 40px;
      padding: 0; }
  .caption .uppercase {
    font-size: 10px; }
  .preveliges {
    padding-top: 60px; }
    .preveliges .title {
      font-size: 20px; }
  .illustration.text-right {
    padding-left: 50%; }
  .bah-gallery {
    padding-top: 80px; }
    .bah-gallery .title {
      padding: 0 20px; }
  .gallery-pack {
    height: 270px; }
    .gallery-pack li {
      max-width: 100px;
      margin-right: 20px; }
      .gallery-pack li.first-col {
        padding-top: 25px; }
      .gallery-pack li.second-col {
        padding-top: 55px; }
      .gallery-pack li.fourst-col {
        padding-top: 35px; }
  footer .row {
    flex-direction: column; }
  footer .copyright .row {
    flex-direction: row; }
  footer .instagram-link {
    position: absolute;
    top: 0;
    right: 10px;
    color: #008076; }
    footer .instagram-link:after {
      background: #008076; }
  .footer-column {
    margin: 0 0 30px 0; }
  .footer-logo {
    max-width: 177px; } }

@media screen and (max-width: 480px) {
  .logo {
    max-width: 125px;
    margin-left: -10px; }
    .logo span {
      font-size: 11px;
      margin: 10px; }
  .bg-video {
    transform: translateX(-47%);
    width: 188%; }
  .cards {
    padding: 0 10px; }
    .cards.square {
      padding: 0 20px; }
  .toggle-nav {
    margin-right: 0; }
  .archi {
    padding-bottom: 0; }
  .vertical-btn {
    display: none; }
  .image-house {
    margin-top: 90px; }
    .image-house img {
      transform: scale(1.35) translateY(-19px); }
  .primary-btn {
    margin-top: 20px; }
  .configure {
    height: 440px; }
    .configure-desc h3 {
      opacity: 0; }
    .configure-btn {
      padding-top: 12px;
      padding-bottom: 12px;
      font-size: 15px; }
  footer {
    font-size: 16px; }
  .title-grey {
    font-size: 10px;
    margin-bottom: 5px; }
  .copyright {
    font-size: 10px; }
  .side-scrolling.right ul li {
    padding: 14% 0; }
  .tree-animation {
    height: 200px; } }
