extends ../../templates/_components
block vars
	-
		title = "Компоненты"
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	.components
		.case
			.components__main-title Сводная страница компонентов сборки
			.components__wrap.row
				.components__sections
					.components__section
						.components__title Кнопки (button)
						.components__desc
							p Используеются для создания кнопок и ссылок типа кнопка на сайте
							blockquote
								h4 PUG
								p button
								pre
									| button.button
								p a
								pre
									| a.button(href="")
							blockquote
								h4 Подключение
								p #[u style.sass:]
								pre
									| @import ../components/button/button
								//- p #[u default.pug:]
								//- pre
								//- 	| +script('button', 'components')
								//- p #[u common.js:]
								//- pre
								//- 	| new Button();
						.components__inner
							.button Button
							.button.--xs.--b-gray Button XS
							.button.--sm.--b-gray Button SM
							.button.--md.--b-gray Button MD
							.button.--lg.--b-gray Button LG
							.col
								.button.--md.left.--b-gray Button MD on left
								.button.--md.mid.--b-gray Button MD on middle
								.button.--md.right.--b-gray Button MD on right
					.components__section
						.components__title Поля (field)
						.components__desc
							p Используются для создания полей и ввода информации в ней.
							p Объединяет в себя теги типа input и textarea.
							table.table
								thead
									tr
										th Состояние
										th Класс
										th Действие
								tbody
									tr
										td Нормальное
										td #[div.tac —]
										td #[div.tac —]
									tr
										td Клик (фокус)
										td --focus
										td удаляется, если клик вне компонента
									tr
										td Заполнено
										td --filled
										td удаляется, если в поле ничего нет
									tr
										td Ошибка
										td --error
										td удаляется, если на поле был клик (фокус)
							table.table
								thead
									tr
										th Название
										th Описание
										th Метод
										th Вызов
								tbody
									tr
										td Добавление ошибки
										td Добавляет класс ошибки при вызове метода
										td addError(nodeElement: element, text: message)
										td Field.addError(element, 'message');
							blockquote
								h4 Использование
								pre
									| .field
									|   .field__title
									|   .field__wrap
									|     input.field__area(type="text" name="" placeholder="")
							blockquote
								h4 Подключение
								p #[u style.sass:]
								pre
									| @import ../components/field/field
								p #[u default.pug:]
								pre
									| +script('field', 'components')
								p #[u common.js:]
								pre
									| // Fields
									| let fields = document.querySelectorAll('.field');
									| 
									| if (fields) {
									|   fields.forEach((field)=>{
									|     new Field(field);
									|   });
									| }
						.components__inner
							.field.--xs.--b-gray
								.field__title Input XS
								.field__wrap
									input.field__area(name="phone" placeholder="Введите телефон")

							.field.--xs.--b-gray
								.field__title Textarea XS
								.field__wrap
									textarea.field__area(name="comment" placeholder="Введите ваш комментарий")

							.field.--sm.--b-gray
								.field__title Input SM
								.field__wrap
									input.field__area(name="phone" placeholder="Введите телефон")

							.field.--sm.--b-gray
								.field__title Textarea SM
								.field__wrap
									textarea.field__area(name="comment" placeholder="Введите ваш комментарий")

							.field.--md.--b-gray
								.field__title Input MD
								.field__wrap
									input.field__area(name="phone" placeholder="Введите телефон")

							.field.--md.--b-gray
								.field__title Textarea MD
								.field__wrap
									textarea.field__area(name="comment" placeholder="Введите ваш комментарий")

							.field.--lg.--b-gray
								.field__title Input LG
								.field__wrap
									input.field__area(name="phone" placeholder="Введите телефон")

							.field.--lg.--b-gray
								.field__title Textarea LG
								.field__wrap
									textarea.field__area(name="comment" placeholder="Введите ваш комментарий")

					.components__section
						.components__title Чеки (check)
						.components__desc
							p Используются для формирования кликабельных блоков.
							p Объединяет в себя типы checkbox, radio и toggle.
							p Зона видимость для radio — .checks -> form -> body
							table.table
								thead
									tr
										th Состояние
										th Класс
										th Действие
								tbody
									tr
										td Нормальное
										td #[div.tac —]
										td #[div.tac —]
									tr
										td Клик
										td --checked
										td
											ul
												li удаляется, при повтроном клике, если это input type="checkbox" 
												li удаляется, при клике на элемент, если это input type="radio" 
									tr
										td Ошибка
										td --error
										td #[div.tac —]
							table.table
								thead
									tr
										th Название
										th Описание
										th Метод
										th Вызов
								tbody
									tr
										td Добавление ошибки
										td Добавляет класс ошибки при вызове метода
										td addError(nodeElement: element, text: message)
										td Check.addError(element, 'message');

							blockquote
								h4 Использование
								pre
									| .check.--checkbox
									|   input.check__input(type="checkbox" name="" value="")
									|   .check__box
									|   .check__wrap
									|     input.check__title
									|
									| .check.--radio
									|   input.check__input(type="radio" name="" value="")
									|   .check__box
									|   .check__wrap
									|     input.check__title
									|
									| .check.--toggle(data-true="checked" data-false="not checked")
									|   input.check__input(type="checkbox" name="" value="")
									|   .check__box
									|   .check__wrap
									|     input.check__title

							blockquote
								h4 Подключение
								p #[u style.sass:]
								pre
									| @import ../components/check/check
								p #[u default.pug:]
								pre
									| +script('check', 'components')
								p #[u common.js:]
								pre
									| // Checks
									| let checks = document.querySelectorAll('.check');
									| 
									| if (checks) {
									|   fields.forEach((check)=>{
									|     new Check(check);
									|   });
									| }
						.components__inner
							.checks
								.check.--checkbox.--md.--b-gray
									input.check__input(type="checkbox" name="check-group" value="check-group-1" checked="checked")
									.check__box
									.check__wrap
										.check__title Checkbox 1

								.check.--checkbox.--md.--b-gray
									input.check__input(type="checkbox" name="check-group" value="check-group-2")
									.check__box
									.check__wrap
										.check__title Checkbox 2

								.check.--checkbox.--md.--b-gray
									input.check__input(type="checkbox" name="check-group" value="check-group-3")
									.check__box
									.check__wrap
										.check__title Checkbox 3

							.checks
								.check.--radio.--md.--b-gray
									input.check__input(type="radio" name="radio-group" value="check-group-1" checked="checked")
									.check__box
									.check__wrap
										.check__title Radio 1

								.check.--radio.--md.--b-gray
									input.check__input(type="radio" name="radio-group" value="check-group-2")
									.check__box
									.check__wrap
										.check__title Radio 2

								.check.--radio.--md.--b-gray
									input.check__input(type="radio" name="radio-group" value="check-group-3")
									.check__box
									.check__wrap
										.check__title Radio 3

							.checks
								.check.--toggle.--md.--b-gray(data-true="checked" data-false="not checked")
									input.check__input(type="checkbox" name="toggle-group" value="toggle-group-1" checked="checked")
									.check__box
									.check__wrap
										.check__title Toggle 1
										.check__value

								.check.--toggle.--md.--b-gray(data-true="checked" data-false="not checked")
									input.check__input(type="checkbox" name="toggle-group" value="toggle-group-2")
									.check__box
									.check__wrap
										.check__title Toggle 2
										.check__value

								.check.--toggle.--md.--b-gray(data-true="checked" data-false="not checked")
									input.check__input(type="checkbox" name="toggle-group" value="toggle-group-3")
									.check__box
									.check__wrap
										.check__title Toggle 3
										.check__value

					.components__section
						.components__title Селект (select)
						.components__desc
							p Используются для формирования выпадающих списоков.
							table.table
								thead
									tr
										th Состояние
										th Класс
										th Действие
								tbody
									tr
										td Нормальное
										td #[div.tac —]
										td #[div.tac —]
									tr
										td Клик
										td --open
										td
											ul
												li удаляется, при повтроном клике или нажатии вне элемента
									tr
										td Выбан элемент
										td --selected
										td
											ul
												li удаляется, при клике на сосоедний элемент списка
									tr
										td Скрыт элемент
										td --hidden
										td
											ul
												li удаляется, при клике вводе валидных данных в поле

							blockquote
								h4 Использование
								pre
									| .select(data-placeholder="")
									|   .select__wrap
									|     .select__area
									|       .select__title
									|       .select__icon
									|     .select__drop
									|       select.select__parse(name="")
									|         option(value="") Option 1

							blockquote
								h4 Подключение
								p #[u style.sass:]
								pre
									| @import ../components/select/select
								p #[u default.pug:]
								pre
									| +script('select', 'components')
								p #[u common.js:]
								pre
									| var selects = document.querySelectorAll('.select');
									| if (selects) {
									|   selects.forEach(select => {
									|     new Select(select);
									|    });
									|
									|   document.addEventListener('click', (event)=>{
									|     let openSelects = document.querySelectorAll('.select.--open');
									|
									|     if (!event.target.closest('.select') && openSelects) {
									|       openSelects.forEach((select)=> {
									|         select.classList.remove(Select.classOpen);
									|       });
									|     }
									|   });
									| }
						.components__inner
							.select.--md.--b-gray(data-placeholder="Placeholder")
								.select__wrap
									.select__area
										.select__title
										.select__icon
									.select__drop
										select.select__parse(name="select-1")
											option(value="Option 1") Option 1
											option(value="Option 2") Option 2
											option(value="Option 3") Option 3

							.select.--md.--b-gray(data-placeholder="Placeholder")
								.select__wrap
									.select__area
										.select__title
										.select__icon
									.select__drop
										select.select__parse(name="select-2")
											option(value="Option 1") Option 1
											option(value="Option 2" selected="selected") Option 2
											option(value="Option 3") Option 3

							.select.--md.--b-gray
								.select__wrap
									.select__area
										.select__title
										.select__icon
									.select__drop
										select.select__parse(name="select-3")
											option(value="Option 1") Option 1
											option(value="Option 2") Option 2
											option(value="Option 3") Option 3

							.select.--md.--b-gray
								.select__wrap
									.select__area
										.select__title
										.select__icon
									.select__drop
										.field.--md
											.field__wrap
												input.field__area(name="phone" placeholder="Поиск...")
										select.select__parse(name="select-4")
											option(value="Option 1") Option 1
											option(value="Option 2") Option 2
											option(value="Option 3") Option 3

					.components__section
						.components__title Модальные окна (popup)
						.components__desc
							p Используются для всплывающих окон и галерей.
							p Зона видимость атрибутов для передачи аргумента — "data-src" -> "href"
							//- table.table
							//- 	thead
							//- 		tr
							//- 			th Состояние
							//- 			th Класс
							//- 			th Действие
							//- 	tbody
							//- 		tr
							//- 			td Нормальное
							//- 			td #[div.tac —]
							//- 			td #[div.tac —]
							//- 		tr
							//- 			td Клик
							//- 			td --checked
							//- 			td
							//- 				ul
							//- 					li удаляется, при повтроном клике, если это input type="checkbox" 
							//- 					li удаляется, при клике на элемент, если это input type="radio" 
							//- 		tr
							//- 			td Ошибка
							//- 			td --error
							//- 			td #[div.tac —]
							table.table
								thead
									tr
										th Название
										th Описание
										th Метод
										th Вызов
								tbody
									tr
										td Открытие попап
										td Открывает попап при вызове метода
										td show(nodeElement: element)
										td Popup.show(element);
									tr
										td Закрывает попап
										td Закрывает попап при вызове метода
										td close()
										td Popup.close();

							//- blockquote
							//- 	h4 Использование
							//- 	pre
							//- 		| .check.--checkbox
							//- 		|   input.check__input(type="checkbox" name="" value="")
							//- 		|   .check__box
							//- 		|   .check__wrap
							//- 		|     input.check__title
							//- 		|
							//- 		| .check.--radio
							//- 		|   input.check__input(type="radio" name="" value="")
							//- 		|   .check__box
							//- 		|   .check__wrap
							//- 		|     input.check__title
							//- 		|
							//- 		| .check.--toggle(data-true="checked" data-false="not checked")
							//- 		|   input.check__input(type="checkbox" name="" value="")
							//- 		|   .check__box
							//- 		|   .check__wrap
							//- 		|     input.check__title

							//- blockquote
							//- 	h4 Подключение
							//- 	p #[u style.sass:]
							//- 	pre
							//- 		| @import ../components/check/check
							//- 	p #[u default.pug:]
							//- 	pre
							//- 		| +script('check', 'components')
							//- 	p #[u common.js:]
							//- 	pre
							//- 		| // Checks
							//- 		| let checks = document.querySelectorAll('.check');
							//- 		| 
							//- 		| if (checks) {
							//- 		|   fields.forEach((check)=>{
							//- 		|     new Check(check);
							//- 		|   });
							//- 		| }
						.components__inner
							.button.--md.--b-gray(data-popup="" data-src="#modal-1") Попап кнопка
							a.button.--md.--b-gray(href="#modal-1" data-popup="") Попап ссылка
							a.button.--md.--b-gray(href="#noWorkingLink" data-popup="" data-src="#modal-2") Попап ссылка c 2 атрибутами

							a.button.--md.--b-gray(href="https://wallpaperscave.ru/images/original/18/07-06/earth-ocean-64581.jpg" data-popup="") Попап с изображением
							.modal#modal-1
								.modal__title Заголовок модульного окна 1

							.modal#modal-2
								.modal__title Заголовок модульного окна 2


				.components__aside
					.components__nav
						ul
							li
								a(href="") Кнопки (button)
							li
								a(href="") Поля (field)
							li
								a(href="") Чеки (check)
							li
								a(href="") Селект (select)
							li
								a(href="") Модальное окно (popup)
							li
								a(href="") Список (list)
							li
								a(href="") Валидатор (validator)
			


	//- systems page styles
	style.
		.components {
			font-family: "Tahoma", 'sans-serif';
			font-size: 14px;
			padding-top: 20px;
			padding-bottom: 20px;
		}

		.components__sections {
			width: 80%;
		}

		.components__main-title {
			font-size: 26px;
			line-height: 32px;
			margin-bottom: -20px;
		}

		.components__section {
			padding-top: 40px;
			padding-bottom: 40px;
			border-bottom: 1px solid #eee;
		}
		.components__section:last-of-type {
			border-bottom: none;
		}

		.components__title {
			font-size: 20px;
			font-weight: 700;
			line-height: 26px;
			margin-bottom: 10px;
		}
		.components__inner {
			margin-top: 20px;
		}
		.components__desc p{
			margin-bottom: 10px;
		}
		.components__desc blockquote {
			padding: 15px;
			background-color: #eee;
		}
		.components__desc blockquote h4 {
			display: block;
			font-weight: 700;
			margin-bottom: 5px;
		}
		.components__desc blockquote i, .components__desc blockquote pre {
			font-family: "Courier New";
		}
		.components__desc blockquote i {
			margin-left: 10px;
		}
		.components__desc blockquote p + pre {
			margin-top: -5px;
		}
		.components__desc blockquote pre {
			font-size: 14px;
			margin-bottom: 10px;
			padding-left: 20px;
		}
		.components__desc blockquote pre:last-child {
			margin-bottom: 0;
		}
		.components__desc blockquote u {
			text-decoration: underline;
		}
		.components__desc .table {
			width: 100%;
			border-collapse: collapse;
			text-align: center;
			margin-bottom: 10px;
		}
		.components__desc .table th {
			padding: 5px 10px;
			background-color: #eee;
		}
		.components__desc .table td {
			padding: 5px 10px;
			min-width: 200px;
			border: 1px solid #eee;
		}
		.components__desc .table td {
			text-align: left;
		}
		.components__inner .button{
			margin-bottom: 10px;
		}

		.components__inner .field{
			margin-bottom: 20px;
		}
		.components__inner .checks .check {
			min-width: 140px;
			margin-right: 12px;
		}

		.components__inner .checks{
			margin-bottom: 15px;
		}
		.components__inner .select {
			margin-bottom: 15px;
		}

		.components__inner .select .field {
			margin-bottom: 0;
		}

		.components__inner .modal {
			display: none;
		}

		.components__aside {
			width: 20%;
			padding-left: 20px;
		}

		.components__nav {
			position: sticky;
			top: 20px;
			left: 0;
		}

		.components__nav ul {
			flex-direction: column;
		}
