@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
.bg-primary {
  background: #98BE2A !important; }

.bg-warning {
  background: #FFF84C !important; }

h1 {
  font-size: 46px;
  line-height: 55px;
  font-weight: 600; }

h2 {
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 44px;
  font-weight: 500; }

h3 {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px; }

h4, h5 {
  font-weight: 500; }

h4 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500; }

h5 {
  font-size: 24px;
  line-height: 32px; }

h6 {
  font-size: 19px;
  line-height: 24px;
  margin-bottom: 15px; }

.font-size-13, .btn.font-size-13 {
  font-size: 13px;
  line-height: 16px; }

.font-weight-500 {
  font-weight: 500; }

.text-primary {
  color: #98BE2A !important; }

.text-green {
  color: #98BE2A; }

@media screen and (max-width: 768px) {
  h2 {
    font-size: 16px;
    margin-bottom: 10px; }
  h3 {
    font-size: 14px;
    line-height: 22px; } }

.btn {
  max-height: 48px;
  padding: 10px 24px;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  text-align: center;
  border-radius: 4px; }
  .btn.btn-light {
    background: #fff;
    border: 1px solid #A6A5A5; }
    .btn.btn-light span {
      color: #727272; }
    .btn.btn-light:hover {
      background: #98BE2A;
      color: #fff;
      border-color: #98BE2A; }
      .btn.btn-light:hover span {
        color: #fff; }
  .btn.btn-lg {
    padding: 15px 57px;
    border-radius: 41px;
    font-size: 14px;
    line-height: 15px; }

.btn-primary {
  background: #98BE2A;
  color: #fff;
  border: none; }

.btn-secondary {
  background: #0B1245; }

.show-more {
  max-height: none;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 12px; }
  .show-more:hover {
    color: #fff;
    background: #98BE2A;
    border-color: #98BE2A; }

.btn-link svg {
  width: 16px;
  height: 16px; }

.top-bar {
  text-align: center;
  padding: 5px 0;
  color: #fff;
  background: #98BE2A;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500; }

header {
  background: #0B1245; }
  header .toggle-nav {
    width: 18px;
    height: 16px;
    min-width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: transparent; }
    header .toggle-nav span {
      width: 100%;
      height: 2px;
      background: #fff;
      margin-bottom: 5px;
      transition: all .3s ease-in-out; }
      header .toggle-nav span:nth-child(3) {
        margin-bottom: 0; }
    header .toggle-nav.open {
      z-index: 2; }
      header .toggle-nav.open span {
        position: absolute;
        margin: 0; }
        header .toggle-nav.open span:nth-child(1) {
          transform: rotate(45deg); }
        header .toggle-nav.open span:nth-child(2) {
          display: none; }
        header .toggle-nav.open span:nth-child(3) {
          transform: rotate(-45deg); }
  header .logo {
    flex: 1 1 0;
    text-align: center; }

.catalog-link {
  border-radius: 43px;
  color: #000; }
  .catalog-link svg {
    width: 20px;
    height: 20px;
    margin-right: 11px;
    vertical-align: text-bottom;
    fill: #000; }

.header-container {
  padding: 16px 0; }

.header-search {
  max-width: 770px;
  margin: 0 15px;
  flex: 1 0 0; }
  .header-search .search-icon {
    position: absolute;
    left: 17px;
    top: 50%;
    transform: translateY(-50%); }
    .header-search .search-icon svg {
      width: 23px;
      height: 23px; }
  .header-search input[type="text"] {
    height: 40px;
    padding-left: 48px;
    border-radius: 20px;
    width: 100%; }
  .header-search button[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 20px 20px 0;
    padding-left: 15px;
    padding-right: 15px; }
  .header-search .mic-icon {
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%); }
    .header-search .mic-icon:after {
      content: "";
      position: absolute;
      top: 0;
      left: -10px;
      width: 1px;
      height: 20px;
      background: #DAD9D9; }
    .header-search .mic-icon svg {
      width: 20px;
      height: 20px; }

.header-nav svg {
  width: 25px;
  height: 25px;
  fill: #fff; }

.tarrif {
  font-size: 10px; }
  .tarrif .badge {
    margin-top: 6px;
    padding: 4px 10px;
    font-size: 10px; }

.side-nav {
  font-size: 13px; }
  .side-nav svg {
    width: 25px;
    height: 25px;
    margin-right: 8px; }
  .side-nav li {
    margin-bottom: 7px; }
    .side-nav li:last-child {
      margin-bottom: 0; }
  .side-nav a {
    padding: 0;
    color: #000; }
    .side-nav a:hover {
      color: #98BE2A; }

.hero-section {
  padding: 160px 0; }

.product-item {
  position: relative;
  padding: 15px 20px;
  border-radius: 12px;
  font-size: 13px; }
  .product-item a {
    text-align: center;
    color: #000;
    text-decoration: none; }
    .product-item a span {
      margin-top: 10px;
      margin-bottom: 10px;
      display: block;
      text-align: left; }
  .product-item .price-before {
    color: #A6A5A5; }
  .product-item .current-price {
    color: #F84147; }
  .product-item .availability {
    margin-top: 5px;
    font-size: 12px; }
  .product-item .add-to-favorite, .product-item .add-to-cart {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
    background: #fff;
    padding: 5px;
    border-radius: 8px; }
    .product-item .add-to-favorite svg, .product-item .add-to-cart svg {
      width: 25px;
      height: 22px; }
    .product-item .add-to-favorite:hover, .product-item .add-to-cart:hover {
      background: rgba(152, 190, 42, 0.1); }
  .product-item .add-to-cart {
    top: auto;
    bottom: 25px; }
    .product-item .add-to-cart svg {
      width: 27px;
      height: 27px;
      fill: #98BE2A; }
  .product-item.large-product {
    padding: 90px 48px 32px 48px;
    font-size: 18px;
    line-height: 22px; }
    .product-item.large-product a span {
      margin-top: 80px;
      margin-bottom: 30px;
      min-height: auto;
      max-height: auto; }
    .product-item.large-product .current-price {
      font-size: 36px;
      line-height: 44px; }
    .product-item.large-product .add-to-favorite {
      top: 25px;
      right: 25px; }
      .product-item.large-product .add-to-favorite svg {
        width: 30px;
        height: 27px; }
  .product-item.add-height {
    padding-top: 20px;
    padding-bottom: 20px; }
    .product-item.add-height a span {
      min-height: 33px;
      margin-bottom: 15px;
      overflow: hidden; }
  .product-item.waited {
    font-size: 14px; }
    .product-item.waited .current-price {
      font-size: 18px; }
    .product-item.waited.add-height a span {
      min-height: auto; }

.product-cover {
  height: 40vw;
  max-height: 300px;
  min-height: 200px;
  font-size: 18px;
  background: url(../images/product-cover.png) no-repeat;
  background-size: cover; }
  .product-cover a.btn {
    position: absolute;
    bottom: 40px;
    left: 27%; }

.product-rating li {
  margin: 0 3px 0 0; }

.product-rating svg {
  width: 12px;
  height: 12px;
  fill: #E1E1E1; }

.product-rating.rating-2 li:first-child svg, .product-rating.rating-2 li:nth-child(2) svg {
  fill: #FFA900; }

.product-rating.rating-3 svg {
  fill: #FFA900; }

.product-rating.rating-3 li:last-child svg, .product-rating.rating-3 li:nth-child(4) svg {
  fill: #E1E1E1; }

.product-rating.rating-4 svg {
  fill: #FFA900; }

.product-rating.rating-4 li:last-child svg {
  fill: #E1E1E1; }

.product-rating.rating-5 svg {
  fill: #FFA900; }

.category-wrap {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-auto-rows: 230px;
  grid-auto-flow: dense; }
  .category-wrap .product-item {
    font-size: 18px;
    font-weight: 500; }
    .category-wrap .product-item .product-img {
      height: calc(100% - 50px);
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .category-wrap .product-item .product-img img {
        max-height: 100%; }
  .category-wrap .product-item:first-child {
    font-size: 24px;
    grid-column: span 2;
    grid-row: span 2; }
  .category-wrap .product-item:nth-child(5), .category-wrap .product-item:nth-child(6), .category-wrap .product-item:nth-child(7), .category-wrap .product-item:nth-child(10), .category-wrap .product-item:nth-child(13), .category-wrap .product-item:nth-child(15) {
    grid-column: span 2; }
  .category-wrap .product-item:nth-child(9) {
    grid-row: span 2; }

.popular-products .product-img {
  min-height: 150px;
  line-height: 150px; }
  .popular-products .product-img img {
    max-height: 100%; }

.left-side-form {
  width: 100%;
  max-width: 340px;
  margin-right: 30px;
  position: relative; }
  .left-side-form:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 90%;
    top: 5%;
    right: -32px;
    background: rgba(166, 165, 165, 0.3); }

.right-side-form {
  margin-left: 30px;
  position: relative; }
  .right-side-form .btn {
    color: #3E77AA; }
    .right-side-form .btn svg {
      max-width: 32px;
      height: 32px; }
    .right-side-form .btn:nth-child(2) svg {
      max-height: 22px;
      width: 12px; }
  .right-side-form:after {
    content: "або";
    position: absolute;
    background: #F5F5F5;
    top: 50%;
    left: -42px;
    padding: 5px 0;
    color: rgba(166, 165, 165, 0.5);
    transform: translateY(-50%); }

.login-form .form-row {
  position: relative; }

.login-form a {
  text-decoration: none;
  color: #3E77AA; }

.login-form input {
  width: 100%;
  height: 40px;
  padding-left: 15px;
  border-radius: 20px;
  background: #fff;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(45, 35, 35, 0.2); }
  .login-form input::placeholder {
    color: rgba(0, 0, 0, 0.7); }
  .login-form input + svg {
    display: none; }

.login-form button[type="submit"] {
  width: 100%;
  background: #98BE2A;
  color: #fff;
  text-align: center;
  height: 48px;
  border-radius: 30px; }

.login-form input.error-label {
  border-color: #98BE2A; }

.login-form .error-label {
  color: #98BE2A;
  font-size: 11px;
  padding-left: 10px; }
  .login-form .error-label + svg {
    width: 21px;
    height: 21px;
    position: absolute;
    right: 15px;
    top: 10px;
    display: block; }
    .login-form .error-label + svg + .form-show-password {
      right: 50px; }

label, .custom-checkbox, .custom-radiobutton {
  cursor: pointer; }
  label input[type="checkbox"], label input[type="radio"], .custom-checkbox input[type="checkbox"], .custom-checkbox input[type="radio"], .custom-radiobutton input[type="checkbox"], .custom-radiobutton input[type="radio"] {
    width: 18px;
    height: 18px;
    opacity: 0; }
    label input[type="checkbox"] + span, label input[type="radio"] + span, .custom-checkbox input[type="checkbox"] + span, .custom-checkbox input[type="radio"] + span, .custom-radiobutton input[type="checkbox"] + span, .custom-radiobutton input[type="radio"] + span {
      width: 18px;
      height: 18px;
      margin-right: 10px;
      display: inline-block;
      border-radius: 50%;
      background-color: #fff;
      border: 1px solid #98BE2A; }
  label input[type="checkbox"]:checked + span, .custom-checkbox input[type="checkbox"]:checked + span, .custom-radiobutton input[type="checkbox"]:checked + span {
    background-color: #98BE2A;
    background-image: url(../images/icon-checkbox.svg);
    background-repeat: no-repeat;
    background-position: center center; }
  label input[type="radio"]:checked + span, .custom-checkbox input[type="radio"]:checked + span, .custom-radiobutton input[type="radio"]:checked + span {
    position: relative; }
    label input[type="radio"]:checked + span:after, .custom-checkbox input[type="radio"]:checked + span:after, .custom-radiobutton input[type="radio"]:checked + span:after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      top: 3px;
      left: 3px;
      background: #98BE2A;
      border-radius: 50%; }

.form-show-password {
  position: absolute;
  right: 20px;
  top: 10px; }
  .form-show-password svg {
    width: 20px;
    height: 20px; }

.subscribe-form {
  min-width: 400px;
  flex: 0 0 33%; }
  .subscribe-form input {
    width: 100%;
    max-width: 370px;
    height: 40px;
    padding-left: 18px; }

@media screen and (max-width: 768px) {
  .subscribe-form {
    margin-top: 20px;
    width: 100%; } }

@media screen and (max-width: 576px) {
  .subscribe-form {
    padding: 0 20px; }
    .subscribe-form input {
      max-width: 100%;
      margin-bottom: 20px; } }

.breadcrumbs {
  margin-bottom: 35px; }
  .breadcrumbs li {
    position: relative;
    margin-right: 23px;
    margin-bottom: 0; }
    .breadcrumbs li:first-child svg {
      width: 18px;
      height: 18px; }
    .breadcrumbs li:after {
      content: "";
      position: absolute;
      width: 13px;
      height: 13px;
      top: 50%;
      right: -18px;
      transform: translateY(-50%);
      background: url(../images/icon-arrow-right.svg) no-repeat; }
    .breadcrumbs li:last-child:after {
      display: none; }
  .breadcrumbs a {
    font-size: 12px;
    text-decoration: none;
    color: #1E1E1C; }

h2.product-title {
  margin-bottom: 10px;
  font-size: 28px; }

.product-code {
  color: #606060; }

#product-tab {
  margin-top: 15px;
  margin-bottom: 40px;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */ }
  #product-tab::-webkit-scrollbar {
    display: none; }
  #product-tab li {
    margin-right: 40px; }
    #product-tab li button {
      padding-top: 0;
      color: #000;
      border-radius: 0; }
      #product-tab li button.active {
        background: transparent;
        border-bottom: 1px solid #000; }

.product-image {
  margin-bottom: 20px; }

.product-thumbnail-image {
  width: 125px;
  margin-right: 20px; }
  .product-thumbnail-image a {
    padding: 5px;
    line-height: 87px;
    margin-bottom: 25px; }
    .product-thumbnail-image a:last-child {
      margin-bottom: 0; }

.product-wrap-img, .product-desc {
  border: 1px solid rgba(166, 165, 165, 0.5);
  border-radius: 15px; }

.product-cover-image {
  flex: 1 0 0;
  padding: 50px;
  border: 1px solid rgba(166, 165, 165, 0.5);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center; }

.product-desc {
  padding: 20px 40px; }
  .product-desc ul {
    flex: 1 0 0;
    margin-right: 35px; }
    .product-desc ul li {
      position: relative; }
      .product-desc ul li:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0;
        top: 0;
        border-bottom: 1px dotted #000; }
      .product-desc ul li span {
        z-index: 2; }

.product-saler {
  margin-bottom: 35px;
  text-align: right; }
  .product-saler span {
    vertical-align: sub; }

.group-product .product-img {
  min-width: 100px;
  max-width: 140px;
  text-align: center; }

.card {
  padding: 20px 30px;
  border-radius: 25px;
  border-color: rgba(166, 165, 165, 0.5); }

.product-color ul li {
  margin-right: 10px;
  margin-bottom: 0; }

.product-color ul a {
  width: 31px;
  height: 31px;
  position: relative; }
  .product-color ul a:after {
    content: "";
    position: absolute;
    width: 29px;
    height: 29px;
    top: 1px;
    left: 1px;
    border: 3px solid #fff;
    border-radius: 50%; }
  .product-color ul a.disabled {
    width: 25px;
    height: 25px;
    background: #D1D1D1;
    overflow: hidden; }
    .product-color ul a.disabled:after, .product-color ul a.disabled:before {
      width: 25px;
      height: 1px;
      top: 50%;
      left: 0;
      transform: translateY(-50%) rotate(45deg);
      border-radius: 0;
      background: #6A6A6A;
      border: none; }
    .product-color ul a.disabled:before {
      content: "";
      transform: translateY(-50%) rotate(-45deg);
      position: absolute; }

.price-and-buy {
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap; }
  .price-and-buy .btn {
    max-width: 200px;
    margin-right: 17px;
    font-size: 14px; }
  .price-and-buy a svg {
    width: 30px;
    height: 30px; }

.product-price {
  margin-right: 30px;
  font-size: 48px;
  flex: 1 0 auto; }
  .product-price span {
    font-size: 36px; }

.product-garanty .custom-checkbox input[type="checkbox"] + span {
  border-radius: 4px; }

.review-item a {
  color: #3E77AA; }

.review-item svg {
  width: 24px;
  height: 24px; }

.review-header, .review-content, .review-footer {
  padding: 20px 40px; }

.review-footer a svg {
  margin-right: 5px; }

.info-link svg {
  width: 17px;
  height: 17px;
  fill: rgba(166, 165, 165, 0.7); }

.icon-plus {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.product-landing-desc {
  flex-wrap: wrap; }
  .product-landing-desc .desc-item {
    flex: 0 0 20%;
    margin-bottom: 70px; }
    .product-landing-desc .desc-item b {
      font-size: 20px;
      font-weight: 600; }
    .product-landing-desc .desc-item p {
      margin: 20px 0 0 0; }

.box-desc .col-md-6 .card {
  max-height: 440px; }

@media screen and (max-width: 992px) {
  .product-saler {
    text-align: left; }
  .product-landing-desc .desc-item {
    flex: 0 0 30%; } }

@media screen and (max-width: 768px) {
  .card {
    padding: 20px; } }

@media screen and (max-width: 576px) {
  .price-and-buy {
    justify-content: center; }
    .price-and-buy .btn {
      max-width: 100%;
      margin-bottom: 20px; }
  h2.product-title {
    font-size: 22px; }
  .product-thumbnail-image {
    margin-right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px; }
    .product-thumbnail-image a {
      width: 100px;
      max-height: 87px;
      padding: 0 10px; }
  .product-landing-desc .desc-item {
    flex: 0 0 50%; } }

@media screen and (max-width: 480px) {
  .breadcrumbs li {
    margin-right: 18px; }
    .breadcrumbs li:after {
      right: -15px; }
  .breadcrumbs a {
    font-size: 10px; }
  .product-desc {
    padding: 20px;
    font-size: 12px; }
  .group-product .product-img {
    min-width: 60px; } }

footer {
  margin-top: 50px; }
  footer .social-link svg, footer .social-link img {
    width: 37px;
    height: 37px; }

.footer-app {
  padding: 50px 0;
  background: #0B1245;
  color: #98BE2A; }
  .footer-app h3 {
    font-size: 24px; }

.working-hours svg {
  width: 17px;
  height: 17px; }

.copyright {
  font-size: 13px;
  color: #A6A5A5;
  text-align: right; }

@media screen and (max-width: 768px) {
  .copyright {
    text-align: center; } }

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  min-height: 100%;
  position: relative;
  background-color: #F5F5F5;
  font-weight: 400;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 1.3;
  -webkit-text-size-adjust: none;
  -ms-overflow-x: hidden;
  overflow-x: hidden; }

ol, ul {
  list-style: none; }
  ol li, ul li {
    margin-bottom: 10px; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  border: none; }

a {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

a:hover, a:active, a:focus {
  text-decoration: none; }

a:focus, input:focus, textarea:focus {
  outline: none; }

html {
  height: 100%;
  overflow-x: hidden; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

main {
  min-height: 100vh;
  padding-top: 33px;
  overflow-x: hidden; }

.card-box {
  padding: 13px 34px;
  border-radius: 12px; }
  .card-box hr {
    margin-left: -34px;
    margin-right: -34px;
    opacity: 1;
    background: #DADADA; }

.social-link svg {
  width: 24px;
  height: 24px; }

.index-action > * {
  padding-left: 5px;
  padding-right: 5px; }

.bg-green {
  background-color: #23584F; }

.bg-brown {
  background-color: #974141; }

.bg-primary {
  background: #98BE2A; }

.company-logos {
  margin-top: 110px; }
  .company-logos li {
    position: relative;
    margin-right: 10px; }
    .company-logos li:after {
      content: "";
      position: absolute;
      top: 50%;
      right: -40px;
      width: 1px;
      height: 60px;
      background: #C4C4C4;
      transform: translateY(-50%);
      opacity: 0; }
    .company-logos li:last-child {
      margin-right: 0; }
      .company-logos li:last-child:after {
        display: none; }

.container-fluid {
  padding-left: 50px;
  padding-right: 50px; }

.white-popup {
  position: relative;
  background: #F5F5F5;
  padding: 30px;
  width: auto;
  max-width: 670px;
  margin: 20px auto;
  border-radius: 15px; }

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1560px; } }

@media screen and (max-width: 992px) {
  .index-action > * {
    padding-left: 10px;
    padding-right: 10px; }
  .d-flex .product-item.waited {
    max-width: calc(50% - 10px); }
  footer .social-link svg, footer .social-link img {
    width: 27px;
    height: 27px; } }

@media screen and (max-width: 768px) {
  .header-search {
    margin-left: 0; }
  .product-item.large-product {
    padding: 40px 20px 15px 20px;
    font-size: 13px; }
    .product-item.large-product a span {
      margin-top: 30px;
      margin-bottom: 10px; }
    .product-item.large-product .current-price {
      font-size: 14px;
      line-height: 18px; }
  .show-more {
    padding-top: 14px;
    padding-bottom: 14px; }
  .product-item {
    min-height: 309px; }
    .product-item .product-img {
      min-height: 150px;
      line-height: 150px; }
      .product-item .product-img img {
        max-height: 100%; }
    .product-item.product-cover {
      min-height: 200px;
      font-size: 14px; }
      .product-item.product-cover a.btn {
        bottom: 10px; }
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px; }
  .company-logos {
    margin-top: 50px;
    flex-wrap: wrap; }
  .category-wrap {
    display: flex;
    flex-wrap: wrap; }
    .category-wrap .product-item {
      min-height: 0;
      max-width: 50%;
      flex: 0 0 calc(50% - 10px);
      font-size: 16px; }
      .category-wrap .product-item .product-img {
        height: calc(100% - 100px); }
      .category-wrap .product-item:first-child {
        font-size: 16px; } }

@media screen and (max-width: 576px) {
  .company-logos img {
    max-height: 50px; } }
