@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  min-height: 100%;
  position: relative;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #04004f;
  font-size: 14px;
  line-height: 1.3;
  -webkit-text-size-adjust: none;
  -ms-overflow-x: hidden;
  overflow-x: hidden; }
  body.bg-dark-green {
    background: #012b2b; }
    body.bg-dark-green header {
      background: transparent; }
  body.dashboard .menu-button {
    display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  border: none; }

a {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

a:hover, a:active, a:focus {
  text-decoration: none; }

a:focus, input:focus, textarea:focus {
  outline: none; }

html {
  height: 100%; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  margin: 0 auto;
  max-width: 1310px;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin: 0 auto;
  display: flex; }
  .row.justify {
    justify-content: space-between; }
  .row.around {
    justify-content: space-around; }
  .row.center {
    align-items: center; }

main.full-height {
  min-height: calc(100vh - 125px - 233px);
  display: flex;
  flex-direction: column;
  justify-content: center; }

main.light-bg {
  background: #f5f5f3;
  min-height: calc(100vh - 125px);
  display: block; }

header {
  position: relative;
  height: 125px;
  background: #012b2b; }
  header .header-title {
    margin-left: auto;
    margin-right: auto;
    font-size: 26px;
    font-weight: 500;
    color: #fff; }
  header .container, header .row {
    height: 100%;
    position: relative; }
  header .logo {
    position: absolute;
    top: 0; }

.logo {
  width: 125px;
  height: 125px;
  background: #ed4c13; }

.menu-button {
  width: 125px;
  height: 125px;
  background: #000;
  text-align: center;
  cursor: pointer;
  outline: none;
  display: none; }
  .menu-button svg {
    width: 32px;
    height: 20px;
    transition: all .3s ease; }
  .menu-button.open svg {
    transform: rotate(90deg); }

.menu-dropdown {
  background-color: #000;
  min-width: 20.625rem;
  position: absolute;
  top: 100%;
  right: 0;
  display: none; }
  .menu-dropdown a {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 1rem 1.5rem;
    text-decoration: none; }
    .menu-dropdown a svg {
      width: 16px;
      height: 16px;
      margin-left: 3.5rem;
      fill: #fff; }
    .menu-dropdown a:hover {
      text-decoration: underline; }
  .menu-dropdown.open {
    display: block; }

.user-name {
  color: #fff;
  justify-content: center;
  display: flex;
  padding: 1.5rem 3rem 1rem;
  font-size: .875rem;
  font-weight: 600;
  border-bottom: 1px solid #012b2b; }

.wrap-form {
  margin: 0 auto;
  padding: 50px;
  max-width: 610px; }
  .wrap-form input::placeholder {
    font-size: 1rem;
    line-height: 1.5; }

.center-text {
  text-align: center; }

.form-row {
  margin-bottom: 20px; }
  .form-row input, .form-row select {
    border-radius: 30px;
    padding: 0.9rem 2.75rem;
    display: block;
    width: 100%;
    color: #000;
    background: #fff;
    border: none;
    font-size: 1rem;
    line-height: 1.5;
    transition: all .3s ease; }
    .form-row input:focus, .form-row select:focus {
      background: #bcc7c7; }

.form .error-box {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  display: none; }

.btn-primary {
  width: 100%;
  min-height: 42px;
  line-height: 42px;
  text-decoration: none;
  border-radius: 30px;
  padding: 1.07rem 3rem;
  text-transform: unset;
  background: #398a80;
  color: #fff;
  font-size: 1rem;
  line-height: 1rem;
  cursor: pointer;
  transition: all .3s ease-in-out; }
  .btn-primary:hover {
    opacity: .9; }

.text-right {
  text-align: right; }

.default-link {
  text-decoration: none;
  color: #bcc7c7; }

footer {
  background: #fff;
  padding: 50px 0;
  font-size: 16px;
  color: #c8c8c8; }
  footer .footer-column p {
    margin-bottom: 8px; }
    footer .footer-column p:last-child {
      margin-bottom: 0; }
  footer .footer-column a {
    text-decoration: none;
    color: #c8c8c8; }
    footer .footer-column a:hover {
      color: #bcc7c7; }
  footer .footer-column:last-child {
    margin-left: 80px; }

.footer-logo {
  margin-top: 40px; }
  .footer-logo svg {
    width: 42px;
    height: 58px;
    fill: #c8c8c8; }

.patern {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../images/pattern.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1; }

.column-title {
  color: #04004f;
  padding-top: 1.5rem;
  padding-bottom: 1rem; }

.column-link svg {
  width: 20px;
  height: 20px; }

.column-link.visit-us svg {
  fill: #ed4c13; }

.column-link.contact-us svg {
  fill: #398a80; }

.ml-auto {
  margin-left: auto; }

.d-none {
  display: none; }

.d-flex {
  display: flex; }

.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 2;
  justify-content: center;
  align-items: center; }
  .preloader-content {
    width: 100%;
    max-width: 530px;
    height: 470px;
    padding: 60px;
    background: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1); }
    .preloader-content .logo {
      display: inline-block;
      margin-bottom: 40px; }
    .preloader-content p span {
      color: #c8c8c8; }
  .preloader .loader,
  .preloader .loader:before,
  .preloader .loader:after {
    border-radius: 50%; }
  .preloader .loader {
    color: #000;
    font-size: 11px;
    text-indent: -99999em;
    margin: 55px auto;
    position: relative;
    width: 10em;
    height: 10em;
    box-shadow: inset 0 0 0 1em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0); }
  .preloader .loader:before,
  .preloader .loader:after {
    position: absolute;
    content: ''; }
  .preloader .loader:before {
    width: 5.2em;
    height: 13.2em;
    background: #fff;
    border-radius: 10.2em 0 0 10.2em;
    top: -0.1em;
    left: -0.1em;
    -webkit-transform-origin: 5.1em 5.1em;
    transform-origin: 5.1em 5.1em;
    -webkit-animation: load2 2s infinite ease 1.5s;
    animation: load2 2s infinite ease 1.5s; }
  .preloader .loader:after {
    width: 5.2em;
    height: 13.2em;
    background: #fff;
    border-radius: 0 10.2em 10.2em 0;
    top: -0.1em;
    left: 4.9em;
    -webkit-transform-origin: 0.1em 5.1em;
    transform-origin: 0.1em 5.1em;
    -webkit-animation: load2 2s infinite ease;
    animation: load2 2s infinite ease; }

@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.tabs {
  padding: 40px 0; }

.tab-nav {
  display: flex;
  align-items: center;
  height: 50px;
  margin: 20px 0; }
  .tab-nav li.tab-current a {
    font-weight: 500;
    text-decoration: none;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0 -4px 5px 0 rgba(0, 0, 0, 0.05); }
  .tab-nav svg {
    width: 12px;
    height: 12px;
    margin-right: 10px; }
  .tab-nav a {
    padding: 25px 29px;
    color: #000;
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
    transition: all .1s ease-out;
    margin-top: 1.5rem;
    z-index: 1;
    outline: none; }

.tab-content {
  display: none;
  background: #fff;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1); }
  .tab-content.current {
    display: block; }

.table {
  font-size: 14px; }
  .table a {
    color: #04004f; }
    .table a.table-link {
      text-decoration: none;
      display: inline-block;
      padding: 5px;
      border-radius: 5px;
      font-size: 12px;
      color: #fff;
      background: #398a80; }
  .table svg {
    width: 18px;
    height: 18px; }
    .table svg.date {
      width: 14px;
      height: 14px;
      margin-right: 5px; }
  .table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0ef;
    background: #f9f9f8; }
    .table-row.title-row {
      font-weight: 600;
      text-transform: uppercase;
      background: #fff; }
    .table-row .sort-col {
      color: #04004f; }
    .table-row.current-row {
      background: #d6d6d1;
      font-weight: 600; }
  .table-col {
    padding: 1.25rem;
    width: calc((100% - 300px) / 6); }
    .table-col:first-child, .table-col:last-child {
      width: 50px; }
    .table-col:first-child + div, .table-col:last-child {
      width: 150px; }
    .table-col:nth-child(8) {
      width: 100px; }
    .table-col:last-child {
      text-align: center; }
  .table .shipping-status {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle; }
    .table .shipping-status.pending {
      background: #398a80; }
    .table .shipping-status.in-progress {
      background: #ffc107; }

.expanded svg {
  transform: rotate(180deg); }

.wrap-action {
  padding: 50px 0;
  text-align: center; }

.btn {
  display: inline-block;
  padding: 14px 30px;
  background: #398a80;
  color: #fff;
  text-decoration: none;
  border-radius: 5px; }
  .btn svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -5px;
    fill: #fff; }
  .btn:hover {
    opacity: .9; }

.tabs-form {
  padding: 2.5rem; }
  .tabs-form button[type="submit"] {
    max-width: 300px; }

form .label-title {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
  font-size: 1rem; }

form input[type="file"]::-webkit-file-upload-button {
  visibility: hidden; }

form input[type="file"] {
  opacity: 0; }

form label {
  padding: 6rem 1rem;
  border: 2px solid #f0f0ef;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  color: #c8c8c8; }
  form label svg {
    width: 25px;
    height: 25px;
    fill: #398a80;
    margin-right: 10px;
    margin-top: -3px; }
  form label b {
    margin-right: 5px;
    font-weight: 600;
    color: #398a80;
    cursor: pointer; }

form .form-item {
  margin-bottom: 1.5rem; }

form input[type="text"], form textarea {
  padding: .575rem .75rem;
  display: block;
  width: 100%;
  color: #000;
  background-color: #f0f0ef;
  background-clip: padding-box;
  border: none; }

form textarea {
  height: 138px;
  resize: none; }

.file-box {
  margin-bottom: 1rem; }
  .file-box .title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: .5rem 1rem;
    border-bottom: 1px solid #000; }
  .file-box .file-row {
    display: flex;
    background-color: #f9f9f8;
    justify-content: flex-start;
    border-bottom: 2px solid #fff;
    align-items: center;
    padding: 7px 1rem;
    font-size: 14px; }
  .file-box .file-name {
    flex: 1; }
  .file-box .file-action {
    cursor: pointer; }
    .file-box .file-action svg {
      width: 14px;
      height: 14px;
      fill: #000; }

@media screen and (max-width: 768px) {
  footer .row {
    flex-direction: column;
    justify-content: flex-start; }
  footer .ml-auto {
    margin-left: 0; }
  footer .footer-column {
    margin-top: 80px; }
    footer .footer-column:last-child {
      margin-left: 0; } }

@media screen and (max-width: 480px) {
  header {
    header: 60px; }
  .logo {
    width: 60px;
    header: 60px; }
  .wrap-form {
    padding-left: 0;
    padding-right: 0; } }
