
<footer class="footer-b2b position-relative pt-350">
  <div class="container position-relative z-index-1">
    <div class="row pb-200 d-none d-lg-flex">
      <div class="col-lg-5 offset-lg-1">
        <h3 class="text-white">KONTAKT AUFNEHMEN</h3>
        <div class="subtitle text-accent-green mb-32">So erreichst du uns</div>
        <p class="text-white">Du erreichst uns jederzeit entweder über das Kontaktformular, Telefon oder per E-Mail.</p>
        <div class="row text-white">
          <div class="col-md-6">
            <p class="mb-0 text-uppercase fw-bold">Adresse</p>
            <p class="fw-light">EUFLOR GmbH für Gartenbedarf <br> Alte Poststraße 121 <br> 46514 Schermbeck, Deutschland</p>
          </div>
          <div class="col-md-6 mt-4 mt-lg-0">
            <p class="mb-0 text-uppercase fw-bold">Kontakt</p>
            <p class="fw-light"><span class="text-accent-green">info@euflor.de</span> <br> Tel.: +49 2853 969-600 <br> Telefax: +49 2853 969-72</p>
          </div>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1">
        <form class="footer-form" action="#">
          <div class="form-row">
            <input type="text" name="name" placeholder="Name*" required="required"/>
          </div>
          <div class="form-row">
            <input type="email" name="email" placeholder="E-Mail*" required="required"/>
          </div>
          <div class="form-row">
            <input type="phone" name="phone" placeholder="Telefon (optional)"/>
          </div>
          <div class="form-row">
            <select>
              <option value="null">Land wählen</option>
              <option value="land-1">Land 1</option>
              <option value="land-2">Land 2</option>
              <option value="land-3">Land 3</option>
            </select>
          </div>
          <div class="form-row">
            <select>
              <option value="null">Produkte</option>
              <option value="land-1">Produkte 1</option>
              <option value="land-2">Produkte 2</option>
              <option value="land-3">Produkte 3</option>
            </select>
          </div>
          <div class="form-row">
            <textarea placeholder="Deine Nachricht"></textarea>
          </div>
          <button class="border-0 btn btn-primary px-4 py-3 rounded-pill" type="submit">Anfrage senden</button>
        </form>
      </div>
    </div>
  </div>
  <div class="container container-footer d-none d-lg-block">
    <div class="team d-flex justify-content-between">
      <div class="team-item"><a href="#"><img src="images/team-img.png" alt="team-img"/><span class="team-item-name">Michael Rasch</span></a></div>
      <div class="team-item"><a href="#"><img src="images/team-img.png" alt="team-img"/><span class="team-item-name">Michael Rasch</span></a></div>
      <div class="team-item"><a href="#"><img src="images/team-img.png" alt="team-img"/><span class="team-item-name">Michael Rasch</span></a></div>
      <div class="team-item"><a href="#"><img src="images/team-img.png" alt="team-img"/><span class="team-item-name">Michael Rasch</span></a></div>
      <div class="team-item"><a href="#"><img src="images/team-img.png" alt="team-img"/><span class="team-item-name">Michael Rasch</span></a></div>
    </div>
  </div>
  <div class="container container-footer">
    <div class="row">
      <div class="col-lg-5">
        <div class="d-flex flex-column-reverse flex-lg-column">
          <ul class="nav align-items-center justify-content-between">
            <li class="nav-item"><a class="nav-link" href="impressum.html">Datenschutz</a></li>
            <li class="nav-item"><a class="nav-link" href="impressum.html">Impressum</a></li>
            <li class="nav-item"><a class="nav-link" href="#">§15 VerpackG</a></li>
          </ul>
          <p class="copyright">© 2023 EUFLOR GmbH</p>
        </div>
      </div>
      <div class="col-lg-4 d-none d-lg-block">
        <div class="footer-email mx-auto">
          <p>Verpasse nichts mehr!</p>
          <form class="position-relative" action="#">
            <input type="text" placeholder="E-Mail Adresse"/>
            <button type="submit">Los</button>
          </form>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="d-flex align-items-center"><a class="language d-block d-lg-none" href="#">
            <svg>
              <use xlink:href="images/sprite.svg#icon-globe"></use>
            </svg><span>English (UK)</span></a>
          <ul class="nav social-nav ms-auto">
            <li class="nav-item ms-auto"><a class="nav-link social-link" href="#">
                <svg>
                  <use xlink:href="images/sprite.svg#fb"></use>
                </svg></a></li>
            <li class="nav-item"><a class="nav-link social-link" href="#">
                <svg>
                  <use xlink:href="images/sprite.svg#is"></use>
                </svg></a></li>
            <li class="nav-item"><a class="nav-link social-link" href="#">
                <svg>
                  <use xlink:href="images/sprite.svg#tw"></use>
                </svg></a></li>
            <li class="nav-item"><a class="nav-link social-link" href="#">
                <svg>
                  <use xlink:href="images/sprite.svg#li"></use>
                </svg></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer side image--><img class="footer-image position-absolute end-5 z-index-1" src="images/footer-image.png" alt="footer-image"/>
  <!-- Scroll up-->
  <button class="scroll-up d-block d-lg-none">
    <svg>
      <use xlink:href="images/sprite.svg#arrow-up"></use>
    </svg>
  </button>
</footer>