<section class="high-speed case">
<h2 class="high-speed__headline">High Speed IP Addresses. Real Residential Locations</h2>
<ul class="high-speed__list">
<li class="high-speed__item">
<div class="high-speed__image-wrapper">
<img src="uploads/homepage/high-speed/simple-pricing-plans.svg" class="high-speed__image" aria-hidden="true" alt="">
</div>
<h3 class="high-speed__item-headline">Simple Pricing Plans</h3>
<p>Choose between fixed monthly pricing per IP address with lower usage charges - or pay by the GB for residential socks5 service.</p>
</li>
<li class="high-speed__item">
<div class="high-speed__image-wrapper">
<img src="uploads/homepage/high-speed/user-friendly-dashboard.svg" class="high-speed__image" aria-hidden="true" alt="">
</div>
<h3 class="high-speed__item-headline">User-friendly dashboard</h3>
<p>Enjoy the features intuitively available in the dashboard: check your IP list, trigger rotation, change your GEO and others</p>
<span class="high-speed__decor"></span>
</li>
<li class="high-speed__item">
<div class="high-speed__image-wrapper">
<img src="uploads/homepage/high-speed/rotating-option.svg" class="high-speed__image" aria-hidden="true" alt="">
</div>
<h3 class="high-speed__item-headline">Rotating Option</h3>
<p>Change IP addresses with each request for maximum anonymity and geographic coverage</p>
<span class="high-speed__decor"></span>
</li>
</ul>
<img src="uploads/homepage/map/map.webp" class="high-speed__decor-map high-speed__decor-map_left" alt="">
<img src="uploads/homepage/map/map.webp" class="high-speed__decor-map high-speed__decor-map_right" alt="">
<img src="uploads/homepage/map/map.webp" class="high-speed__decor-map high-speed__decor-map-mobile high-speed__decor-map_right" alt="">
</section>