extends ../../templates/default
block vars
	-
		title = "Canada Proxies - Infatica"
		breadcrumbs = [
			['Main', 'index.html'],
			['Locations', 'index.html'],
			['North America', 'index.html'],
			['Canada Proxies'],
		]
block content
	-
		intro = {
			icon: {
				el: 'uploads/intro-canada.png'
			},
			desc: '',
			title: 'Canada proxy (100000 IPs)',
			text: "Looking to expand your business into Canada? Or maybe you just want to access Canadian <br>content that's blocked in your country. Whatever the reason, a Canada proxy service is <br>what you need. At Infatica, we offer a large selection of Canadian proxies that are fast, <br>anonymous, and affordable. So whether you're a business owner or an individual looking to <br>bypass censorship restrictions, we have the perfect proxy solution for you!",
			btns: [
				{
					cls: '--green --lg',
					title: 'Free Trial'
				},
				{
					cls: '--b-white --lg',
					title: 'Contact Sales'
				},
			]
		}
	include ../../../blocks/intro/intro
	+style('intro', 'blocks')

	-
		pool = {
			title: 'Huge pool of Canadian proxies',
			text: 'We have one of the biggest pools of Canada proxies, with over 100,000 IP addresses. You can buy as many IPs as you want without any hassle. We have both static and rotating proxies so that you can choose the one that best fits your needs. Gain access to websites and other online services via authentic residential IP addresses from cities like:',
			img: 'uploads/pool-canada.svg',
			links: [
				[
					'Toronto',
					'Montreal',
					'Calgary',
					'Ottawa',
					'Edmonton',
					'Mississauga',
					'Winnipeg',
				],
				[
					'Vancouver',
					'Brampton',
					'Hamilton',
					'Quebec',
					'Surrey',
				]
			]
		}
	include ../../../blocks/pool/pool
	+style('pool', 'blocks')

	-
		real = {
			title: 'Residential Proxies with IP Address of Real People',
			text: "<p>When you buy Canadian proxies from Infatica, you can be confident that they are clean and not being used for malicious purposes. This is because we have a strict no-bot policy in place. All of our proxies are also residential, which means they come with the IP address of a real person living in Canada. That's important because it helps to ensure that your online activity is not being tracked or monitored.</p><p>Get in touch with us today to learn more about our services and how we can help you achieve your goals! We look forward to hearing from you soon! Infatica is the leading provider of Canadian proxies, and we are confident that we can provide the perfect solution for your needs. Contact us now!</p>",
			img: 'uploads/real-canada.svg'
		}
	include ../../../blocks/real/real
	+style('real', 'blocks')


	-
		blocked = {
			title: 'Visit any Canada Website without being Blocked',
			text: "<p>If you're outside of Canada, chances are you've tried to access a Canadian website only to stop at an error message. With Infatica's proxies, you can bypass these restrictions and visit any site you want. Whether you're trying to access geo-restricted content or simply want to browse the web anonymously, our proxies will give you the freedom and flexibility you need.</p><p>Don't wait any longer, order Canadian proxies from Infatica today and get access to the data you need. We offer the best prices and the most reliable service in the industry.</p>",
			img: 'uploads/blocked-canada.png'
		}
	include ../../../blocks/blocked/blocked
	+style('blocked', 'blocks')



	-
		work = {
			title: 'How Proxies Work',
			subtitle: 'Canadian Proxies',
			text: 'A residential proxy server is an intermediary between you and your target website. It masks your original <a href="">IP address</a>, providing a new residential one. This new IP address is issued by the given country’s ISP, which helps you appear as a regular user from the United States. This makes local data collection and other activities much easier, with the added benefits of improved privacy and security.',
			img: 'uploads/canada-round.svg'
		}
	include ../../../blocks/work/work
	+style('work', 'blocks')

	include ../../../blocks/vs/vs
	+style('vs', 'blocks')

	- should__title = 'Why you should choose Infatica Australian proxies'
	include ../../../blocks/should/should
	+style('should', 'blocks')

	include ../../../blocks/cases/cases
	+style('cases', 'blocks')

	include ../../../blocks/reviews/reviews
	+style('reviews', 'blocks')
	+script('reviews', 'blocks')

	- pricePlanText = 'We’re offering a set of pricing plans with varying parameters like IP address count and channel bandwidth – or use our flexible pricing option to fine-tune the parameters yourself. Choose the plan that fits your project’s needs best:'
	include ../../../blocks/price-plan/price-plan
	+style('price-plan', 'blocks')

	include ../../../blocks/trial/trial
	+style('trial', 'blocks')

	-
		ipsTitle = 'Other Countries' 
	include ../../../blocks/ips/ips
	+style('ips', 'blocks')

	-
		questions = [
			["Are proxies legal in Canada?", "Yes, proxies are legal in Canada. However, it is important to use them ethically and responsibly. Infatica's proxies can be used for a variety of purposes, including accessing geo-restricted content, browsing the web anonymously, and more."],
			["How can I view websites in Canada?", "If you're trying to view a Canadian website from outside the country, you will likely be blocked. However, with Infatica's proxies, you can bypass these restrictions and visit any site you want. Whether you're trying to access geo-restricted content or simply want to browse the web anonymously, our proxies will give you the freedom and flexibility you need."],
			["Is free proxy list safe?", "No, free proxy lists are not safe. The proxies on these lists are often unsecure and slow, which can put your data and privacy at risk. Infatica's proxies are different - they're fast, reliable, and secure, so you can browse the web without worry."],
			["How do I use a proxy server in Canada?", "To use a proxy server in Canada, you will need to sign up for a proxy service like Infatica. Once you have done that, you can simply enter the proxy server's IP address and port number into your web browser's settings. After that, you will be able to browse the web through the proxy server and access any site you want."],
		]
	include ../../../blocks/questions/questions
	+style('questions', 'blocks')