@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&display=swap");
@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1280px;
  }
}
.with-overlay {
  position: relative;
}
.with-overlay:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #2E3141 0%, rgba(46, 49, 65, 0) 100%);
}
.with-overlay .container {
  position: relative;
  z-index: 2;
}

.bg-dark-blue {
  background: #2E3141;
}

.text-white {
  color: #EFEDEC !important;
}

.text-dark {
  color: #000 !important;
}

.text-dark-blue {
  color: #2E3141;
}

.opacity {
  opacity: 0;
}

.bg-light-color {
  background: #EFEDEC;
}

.mw-70 {
  max-width: 70%;
}

.with-figure-top, .with-figure-bottom {
  position: relative;
}
.with-figure-top .container, .with-figure-bottom .container {
  position: relative;
  z-index: 1;
}
.with-figure-top:after, .with-figure-bottom:after {
  content: "";
  position: absolute;
  width: 130%;
  height: 482px;
  left: -15%;
  transform: rotate(-8deg);
}
.with-figure-top.bg-dark-blue:after, .with-figure-bottom.bg-dark-blue:after {
  background: #2E3141;
}
.with-figure-top.bg-light-color:after, .with-figure-bottom.bg-light-color:after {
  background: #EFEDEC;
}

.with-figure-top:after {
  top: -190px;
}

.with-figure-bottom + section .container {
  position: relative;
  z-index: 1;
}
.with-figure-bottom:after {
  bottom: -240px;
}

.pl-70 {
  padding-left: 70px;
}

@media screen and (max-width: 767px) {
  .with-figure-top:after, .with-figure-bottom:after {
    height: 380px;
  }
  .mw-70 {
    max-width: 90%;
  }
}
@font-face {
  font-family: "Bergen Sans";
  src: local("Bergen Sans Regular"), local("Bergen-Sans-Regular"), url("../fonts/BergenSans.woff2") format("woff2"), url("../fonts/BergenSans.woff") format("woff"), url("../fonts/BergenSans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Bergen Sans SemiBold";
  src: local("Bergen Sans SemiBold"), local("Bergen-Sans-SemiBold"), url("../fonts/BergenSans-SemiBold.woff2") format("woff2"), url("../fonts/BergenSans-SemiBold.woff") format("woff"), url("../fonts/BergenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Bergen Sans Bold";
  src: local("Bergen Sans Bold"), local("Bergen-Sans-Bold"), url("../fonts/BergenSans-Bold.woff2") format("woff2"), url("../fonts/BergenSans-Bold.woff") format("woff"), url("../fonts/BergenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.title {
  margin-bottom: 32px;
  font-family: "Bergen Sans Bold";
  font-size: 80px;
  line-height: 110%;
}

h1 {
  font-family: "Bergen Sans Bold";
  font-size: 64px;
  line-height: 110%;
}

h2 {
  margin-bottom: 52px;
  font-family: "Bergen Sans Bold";
  font-size: 48px;
  line-height: 58px;
}

h3 {
  margin-bottom: 10px;
  font-family: "Bergen Sans SemiBold";
  font-size: 36px;
  line-height: 43px;
}

.subtitle {
  margin-bottom: 12px;
  font-family: "Bergen Sans";
  font-size: 24px;
  line-height: 29px;
  color: #E2895E;
}

p {
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 991px) {
  .title {
    font-size: 52px;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 38px;
  }
  h3 {
    font-size: 28px;
  }
}
@media screen and (max-width: 576px) {
  .title {
    font-size: 42px;
  }
}
header {
  width: 100%;
  position: absolute;
  top: 0;
  padding-top: 45px;
  z-index: 2;
}

.logo {
  position: relative;
  z-index: 1;
}
.logo img {
  max-width: 107px;
}

.navbar-expand-lg .navbar-nav li.nav-item {
  margin-right: 32px;
  position: relative;
}
.navbar-expand-lg .navbar-nav li.nav-item:last-child {
  margin-right: 0;
}
.navbar-expand-lg .navbar-nav a.nav-link {
  padding: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.15px;
  color: #EFEDEC;
}
.navbar-expand-lg .navbar-nav a.nav-link:hover, .navbar-expand-lg .navbar-nav a.nav-link.active {
  color: #fff;
}
.navbar-expand-lg .navbar-nav a.nav-link.btn {
  padding: 4px 24px;
}
.navbar-expand-lg .navbar-nav a.nav-link.btn:hover, .navbar-expand-lg .navbar-nav a.nav-link.btn:active {
  color: #2E3141;
}
.navbar-expand-lg .navbar-toggler {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  font-size: 0;
  line-height: 0;
  border-radius: 0;
  box-shadow: none;
  z-index: 1;
}
.navbar-expand-lg .navbar-toggler span {
  width: 20px;
  height: 2px;
  display: inline-block;
  margin-bottom: 5px;
  background: #fff;
}
.navbar-expand-lg .navbar-toggler span:last-child {
  margin-bottom: 0;
}
.navbar-expand-lg .navbar-toggler.open span {
  position: relative;
}
.navbar-expand-lg .navbar-toggler.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 7px;
}
.navbar-expand-lg .navbar-toggler.open span:nth-child(2) {
  opacity: 0;
}
.navbar-expand-lg .navbar-toggler.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: -7px;
}

@media screen and (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    width: 100vw;
    left: calc((100% - 100vw) / 2);
    background: #2E3141;
    top: -45px;
    padding: 180px 25px 60px 25px;
    border-radius: 0 0 16px 16px;
    box-shadow: 0px 4.16px 10.4px rgba(0, 0, 0, 0.15);
  }
  .navbar-collapse ul {
    max-width: 700px;
  }
}
@media screen and (max-width: 767px) {
  .navbar-collapse ul {
    max-width: 520px;
  }
}
@media screen and (max-width: 576px) {
  header {
    padding-top: 15px;
  }
  .navbar-collapse {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.btn {
  padding: 9px 24px;
}
.btn svg {
  width: 24px;
  height: 24px;
}
.btn.btn-outline-light {
  border: 2px solid #EFEDEC;
}
.btn.btn-outline-dark {
  font-size: 18px;
  line-height: 100%;
  border-color: #2E3141;
  color: #2E3141;
  border-width: 2px;
  font-weight: 500;
}
.btn.btn-outline-dark:hover {
  color: #EFEDEC;
}
.btn.btn-lg {
  padding-top: 12px;
  padding-bottom: 12px;
  line-height: 1.1;
  font-size: 18px;
}
.btn.btn-dark {
  background: #2E3141;
  border-color: #2E3141;
  color: #EFEDEC;
}
.btn.btn-dark svg {
  fill: #EFEDEC;
}

.btn-primary {
  border-color: #E2895E;
  font-size: 18px;
  color: #2E3141;
  background: #E2895E;
  line-height: 120%;
}
.btn-primary svg {
  width: 24px;
  height: 24px;
  fill: #2E3141;
  margin-left: 8px;
}
.btn-primary:hover {
  background: #E2895E;
  color: #EFEDEC;
  border-color: #E2895E;
}
.btn-primary:hover svg {
  fill: #EFEDEC;
}

.btn-light {
  font-size: 18px;
  font-weight: 600;
}
.btn-light svg {
  margin-right: 8px;
  margin-top: -5px;
}

footer {
  padding: 50px 0;
  background: #2E3141;
  color: #EFEDEC;
}
footer p {
  font-size: 16px;
}
footer p.copyright {
  font-weight: 300;
}
footer .nav .nav-item {
  margin-right: 16px;
  margin-bottom: 0;
}
footer .nav .nav-item:last-child {
  margin-right: 0;
}
footer .nav .nav-link {
  padding: 0;
  font-size: 16px;
  text-decoration: underline;
  letter-spacing: 0.15px;
  color: #EFEDEC;
}
footer .nav .nav-link:hover {
  text-decoration: none;
}
footer .social-nav .nav-item {
  margin-right: 24px;
}
footer.inner {
  background: #EFEDEC;
  color: #2E3141;
}
footer.inner .nav .nav-link {
  color: #2E3141;
}
footer.inner .social-link svg {
  fill: #2E3141;
}

.social-link svg {
  width: 20px;
  height: 20px;
  fill: #EFEDEC;
}

@media screen and (max-width: 1400px) {
  footer .nav .nav-item {
    margin-right: 0;
    margin-bottom: 10px;
  }
  footer .nav.social-nav .nav-item {
    margin: 0 12px;
  }
}
.hero-section {
  background: url(../images/header-bg.png) center/cover no-repeat;
  height: 100vh;
  max-height: 950px;
  color: #EFEDEC;
  position: relative;
}
.hero-section .container {
  position: relative;
  z-index: 1;
}
.hero-section.inner-hero {
  max-height: 740px;
}
.hero-section.inner-hero .hero-description {
  padding-bottom: 0;
}
.hero-section.inner-hero.b2c {
  max-height: 1000px;
}

.hero-description {
  padding-bottom: 200px;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fixed-btn {
  width: 48px;
  position: fixed;
  right: 0;
  top: 20vh;
  z-index: 3;
}
.fixed-btn a {
  display: flex;
  width: 48px;
  height: 48px;
  margin-bottom: 4px;
  align-items: center;
  justify-content: center;
  border-radius: 4px 0 0 4px;
  background: #E2895E;
}
.fixed-btn a svg {
  width: 24px;
  height: 24px;
}
.fixed-btn a:hover {
  padding-right: 10px;
}

@media screen and (max-width: 991px) {
  .hero-description {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}
@media screen and (max-width: 767px) {
  .hero-description {
    padding-bottom: 10vh;
  }
}
.card {
  border-radius: 12px;
}
.card.lg {
  max-width: 1115px;
  margin-top: 90px;
  padding: 74px 48px;
  background: #525D74;
}
.card.lg .card-description {
  max-width: 550px;
}
.card.lg .card-image {
  max-width: 430px;
  margin-left: 30px;
}

.tariff-item {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 24px;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
}
.tariff-item-header {
  padding: 16px;
}
.tariff-item-header p {
  font-family: "Bergen Sans";
  font-size: 12px;
  line-height: 14px;
}
.tariff-item-price {
  padding: 20px 0 40px 0;
  font-size: 20px;
  line-height: 25px;
  color: #000;
}
.tariff-item-price span {
  font-family: "Bergen Sans Bold";
  font-size: 48px;
  line-height: 58px;
}
.tariff-item-price sub {
  font-size: 16px;
  display: block;
  margin-left: 10%;
}
.tariff-item-list {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.tariff-item-list li {
  margin: 0;
  padding: 12px 0 12px 32px;
  font-size: 14px;
  line-height: 16px;
  color: #AAAAAA;
  background: url(../images/tariff-list-icon.svg) left center no-repeat;
  border-bottom: 1px solid #AAAAAA;
}
.tariff-item-list li:last-child {
  border-bottom: none;
}
.tariff-item-btn {
  font-size: 14px;
  line-height: 26px;
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  color: #fff;
  letter-spacing: 0.2px;
  background: #525D74;
  border-radius: 6px;
}
.tariff-item-btn:hover {
  color: #fff;
}
.tariff-item-notation {
  margin-top: 20px;
}
.tariff-item-notation p {
  font-size: 12px;
  line-height: 135%;
  color: #AAAAAA;
}

@media screen and (max-width: 991px) {
  .card.lg .card-image {
    margin-top: 50px;
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .card.lg {
    padding: 37px 24px;
  }
}
.faq {
  padding: 150px 0;
}
.faq-wrap {
  margin-top: 50px;
}

.accordion-flush .accordion-item {
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 12px;
  border-radius: 6px;
}
.accordion-flush .accordion-item .accordion-header {
  line-height: 1;
  font-family: "Outfit";
}
.accordion-flush .accordion-item .accordion-button {
  font-size: 20px;
  font-weight: 300;
  color: #2E3141;
  padding: 15px;
  box-shadow: none;
  border-radius: 6px;
  background-color: transparent;
}
.accordion-flush .accordion-item .accordion-button:focus {
  box-shadow: none;
  color: #000;
}
.accordion-flush .accordion-item .accordion-button:after {
  width: 24px;
  height: 24px;
  background: url(../images/faq-plus.svg) no-repeat;
}
.accordion-flush .accordion-item .accordion-button:not(.collapsed) {
  font-weight: 500;
}
.accordion-flush .accordion-item .accordion-button:not(.collapsed):after {
  background: url(../images/faq-minus.svg) no-repeat;
}
.accordion-flush .accordion-item .accordion-body {
  padding: 0 15px 15px 15px;
}

@media screen and (max-width: 991px) {
  .faq {
    padding: 90px 0;
  }
}
form input.form-control, form select.form-select {
  width: 100%;
  height: 62px;
  padding-left: 16px;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.15px;
  border-color: rgba(12, 12, 11, 0.23);
  border-radius: 6px;
  color: rgba(54, 33, 42, 0.4);
}
form input.form-control::placeholder, form select.form-select::placeholder {
  color: rgba(54, 33, 42, 0.4);
}
form input.form-control::-moz-placeholder, form select.form-select::-moz-placeholder {
  color: rgba(54, 33, 42, 0.4);
}
form input.form-control::-webkit-input-placeholder, form select.form-select::-webkit-input-placeholder {
  color: rgba(54, 33, 42, 0.4);
}
form input.form-control:focus, form select.form-select:focus {
  color: #212529;
}
form.hero-form {
  margin-top: 32px;
}
form.hero-form input.form-control {
  width: 280px;
  height: 40px;
  padding-left: 24px;
  font-size: 18px;
  line-height: 120%;
  color: #D4D4D4;
  border-radius: 500px 0 0 500px;
  border: none;
}
form.hero-form input.form-control:focus {
  border-color: #EFEDEC;
}
form.hero-form button[type=submit] {
  height: 40px;
  font-size: 18px;
  font-weight: 500;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0 500px 500px 0;
}
form.hero-form button[type=submit]:hover {
  background: #E2895E;
  border-color: #E2895E;
}

@media screen and (max-width: 480px) {
  form.hero-form input.form-control {
    max-width: 250px;
  }
}
.our-clients {
  padding-top: 50px;
  padding-bottom: 150px;
}

.table-client {
  max-width: 860px;
  margin-top: 50px;
  border-radius: 12px;
}
.table-client svg {
  width: 24px;
  height: 24px;
}
.table-client .table-row:last-child .table-col {
  border-bottom: none;
}
.table-client .table-row:first-child .table-col:nth-child(2) {
  border-radius: 12px 0 0 0;
}
.table-client .table-row:first-child .table-col:last-child {
  border-radius: 12px 0 0 0;
}
.table-client .table-row:nth-child(2) .table-col:first-child {
  border-radius: 12px 0 0 0;
}
.table-client .table-col {
  width: 100%;
  max-width: 236px;
  padding: 14px 28px;
  font-size: 18px;
  line-height: 135%;
  color: #525D74;
  text-align: center;
  border-right: 1px solid #EDEEF1;
  border-bottom: 1px solid #EDEEF1;
  background: #fff;
}
.table-client .table-col:nth-child(1) {
  text-align: left;
  max-width: none;
  flex: 1 0 0;
}
.table-client .table-col:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-client .table-col:last-child {
  border: none;
  background: #2E3141;
  border-bottom: 1px solid #3B3F48;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-client .table-logo {
  width: 100%;
  margin: 5px;
  padding: 9px 0;
  background: #525D74;
  border-radius: 6px 6px 0 0;
}
.table-client .table-logo img {
  max-width: 67px;
}

@media screen and (max-width: 991px) {
  .our-clients {
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 767px) {
  .table-client .table-col {
    font-size: 16px;
    padding: 10px 20px;
    min-width: 33%;
    max-width: 33.3%;
  }
}
.salesfunnel {
  padding-top: 240px;
  padding-bottom: 200px;
}
.salesfunnel-wrap {
  max-width: 1110px;
  margin: 0 auto;
}

.product-item {
  max-width: 336px;
  margin-left: auto;
  margin-right: auto;
}
.product-item-img {
  height: 286px;
  background: #BCBCBC;
  margin-bottom: 45px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
}
.product-item.sm {
  margin-bottom: 33px;
  border-radius: 24px;
}
.product-item.sm .product-item-img {
  height: 284px;
  background: transparent;
}
.product-item.sm .product-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-item.sm .more-info {
  left: 18px;
  bottom: 30px;
  font-size: 13.8px;
  line-height: 17px;
}
.product-item.sm .more-info svg {
  width: 24px;
  height: 24px;
  fill: #EFEDEC;
}

.text-card {
  margin-bottom: 17px;
  font-size: 20px;
  line-height: 25px;
}

.have-question {
  color: #525D74;
}
.have-question a {
  color: #525D74;
}

@media screen and (max-width: 991px) {
  .salesfunnel {
    padding-top: 120px;
    padding-bottom: 100px;
  }
}
.modal-dialog.custom-modal-width {
  max-width: 1045px;
}
.modal-dialog.custom-modal-width .modal-content {
  border-radius: 27px;
}
.modal-dialog.custom-modal-width .modal-cover .more-info {
  left: 42px;
  bottom: 48px;
}
.modal-dialog.custom-modal-width .modal-cover .more-info span {
  font-size: 22px;
  line-height: 28px;
}
.modal-dialog.custom-modal-width .modal-cover .modal-title {
  font-family: "Bergen Sans SemiBold";
  font-size: 40px;
  line-height: 49px;
}
.modal-dialog.custom-modal-width .btn-close {
  width: 48px;
  height: 48px;
  top: 24px;
  right: 28px;
  padding: 0;
  opacity: 1;
  border-radius: 0;
  position: absolute;
  background: url(../images/close-modal.svg) center/cover no-repeat;
}

@media screen and (max-width: 767px) {
  .modal-cover {
    height: 40vh;
  }
  .modal-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .modal-dialog.custom-modal-width .btn-close {
    width: 32px;
    height: 32px;
    top: 41vh;
  }
}
.our-benefits {
  padding: 100px 0 150px 0;
}

.benefits-item {
  max-width: 390px;
}
.benefits-item-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  margin-top: -10px;
}
.benefits-item p {
  line-height: 135%;
}

@media screen and (max-width: 991px) {
  .our-benefits {
    padding: 70px 0;
  }
  .benefits-item {
    max-width: 100%;
    margin: 30px 0;
  }
}
.our-gifts {
  padding-top: 150px;
  padding-bottom: 150px;
}

.gift-row {
  display: flex;
}
.gift-row .gift-item:first-child {
  margin-top: 125px;
}
.gift-row .gift-item:last-child {
  margin-left: -50px;
  z-index: 2;
}
.gift-row:nth-child(2) {
  margin-top: -200px;
  margin-left: 120px;
}
.gift-row:nth-child(2) .gift-item:first-child {
  margin-top: 77px;
}
.gift-row:nth-child(2) .gift-item:last-child {
  margin-left: -110px;
  z-index: 1;
}

.gift-item {
  width: 265px;
  height: 286px;
  border-radius: 53px;
}

@media screen and (max-width: 991px) {
  .our-gifts {
    padding-top: 70px;
    padding-bottom: 7px;
  }
  .gift-row {
    justify-content: center;
  }
}
.how-it-work {
  padding-top: 150px;
  padding-bottom: 80px;
}
.how-it-work-step {
  max-width: 1192px;
  padding-top: 110px;
  padding-bottom: 110px;
}
.how-it-work-step div[class^=col]:first-child .how-item:after {
  display: none;
}
.how-it-work-slider .slick-slide {
  opacity: 1;
  cursor: pointer;
}
.how-it-work-slider .slick-slide.slick-current {
  opacity: 1;
}
.how-it-work-slider .slick-slide.slick-current ~ .slick-active {
  opacity: 0.7;
}

.how-item {
  max-width: 200px;
  position: relative;
  cursor: pointer;
}
.how-item:first-child:after {
  display: none;
}
.how-item.active ~ .how-item svg, .how-item.active ~ .how-item div, .how-item.active ~ .how-item p {
  opacity: 0.7;
}
.how-item-icon {
  width: 48px;
  height: 48px;
  margin-bottom: 8px;
}
.how-item .subtitle {
  font-family: "Bergen Sans Bold";
}
.how-item:after {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  left: -50%;
  top: 44px;
  background: url(../images/arrow-up.svg) no-repeat;
}

.browser-mockup {
  width: 100%;
  max-width: 1113px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
}
.browser-mockup .browser-option {
  left: 22px;
  top: 22px;
  z-index: 2;
}
.browser-mockup .browser-slider .slick-slide {
  text-align: center;
}
.browser-mockup .browser-slider .slide-item {
  min-height: 670px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.browser-mockup .browser-slider img {
  display: inline-block;
}

@media screen and (max-width: 991px) {
  .how-it-work {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .how-it-work div[class*=col]:nth-child(3) .how-item:after {
    display: none;
  }
  .how-it-work-step {
    padding-bottom: 70px;
  }
  .how-item {
    width: 50%;
    max-width: 50%;
    margin-bottom: 50px;
  }
  .how-item:after {
    left: -27%;
  }
  .how-item:nth-child(3):after {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .browser-mockup .browser-slider .slide-item {
    min-height: 470px;
  }
}
.personal-gift {
  padding-top: 150px;
  padding-bottom: 100px;
}
.personal-gift-card {
  margin-top: 90px;
  display: flex;
}
.personal-gift-card .gift-card-item {
  width: 300px;
  height: 300px;
  margin-left: -117px;
  padding: 5px;
  display: inline-block;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0 0 0 6px #E2895E inset;
}
.personal-gift-card .gift-card-item img {
  height: 100%;
  object-fit: cover;
}
.personal-gift-card .gift-card-item:first-child {
  margin-left: 0;
  margin-top: 135px;
  transform: rotate(-25.49deg);
}
.personal-gift-card .gift-card-item:nth-child(2) {
  margin-top: 55px;
  transform: rotate(-15deg);
}
.personal-gift-card .gift-card-item:nth-child(3) {
  margin-left: -58px;
  z-index: 2;
}
.personal-gift-card .gift-card-item:nth-child(4) {
  margin-top: 55px;
  margin-left: -58px;
  transform: rotate(15deg);
  z-index: 1;
}
.personal-gift-card .gift-card-item:nth-child(5) {
  margin-top: 135px;
  transform: rotate(25deg);
}

@media screen and (max-width: 991px) {
  .personal-gift {
    padding-top: 70px;
    padding-bottom: 60px;
  }
  .personal-gift-card .gift-card-item {
    width: 200px;
    height: 200px;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  min-height: 100%;
  position: relative;
  background-color: #EFEDEC;
  font-weight: 400;
  font-style: normal;
  font-family: "Outfit", sans-serif;
  color: #2E3141;
  font-size: 14px;
  line-height: 1.3;
  -webkit-text-size-adjust: none;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}
ol li, ul li {
  margin-bottom: 10px;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  border: none;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover, a:active, a:focus {
  text-decoration: none;
}

a:focus, input:focus, textarea:focus {
  outline: none;
}

html {
  height: 100%;
  overflow-x: hidden;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.we-work {
  padding-top: 80px;
  padding-bottom: 100px;
}

.tariff {
  padding-top: 150px;
  padding-bottom: 70px;
}
.tariff-wrap {
  margin-top: 55px;
  max-width: 1176px;
}

.how-much {
  padding-top: 150px;
  padding-bottom: 100px;
}

.product-count {
  margin: 35px 0;
}
.product-count-amount {
  height: 40px;
  margin: 0 16px;
  padding: 0 36px;
  line-height: 40px;
  font-weight: 500;
  font-size: 18px;
}

.choose-gift {
  padding-top: 230px;
  padding-bottom: 180px;
}

.title-number {
  width: 48px;
  height: 48px;
  font-size: 36px;
  line-height: 56px;
  font-weight: 600;
  display: inline-block;
  margin-right: 22px;
}
.title-number + span {
  max-width: 280px;
  display: inline-block;
  vertical-align: middle;
}

.gift-wrap {
  max-width: 930px;
  margin-top: 67px;
}

.address-gift {
  padding-top: 240px;
  padding-bottom: 140px;
}

.gift-order {
  padding-left: 20px;
}
.gift-order svg {
  width: 24px;
  height: 24px;
  margin-right: 14px;
  vertical-align: sub;
}

.delivery-gift {
  padding-top: 400px;
  padding-bottom: 400px;
}

.b2b-section {
  min-height: 100vh;
  background: url(../images/B2B-bg.jpg) center/cover no-repeat;
  max-height: 1000px;
}

@media screen and (max-width: 991px) {
  .tariff {
    padding-top: 70px;
    padding-bottom: 30px;
  }
  .how-much {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .we-work {
    padding-top: 0;
  }
  .choose-gift {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .address-gift {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .delivery-gift {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}