/* Custom style for #right-side-nav */
.progress-bar-vertical {
  width: 20px;
  min-height: 100px;
  display: flex;
  align-items: flex-end;
  margin-right: 20px;
  float: left;
  background: transparent;
  box-shadow: none;
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  justify-content: flex-start;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}

#right-side-nav a.label-link.collapsed {
  color: #676A6C;
}

  #right-side-nav a.label-link.collapsed span.fa.fa-angle-down {
    transform: rotate(90deg);
  }

#right-side-nav a.label-link:not(.collapsed) {
  border-left: 4px solid;
  color: #1ab394;
}

  #right-side-nav .sub-nav a[data-toggle]:not(.collapsed) {
    border-left: none;
    color: #a7b1c2;
  }

  #right-side-nav .sub-nav a[data-toggle].collapsed {
    color: #a7b1c2;
  }

  #right-side-nav a.label-link:not(.collapsed) span.fa.fa-angle-down {
    transform: rotate(0deg);
  }

#right-side-nav .sub-nav a.active {
  font-weight: bold;
  color: #000;
}

.sticky {
  position: fixed;
  top: 0;
  right: 10px;
  height: 100%;
  max-height: 100vh;
  overflow: auto;
}

  .sticky #right-side-nav {
    margin-left: 40px;
  }

.tab-pane .ibox-title .ibox-tools i.fa {
  position: absolute;
  right: 0;
  top: 15px;
  transition: all 0.3s ease;
}

.tab-pane .ibox.open .ibox-title .ibox-tools i.fa {
  transform: rotate(180deg);
}

/* Custom breadcrumbs */
.custom-breadcrumbs li {
  position: relative;
  padding-left: 0.5rem;
}

  .custom-breadcrumbs li:first-child {
    padding-left: 0;
  }

  .custom-breadcrumbs li:not(:first-child):before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #6c757d;
    content: "/";
  }

  .custom-breadcrumbs li:last-child a {
    font-weight: bold;
  }

/* Notification position */
.navbar .dropdown-push-notifications .dropdown-menu {
  left: auto;
  right: 0;
}

/* Charts style */
.wrap-charts {
  width: 375px;
  position: relative;
  margin: 0 auto;
}

  #account-summary-inner-circle {
    width: 180px;
    height: 180px;
  }

  .max-width-none {
    max-width: none;
  }

  .flex-custom {
    flex: 2 0 0;
  }

/* Dropright */
.dropdown-submenu.dropright .dropdown-toggle::after {
  display: none;
}

/* Table fix scroll */
body .table-responsive {
  overflow: visible;
}

/* Show more function style */
.excerpt .excerpt-row.collapse:not(.show) {
  display: block;
  height: 2.5rem;
  overflow: hidden;
}

.excerpt .excerpt-row.collapsing {
  height: 2.5rem;
}

.excerpt .read-more-btn {
  margin-left: 50px;
}

  .excerpt .read-more-btn:hover , .expand-table-btn:hover {
    text-decoration: underline;
  }

.excerpt a.not-open::after {
  content: '+ Read more';
}

  .expand-table-btn.not-open::after {
    content: '+ Show more rows';
  }

.excerpt a:not(.not-open)::after {
  content: '- Read less';
}

  .expand-table-btn:not(.not-open)::after {
    content: '- Show less rows';
  }

.expanded-table.collapse:not(.show) {
  display: block;
  height: 143px;
  overflow: hidden;
}

  .expanded-table.collapsing {
    height: 143px;
  }

  .expanded-table table {
    margin-bottom: 0;
  }

/*  Needed for filters */

.hide { /* You can play with the seconds to change the "animation" */
  animation: hide .3s ease 0s 1 normal forwards;
  transform-origin: center;
}
.show { /* You can play with the seconds to change the "animation" */
    animation: show .3s ease 0s 1 normal forwards;
    transform-origin: center;
}

@keyframes hide {
  0%{
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
  100% {
    transform: scale(0);
    /*width: 0;*/
    height: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes show {
  0%{
    transform: scale(0);
    /*width: 0;*/
    height: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}
/*  // Needed for filters */

/* Wizard steps custom styles */
#wizard .content {
  padding: 1rem;
}

#wizard .step-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 28px;
  line-height: 40px;
}

#wizard textarea {
  resize: none;
}

#wizard > .content > .body ul {
  list-style-type: none !important;
}

.structure-list li label {
  cursor: pointer;
}

.structure-list li:hover , .structure-list li.active-structure {
  background: #3b8f7b;
  color: #fff;
}

.bootstrap-touchspin input[type='text'] {
  height: 33px;
}

#wizard > .actions {
  padding-bottom: 50px;
}

#wizard .group .circle {
  display: inline-block;
  width: 26px;
  height: 26px;
  text-align: center;
  background: #e5b4b9;
  line-height: 26px;
  font-size: 16px;
  position: absolute;
  right: 15px;
  top: 15px;
}

#wizard ul.keyword-list li {
  border-color: #23c6c8 !important;
}

  #wizard ul.keyword-list li i {
    vertical-align: middle;
    transform: rotate(45deg);
  }

#wizard > .steps > ul > li:nth-child(4) {
  display: none;
}

@media screen and (max-width: 992px) {

  .sticky {
    position: relative !important;
    right: autol;
    height: auto;
    max-height: auto;
  }

    .sticky #right-side-nav {
      margin-left: 0;
    }

}
