/* default */

.gray-bg {
    background-color: #f3f3f4;
}
.thanks {
    margin-top: 15px;
}
/* navbar */
.navbar  {
    background-color: #fff;
}
.navbar-header .navbar-form-custom {
    display: flex;
    align-items: center;
    width: auto;
}
.navbar-form-custom .form-group {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 14px;
}
.navbar-form-custom .form-group .form-group.count-info .label{
    top: -9px;
    right: -8px;
}
.navbar-form-custom .form-group select, .navbar-form-custom .form-group input, .navbar-form-custom .form-group option {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    color: #A7B1C2;
    font-size: 14px;
    font-weight: 600;
}
.minimalize-styl-2 {
    margin: 17px 5px 5px 16px;
}
.navbar-form-custom label {
    margin-bottom: 0;
    margin-right: 11px;
}
.navbar-form-custom  {
    padding-left: 19px;
    padding-top: 17px;
}
.btn.apply{
    background-color: transparent;
    box-shadow: none;
    border: 1px solid #E7EAEC;
    color: #818485;
    border-radius: 3px;
    text-align: center;
    margin-left: 8px;
    padding: .375rem .85rem;
    font-size: 13px;
    font-weight: 500;        
}
.navbar-top-links  {
    padding-right: 25px;
}
.navbar-top-links .date-link {
    margin-right: 30px;
}
.navbar-top-links .date-link i {
    font-size: 8px;
    position: relative;
    top: -2px;
}
/* navbar */

/* wizard */
.wizard {
    margin-top: 20px;
}

.wizard > .steps a i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: unset;
    width: 85px;
    height: 85px;
    border: 4px solid transparent;
    color: #CCCCCC;
    border-radius: 10em;
    background-color: #F4F4F4;
    position: relative;
    z-index: 30;
}
.wizard > .steps a i svg {
    display: none;
}
.wizard > .steps a i span{
    font-style: unset;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
}
.wizard > .steps .alert {
    border: none;
    text-align: center;
    padding: 0;
    position: relative;
}
.wizard > .steps .alert i{
    position: relative;
    z-index: 30;
    margin: 0;
}
.wizard > .step a i svg {
    display: none;
}
.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active{
    position: relative;
    padding: 0;
    margin: 0;
}
.wizard > .steps > ul > li {
    width: auto;
    float: none;
    text-align: center;
}
.wizard > .steps > ul > li.last{
    display: none;
}
.wizard > .steps > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active,
.wizard > .steps .disabled a, .wizard > .steps .disabled a:hover, .wizard > .steps .disabled a:active,
.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active {
    background-color: #fff;
}
.wizard > .steps a > .number {
    display: none;
}  
.wizard > .steps .done i{
    border: 4px solid #1AB394;
    background-color: #1AB394;
}
.wizard > .steps .current a i {
    border: 4px solid #F8AC59;
    background-color: #fff;
}
.wizard > .steps .done i span {
    color: #fff;
}
.wizard > .steps .current a i svg {
    display: block;
}
.wizard > .steps .current a i span{
    display: none;
}
.wizard > .steps .done a h3{
    color: #1AB394;
    font-weight: bold;
}
.wizard > .steps .current a h3{ 
    color: #F8AC59;
    font-weight: bold;
}
.wizard > .steps a:after {
    position: absolute;
    content: '';
    height: 4px;
    background-color: #EEEEEE;
    width: 100vw;
    left: 99%;
    top: 40px;
    z-index: 20;
}
.wizard > .steps li:last-of-type a:after{
    display: none;
}
.wizard > .steps .done a:after{
    background-color: #1AB394!important;
    height: 4px!important;
    top: 40px!important;
}
.wizard > .steps .done + .nav-link:after {
    background-color: #fff;
    z-index: 25;
    height: 6px;
    top: 39px;
}
/* wizard content */
.wizard > .content > .body {
    float: none;
    width: 100%;
    height: 100%;
    padding: 0 15px 15px;
}
/* wizard content end */

/* wizard end */

.info-block{
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px;  
}
.info-block .icon{
    min-width: 30px;
    height: 30px;
    background-color: #F3F3F4;
    border-radius: 10em;
    display: block; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
} 
.panel-default {
    border: none;
    padding: 15px;
}
.panel-border{
    border: 1px solid #EEEEEE;
}
.panel-default p {
    margin-bottom: 0;
}
/* first step */
.step-block {
    margin: 0;
    flex-wrap: nowrap;
}

.ibox-title {
    display: flex;
    padding: 15px;
}
.left-side .ibox-title{
    padding-left: 0;
    padding-right: 0;
}
.ibox-content {
    border:none;
    padding: 15px;
}
.ibox-content.border-top{
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}
.step-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1C84C6;
    border-radius: 90px;
    min-width: 50px;
    height: 50px;
    color: #fff; 
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 32px;   
    margin-right: 18px;   
}
.ibox.add-group-setting .ibox-title {
    padding-left: 20px;
}

.step-block {
    display: flex;
}

.step-block .left-side{
    padding-top: 18px;
    background-color: #fff;
    margin-bottom: 25px;
}
.hidden {
    display: none;
} 
textarea.select-keywords,.keywords-visual {
    width: 100%;
    min-height: 140px;
    resize: none;
}
textarea.select-keywords {
    display: none;
}
.thanks .confirm  {
    min-height: 62vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.thanks .confirm  .icon {
    width: 100px;
    border-radius: 10em;
    margin-bottom: 30px;
    height: 100px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #1AB394;    
}
.thanks .confirm  .icon svg {
    width: 50px;
    height: auto;
}
.thanks .confirm  .icon svg path {
    fill: #1AB394
}
.step-block .right-side {
    width: 100%;
    padding-right: 0;
   
}
.keyword-list-wrap {
    background-color: #fff;
    width: 100%;
}
.step-block .left-side .form-group select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-progress-appearance: none;
}
.select-wrap {
    position: relative;
}
.select-wrap i.icon {
    position: absolute;
    right: 10px;
    z-index: 99;
    top: 7px;
    font-size: 14px;
}
.step-content .panel-body{
    padding: 0;
}
.choice-form {
    margin-top: 24px;
}
body .choice-form .form-group select.form-control {
    /*height: 2.25rem;*/
    height: 36px;
    font-size: 14px;  
    padding: 0 10px;
}
.icon.fa-chevron-down::before {
    display: none;
}
.toggle-wrap.active .ibox.collapsed .ibox-content{
    display: block;
}
.choice-form .form-group.select-wrap{
    border: 1px solid #EEEEEE;
box-sizing: border-box;
border-radius: 3px;
margin-right: 6px;
}
.choice-form .form-group{
    margin-bottom: 1.5rem;
}
.choice-form .form-group.toggle-wrap {
    display: none;
}
.choice-form .form-group.selected {
    display: block;
}
.accent-color select{
    color: #1AB394;
    font-weight: 700;
}

.choice-form .form-group .ibox-title{
    padding: 0;
    border: none;
    box-shadow: unset;
    cursor: pointer;
    border-bottom: 0.5px solid #EEEEEE;
    min-height: unset;
    padding-bottom: 15px;  
}
.choice-form .form-group .ibox.border-bottom .ibox-title {
    font-weight: bold;
    border-bottom: none;
    padding-bottom: 30px;
}
.choice-form .form-group .ibox-tools a {
    display: block;
    width: 100%;
    height: 100%;
}
.choice-form .form-group .ibox-tools .fa-chevron-up svg {
    fill: #1AB394;
    transform: rotate(180deg);
}
.choice-form .form-group .ibox-tools .fa-chevron-up svg path {
    fill: #1AB394;
}
.choice-form .form-group .ibox-tools{
    top: -6px;
    right: 0;
    width: 100%;
    height: 100%;    
}
.choice-form .form-group .ibox-tools .icon{
    display: inline-block;
    margin-right: 20px;
    margin-top: 8px;    
}
.choice-form .ibox-content {
    padding-left: 0;
    padding-right: 0;
    border: none;
}
.choice-form .ibox {
    border: none!important
}
.abc-checkbox input[type="checkbox"], .abc-checkbox input[type="radio"] {
   opacity: 0;
}

.form-check {
    position: relative;
    display: block;
}

.choice-form .form-check {
    padding-left: 0px;
    padding-bottom: 14px;
    margin-bottom: 12px;
    border-bottom: 0.5px solid #EEEEEE;
}
.choice-form .form-check label, .choice-form .form-check input{
    cursor: pointer;
}
.choice-form .form-check:last-of-type{
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.choice-form  .form-check-input {
    margin-left: 5px;
}
.choice-form .abc-checkbox label{
    padding-left: 30px;
}
.abc-checkbox label::before {
    cursor: pointer;
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    top: 2px;
    left: 0;
    margin-left: 2px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #fff;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.abc-checkbox.abc-checkbox-circle label::before {
    border-radius: 50%;
}
.abc-checkbox-info input[type="checkbox"]:checked + label::before, .abc-checkbox-info input[type="radio"]:checked + label::before {
    background-color: #DBFFF8;
    border-color: #DBFFF8;
}
.abc-checkbox label {
    color: #000000;
    font-size: 12px;
    line-height: 16px;
    font-family: 'Roboto', sans-serif;
}
.abc-checkbox label::after {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 2px;
    margin-left: 2px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #495057;
}
.abc-checkbox input[type="checkbox"]:checked + label::after, .abc-checkbox input[type="radio"]:checked + label::after {
    font-family: "FontAwesome";
    content: "";
}
.abc-checkbox-info input[type="checkbox"]:checked + label::after, .abc-checkbox-info input[type="radio"]:checked + label::after {
    color: #1AB394;
}
.abc-checkbox input[type="checkbox"]:checked + label, .abc-checkbox input[type="radio"]:checked + label {
    color: #1AB394;
    font-weight: bold;
}
.choice-form .ibox-content{
    overflow-y: scroll;
    max-height: 157px;
    padding-right: 30px;
}


*::-webkit-scrollbar-track{
     border-radius: 19px;
     background-color: #eee;
 }
 
 *::-webkit-scrollbar{
     width: 7px;
     background-color: #eee;
 }
 
 *::-webkit-scrollbar-thumb{
     border-radius: 19px;
     background-color: #1AB394;
 }

 .keyword-list .bootstrap-tagsinput {
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 4px;
    height: 146px;
    padding: 9px;
    width: 100%;
 }
 .keyword-list .bootstrap-tagsinput span, 
 .select2-container--default .select2-selection--multiple .select2-selection__choice,
 .textarea-visual  span{
    border: 1px solid #1AB394;
    box-sizing: border-box;
    margin-right: 9px;
    border-radius: 1px;
    background-color: transparent;
    color: #000;
    margin-bottom: 6px;
 }
 .textarea-visual  span {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    padding: 3px 8px;
    text-shadow: none;
    border-radius: 0.25em;
    line-height: 1;
    white-space: nowrap;
    position: relative;
     display: inline-block;
    z-index: 20;     
 }
 .textarea-visual span span[data-role="remove"] {
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 1px;
    padding: 0;
    background-color: transparent;
 }
 .textarea-visual{
     position: relative;
     overflow-y: scroll;
 }
 .edit-area {
     position: absolute;
     width: 100%;
     z-index: 5;
     left: 0;
     top: 0;
     height: 100%;
 }
 .textarea-visual span span[data-role="remove"]:after {
    content: "x";
    padding: 0px 2px;
}
 .keyword-list .bootstrap-tagsinput span span[data-role="remove"], 
 .select2-container--default .select2-selection--multiple .select2-selection__choice__remove,
 .textarea-visual span span[data-role="remove"] {
     color: #1AB394;
     border: none;
     margin: 0;
     position: relative;
     right: -6px;     
     z-index: 30;
 }
body .select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    right: -2px;
    color: #1AB394;
    float: right;
 }
 .bootstrap-touchspin .btn  {
    position: absolute;
    min-height: 20px;
    min-width: 25px;
    font-size: 22px;
    z-index: 20;
    padding: 0;
    left: 0px;
    top: 0;
    /*background-color: transparent;*/
    background-color: #f4f4f4;
    border: none;
    box-shadow: none;
    color: #1AB394;
     border-radius: 0;
     line-height: 34px;
 }
 .select2-container .select2-search--inline .select2-search__field{
     margin-top: -5px;
 }
 .bootstrap-touchspin .btn:hover{
    transform: translateX(0);
 }
 .bootstrap-touchspin {
     position: relative;
     max-width: 402px;
 }
 .form-group .bootstrap-touchspin input{
    padding: 0px 5px 0 30px;
 }
 .bootstrap-touchspin .btn.bootstrap-touchspin-up {
    left: auto;
    right: 0;
 }
 .form-group input {
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    /*min-height: 39px;*/
    max-width: 402px;
    appearance: none;   
    padding: 0 10px; 
 }
 input {
     outline: none;
     box-shadow: unset;
 }
 .select2-container {
     width: 100%!important;
 }

 .add-group-setting {
     margin-top: 6px;
     padding-top: 30px;
     padding-bottom: 27px;
 }
 .add-group-setting .step-title{
    padding-left: 30px;
 }
 .add-group-wrap {
     margin-top: 30px;
     padding: 0;
    border-top: 1px solid #F3F3F4;
 }
 .add-group-wrap .choice-wrap {
    border-right: 1px solid #F3F3F4;
 }
 .add-group-wrap .item {
     padding-left: 32px;
     padding-bottom: 35px;
     padding-right: 50px;
     padding-top: 20px;
     cursor: pointer;
     transition: all .3s ease;
 }
 .add-group-wrap .item.active,  .add-group-wrap .item:hover {
     background-color: #1AB394;
 }
 .add-group-wrap .item.active h3,  .add-group-wrap .item:hover h3{
   color: #fff;
}
 .add-group-wrap .item.active .title,  .add-group-wrap .item.active p,
 .add-group-wrap .item:hover .title,  .add-group-wrap .item:hover p{
     color: #fff;
 }
 body  .add-group-wrap .item.active .abc-radio {
     background: #DBFFF8;
     border-color: #DBFFF8;
     text-align: center;
 }
 body  .add-group-wrap .item.active .form-check-label,
 body  .add-group-wrap .item:hover .form-check-label  {
     color: #fff;
 }
 body  .add-group-wrap .item.active i{
    opacity: 1;
    font-size: 10px;
    text-align: center;
    line-height: 12px;
    position: relative;
    top: -2px;
    color: #1AB394;    
 }
 .add-group-wrap .item p {
    margin: 17px 0 0;
 }
 .abc-radio input{
     position: absolute;
     left: 0;
     right: 0;
     height: 100%;
     width: 100%;
     opacity: 0;
     margin: 0;
 }
 body .abc-radio {
     position: relative;
     display: inline-block;
     padding: 0;
     width: 18px;
     height: 18px;
     margin-right: 9px;
     background: #FFFFFF;
     border: 1px solid #C4C4C4;
     border-radius: 10em;
     box-sizing: border-box;     
 }
 body .abc-radio i {
     opacity: 0;
 }
 body .form-group .form-check-label {
     display: inline-block;
     color: #C4C4C4;
     font-family: 'Roboto', sans-serif;
     font-size: 12px;
     line-height: 18px;
     vertical-align: top;
     font-weight: 400;
 }
.settings-field-wrap{
    width: 100%;
}
 .settings-field-wrap .form-group{
    display: flex;
    min-height: 84px;
    border-bottom: 1px solid #EFEFEF;
    align-items: center;
    width: 100%;
    padding-left: 36px;
     padding-right: 36px;
     justify-content: space-between;
 }
 .settings-field-wrap .form-group label {
    font-size: 14px;
    line-height: 16px;
    font-family: 'Roboto', sans-serif;
    color: #000;
    max-width: 362px;
    width: 100%;
    margin-right: 37px;
    margin-bottom: 0;
 }
 .settings-field-wrap .form-group .select2-container--default .select2-selection--multiple {
    max-width: 402px;
    width: 100%;
    height: 39px;
    overflow: hidden;
 }
 .settings-field-wrap .form-group .select2-container--default.select2-container--open .select2-selection--multiple {
     height: auto;
 }
 .settings-field-wrap .select2-container{
    max-width: 402px;
 }
 .settings-field-wrap .select-wrap {
     max-width: 402px;
     width: 100%;
     position: relative;
 }
 .settings-field-wrap .select-wrap.auto-w {
    width: auto;
    min-width: 84px;
 }
 .settings-field-wrap .select-wrap .icon {
     position: absolute;
     right: 12px;
     top: 10px;
 }
 body .settings-field-wrap .select-wrap select{
     appearance: none;
     -moz-appearance: none;
     -webkit-appearance: none;
     width: 100%;
     height: 39px!important;
     position: relative;
     background-color: transparent;
 }
 .abc-check {
    background: #1AB394;
    border: 1px solid #1AB394;
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding: 0;
    width: 19px;
    height: 19px;
    margin-right: 18px;
 }
 input, select,textarea {
     cursor: pointer;
 }
 .abc-check.active i {
    color: #fff;
    opacity: 1;
 }
 .abc-check i {
     opacity: 0;
 }
 .abc-check input {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.btn-default.btn-prev, .wizard .actions li:first-of-type[aria-disabled="false"] a{
    background: #1C84C6;
    min-width: 230px;
    margin-right: 20px;
}
.btn-default.btn-prev, .wizard .actions li:first-of-type[aria-disabled="true"] a{
    color: #aaa!important;
}
.wizard .actions li a {
    color: #fff!important;
    line-height: 36px;
    min-width: 230px;
}
.btn-default,  .wizard .actions li a {
    background: #1AB394;
    border-radius: 3px;
    text-align: center;
    padding-left: 38px;
    padding-right: 38px;
    min-height: 48px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 36px;
    font-family: 'Roboto', sans-serif; 
    transition: all .3s ease;   
}
.btn.btn-cancel {
    background: white;
    color: rgb(103, 106, 108);
}
.btn.btn-cancel:hover {
    color: rgb(103, 106, 108);
    transform: translateX(-12px);
}
.btn-default:hover,  .wizard .actions li a  {
    color: #fff;
    transform: translateX(12px);
}
.btn-default.btn-prev:hover, .wizard .actions li a  {
    color: #fff;
    transform: translateX(-12px);
}
.form-group select{
    position: relative;
    z-index: 20;
    background: transparent;
}
.next-wrap {
    text-align: right;
    padding-right: 40px;
    padding-top: 25px;
}
.new-group .next-wrap, .confirm .next-wrap{
    border-top: 1px solid #EFEFEF;
    padding-bottom: 13px;
}

.modal {
    display: none;
}
.new-group .right-side .inner-wrap{
    min-height: 62vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.ibox-title {
    border-top: none;
}
.large-title{
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    max-width: 90%;
    display: block;  
    margin-bottom: 5px;      
}

.flex-wrap{
    display: flex;
    flex-wrap: nowrap!important;
}
.custom-ibox .ibox-title {
    padding: 0 0 12px 16px;
    border-bottom: 1px solid #e7eaec;
}
.custom-ibox .ibox-tools {
    top: 0;
}
.custom-ibox {
    border: none!important;
    margin-bottom: 12px;
}
.custom-ibox .ibox-tools .icon:before {
    display: none;
}
.custom-ibox .ibox-title .sub-info {
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    font-family: 'Roboto', sans-serif;
}
.custom-ibox .ibox-title .sub-info .accent {
    font-weight: 700;
    color: #1c84c5;
}
.custom-ibox .ibox-content {
    padding-left: 0;
    padding-right: 0;
    border: none!important;
}
.custom-ibox .ibox-content a{
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding-left: 16px;
    line-height: 21px;
    display: block;
    border-bottom: 1px solid #e7eaec;
    padding-bottom: 10px;
    margin-bottom: 10px; 
    transition: all .3s ease;
}
.custom-ibox .ibox-content a:hover {
    opacity: .7;
}

.small-info {
    color: #676A6C;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Roboto', sans-serif;
}
.inner-info-block {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 22px;    
    margin-left: 0;
    margin-right: 0;
}
.drag-group {
    margin-top: 29px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 30px -.5% 0;
}
.drag-group .drag-new {
    display: flex;
}
.keyword-field-wrap .error{
    color: red;
    padding-left: 20px;
}
.drag-card{
    margin: 0 .5% 20px;
    width: 19%;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;    
}
.drag-top-info {
    padding: 16px 12px;
    border-bottom: 1px solid #F3F3F4;
    position: relative;
}
.group-number-container {
    display: block;
    font-family: 'Roboto',sans-serif;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
}
.group-size {
    font-weight: bold;
}
.group-number {

}
.group-title, .edit-title {
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #000000; 
    display: inline-block;   
}
.edit-title {
    border: none;
    border-bottom: 1px solid #1AB394;
    padding: 0;
    margin: 0;
}
 .drag-card.editing .edit {
    display: none;
} 
.drag-card.editing .group-title .value{
    display: none;
}
.edit {
    position: relative;
    margin-left: 6px;
    top: 3px;
    display: inline-block;
    color: #1AB394;
}
.remove-group {
    background: #FFE3E6;
    width: 25px;
    height: 25px;
    line-height: 22px;
    border-radius: 10em;
    display: block;
    position: absolute;
    right: 8px;
    top: 12px;
    text-align: center;
    color: #FF3B30;
}
.remove-group:hover {
    color: #FF3B30;
}

a:hover{
    color: #1AB394;
    transition: all .3s ease;
}

.drag-info {
    font-family: 'Roboto',sans-serif;
    font-size: 9px;
    line-height: 11px;
    color: #000000;   
    padding: 0 12px;
}
.drag-list .drag-element {
    width: 100%!important;
}
.drag-element {
    max-width: 196px!important;
}
.drag-mid-info {
    height: 100%;
}

.drag-element {
    margin-top: 8px;
    cursor: move!important;
    display: flex;
    align-items: center;
    width: auto;
    position: relative;
    z-index: 999;
    margin-right: 24px;
    min-height: 19px;
    background-color: #fff;
    border: 1px solid #1AB394;
    box-sizing: border-box;
    border-radius: 1px; 
    padding-left: 5px;
    padding-right: 5px;   
    cursor: pointer;
}
.switcher-wrap label {
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
}
.drag-element.negative-element{
    border-color: #ED5767;
}
.drag-element.negative-element svg path{
    fill: #ED5767;
}
.drag-element.negative-element .title{
    color: #ED5767;
}
.drag-element .remove-group {
    position: absolute;
    right: -27px;
    top: -2px;
    width: 20px;
    height: 20px;
    line-height: 18px;
    font-size: 11px;   
    opacity: 0; 
    transition: all .3s ease;
}
.drag-element:hover .remove-group{
    opacity: 1;
}
.drag-list {
    padding: 0 12px 8px;
    min-height: 62px;
    height: 100%;
    position: relative;
}
.modal-wrap > *{
    display: none;
}
.ui-sortable-placeholder{
    background-color: rgba(27,179,148,.1);
}
.drag-element .title{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #1AB394;   
    margin-left: 5px; 
}
.drag-bot-info {
    border-top: 1px solid #F3F3F4;
    display: flex;
    justify-content: space-between;
    padding: 6px 13px 10px;
    position: relative;
    z-index: 20;
}
.drag-bot-info a {
    font-family: 'Roboto',sans-serif;
    font-size: 10px;
    line-height: 12px;
    color: #1AB394;
}
.drag-bot-info a.add-negative-keyword {
    color: #EF2929;
}
.drag-new{
    display: none;
}
.btn-add-new-group:hover {
    background-color: #1AB394;
    color: #fff;
}
.btn-add-new-group {
    transition: all .3s ease;
    padding: 0 22px;
    min-height: 42px;
    display: block;
    cursor: pointer;
    margin: 0 0 0 auto;
    border: 2px solid #1AB394;
    box-sizing: border-box;
    border-radius: 3px;
    position: absolute;
    top: 18px;
    right: 69px;
    background-color: #fff;
    box-shadow: unset;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    line-height: 42px;   
    color: #1AB394;   
}
.drag-elemnts-list .drag-element .remove-group{
    display: none;
}
.drag-elemnts-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 9px 0 16px;
}
.drag-elemnts-list .drag-element {
    margin-right: 0;
    width: 49%!important;
}
.step-content {
    width: 100%;
}
.confirm .right-side {
    padding: 20px 60px 0px;
}
.follow-settings{
    margin-top: 35px;
}
.alert-success {
    background-color: #E3F5F2;
    display: flex;
}
.alert {
    padding: 14px;
    margin-bottom: 8px;
    margin-top: 8px;
    width: 100%;
}
.alert p {
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #000000;    
}
.alert i {
    color: #1AB394;
    font-size: 18px;
    display: inline-block;
    margin-right: 18px;
}
.accent {
    color: #1c84c5;
    font-weight: 700;
}
.summary {
    margin-top: 35px;
    margin-bottom: 70px;
}
.summary .table th{
    background: #FCFCFC;
    padding: 13px 19px;
    min-height: 40px;
    color: #676C6C;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 14px;
    border: .5px solid #EEEEEE;
}
.summary .table{
    border: .5px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    border-radius: 5px 5px 0px 0px;
}
.summary .table td{
    padding: 13px 19px;
    background: #FCFCFC;
    min-height: 40px;
    font-weight: bold;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 14px;
    border: .5px solid #EEEEEE;
}
.btn-xs {
    font-size: 12px;
    line-height: 14px;
    padding: 0.2rem 0.6rem;
}

@media screen and (max-width:768px){
    .step-block{
        flex-wrap: wrap;
    }
    .step-block .left-side {
        max-width: unset;
        width: 100%;
    }
    .add-group-wrap {
        flex-wrap: wrap;
    }
    .add-group-wrap .choice-wrap {
        max-width: unset;
    }
    .settings-field-wrap .form-group {
        padding-right: 10px;
    }
    .new-ad-group {
        padding-right: 30px;
    }
    .page-heading {
        padding-left: 10px;
        padding-right: 10px;
    }
    .btn-add-new-group {
        position: relative;
        margin: 0;
        top: 5px;
        right: auto;
        left: 0;        
    }
    .drag-card {
        width: 100%;
    }
    .btn-default.btn-prev, .wizard .actions li:first-of-type a {
        background: #1C84C6;
        min-width: 150px;
        margin-right: 20px;
    }
    .confirm .right-side {
        padding: 20px 10px 0;
    }
    .btn-default, .wizard .actions li a {
        padding-left: 10px;
        padding-right: 10px;
        min-width: 150px;
    }
    .next-wrap{
        padding-right: 10px;
        padding-left: 10px;
        text-align: center;
    }    
    .summary {
        overflow-x: scroll;
    }
    .summary::-webkit-scrollbar{
        height: 7px;
    }
}