.ppcr-tbl-section {
    border-top: 0px !important;
}

.table-striped.ppcr-tbl-section-tbody > tr {
    background-color: #ffffff !important;
}
.ppcr-tbl-section > thead > tr > th,
.ppcr-tbl-section > tbody > tr > td {
    border: 0px !important;
}

.ppcr-tbl-section .ppcr-tbl-section-columns > th,
.ppcr-tbl-section > tbody > tr > td {
    background-color: #ffffff !important;
    border-left: 1px #EEEEEE solid !important;
    border-top: .5px #EEEEEE solid !important;
    border-bottom: .5px #EEEEEE solid !important;
    padding: 0 11px!important;
    height: 34px;
    color: #3d3f40 !important;
}
.ppcr-tbl-section thead th a {
    color: #3d3f40 !important;
}

.ppcr-tbl-section .ppcr-tbl-section-columns > th {
    background-color: #FCFCFC !important;
}

.ppcr-tbl-section-th-one {
    /* background-color: #4b6e76 !important; */
    background-color: #A7B1C2!important;
    color: #ffffff;
    border-right-color: #4b6e76 !important;
    border-radius: 8px 0px 0px 0px;
    border-left: 0px !important;
}

.table-bordered > thead > tr > .ppcr-tbl-section-th-border-left-one,
.table-bordered > tbody > tr > .ppcr-tbl-section-td-border-left-one {
    border-left: 1px #A7B1C2 solid !important;
}
.table-bordered > thead > tr > .ppcr-tbl-section-th-border-left-one {
    border-top: 1px #A7B1C2 solid !important;
}
.footable {
    border-top-left-radius: 15px!important;
    border-top-right-radius: 15px!important;
}
body .footable tr th.ppcr-tbl-section-th-two{ 
    /* background-color: #5f858d !important; */
    background-color: #2F4050!important;
    border-top-right-radius: 10px;
    color: #ffffff;
    /* border-right-color: #5f858d !important; */
    /* border-left: 0px !important; */
}

.table-bordered > thead > tr > .ppcr-tbl-section-th-border-left-two,
.table-bordered > tbody > tr > .ppcr-tbl-section-td-border-left-two {
    border-left: 1px #5f858d solid !important;
}
.table-bordered > thead > tr > .ppcr-tbl-section-th-border-left-two {
    border-top: 1px #5f858d solid !important;
}
.ppcr-tbl-section-th-three {
    background-color: #78a1a9 !important;
    color: #ffffff;
    border-right-color: #78a1a9 !important;
    border-radius: 0px 8px 0px 0px;
    border-left: 0px !important;
}
.table-bordered > thead > tr > .ppcr-tbl-section-th-border-left-three,
.table-bordered > tbody > tr > .ppcr-tbl-section-td-border-left-three {
    border-left: 1px #78a1a9 solid !important;
}
.table-bordered > thead > tr > .ppcr-tbl-section-th-border-left-three {
    border-top: 1px #78a1a9 solid !important;
}

body #page-wrapper {
    width: 100%;
}
.footable-even td {
    cursor: pointer;
}
.footable-row-detail {
    display: none;
}
.ppcr-tbl-section > tbody > tr.footable-row-detail > td.headline {
    font-family: 'Roboto', sans-serif;
    color: #fff!important;
    background-color: #23C6C8!important;
    border: 1px solid #23C6C8!important;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 11px;
}
.footable {
    overflow: hidden;
}
.footable td {
    color: #000;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
}
.footable  tr.footable-row-detail td{
border: .5px solid #23C6C8!important;
box-sizing: border-box;
height: 38px;
}
.footable  tr.footable-even td:first-of-type {
    padding-left: 5px!important;
    padding-right: 5px!important;
    width: 144px;
}
.footable  tr.footable-even td:nth-of-type(2) {
    width: 202px;
}

.footable  tr.footable-row-detail td:first-of-type{
    border-right: 1px solid #23C6C8!important;  
    border-top: none!important;
    border-left: none!important;
    border-bottom: none!important;
}
.footable  tr.footable-row-detail td:last-of-type{
    border-right: 1px solid #23C6C8!important;
}
.footable tr.footable-row-detail.info-detail td:first-of-type {
    border-right: 1px solid #A7B1C2!important;
}
.footable.table {
    margin-bottom: 54px;
}
.ppcr-tbl-section-columns a {
    color: #676C6C;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.footable  tr.footable-row-detail.info-detail td:last-of-type{
    border-right: 1px solid #2F4050!important;
}
.footable  tr td:last-of-type,
.footable  tr th:last-of-type{
    border-right: 1px solid #2F4050!important;
}
.footable tr.footable-row-detail.headline-row td{
    height: 22px;
}
.footable-toggle {
    width: 22px;
    height: 22px;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 4px;
    display: inline-block;    
}
.footable-toggle  {
    text-align: center;
    margin-right: 20px;
    position: relative;
}
.footable-even td:first-of-type {
    position: relative;
}
.footable-even td:first-of-type::after{
    content: '';
    position: absolute;
    left: 32px;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #EEEEEE;
}
.footable-toggle i {
    line-height: 22px;
}
.footable-even.active i {
    transform: rotate(180deg);
    color: #23C6C8;
}
.footable-row-detail .info{
    margin-bottom: 16px;
    margin-top: 11px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    padding: 14px 18px 9px 55px
}
.footable-row-detail .info p {
    text-align: justify;
    color: #676F75;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
}
.footable-row-detail .info .title{
    color: #2F4050;
    margin-bottom: 12px;
    display: block;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}