body, body.modal-open {
	overflow-y: scroll;
}

.f-s-50 {
	font-size: 50% !important;
}

.f-s-100 {
	font-size: 100% !important;
}

.f-s-120 {
	font-size: 120% !important;
}

.f-s-150 {
	font-size: 150% !important;
}

.f-s-200 {
	font-size: 200% !important;
}

.f-s-250 {
	font-size: 250% !important;
}

.f-s-300 {
	font-size: 300% !important;
}

.f-s-350 {
	font-size: 350% !important;
}

.f-s-400 {
	font-size: 400% !important;
}

.font-light {
	font-weight: 100;
}

.badge-qs {
	padding: 0;
	min-width: 35px;
	line-height: inherit;
	vertical-align: baseline;
	font-size: 12px;
}

.tab-pane>.table-bordered {
	border-top: none;
	border-bottom: none;
}

.tab-pane .table-bordered>thead>tr>th, .tab-pane .table-bordered>thead>tr>td {
	background-color: #fff;
}

.tab-pane .table-striped>tbody>tr:nth-of-type(2n+0) {
	background-color: #fff;
}

.tab-pane .table-striped>tbody>tr:nth-of-type(2n+1) {
	background-color: #f9f9f9;
}

.qs-chart {
	height: 340px;
}

.small-chart {
	height: 200px;
}

.table thead th a {
	display: block;
	position: relative;
	padding-right: 20px;
	color: #676a6c;
}

.table thead th a:after {
	position: absolute;
	bottom: 0px;
	right: 0px;
	display: block;
	font-family: FontAwesome;
	opacity: 0.2;
	content: "\f0dc";
	color: #333;
}

.table thead th a.asc:after {
	opacity: 0.5;
	content: "\f160";
}

.table thead th a.desc:after {
	opacity: 0.5;
	content: "\f161";
}

.table thead th .dropdown a:after {
	content: none;
}

.table td.checkbox-dropdown {
	white-space: nowrap;
}

.table th.checkbox-dropdown .dropdown, .table td.checkbox-dropdown .dropdown {
	display: inline-block;
}

.btn-circle {
	height: 26px;
	width: 26px;
	line-height: 24px;
	font-weight: bold;
	font-size: 11px;
	padding: 0;
}

.table.top-spender-table>thead>tr>th, .table.top-spender-table>tbody>tr>td {
	vertical-align: middle;
}

.no-border-top {
	border-top: none !important;
}

.no-border-right {
	border-right: none !important;
}

.no-border-bottom {
	border-bottom: none !important;
}

.no-border-left {
	border-left: none !important;
}

#page-overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 5000;
}

.loader-container {
	position: relative;
}

.loader-container>.loader {
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	z-index: 1000;
	position: absolute;
}

.loader>.sk-spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0;
	transform: translate(-50%, -50%);
}

.button-text {
	display: inline-block;
	font-size: 14px;
	margin: 0;
	padding: 7px;
	vertical-align: middle;
}

.dropdown-items-per-page .dropdown-menu {
	min-width: 75px;
	right: 0;
	left: auto;
}

.dropdown-items-per-page .dropdown-menu>li>a {
	text-align: right;
}

.text-right>.dropdown>.dropdown-menu {
	right: 0;
	left: auto;
}

.product-category-dropdown .dropdown-menu li a i, .item-category-dropdown .dropdown-menu li a i {
	position: relative;
	left: -5px;
	margin-right: 5px;
}

.dropdown-data-filter>ul.dropdown-menu>li>a {
	position: relative;
	padding-right: 30px;
}

.dropdown-data-filter>ul.dropdown-menu>li>a>i.fa-times {
	position: absolute;
	right: 10px;
	top: 9px;
}

.count-info.hide-warning-label .label-warning {
	display: none;
}

.navbar .navbar-top-links .dropdown-menu>li>.item {
	display: block;
	padding: 3px;
	margin: 4px;
}

.navbar .navbar-top-links .dropdown-menu>li>.item:hover {
	background-color: #f5f5f5;
	color: #262626;
}

.navbar .navbar-top-links .dropdown-menu>li.default>.item, .navbar .navbar-top-links .dropdown-menu>li.default>.item:hover {
	cursor: not-allowed;
	background-color: #f5f5f5;
	color: #262626;
}

.navbar .navbar-top-links .dropdown-menu>li.disabled>.item, .navbar .navbar-top-links .dropdown-menu>li.disabled>.item:hover {
	cursor: not-allowed;
	background-color: transparent;
	color: #ccc;
}

.navbar .navbar-top-links .dropdown-menu>li>.item .fa {
	cursor: pointer;
	transform: scale(1.2);
}

.navbar .navbar-top-links .dropdown-menu>li.default>.item .fa, .navbar .navbar-top-links .dropdown-menu>li.disabled>.item .fa {
	cursor: not-allowed;
}

.navbar .navbar-top-links .dropdown-menu>li>.item .name {
	margin-left: 5px;
	cursor: pointer;
}

.navbar .navbar-top-links .dropdown-menu>li.default>.item .name, .navbar .navbar-top-links .dropdown-menu>li.disabled>.item .name {
	cursor: not-allowed;
}

.navbar .navbar-top-links .dropdown-menu>li>.item .info {
	float: right;
	font-size: 85%;
	color: #888;
	padding-top: 2px;
}

.navbar .navbar-top-links .dropdown-menu>li.custom-datepicker {
	padding: 3px 5px;
	font-size: 12px;
}

.navbar .navbar-top-links .dropdown-menu>li.custom-datepicker>.text {
	line-height: 25px;
}

.navbar .navbar-top-links .dropdown-menu>li.custom-datepicker>.text .fa {
	transform: scale(1.2);
}

.navbar .navbar-top-links .dropdown-menu>li.custom-datepicker>.text .name {
	margin-left: 5px;
}

.navbar .navbar-top-links .dropdown-menu>li.custom-datepicker>.input-daterange {
	min-width: 250px;
	width: auto;
}

.nav.nav-third-level>li.active {
	border: medium none;
}

.navbar .dropdown-accounts .dropdown-menu {
	width: 400px;
	max-height: 500px;
	overflow-y: auto;
}

.navbar .dropdown-accounts .dropdown-menu .buttons {
	border-top: 1px solid #e5e5e5;
	margin-top: 10px;
}

.navbar .dropdown-labels .dropdown-menu {
	width: 400px;
	max-height: 500px;
	overflow-y: auto;
}

.navbar .dropdown-labels .dropdown-menu .manage-link {
	border-top: 1px solid #e5e5e5;
	margin-top: 10px;
}

.navbar .dropdown-push-notifications .dropdown-menu {
	width: 400px;
	max-height: 500px;
	overflow-y: auto;
}

.navbar .dropdown-push-notifications .dropdown-menu .export-file {
	margin: 4px;
	padding: 3px 5px;
	font-size: 12px;
	line-height: 18px;
	cursor: default;
}

.navbar .dropdown-push-notifications .dropdown-menu .export-file .progress {
	margin-top: 2px;
}

.navbar .dropdown-push-notifications .dropdown-menu .show-all {
	border-top: 1px solid #e5e5e5;
	margin-top: 10px;
}

.navbar .dropdown-menu a {
	font-size: 12px;
	line-height: 18px;
}

.chart-button.serie-0 {
	background-color: #1c84c6;
	border-color: #1c84c6;
	color: #fff;
}

.chart-button.serie-1 {
	background-color: #23c6c8;
	border-color: #23c6c8;
	color: #fff;
}

.chart-button.serie-2 {
	background-color: #f8ac59;
	border-color: #f8ac59;
	color: #fff;
}

.chart-button.serie-3 {
	background-color: #ed5565;
	border-color: #ed5565;
	color: #fff;
}

.chart-button.serie-4 {
	background-color: #262626;
	border-color: #262626;
	color: #fff;
}

.chart-button.serie-5 {
	background-color: #999;
	border-color: #999;
	color: #fff;
}

.chart-button.serie-6 {
	background-color: #ccc;
	border-color: #ccc;
	color: #fff;
}

.chart-button.serie-hidden {
	box-shadow: none;
	opacity: 0.5;
}

.quality-factor-tabs .ibox-content {
	border-style: solid;
	border-width: 1px;
}

.widget .btn.text-navy:hover, .widget .btn.text-navy:focus {
	color: #086142;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
	color: #ccc;
}

.list-group.sortable-list-group {
	min-height: 10px;
}

.list-group.sortable-list-group .fa-bars {
	cursor: move;
}

.list-group.sortable-list-group .list-group-item.ui-sortable-helper {
	background-color: #fff;
}

.list-group.sortable-list-group .list-group-item.ui-sortable-helper.forbidden-list .fa-bars {
	cursor: not-allowed;
}

#url-query-parameter-examples-list {
	max-height: 500px;
	overflow-y: scroll;
}

.google-status {
	vertical-align: middle;
}

.google-status-enabled {
	color: #0a6;
}

.label.google-status-enabled {
	background-color: #0a6;
	color: #fff;
}

.google-status-paused {
	color: #999;
}

.label.google-status-paused {
	background-color: #999;
	color: #fff;
}

.google-status-removed {
	color: #e44;
}

.label.google-status-removed {
	background-color: #e44;
	color: #fff;
}

.label.http-status-none {
	background-color: #999;
	color: #fff;
}

.label.http-status-ok {
	background-color: #0a6;
	color: #fff;
}

.label.http-status-redirect {
	background-color: #f80;
	color: #fff;
}

.label.http-status-error {
	background-color: #e44;
	color: #fff;
}

.google-ad {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.2;
}

.ad-headline {
	color: #1a0dab;
}

.ad-description {
	color: #333;
}

.ad-url {
	color: #0e8f0e;
}

.form-group .onoffswitch {
	margin-top: 6px;
}

.form-group .onoffswitch label {
	margin-bottom: 0;
}

.profile-image-box {
	display: inline-block;
	background: #fff;
	padding: 10px;
}

.profile-image-box img {
	max-width: 150px;
}

.pointer {
	cursor: pointer;
}

.list-group.list-group-no-space .list-group-item.row {
	margin-right: 0;
	margin-left: 0;
}

.list-group.list-group-no-space .list-group-item.row .col-xs-1, .list-group.list-group-no-space .list-group-item.row .col-xs-2, .list-group.list-group-no-space .list-group-item.row .col-xs-3, .list-group.list-group-no-space .list-group-item.row .col-xs-4, .list-group.list-group-no-space .list-group-item.row .col-xs-5, .list-group.list-group-no-space .list-group-item.row .col-xs-6, .list-group.list-group-no-space .list-group-item.row .col-xs-7, .list-group.list-group-no-space .list-group-item.row .col-xs-8, .list-group.list-group-no-space .list-group-item.row .col-xs-9, .list-group.list-group-no-space .list-group-item.row .col-xs-10, .list-group.list-group-no-space .list-group-item.row .col-xs-11, .list-group.list-group-no-space .list-group-item.row .col-xs-12 {
	padding: 0;
}

.list-group.list-group-no-space .list-group-item.row div.radio input[type=radio] {
	cursor: pointer;
}

#change-final-url-parent-urls .list-group-item.row.custom-url div.radio {
	margin: 6px 0;
}

#alert-modal .media-body, #confirm-modal .media-body {
	font-size: inherit;
	vertical-align: middle;
}

#alert-modal .media-body p, #confirm-modal .media-body p {
	margin: 0;
}

.form-control {
	font-size: 13px;
}

.filter-container .filter-topic {
	display: inline-block;
	margin: 5px;
	padding: 5px;
}

.filter-container .filter-box {
	display: inline-block;
	margin: 5px;
	padding: 5px 5px 5px 10px;
	background-color: #1c84c6;
	color: #fff;
	border-radius: 20px;
	cursor: default;
}

.filter-container .filter-box .filter-delete {
	margin-left: 10px;
	background-color: #fff;
	border-radius: 16px;
	color: #1c84c6;
	cursor: pointer;
}

.permissions-role, .permissions-user {
	display: inline-block;
	margin: 5px;
	padding: 0 5px;
	outline: 1px solid #ccc;
}

.permissions-user.from-group {
	outline-width: 2px;
}

.permissions-user.from-user {
	font-weight: bold;
}

#toast-container>.toast-info:before {
	content: "\f05a";
}

.toast-title, .toast-message {
	max-width: 220px;
	word-wrap: break-word;
}

.account-summary .invisible {
	background-color: transparent !important;
	border-top-color: transparent !important;
	border-bottom-color: transparent !important;
}

.table.account-summary {
	border: none;
}

.table.table-bordered.account-summary>thead>tr:first-of-type>th {
	border-top: 1px solid #e7e7e7;
}

.account-summary>thead>tr>th {
	background-color: #fff;
}

.account-summary>tbody>tr>td.high-qs {
	background-color: #1ab394;
	color: #fff;
}

.account-summary>tbody>tr>td.middle-qs {
	background-color: #f8ac59;
	color: #fff;
}

.account-summary>tbody>tr>td.low-qs {
	background-color: #ed5565;
	color: #fff;
}

.account-summary>tbody>tr>td.null-qs {
	background-color: #aaaaaa;
	color: #fff;
}

.account-summary>tbody>tr:last-of-type>td {
	border-bottom-color: #000;
}

.account-summary>tbody:last-of-type>tr:last-of-type>td {
	border-bottom-color: #e7e7e7;
}

.account-summary>tbody+tbody {
	border-top: none;
}

.account-summary>tbody>tr:nth-of-type(2n+1) {
	background-color: #f9f9f9;
}

.account-summary>tbody>tr:nth-of-type(2n) {
	background-color: #fff;
}

.cell-border-right-dark {
	border-right: 1px solid #999 !important;
}

.cell-border-left-dark {
	border-left: 1px solid #999 !important;
}

.cell-border-top-dark {
	border-top: 1px solid #999 !important;
}

.cell-border-bottom-dark {
	border-bottom: 1px solid #999 !important;
}

table>tbody>tr>td.keyword-label-cell {
	white-space: nowrap;
}

table>tbody>tr>td.action-cell {
	padding: 3px 8px;
}

table>tbody>tr>td>.action-box {
	display: inline-block;
}

table>tbody>tr>td>.action-box>.fa {
	transform: scale(1.6);
}

table>tbody>tr>td>.action-box>.fa.action-in-progress {
	animation:action-box-spinner 2s infinite linear;
}

@keyframes action-box-spinner {
	0% {
		transform: scale(1.6) rotate(0deg);
	}
	100% {
		transform: scale(1.6) rotate(359deg);
	}
}

.colorpicker .colorpicker-saturation {
	width: 200px;
	height: 200px;
}

.colorpicker .colorpicker-hue {
	height: 200px;
}

.colorpicker .colorpicker-color, .colorpicker .colorpicker-color div {
	height: 15px;
}

.colorpicker .colorpicker-alpha {
	display: none;
}

.darker-gray-bg {
	background-color: #ddd;
}

.qs-cost-saving {
    padding: 20px 10px 20px 8px !important;
}

.qs-cost-potential {
    padding: 5px 0px 5px 0px;
}

.btn-group.open .dropdown-toggle {
    box-shadow: none;
}

.ppcr-pr-5 {
    padding-right: 5px;
}
.ppcr-pr-12 {
    padding-right: 12px;
}
.ppcr-width-35 {
    width: 35%;
}
.ppcr-width-50 {
    width: 50%;
}
.ppcr-height-300 {
    height: 300px;
}
.ppcr-width-20p {
    width: 20%;
}
.ppcr-account-sum-pot-td {
    vertical-align: top;
    width: 40%;
}
.ppcr-account-sum-info {
    padding: 38px 148px 21px 25px;
}
#qs-today {
    width: 90%;
    height: 200px;
    margin: auto;
}
.btn-group.open .dropdown-toggle { box-shadow: none; }

.list-button { color: dimgrey; background-color: #ececec; }

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: inherit;
}
.info-box {
    background-color: #f1f3f4;
    border-bottom: none;
    border-top: none;
    min-height: initial;
    padding: 16px;
    margin: .25rem 0 .75rem;
}
.qs-factor-info li {
    padding: 8px;
}

.navbar-brand {
	background: #3ad57b;
	color: #fff;
	padding: 15px 25px;
	font-size: 18px;
	line-height: 20px;
}
.navbar-brand {
	height: auto;
	display: block;
	font-size: 14px;
	background: transparent;
	padding: 0;
	border-radius: 0 0 5px 5px;
	font-weight: 700;
	transition: all 0.3s ease-in-out 0s;
	margin-left: -13px;
	margin-top: 3px;
}
.navbar-brand svg {
	width: 184px;
	height: auto;
}
.navbar-brand svg .cls-1,
.navbar-brand svg .cls-6 {
	transition: all 0.3s ease-in-out 0s;
}
#logo {
	height: 50px;}
.nav-header { height: 140px; }
.profile-element { margin-left: 27px; font-size: 12px; margin-top: 9px;}

.poly-bg {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background: radial-gradient(ellipse at center, #763b6a 0%, #292942 100%);
}
.legal-footer a, .legal-footer { color: #ffffff; }
.signup-body{min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;}


.btn-login {
	color: #000000;
	background-color: #ffdf88;
	border-color: #ffdf88;
}
.btn-login:hover,
.btn-login:focus,
.btn-login.focus {
	color: #000000;
	background-color: #ffdf88;
	border-color: #ffdf88;
}
.btn-login.disabled,
.btn-login:disabled {
	color: #000000;
	background-color: #ffdf88;
	border-color: #ffdf88;
}
.btn-login:not(:disabled):not(.disabled):active,
.btn-login:not(:disabled):not(.disabled).active,
.show > .btn-login.dropdown-toggle {
	color: #000000;
	background-color: #ffdf88;
	border-color: #ffdf88;
}
.btn-login:not(:disabled):not(.disabled):active:focus,
.btn-login:not(:disabled):not(.disabled).active:focus,
.show > .btn-login.dropdown-toggle:focus {
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.hide-element { display: none; }
.floatThead-container { margin-top: 25px !important;}

.dropdown-menu > li > a.active {
    background-color: #f5f5f5;
    color: #000;
    font-weight: bold;
}