.button {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid transparent;
  border-radius: var(--border-rd-small);
  color: var(--color-white);
  transition: all 0.2s;
}

.button_border8 {
  border-radius: var(--border-rd-medium);
}

.button_green {
  line-height: 1.14;
  background-color: var(--color-green03);
  border-color: var(--color-green03);
}

@media (hover: hover) {
  .button_green:hover {
    background-color: #58D1B5;
    border-color: #58D1B5;
  }
}
.button_green:focus {
  border-color: var(--color-primary-blue);
}

.button_blue_hover_white {
  padding: 12px;
  line-height: 27px;
  font-weight: 400;
  font-size: 16px;
  text-transform: unset;
  background-color: var(--color-primary-blue);
  border-color: var(--color-primary-blue);
  border-radius: var(--border-rd-medium);
}

@media (hover: hover) {
  .button_blue_hover_white:hover {
    color: var(--color-primary-blue);
    background-color: var(--color-white);
    border-color: var(--color-primary-blue);
  }
}
.button_blue_hover_white:focus {
  color: var(--color-primary-blue);
  background-color: var(--color-white);
  border-color: var(--color-primary-blue);
}

.button_blue {
  padding: 16px;
  background-color: var(--color-primary-blue);
  border-color: var(--color-primary-blue);
}

.button_blue_small {
  border-radius: var(--border-rd-medium);
  text-transform: unset;
}

@media (hover: hover) {
  .button_blue:hover {
    background-color: #6464A6;
    border-color: #6464A6;
  }
}
.button_blue:focus {
  background-color: var(--color-primary-blue);
  border-color: var(--color-white);
}

@media (max-width: 1200px) {
  .button {
    padding: 14px;
  }
  .button_blue_hover_white {
    font-size: 14px;
  }
  .button_blue {
    padding: 16px;
    font-size: 14px;
  }
}