extends ../../templates/default
block vars
	-
		title = "China Proxies - Infatica"
		breadcrumbs = [
			['Main', 'index.html'],
			['Locations', 'index.html'],
			['Asia', 'index.html'],
			['China Proxies'],
		]
block content
	-
		intro = {
			icon: {
				el: 'uploads/intro-china.png'
			},
			desc: '',
			title: 'China Proxies (100000 IPs)',
			text: "If you're looking to expand your business into China, you need a proxy service that can <br>offer Chinese IP addresses. At Infatica, we have a large selection of proxies available and <br>our proxies are fast and anonymous. Our prices are also very reasonable, making us the <br>perfect choice for businesses and individuals looking to expand their reach in China.",
			btns: [
				{
					cls: '--green --lg',
					title: 'Free Trial'
				},
				{
					cls: '--b-white --lg',
					title: 'Contact Sales'
				},
			]
		}
	include ../../../blocks/intro/intro
	+style('intro', 'blocks')

	-
		pool = {
			title: 'Huge pool of China proxies',
			text: 'We have one of the biggest pools of China proxies, with over 100,000 IP addresses. You can buy as many IPs as you want without any hassle. We have both static and rotating proxies so that you can choose the one that best fits your needs. Gain access to websites and other online services via authentic residential IP addresses from cities like:',
			img: 'uploads/pool-china.svg',
			links: [
				[
					'Chongqing',
					'Shanghai',
					'Beijing',
					'Chengdu',
					'Guangzhou',
					'Shenzhen',
					'Tianjin',
				],
				[
					'Wuhan',
					'Suzhou',
					'Linyi',
					'Harbin',
					'Shijiazhuang',
					'Hangzhou',
					'Zhengzhou',
				],
				[
					"Xi'an"
				]
			]
		}
	include ../../../blocks/pool/pool
	+style('pool', 'blocks')

	-
		real = {
			title: 'Residential Proxies with IP Address of Real People',
			text: '<p>When you buy China proxies from us, you get access to residential IP addresses. This means that the IPs are coming from real people living in the country. With Infatica, you can be sure that your online activity is backed by a real person in China. We have a strict no-bot policy to ensure that all of our IP addresses are clean and not being used for malicious purposes.</p><p>Get in touch with us to learn more about our services and how we can help you achieve your goals. We look forward to hearing from you soon! Infatica is the leading provider of Chinese proxies, and we are confident that we can meet your needs. Contact us today!</p>',
			img: 'uploads/real-china.svg'
		}
	include ../../../blocks/real/real
	+style('real', 'blocks')


	-
		blocked = {
			title: 'Visit any Chinese Website without being Blocked',
			text: "<p>If you're trying to access a Chinese website from outside the country, you will likely be blocked. However, with Infatica's China proxies, you can bypass these restrictions and visit any site you want. Whether you're trying to access geo-restricted content or simply want to browse the web anonymously, our proxies will give you the freedom and flexibility you need.</p> <p>Don't wait any longer, order China proxies from Infatica today and get access to the data you need. We offer the best prices and the most reliable service in the industry. Contact us today to learn more about our services and how we can help you achieve your goals!</p>",
			img: 'uploads/blocked-china.png'
		}
	include ../../../blocks/blocked/blocked
	+style('blocked', 'blocks')



	-
		work = {
			title: 'How Proxies Work',
			subtitle: 'China Proxies',
			text: 'A residential proxy server is an intermediary between you and your target website. It masks your original <a href="">IP address</a>, providing a new residential one. This new IP address is issued by the given country’s ISP, which helps you appear as a regular user from India. This makes local data collection and other activities much easier, with the added benefits of improved privacy and security.',
			img: 'uploads/china-round.svg'
		}
	include ../../../blocks/work/work
	+style('work', 'blocks')

	include ../../../blocks/vs/vs
	+style('vs', 'blocks')

	- should__title = 'Why you should choose Infatica Chinese proxies'
	include ../../../blocks/should/should
	+style('should', 'blocks')

	include ../../../blocks/cases/cases
	+style('cases', 'blocks')

	include ../../../blocks/reviews/reviews
	+style('reviews', 'blocks')
	+script('reviews', 'blocks')

	- pricePlanText = 'We’re offering a set of pricing plans with varying parameters like IP address count and channel bandwidth – or use our flexible pricing option to fine-tune the parameters yourself. Choose the plan that fits your project’s needs best:'
	include ../../../blocks/price-plan/price-plan
	+style('price-plan', 'blocks')

	include ../../../blocks/trial/trial
	+style('trial', 'blocks')

	-
		ipsTitle = 'Other Countries' 
	include ../../../blocks/ips/ips
	+style('ips', 'blocks')

	-
		questions = [
			["Is it legal to use a proxy in China?", "Yes, you can use a proxy in China. However, please note that the Chinese government is cracking down on the use of proxies and VPNs, so it is possible that your proxy may be blocked by the government."],
			["What are the best Chinese proxies?", "There is no definitive answer to this question as the best proxies for you will depend on your specific needs and requirements. However, we believe that our proxies are some of the best in the market, and we would be happy to help you get started with a free trial."],
			["How do I use a Chinese proxy?", "If you're trying to access a Chinese website from outside the country, you will likely be blocked. However, with Infatica's China proxies, you can bypass these restrictions and visit any site you want. Whether you're trying to access geo-restricted content or simply want to browse the web anonymously, our proxies will give you the freedom and flexibility you need."],
			["How do I get a Chinese proxy?", "You can get a Chinese proxy by signing up for a free trial with Infatica. With our proxies, you'll be able to bypass restrictions and access any site you want, from anywhere in the world."],
			["How do I bypass the Chinese firewall?", "The Chinese firewall can be bypassed with a VPN or proxy. Infatica offers both VPN and proxy services, so you can choose the one that best fits your needs. With our proxies, you'll be able to bypass the firewall and access any site you want, from anywhere in the world."],
			["How can I access blocked websites in China?", "If you're trying to access a website that's been blocked from other countries, you will likely be unable to do so without a VPN or proxy. With our proxies, you'll be able to bypass the firewall and access any site you want, from anywhere in the world."],
		]
	include ../../../blocks/questions/questions
	+style('questions', 'blocks')