include ../../pug/vars

.methods.case
	.methods__inner
		.methods__title.h2 Payment Methods
		.methods__wrap
			.methods__left
				.methods__icon
					img(src="uploads/ssl.svg" alt="")
				.methods__content
					.methods__subtitle.h4 SSL Secure Payment
					.methods__text Your information is protected by 256-bit SSL
			.methods__right
				.methods__list.row
					.methods__item
						img(src="uploads/visa.svg" alt="")
					.methods__item.--bg-blue
						img(src="uploads/amex.svg" alt="")
					.methods__item
						img(src="uploads/mastercard.svg" alt="")
					.methods__item
						img(src="uploads/paypal.svg" alt="")
					.methods__item
						img(src="uploads/google-pay.svg" alt="")
					.methods__item
						img(src="uploads/apple-pay.svg" alt="")
				.methods__desc Google Pay and Apple Pay are only available with Smart Wallet