.methods {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #F6F7F8;
}
.methods__inner {
  margin-left: -60px;
  margin-right: -60px;
}
.methods__title {
  margin-bottom: 30px;
}
.methods__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #FFFFFF;
  border: 3px solid #000000;
  box-shadow: 12px 12px 0px #000000;
  border-radius: 6px;
  transform: rotate(-1deg);
  padding: 78px 60px;
}
.methods__left {
  display: flex;
  align-items: center;
  max-width: 530px;
}
.methods__icon {
  width: 120px;
  height: 120px;
}
.methods__content {
  width: calc(100% - 120px);
  padding-left: 16px;
}
.methods__subtitle {
  color: var(--color-primary-blue);
  margin-bottom: 4px;
}
.methods__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}
.methods__right {
  width: 100%;
  max-width: 520px;
  margin-left: auto;
}
.methods__list {
  margin: 0 -10px -20px;
}
.methods__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(16.6666666667% - 20px);
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  margin: 0 10px 20px;
}
.methods__item.--bg-blue {
  background: #1F72CD;
  border-color: #D9D9D9;
}
.methods__desc {
  max-width: 395px;
  margin-top: 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: var(--color-gray05);
}

@media (max-width: 1440px) {
  .methods__inner {
    margin: 0;
  }
}
@media (max-width: 1280px) {
  .methods__item {
    width: calc(30% - 20px);
  }
  .methods__left {
    width: calc(100% - 300px);
    max-width: 100%;
    padding-right: 50px;
  }
  .methods__right {
    max-width: 300px;
  }
}
@media (max-width: 1024px) {
  .methods {
    padding-top: 80px;
    padding-bottom: 85px;
  }
  .methods__title {
    text-align: center;
    margin-bottom: 35px;
  }
  .methods__wrap {
    padding: 58px 75px;
    flex-direction: column;
    align-items: flex-start;
  }
  .methods__left {
    width: 100%;
    padding-right: 0;
    margin-bottom: 60px;
  }
  .methods__right {
    max-width: 100%;
    padding-left: 8px;
  }
  .methods__item {
    width: calc(16.6666666667% - 20px);
  }
}
@media (max-width: 767px) {
  .methods__wrap {
    padding: 40px;
  }
  .methods__item {
    width: calc(25% - 20px);
  }
}
@media (max-width: 580px) {
  .methods__title {
    margin-bottom: 40px;
  }
  .methods__wrap {
    transform: none;
    padding: 56px 20px;
    box-shadow: 8px 6px 0px #000000;
  }
  .methods__left {
    margin-bottom: 62px;
    flex-direction: column;
  }
  .methods__icon {
    width: 80px;
    height: 80px;
    margin-bottom: 17px;
  }
  .methods__content {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }
  .methods__subtitle {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 12px;
  }
  .methods__text {
    font-size: 16px;
    font-weight: 400;
    max-width: 200px;
    margin: 0 auto;
  }
  .methods__item {
    width: calc(33% - 22px);
  }
  .methods__desc {
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
    text-align: center;
  }
}