doctype html
html(lang='en')
	head
		include elements/head.pug
	body

		// Main page start
		main#app

			// Form page header on mobile
			include elements/header-form.pug

			// Section content start
			section.content-section.no-padding

				// Form section
				.form-section.no-padding

					transition(name="fade" , mode="out-in")

						// Question 1
						.section.index-section(key="33" , v-if="step == 1")
							.section-title
								h3 1. Was wird Ihnen vorgeworfen?

							.form-container

								.form-card
									input(type="radio" , name="question" , value="Geschwindigkeitsverstoß")#question
									label(for="question" , v-on:click="next()")
										span.label-icon
											img(src="images/icons8-speedometer.svg")
										span Geschwindigkeitsverstoß

								.form-card
									input(type="radio" , name="question" , value="Abstandsverstoß")#question-2
									label(for="question-2" , v-on:click="next()")
										span.label-icon
											img(src="images/icons8-sedan.svg")
										span Abstandsverstoß

								.form-card
									input(type="radio" , name="question" , value="Rotlichtverstoß")#question-3
									label(for="question-3" , v-on:click="next()")
										span.label-icon
											img(src="images/icons8-traffic-light.svg")
										span Rotlichtverstoß

								.form-card
									input(type="radio" , name="question" , value="Handy / Drogen / Parken")#question-4
									label(for="question-4" , v-on:click="step = 222")
										span.label-icon
											img(src="images/icons-beer.svg")
										span Handy / Drogen / Parken

						// Question 2
						.section.index-section(key="99" , v-if="step == 222")
							.section-title
								h3 Jeder zweite verschickte Bußgeldbescheid ist fehlerhaft! Ist es Ihrer auch?
								p Jetzt <b>kostenlosen</b> und <b>unverbindlichen</b> prüfen

							.form-container
								p.form-question Bitte wählen Sie jetzt genau

								.form-card
									input(type="radio" , name="question-1" , value="Alkohol - / Drogenverstoß")#question-211
									label(for="question-211" , v-on:click="step = 2")
										span.label-icon
											img(src="images/icons8-speedometer.svg")
										span Alkohol - / Drogenverstoß

								.form-card
									input(type="radio" , name="question-1" , value="Handyverstoß")#question-212
									label(for="question-212" , v-on:click="step = 2")
										span.label-icon
											img(src="images/icons8-sedan.svg")
										span Handyverstoß

								.form-card
									input(type="radio" , name="question-1" , value="Parkverstoß")#question-213
									label(for="question-213" , v-on:click="step = 2")
										span.label-icon
											img(src="images/icons8-traffic-light.svg")
										span Parkverstoß

								.form-card
									input(type="radio" , name="question-1" , value="Sonstiges")#question-214
									label(for="question-214" , v-on:click="step = 2")
										span.label-icon
											img(src="images/icons-beer.svg")
										span Sonstiges

						// Question 2
						.section.index-section(key="22" , v-if="step == 2")
							.section-title
								h3 Alles klar! Haben Sie eine Rechtsschutzversicherung?
								p Mit Ihren Angaben helfen Sie uns, Ihnen die richtige Vorgehensweise zu empfehlen. Selbstverständlich entstehen Ihnen keine Kosten!

							.form-container

								.form-card
									input(type="radio" , name="radio-1" , value="Ja habe ich")#radio-1
									label(for="radio-1" , v-on:click="next()")
										span.label-icon
											img(src="images/icons8-security-shield.svg")
										span Ja habe ich

								.form-card
									input(type="radio" , name="radio-1" , value="Nein habe ich nicht")#radio-2
									label(for="radio-2" , v-on:click="next()")
										span.label-icon
											img(src="images/icons8-delete-shield.svg")
										span Nein habe ich nicht

						// Question 3
						.section.index-section(key="2" , v-if="step == 3")
							.section-title
								h3 Haben Sie bereits Post von einer Behörde erhalten?
								p Dies kann eine Anhörung, ein Bußgeldbescheid, Zeugenfragebogen oder Strafbefehl sein.

							.form-container

								.form-card
									input(type="radio" , name="radio-2" , value="Ja habe ich")#radio-4
									label(for="radio-4" , v-on:click="next()")
										span.label-icon
											img(src="images/icons8-security-shield.svg")
										span Ja habe ich

								.form-card
									input(type="radio" , name="radio-2" , value="Nein habe ich nicht")#radio-5
									label(for="radio-5" , v-on:click="next()")
										span.label-icon
											img(src="images/icons8-delete-shield.svg")
										span Nein habe ich nicht

						// Question 4
						.section.index-section(key="3" , v-if="step == 4")
							.section-title
								h3 Gut, wo waren Sie unterwegs?
								p Bitte prüfen Sie den Bescheid: Sind Sie innerhalb oder außerhalb geschlossener Ortschaften geblitzt worden?

							.form-container

								.form-card
									input(type="radio" , name="radio-3" , value="Innerorts")#radio-7
									label(for="radio-7" , v-on:click="next()")
										span.label-icon
											img(src="images/icons8-security-shield.svg")
										span Innerorts

								.form-card
									input(type="radio" , name="radio-3" , value="Außerorts")#radio-8
									label(for="radio-8" , v-on:click="next()")
										span.label-icon
											img(src="images/icons8-delete-shield.svg")
										span Außerorts

								.form-card
									input(type="radio" , name="radio-3" , value="Ich bin mir unsicher")#radio-9
									label(for="radio-9" , v-on:click="next()")
										span.label-icon
											img(src="images/icons8-delete-shield.svg")
										span Ich bin mir unsicher

						// Question 5
						.section.index-section(key="4" , v-if="step == 5")
							.section-title
								h3 Und wie viel km/h waren Sie zu schnell?
								p Bitte prüfen Sie den Bescheid: Wie hoch ist die vorgeworfene Überschreitung der Geschwindigkeit

							.form-container

								.form-card
									input(type="radio" , name="radio-4" , value="0 - 15 km/h")#radio-10
									label(for="radio-10" , v-on:click="next()")
										span.label-icon
											img(src="images/icons8-security-shield.svg")
										span 0 - 15 km/h

								.form-card
									input(type="radio" , name="radio-4" , value="16 - 20 km/h")#radio-11
									label(for="radio-11" , v-on:click="next()")
										span.label-icon
											img(src="images/icons8-security-shield.svg")
										span 16 - 20 km/h

								.form-card
									input(type="radio" , name="radio-4" , value="21 - 25 km/h")#radio-12
									label(for="radio-12" , v-on:click="next()")
										span.label-icon
											img(src="images/icons8-security-shield.svg")
										span 21 - 25 km/h

								.form-card
									input(type="radio" , name="radio-4" , value="über 25 km/h")#radio-13
									label(for="radio-13" , v-on:click="next()")
										span.label-icon
											img(src="images/icons8-security-shield.svg")
										span über 25 km/h

								.form-card
									input(type="radio" , name="radio-4" , value="Ich bin mir unsicher")#radio-14
									label(for="radio-14" , v-on:click="next()")
										span.label-icon
											img(src="images/icons8-delete-shield.svg")
										span Ich bin mir unsicher

						// Question 6
						.section.index-section(key="8" , v-if="step == 6")
							.section-title
								h3 Wie viele Punkte in Flensburg haben Sie bereits?
								p Die Höhe der Strafe ist davon abhängig, ob Sie bereits Punkte in Flensburg haben. Ist Ihnen bekannt, ob es solche Voreintragungen gibt?

							.form-container

								.form-card
									input(type="radio" , name="radio-6" , value="Keine Punkte")#radio-20
									label(for="radio-20" , v-on:click="next()")
										span.label-icon
											img(src="images/icons8-security-shield.svg")
										span Keine Punkte

								.form-card
									input(type="radio" , name="radio-6" , value="1-3 Punkte")#radio-21
									label(for="radio-21" , v-on:click="next()")
										span.label-icon
											img(src="images/icons8-security-shield.svg")
										span 1-3 Punkte

								.form-card
									input(type="radio" , name="radio-6" , value="Keine Unterlagen vorhanden")#radio-22
									label(for="radio-22" , v-on:click="next()")
										span.label-icon
											img(src="images/icons8-security-shield.svg")
										span 4-8 Punkte

								.form-card
									input(type="radio" , name="radio-6" , value="Ich bin mir unsicher")#radio-23
									label(for="radio-23" , v-on:click="next()")
										span.label-icon
											img(src="images/icons8-delete-shield.svg")
										span Ich bin mir unsicher

						// Question 7
						.section.index-section(key="9" , v-if="step == 7")
							.section-title
								h3 Welches Dokument haben Sie erhalten?
								p Bitte geben Sie an welches Dokument Sie von der Behörde erhalten haben. Diese Information finden Sie auf der ersten Seite des Schreibens.

							.form-container

								.form-card
									input(type="radio" , name="radio-7" , value="Anhörungsbogen")#radio-24
									label(for="radio-24" , v-on:click="next()")
										span.label-icon
											img(src="images/icons8-security-shield.svg")
										span Anhörungsbogen

								.form-card
									input(type="radio" , name="radio-7" , value="Zeugenfragenbogen")#radio-25
									label(for="radio-25" , v-on:click="next()")
										span.label-icon
											img(src="images/icons8-security-shield.svg")
										span Zeugenfragenbogen

								.form-card
									input(type="radio" , name="radio-7" , value="Bußgeldbescheid")#radio-26
									label(for="radio-26" , v-on:click="next()")
										span.label-icon
											img(src="images/icons8-security-shield.svg")
										span Bußgeldbescheid

								.form-card
									input(type="radio" , name="radio-7" , value="Ich bin mir unsicher")#radio-27
									label(for="radio-27" , v-on:click="next()")
										span.label-icon
											img(src="images/icons8-delete-shield.svg")
										span Ich bin mir unsicher

						// Question 8
						.section.index-section(key="92" , v-if="step == 8")
							.section-title
								h3 Wurden Sie in den letzten 12 Monaten schon mal geblitzt?
								p Bitte geben Sie an, ob Sie in den letzten zwölf Monaten bereits geblitzt wurden.

							.form-container

								.form-card
									input(type="radio" , name="radio-77" , value="Ja")#radio-242
									label(for="radio-242" , v-on:click="next()")
										span.label-icon
											img(src="images/icons8-security-shield.svg")
										span Ja

								.form-card
									input(type="radio" , name="radio-77" , value="Nein")#radio-252
									label(for="radio-252" , v-on:click="next()")
										span.label-icon
											img(src="images/icons8-security-shield.svg")
										span Nein

								.form-card
									input(type="radio" , name="radio-77" , value="Weiß nicht genau")#radio-262
									label(for="radio-262" , v-on:click="next()")
										span.label-icon
											img(src="images/icons8-security-shield.svg")
										span Weiß nicht genau

						// Question 9
						.section.index-section(key="10" , v-if="step == 9")
							.section-title
								h3 Sind Sie auf Ihren Führerschein angewiesen?
								p Gibt es besondere Gründe, die Sie von Ihrem Führerschein abhängig machen? Dies können berufliche oder wichtige private Gründe sein.

							.form-container

								.form-card
									input(type="radio" , name="radio-8" , value="Ja, privat")#radio-28
									label(for="radio-28" , v-on:click="next()")
										span.label-icon
											img(src="images/icons8-security-shield.svg")
										span Ja, privat

								.form-card
									input(type="radio" , name="radio-8" , value="Ja, beruflich")#radio-29
									label(for="radio-29" , v-on:click="next()")
										span.label-icon
											img(src="images/icons8-security-shield.svg")
										span Ja, beruflich

								.form-card
									input(type="radio" , name="radio-8" , value="Nein bin ich nicht")#radio-30
									label(for="radio-30" , v-on:click="next()")
										span.label-icon
											img(src="images/icons8-security-shield.svg")
										span Nein bin ich nicht

								.form-card
									input(type="radio" , name="radio-8" , value="Ich bin mir unsicher")#radio-31
									label(for="radio-31" , v-on:click="next()")
										span.label-icon
											img(src="images/icons8-delete-shield.svg")
										span Ich bin mir unsicher

						// Random data loading
						.section.index-section.random-section(key="333" , v-if="step == 10")
							.section-title
								h3.text-center Ihre Fallauswertung wird nun erstellt

							.form-container
								ul.loading-data
									li
										svg.static
											use(xlink:href="images/sprite.svg#icons8-checkmark")
										svg.loading-icon
											use(xlink:href="images/sprite.svg#icons8-loading")
										|Daten werden verarbeitet

									li
										svg.static
											use(xlink:href="images/sprite.svg#icons8-checkmark")
										svg.loading-icon
											use(xlink:href="images/sprite.svg#icons8-loading")
										|Blitzerdatenbank wird gescannt

									li
										svg.static
											use(xlink:href="images/sprite.svg#icons8-checkmark")
										svg.loading-icon
											use(xlink:href="images/sprite.svg#icons8-loading")
										|Mögliche Strafen werden ermittelt

									li
										svg.static
											use(xlink:href="images/sprite.svg#icons8-checkmark")
										svg.loading-icon
											use(xlink:href="images/sprite.svg#icons8-loading")
										|Messfehler werden gesucht

									li
										svg.static
											use(xlink:href="images/sprite.svg#icons8-checkmark")
										svg.loading-icon
											use(xlink:href="images/sprite.svg#icons8-loading")
										|Prüfung wird vorbereitet

						// Question 10
						.section.index-section(key="12" , v-if="step == 11")
							.section-title
								h3 Fast geschafft! Wohin dürfen wir Ihr Ergebnis senden?
							.text-center
								p.green-color.filled
									svg
										use(xlink:href="images/sprite.svg#icons8-checkmark")
									|Kostenlos und unverbindlich

							.form-container.form-data

								.input-row.two-input
									.wrap-input
										input(type="text" , name="vorname" , v-model="vorname" , require)
										span(v-bind:class="{ filled : vorname.length >= 1 }").label-input Ihr Vorname *

									.wrap-input
										input(type="text" , name="nachname" , v-model="nachname" , require)
										span(v-bind:class="{ filled : nachname.length >= 1 }").label-input Ihr Nachname *

								.input-row
									.wrap-input
										input(type="email" , name="email" , v-model="email" , require)
										span(v-bind:class="{ filled : email.length >= 1 }").label-input Ihre E-Mail Adresse *

								.input-row
									.wrap-input
										input(type="phone" , name="telefonnumer" , v-model="phone" , require)
										span(v-bind:class="{ filled : phone.length >= 1 }").label-input Ihre Telefonnummer *

						// Question 11
						.section.index-section(key="5" , v-if="step == 12")
							.section-title
								h3 Vielen Dank für Ihre Anfrage Bitte laden Sie zur Auswertung Ihre vorhandenen Unterlagen hoch
								p Mein Name ist Alexander Biernacki. Ich bin Ihr persönlicher Ansprechpartner.
								p “Damit ich Ihren Fall besser beurteilen kann, benötige ich den Anhörungsbogen oder Bußgeldbescheid, den Sie von der Behörde bereits erhalten haben.”

							.form-container
								p.form-question Wie möchten Sie die Unterlagen senden?

								.form-card
									input(type="radio" , name="radio-5" , value="Hochladen (Per Foto oder Upload)" , v-model="secondMethod")#radio-15
									label(for="radio-15" , v-on:click="next()")
										span.label-icon
											img(src="images/icons8-security-shield.svg")
										span Hochladen (Per Foto oder Upload)

								.form-card
									input(type="radio" , name="radio-5" , value="Per Whats übersenden" , v-model="secondMethod")#radio-16
									label(for="radio-16" , v-on:click="next()")
										span.label-icon
											img(src="images/icons8-security-shield.svg")
										span Per Whats übersenden

								.form-card
									input(type="radio" , name="radio-5" , value="Keine Unterlagen vorhanden" , v-model="secondMethod")#radio-17
									label(for="radio-17" , v-on:click="next()")
										span.label-icon
											img(src="images/icons8-security-shield.svg")
										span Keine Unterlagen vorhanden

						// Question 7
						.section.index-section(key="6" , v-if="step == 13")
							.section-title
								h3 Unterlagen hochladen per Foto oder Dateiupload
								p Bitte klicken Sie den untenstehenden Button oder ziehen Sie die Datei ins Rechteck. Alternativ klicken Sie ebenfalls dem Button und fertigen Sie ein Foto mit Ihrer Tablet oder PC Kamera an.

							.form-container

								.form-card.file-card
									input(type="file" , name="file" , v-on:change="next()")#radio-18
									label(for="radio-18")
										span.upload-file
											img(src="images/icons8-upload.svg")
										span <u>Hier klicken</u> um Unterlagen auszuwählen/ fotografieren

						// Question 8
						.section.index-section(key="7" , v-if="step == 14")
							.section-title
								h3 Unterlagen hochladen per Foto oder Dateiupload
								p Bitte klicken Sie den untenstehenden Button oder ziehen Sie die Datei ins Rechteck. Alternativ klicken Sie ebenfalls dem Button und fertigen Sie ein Foto mit Ihrer Tablet oder PC Kamera an.

							.form-container

								.form-card.file-list
									.file-item
										p Dateiname 12233112 <b>2.4 MB</b>
										a(href="#").remove-file
											|LÖSCHEN
											span
												svg
													use(xlink:href="images/sprite.svg#icons8-delete")

									.file-item
										p Dateiname 12233112 <b>2.4 MB</b>
										a(href="#").remove-file
											|LÖSCHEN
											span
												svg
													use(xlink:href="images/sprite.svg#icons8-delete")

									.upload-more
										input(type="file" , name="file-more")#radio-19
										label(for="radio-19")
											span.upload-file
												img(src="images/icons8-upload.svg")
											span <u>Mehr Unterlagen</u> auswählen

						// Question 15
						.section.index-section(key="14" , v-if="step == 15")
							.section-title
								h3 Welches Messgerät steht auf Ihrem Bescheid?
								p Bitte prüfen Sie Ihren Bescheid. Dort ist in der Rubrik „Beweismittel“ oder „Bemerkungen“ angegeben, welches Messgerät verwendet wurde. Ist Ihr Messgerät hier nicht aufgeführt oder weist Ihr Schreiben keine Informationen auf, wählen Sie bitte „Anderes/Weiß nicht"

							.form-container

								.form-card.large-card
									input(type="radio" , name="radio-10" , value="Lasermessgerät")#radio-34
									label(for="radio-34" , v-on:click="next()")
										span.label-icon.icon-circle
										span Lasermessgerät <br> <b>Poliscan Speed, Leivtec XV3, Messung mit Lasergerät</b>

								.form-card.large-card
									input(type="radio" , name="radio-10" , value="Lichtschrankenmessgerät")#radio-35
									label(for="radio-35" , v-on:click="next()")
										span.label-icon.icon-circle
										span Lichtschrankenmessgerät <br> <b>Eso ES 3.0, Lichtschranke, Sensormessung</b>

								.form-card.large-card
									input(type="radio" , name="radio-10" , value="Stationäre Anlage Laser")#radio-36
									label(for="radio-36" , v-on:click="next()")
										span.label-icon.icon-circle
										span Stationäre Anlage Laser <br> <b>Traffistar S350, Poliscan Speed, Poliscan Speed Trailer, Vitronic Trailer</b>

								.form-card.large-card
									input(type="radio" , name="radio-10" , value="Weiß nicht genau / unsicher")#radio-37
									label(for="radio-37" , v-on:click="next()")
										span.label-icon.icon-circle
										span Weiß nicht genau / unsicher

						// Question 16
						.section.index-section(key="15" , v-if="step == 16")
							.section-title
								h3 Danke! Wie können wir Ihnen nun behilflich sein?
								p Bitte wählen Sie nun aus, wie wir mit Ihrem Fall weiter verfahren sollen.

							.form-container

								.form-card.large-card
									input(type="radio" , name="radio-11" , value="Lasermessgerät")#radio-38
									label(for="radio-38" , v-on:click="next()")
										span.label-icon.icon-circle
										span Kostenlose Beratung <br> <b>Wir prüfen kostenlos Ihre Unterlagen und Angaben und informieren Sie über das Ergebnis</b>

								.form-card.large-card
									input(type="radio" , name="radio-11" , value="Verteidigung" , v-model="versicherung")#radio-39
									label(for="radio-39" , v-on:click="next()")
										span.label-icon.icon-circle
										span Sofort mit der Verteidigung beginnen <br> <b>Wir klären die Kostenübernahme mit Ihrer Rechtsschutzversicherung und verteidigen Sie gegen den Tatvorwurf. Wenn Sie über keine Rechtsschutzversicherung verfügen, informieren wir Sie über die Kosten</b>

						// Result
						.section.result-section.index-section(key="16" , v-if="step == 17")
							.section-title
								.icon-document
									img(src="images/icons-check-document-active.png")
								h3 Anfrage erfolgreich eingegangen. <br> Ihre Fallnummer lautet B121212
								p Vielen Dank für Ihre Anfrage! Ihr Fall ist nun in Bearbeitung und wir werden uns umgehend bei Ihnen melden.

						// Question 12
						.section.index-section(key="11" , v-if="step == 18")
							.section-title
								h3 Bitte senden Sie uns die Unterlagen an 01522 / 3336037
								p Sie können uns Ihren Bußgeldbescheid/ Anhörungsbogen auch gerne WhatsSApp/ MMS senden. Dafür fügen Sie bitte einfach folgende Nummer zu Ihrem Adressbuch hinzu und senden und die nötigen Unterlagen (Fotos vom Bescheid, etc.)

							.form-container

								a(href="#").whatsapp-link
									span
										svg
											use(xlink:href="images/sprite.svg#whatsapp")
									|WhatsApp direkt öffnen

								.form-question Haben Sie die Unterlagen gesendet?

								.form-card
									input(type="radio" , name="radio-9" , value="Ja habe ich" , v-model="secondMethod")#radio-32
									label(for="radio-32" , v-on:click="step = 15")
										span.label-icon
											img(src="images/icons8-security-shield.svg")
										span Ja habe ich

								.form-card
									input(type="radio" , name="radio-9" , value="Nein mache ich später" , v-model="secondMethod")#radio-33
									label(for="radio-33" , v-on:click="step = 15")
										span.label-icon
											img(src="images/icons8-security-shield.svg")
										span Nein mache ich später

						// Question 14
						.section.index-section(key="13" , v-if="step == 19")
							.section-title
								h3 Wir benötigen Unterlagen um Ihren Fall bewerten zu können
								p Um Ihrem Fall bewerten zu können benötigen wir optimalerweise von Ihnen einen Bußgeldbescheid/ Anhörungsbogen. Diesen haben Sie normalerweise von einer Behörde per Post erhalten. Sollten Ihnen diese Unterlagen zur Zeit nicht vorliegen oder Sie keinen Zugriff darauf haben, bitten wir Sie darum, uns die Unterlagen nach Erhalt schnellstmöglich zuzusenden. Bitte beachten Sie, dass bei Bußgeldbescheiden eine Frist einzuhalten ist, innerhalb derer bei der Behörde durch uns Einspruch eingelegt werden kann.


					.form-control(key="17")
						transition(name="fade")
							button.next.disabled(v-if="step == 11" , v-on:click="next() , showLoading()" , v-bind:class="{ enabled : vorname.length > 3 && nachname.length > 3 && email.length > 5 && phone.length > 7 }")
								span(v-if="load == true")
								|Auswertung kostenlos anfordern
							button.next(v-else-if="step == 14" , v-on:click="next() , showLoading()")
								span(v-if="load == true")
								|Unterlagen hochladen
							button.next(v-else-if="step == 19" , v-on:click="step = 15 , showLoading()")
								span(v-if="load == true")
								|Verstanden & weiter

						p(v-show="step >= 2 && step != 10 && step != 11")
							a(href="#" , v-on:click.prevent="prev()").prev
								svg
									use(xlink:href="images/sprite.svg#right-arrow")
								|Zurück


		// Footer start
		include elements/footer.pug

		// jQuery & Bootstrap scripts
		include elements/scripts.pug
