/* default checkbox styles */
input[type="checkbox"].css-checkbox {
	display: none;
}

input[type="checkbox"].css-checkbox:checked+label {
	background-color: #2b8718;
}

input[type="checkbox"].css-checkbox.css-checkbox-warning:checked+label {
    background-color: #f8ac59;
}

input[type="checkbox"].css-checkbox.css-checkbox-danger:checked+label {
    background-color: #ed5565;
}

input[type="checkbox"].css-checkbox:indeterminate+label {
	opacity: 0.5;
}

input[type="checkbox"].css-checkbox[disabled]+label {
	opacity: 0.5;
}

input[type="checkbox"].css-checkbox+label:hover {
	cursor: pointer;
}

input[type="checkbox"].css-checkbox+label {
	border: 1px solid #ddd;
	background-color: #EEE;
	display: inline-block;
	content: "";
	transition: background-color 0.5s linear;
	margin: 0;
	vertical-align: middle;
}

input[type="checkbox"].css-checkbox+label::before {
	background-color: #fff;
	display: block;
	content: "";
	float: left;
	margin-right: 5px;
	transition: margin 0.1s linear;
	box-shadow: 0px 0px 5px #aaa;
}

/* normal sized checkbox */
input[type="checkbox"].css-checkbox+label {
	width: 74px;
	height: 34px;
	border-radius: 34px;
}

input[type="checkbox"].css-checkbox+label::before {
	width: 32px;
	height: 32px;
	border-radius: 32px;
}

input[type="checkbox"].css-checkbox:checked+label::before {
	margin: 0 0 0 40px;
}
input[type="checkbox"].css-checkbox:indeterminate+label::before {
	margin: 0 0 0 20px;
}

/* small checkbox */
input[type="checkbox"].css-checkbox-sm+label {
	width: 40px;
	height: 18px;
	border-radius: 18px;
}

input[type="checkbox"].css-checkbox-sm+label::before {
	width: 17px;
	height: 17px;
	border-radius: 17px;
}

input[type="checkbox"].css-checkbox-sm:checked+label::before {
	margin: 0 0 0 23px;
}
input[type="checkbox"].css-checkbox-sm:indeterminate+label::before {
	margin: 0 0 0 12px;
}

/* checkbox labels */
label.checkbox-label {
	line-height:34px;
	margin: 0 10px;
	vertical-align: middle;
}
label.checkbox-label-sm {
	line-height: 18px;
}