.services {
  position: relative;
  display: grid;
  grid-auto-flow: row;
  padding-top: 70px;
  padding-bottom: 80px;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 50% 47%;
  background-color: #291A7A;
  overflow: hidden;
}

.services__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  margin-bottom: 60px;
}

.services__card {
  position: relative;
  display: grid;
  grid-auto-flow: row;
  padding: 8px;
  background-color: var(--color-white);
  box-shadow: 0px -2px 24px rgba(0, 0, 0, 0.15);
  border-radius: var(--border-rd-medium);
  z-index: 10;
}

.services__inner {
  position: relative;
  padding: 16px;
  background: #fff;
  filter: drop-shadow(0px -2px 24px rgba(0, 0, 0, 0.15));
  border-radius: 6px;
}
.services__inner::before {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0px 4px 12px rgba(28, 28, 32, 0.04);
}

.services__foot {
  padding: 16px;
}

.services__btn {
  padding: 0 10px;
  height: 48px;
  border-radius: 6px;
  box-shadow: 0px -2px 24px rgba(0, 0, 0, 0.15);
}

.services__desc {
  margin-top: 8px;
  font-size: 14px;
  line-height: 22px;
  color: var(--color-gray05);
  text-align: center;
}

.services__card-ticket {
  position: absolute;
  top: 16px;
  right: 0;
  padding: 8px 8px 8px 20px;
  text-align: right;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-white);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 12px 50%);
}

.services__card-ticket_green {
  background-color: var(--color-green03);
}

.services__card-ticket_blue {
  background-color: var(--color-secondary);
}

.services__card-icon {
  margin-bottom: 16px;
  width: 40px;
  height: 40px;
}

.services__card-headline {
  margin-bottom: 2px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-black04);
}

.services__card-description {
  line-height: 24px;
  font-size: 16px;
}

.services__card-characteristics {
  display: grid;
  grid-auto-flow: row;
  margin-top: 20px;
  margin-bottom: 18px;
  padding: 12px 0;
  border-top: 1px solid var(--color-silver06);
  border-bottom: 1px solid var(--color-silver06);
}

.services__card-characteristic {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
  justify-content: start;
  align-items: start;
  line-height: 1.6;
  font-size: 14px;
  color: var(--color-gray05);
}

.services__card-characteristic + .services__card-characteristic {
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid var(--color-silver06);
}

.services__characteristics-icon {
  width: 18px;
  height: 18px;
  fill: transparent;
  stroke: var(--color-gray05);
}

.services__card-actions {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.services__link {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  line-height: 1.5;
  font-size: 14px;
  color: var(--color-secondary);
}

.services__link:hover span {
  text-decoration: underline;
}

.services__link-icon {
  position: absolute;
  top: 50%;
  right: -20px;
  width: 18px;
  height: 18px;
  fill: var(--color-secondary);
  transform: translateY(-57%);
  transition: transform 0.2s;
}

.services__link:hover .services__link-icon {
  transform: translateY(-57%) translateX(4px);
}

.services__link-contact {
  text-decoration: underline;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-black04);
  transition: color 0.2s;
}

.services__link-contact:hover {
  color: var(--color-secondary);
}

.services__headline {
  margin-bottom: 16px;
  line-height: 54px;
  font-size: 40px;
  font-weight: 700;
  color: var(--color-white);
}

.services__description {
  margin-bottom: 30px;
  max-width: 392px;
  width: 100%;
  line-height: 1.3;
  font-size: 18px;
  color: var(--color-white);
  opacity: 0.6;
}

.services__button {
  margin-bottom: 16px;
  /*padding: 24px*/
  max-width: 378px;
  width: 100%;
}

.services__rating {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 8px;
  line-height: 1;
  font-size: 15px;
  color: var(--color-white);
}

.services__rating p:first-child span {
  color: #FFD700;
}

.services__rating-image {
  max-width: 120px;
  width: 100%;
}

.services__decor-lady {
  position: absolute;
  right: calc(50% - var(--container-width) / 2 + 60px);
  bottom: 70px;
  max-width: 264px;
}

.services__decor-gent {
  position: absolute;
  right: -100px;
  bottom: 196px;
  max-width: 212px;
}

.services__decor-lady-mobile {
  display: none;
}

.services__decor-checkmarks {
  position: absolute;
  right: calc(50% - var(--container-width) / 2);
  bottom: 322px;
  max-width: 120px;
}

.services__decor-checkboxes {
  position: absolute;
  top: 180px;
  right: -100px;
  max-width: 200px;
}

.services__decor-map {
  display: none;
}

@media (max-width: 1440px) {
  .services__decor-gent,
.services__decor-checkboxes {
    display: none;
  }
}
@media (max-width: 1200px) {
  .services {
    padding-top: 40px;
    padding-bottom: 32px;
    grid-row-gap: 50px;
    background-position: 40% 0;
  }
  .services__rating-image {
    max-width: 64px;
  }
  .services__list {
    grid-row: 2/3;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
    margin-bottom: 0;
  }
  .services__card {
    font-size: 14px;
  }
  .services__card-icon {
    margin-bottom: 8px;
  }
  .services__card-characteristics {
    margin-top: 24px;
    margin-right: 16px;
    padding-top: 0;
    border-top: unset;
  }
  .services__card-characteristic {
    grid-column-gap: 16px;
    font-size: 12px;
  }
  .services__card-ticket {
    line-height: 1;
    font-size: 10px;
  }
  .services__btn {
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
  }
  .services__link,
.services__link-contact {
    font-size: 12px;
  }
  .services__link-icon {
    width: 14px;
    height: 14px;
  }
  .services__wrapper {
    display: grid;
    grid-auto-flow: row;
  }
  .services__headline {
    text-align: center;
    font-size: 32px;
    font-weight: 800;
  }
  .services__description {
    justify-self: center;
    text-align: center;
    margin-bottom: 24px;
    font-size: 14px;
  }
  .services__button {
    justify-self: center;
    max-width: 200px;
  }
  .services__rating {
    justify-self: center;
    text-align: center;
    font-size: 10px;
  }
  .services__decor-lady {
    max-width: 100px;
    top: 195px;
    right: 100px;
    bottom: unset;
  }
  .services__decor-checkmarks {
    max-width: 44px;
    bottom: unset;
    top: 174px;
    right: 80px;
  }
}
@media (max-width: 767px) {
  .services__decor-lady {
    right: 40px;
  }
  .services__decor-checkmarks {
    right: 20px;
  }
}
@media (max-width: 640px) {
  .services {
    padding-top: 12px;
    position: relative;
    background-image: none;
  }
}
@media (max-width: 640px) {
  .services__headline {
    justify-self: center;
    margin-bottom: 20px;
    max-width: 270px;
    line-height: 1;
    font-size: 24px;
    z-index: 10;
  }
  .services__description {
    margin-bottom: 20px;
    max-width: 262px;
    line-height: 14px;
    font-size: 12px;
    z-index: 10;
  }
  .services__button {
    z-index: 10;
  }
  .services__rating {
    grid-row-gap: 2px;
  }
  .services__decor-lady {
    display: none;
  }
  .services__decor-lady-mobile {
    position: absolute;
    top: 174px;
    right: 0;
    display: block;
    max-width: 80px;
  }
  .services__decor-gent {
    position: absolute;
    top: 182px;
    left: -16px;
    display: block;
    max-width: 78px;
    transform: scale(-1, 1);
  }
  .services__decor-checkmarks {
    top: 118px;
    right: 8px;
  }
  .services__list {
    position: relative;
    grid-template-columns: 1fr;
    grid-row-gap: 16px;
    margin-left: -20px;
    padding: 0 20px 34px 20px;
    width: calc(100% + 40px);
    background-color: var(--color-white);
    z-index: 10;
  }
  .services__card-headline {
    line-height: 1;
  }
  .services__card-description {
    line-height: 1;
  }
  .services__card {
    box-shadow: 0 4px 8px rgba(28, 28, 32, 0.04);
  }
  .services__list .services__card:first-child {
    margin-top: -24px;
  }
  .services__decor-map {
    position: absolute;
    top: 20px;
    left: 50%;
    display: block;
    max-width: 320px;
    transform: translateX(-50%);
    z-index: 0;
  }
}