<section class="services case" style="background-image: url('uploads/homepage/services/services-background.webp')">
<ul class="services__list">
<li class="services__card"><div class="services__inner"><span class="services__card-ticket services__card-ticket_green">Proxy</span>
<img src="uploads/homepage/services/residential-ip.svg"class="services__card-icon"alt="">
<p class="services__card-headline">Residential IP`s</p>
<p class="services__card-description">From <span class="text-fw600 text-color-blue">$360/mo</span> to <span class="text-fw600 text-color-green">$1 per Gb</span></p>
<ul class="services__card-characteristics">
<li class="services__card-characteristic">
<svg aria-hidden="true" class="services__characteristics-icon">
<use xlink:href="uploads/sprite.svg#database"></use>
</svg>
<p>60+ Millions IP Addresses around the World</p>
</li>
<li class="services__card-characteristic">
<svg aria-hidden="true" class="services__characteristics-icon">
<use xlink:href="uploads/sprite.svg#synchronize"></use>
</svg>
<p>Peer to Business proxy with rotation, residential ISP</p>
</li>
</ul>
<div class="services__card-actions">
<a href="/residential-proxies/" class="services__link">
<span>Read More</span>
<svg class="services__link-icon" aria-hidden="true">
<use xlink:href="uploads/sprite.svg#arrow-right"></use>
</svg>
</a>
<button class="services__link-contact" data-modal="contact-sales">Contact Sales</button>
</div></div><div class="services__foot"><div class="services__btn btn --green">Get 3 day trial for 1.99</div><div class="services__desc">from $360 /mo to $1 per Gb</div></div></li>
<li class="services__card"><div class="services__inner"><span class="services__card-ticket services__card-ticket_blue">Proxy</span>
<img src="uploads/homepage/services/mobile-ip.svg" class="services__card-icon" alt="">
<p class="services__card-headline">Mobile IP`s</p>
<p>From <span class="text-fw600 text-color-blue">$300/mo</span> to <span class="text-fw600 text-color-green">$2 per Gb</span></p>
<ul class="services__card-characteristics">
<li class="services__card-characteristic">
<svg aria-hidden="true" class="services__characteristics-icon">
<use xlink:href="uploads/sprite.svg#database"></use>
</svg>
<p>35+ Millions IP Addresses around the World</p>
</li>
<li class="services__card-characteristic">
<svg aria-hidden="true" class="services__characteristics-icon">
<use xlink:href="uploads/sprite.svg#database-mobile"></use>
</svg>
<p>Peer to Business proxy with rotation, mobile ISP</p>
</li>
</ul>
<div class="services__card-actions">
<a href="/residential-proxies/" class="services__link">
<span>Read More</span>
<svg aria-hidden="true" class="services__link-icon">
<use xlink:href="uploads/sprite.svg#arrow-right"></use>
</svg>
</a>
<button class="services__link-contact" data-modal="contact-sales">Contact Sales</button>
</div></div><div class="services__foot"><div class="services__btn btn --blue">Get trial for 1.99</div><div class="services__desc">from $360 /mo to $2 per Gb</div></div></li>
<li class="services__card"><div class="services__inner"><img src="uploads/homepage/services/web-scraper-api.svg" class="services__card-icon" alt="">
<p class="services__card-headline">Web Scraper API</p>
<p>
<span class="text-fw600 text-color-blue">Free</span> Trial Period
</p>
<ul class="services__card-characteristics">
<li class="services__card-characteristic">
<svg aria-hidden="true" class="services__characteristics-icon">
<use xlink:href="uploads/sprite.svg#database"></use>
</svg>
<p>150 Geolocations, Unlimited Bandwidth</p>
</li>
<li class="services__card-characteristic">
<svg aria-hidden="true" class="services__characteristics-icon">
<use xlink:href="uploads/sprite.svg#database-mobile"></use>
</svg>
<p>Get the HTML from any web page with a API request</p>
</li>
</ul>
<div class="services__card-actions">
<a href="/residential-proxies/" class="services__link">
<span>Read More</span>
<svg aria-hidden="true" class="services__link-icon">
<use xlink:href="uploads/sprite.svg#arrow-right"></use>
</svg>
</a>
<button class="services__link-contact" data-modal="contact-sales">Contact Sales</button>
</div></div><div class="services__foot"><div class="services__btn btn --red">Get Free Trial</div><div class="services__desc">pay every 1/3/6/12 mo.</div></div></li>
<li class="services__card"><div class="services__inner"><img src="uploads/homepage/services/rank.svg" class="services__card-icon" alt="">
<p class="services__card-headline">Browser Extension</p>
<p class="text-fw600 text-color-blue">Freemium</p>
<ul class="services__card-characteristics">
<li class="services__card-characteristic">
<svg aria-hidden="true" class="services__characteristics-icon">
<use xlink:href="uploads/sprite.svg#database"></use>
</svg>
<p>Proxy setting, user agent switcher, task scheduler</p>
</li>
<li class="services__card-characteristic">
<svg aria-hidden="true" class="services__characteristics-icon">
<use xlink:href="uploads/sprite.svg#code"></use>
</svg>
<p>Easy extracting web data through page markup</p>
</li>
</ul>
<div class="services__card-actions">
<a href="/residential-proxies/" class="services__link">
<span>Read More</span>
<svg aria-hidden="true" class="services__link-icon">
<use xlink:href="uploads/sprite.svg#arrow-right"></use>
</svg>
</a>
<button class="services__link-contact" data-modal="contact-sales">Contact Sales</button>
</div></div><div class="services__foot"><div class="services__btn btn --dark-violet">Get for Free </div><div class="services__desc">no hidden fees*</div></div></li>
</ul>
<div class="services__wrapper">
<h1 class="services__headline">Ethical Proxies for any Business Cases</h1>
<p class="services__description">Tailored proxy plans to meet your needs for bandwidth, speed, anonymity and economy.</p>
<button class="button button_green services__button" data-modal="contact-sales">Contact sales</button>
<div class="services__rating">
<p>Rated <span class="text-fw600">4.7 / 5</span> based on 136 reviews.</p>
<a href="https://www.trustpilot.com/review/infatica.io" target="_blank "rel="noreferrer noopener" title="Trustpilot rating">
<img src="uploads/homepage/services/trustpilot.svg" class="services__rating-image" alt="Trustpilot rating 4.7">
</a>
</div>
</div>
<img class="services__decor-lady" src="uploads/homepage/services/lady.webp" alt="">
<img class="services__decor-gent" src="uploads/homepage/services/gent.webp" alt="">
<img class="services__decor-lady-mobile" src="uploads/homepage/services/lady-mobile.webp" alt="">
<img class="services__decor-checkmarks" src="uploads/homepage/services/checkmarks.webp" alt="">
<img class="services__decor-checkboxes" src="uploads/homepage/services/checkboxes.webp" alt="">
<img class="services__decor-map" src="uploads/homepage/map/map.webp" alt="">
</section>