
<!-- Menu modal-->
<div class="modal fade" id="menuModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content bg-dark">
      <div class="modal-header border-0">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <div class="logo"><a href="index.html"><img src="images/logo.png" alt="logo"/></a></div>
            <button class="btn btn-menu btn-link text-white p-0 fs-4 fw-semibold" data-bs-dismiss="modal" aria-label="Close">Close</button>
          </div>
        </div>
      </div>
      <div class="modal-body text-grey">
        <div class="container d-flex flex-column h-100 justify-content-between">
          <div class="row justify-content-between">
            <div class="col-lg-4">
              <p class="text-white fw-semibold">sparkplant</p>
              <p>537 Elk Rd Little <br> Tucson, Arizona(AZ), 85716</p>
              <p>520-318-3897</p>
            </div>
            <div class="col-lg-4">
              <ul class="nav-list mb-0 ps-0">
                <li><a class="text-white text-decoration-none btn-with-border" href="#">About</a></li>
                <li><a class="text-white text-decoration-none btn-with-border" href="#">Thoughts</a></li>
                <li><a class="text-white text-decoration-none btn-with-border" href="#">Meet us</a></li>
                <li><a class="text-white text-decoration-none btn-with-border" href="#">Join us</a></li>
              </ul>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center pt-140 pb-5">
            <ul class="nav social-nav">
              <li class="nav-item mb-0"><a class="nav-link social-link p-0 align-items-center d-flex justify-content-center" href="#">
                  <svg>
                    <use xlink:href="images/sprite.svg#facebook"></use>
                  </svg></a></li>
              <li class="nav-item mb-0"><a class="nav-link social-link p-0 align-items-center d-flex justify-content-center" href="#">
                  <svg>
                    <use xlink:href="images/sprite.svg#twitter"></use>
                  </svg></a></li>
              <li class="nav-item mb-0"><a class="nav-link social-link p-0 align-items-center d-flex justify-content-center" href="#">
                  <svg>
                    <use xlink:href="images/sprite.svg#instagram"></use>
                  </svg></a></li>
              <li class="nav-item mb-0"><a class="nav-link social-link p-0 align-items-center d-flex justify-content-center" href="#">
                  <svg>
                    <use xlink:href="images/sprite.svg#LinkedIn"></use>
                  </svg></a></li>
              <li class="nav-item mb-0"><a class="nav-link social-link p-0 align-items-center d-flex justify-content-center" href="#">
                  <svg>
                    <use xlink:href="images/sprite.svg#YouTube"></use>
                  </svg></a></li>
            </ul>
            <p class="mb-0 text-sm">2022 Gnomes Company Inc. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>