@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  min-height: 100%;
  position: relative;
  background-color: #fff;
  font-weight: 400;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 15px;
  line-height: 1.3;
  -webkit-text-size-adjust: none;
  -ms-overflow-x: hidden;
  overflow-x: hidden; }

ol, ul {
  list-style: none; }
  ol li, ul li {
    margin-bottom: 10px; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  border: none; }

a {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

a:hover, a:active, a:focus {
  text-decoration: none; }

a:focus, input:focus, textarea:focus {
  outline: none; }

html {
  height: 100%; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.row.justify {
  justify-content: space-between; }

.row.around {
  justify-content: space-around; }

.row.center {
  align-items: center; }

header {
  height: 55px;
  background: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9; }

.header-wrap {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative; }

.logo {
  position: relative;
  z-index: 3; }

nav {
  margin-left: 64px; }
  nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: center;
    justify-content: flex-end; }
  nav li {
    margin-right: 48px;
    margin-bottom: 0; }
    nav li:last-child {
      margin: 0; }
  nav a {
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    letter-spacing: 0.02em;
    font-size: 12px; }
    nav a:hover {
      color: #2274FF; }

.header-action {
  margin-left: auto; }

.option-btn {
  background: transparent;
  margin-right: 25px; }
  .option-btn svg {
    width: 18px;
    height: 18px; }
  .option-btn.close-search {
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    z-index: -1;
    transition: all 1.3s ease; }
    .option-btn.close-search svg {
      width: 15px;
      height: 15px; }
  .option-btn.open-language svg {
    transition: all .3s ease; }
  .option-btn.open-language.rotate svg {
    transform: rotate(360deg); }

.header-search {
  width: 18px;
  max-width: 1000px;
  display: inline-block;
  margin-right: 25px;
  position: absolute;
  right: 190px;
  height: 36px;
  vertical-align: middle;
  transition: all 1.3s ease; }
  .header-search-form input {
    width: 100%;
    height: 36px;
    border-bottom: 1px solid transparent;
    transition: all 1.3s ease; }
  .header-search-form .open-search {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); }
  .header-search.open {
    width: 100%; }
    .header-search.open input {
      border-bottom: 1px solid #2274FF; }
    .header-search.open .close-search {
      opacity: 1;
      z-index: 1; }

.header-language {
  display: inline-block;
  position: relative; }
  .header-language .language-list {
    width: 116px;
    margin: 0;
    padding: 15px 12px;
    background: #fff;
    line-height: 0;
    border-top: 3px solid #2274FF;
    position: absolute;
    top: 0;
    right: 0;
    height: 0;
    z-index: -1;
    opacity: 0;
    transition: all .5s ease; }
    .header-language .language-list li {
      margin-bottom: 10px; }
      .header-language .language-list li:last-child {
        margin: 0; }
    .header-language .language-list a {
      text-transform: uppercase;
      text-decoration: none;
      font-size: 12px;
      line-height: 16px;
      color: #000; }
      .header-language .language-list a.current-language, .header-language .language-list a:hover {
        color: #2274FF; }
    .header-language .language-list.open {
      top: 42px;
      height: auto;
      z-index: 1;
      opacity: 1; }

.toggle-nav {
  height: 38px;
  border: none;
  margin-left: 5px;
  padding: 0 17px;
  background: rgba(148, 148, 148, 0.1);
  outline: none;
  box-shadow: none !important;
  position: relative;
  z-index: 3;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.02em;
  border-radius: 22px; }
  .toggle-nav .icon {
    width: 34px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 11px;
    line-height: 0;
    font-size: 0; }
  .toggle-nav span {
    width: 34px;
    height: 2px;
    margin: 3px 0;
    display: inline-block;
    background: #000; }
  .toggle-nav.open span {
    transition: all .3s ease; }
  .toggle-nav.open span:nth-child(1) {
    transform: rotate(45deg) translate(3px, 3px); }
  .toggle-nav.open span:nth-child(2) {
    display: none; }
  .toggle-nav.open span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px); }

h1, .section-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 50px; }

.section-title {
  font-size: 40px;
  line-height: 40px; }

h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px; }

.primary-btn {
  text-decoration: none;
  padding: 15px 18px;
  font-size: 12px;
  line-height: 25px;
  font-weight: 700;
  color: #FFFFFF;
  display: inline-block;
  border-radius: 3px;
  text-transform: uppercase;
  background: #2274FF;
  position: relative;
  overflow: hidden; }
  .primary-btn svg {
    width: 15px;
    height: 14px;
    margin-right: 15px;
    stroke: #fff;
    margin-left: 5px; }
  .primary-btn:after {
    content: "";
    position: absolute;
    width: 25px;
    top: 50%;
    left: 18px;
    height: 25px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    transform: translateY(-50%);
    transition: all .5s ease; }
  .primary-btn:hover {
    color: #fff; }
    .primary-btn:hover:after {
      transform: translateY(-50%) scale(15); }

.inline-btn {
  min-height: 27px;
  margin-top: 50px;
  text-decoration: none;
  font-size: 12px;
  line-height: 25px;
  font-weight: 700;
  color: #FFFFFF;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  padding-left: 35px;
  overflow: hidden;
  background: linear-gradient(to right, #2274FF, #2274FF 50%, #fff 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease; }
  .inline-btn.blue {
    background: linear-gradient(to right, #101419, #101419 50%, #fff 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%; }
    .inline-btn.blue svg {
      stroke: #2274FF; }
    .inline-btn.blue:hover span {
      background: #101419; }
  .inline-btn.white span {
    background: rgba(255, 255, 255, 0.2); }
  .inline-btn.white svg {
    stroke: #fff; }
  .inline-btn.dark {
    background: linear-gradient(to right, #2274FF, #2274FF 50%, #101419 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%; }
    .inline-btn.dark span {
      background: #000; }
    .inline-btn.dark svg {
      stroke: #fff; }
    .inline-btn.dark:hover span {
      background: #2274FF; }
  .inline-btn span {
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 23px;
    border-radius: 50%;
    background: #fff;
    display: inline-block;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all .275s ease; }
  .inline-btn svg {
    width: 15px;
    height: 13px;
    stroke: #000;
    transition: all .275s ease; }
  .inline-btn:hover {
    background-position: 0 100%;
    color: #fff; }
    .inline-btn:hover span {
      background: #2274FF; }
      .inline-btn:hover span svg {
        stroke: #fff; }

.section-bottom-nav {
  height: 143px;
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  border-top: 1px solid rgba(255, 255, 255, 0.2); }
  .section-bottom-nav li {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 27px 20px;
    max-width: 25%;
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-right: 1px solid rgba(255, 255, 255, 0.2); }
    .section-bottom-nav li:last-child {
      border: none;
      justify-content: space-between; }
      .section-bottom-nav li:last-child span {
        font-weight: 500;
        font-size: 15px;
        color: rgba(255, 255, 255, 0.5); }
      .section-bottom-nav li:last-child a {
        font-size: 15px; }
  .section-bottom-nav a {
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: #fff; }

.bottom-slider-arrows {
  position: absolute;
  top: 14px;
  right: 20px;
  height: 32px;
  border-radius: 22px;
  overflow: hidden; }
  .bottom-slider-arrows:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 50%;
    width: 1px;
    height: 22px;
    background: rgba(255, 255, 255, 0.2); }
  .bottom-slider-arrows button {
    width: 40px;
    height: 32px;
    background: transparent;
    outline: none;
    transition: all .3s ease; }
    .bottom-slider-arrows button svg {
      width: 18px;
      height: 18px;
      fill: #fff;
      margin-top: -2px; }
    .bottom-slider-arrows button.btn-next {
      transform: scale(-1, 1); }
    .bottom-slider-arrows button:hover {
      background: rgba(255, 255, 255, 0.4); }
  .bottom-slider-arrows.background {
    width: 80px;
    height: 32px;
    border-radius: 22px;
    line-height: 30px;
    display: flex;
    overflow: hidden;
    margin-right: 90px;
    right: 0; }
    .bottom-slider-arrows.background:after {
      top: 5px; }
    .bottom-slider-arrows.background button {
      width: 40px;
      margin: 0;
      background: rgba(255, 255, 255, 0.3); }
      .bottom-slider-arrows.background button:hover {
        background: rgba(255, 255, 255, 0.4); }
  .bottom-slider-arrows.border {
    border: 1px solid rgba(0, 0, 0, 0.1); }
    .bottom-slider-arrows.border:after {
      background: rgba(0, 0, 0, 0.1); }
    .bottom-slider-arrows.border button {
      background: transparent; }
      .bottom-slider-arrows.border button svg {
        fill: #000;
        stroke: #000; }
      .bottom-slider-arrows.border button:hover {
        background: #E3E3E3; }

.wrap-service {
  width: 100%;
  max-width: 540px;
  margin-left: auto;
  margin-right: 60px; }

.our-service {
  margin-bottom: 90px;
  padding-left: 73px;
  position: relative;
  font-size: 15px;
  line-height: 18px;
  color: #fff; }
  .our-service-img {
    width: 60px;
    height: 60px;
    margin-right: 13px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 0; }
  .our-service-desc {
    width: 100%;
    max-width: 470px; }
  .our-service-title {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: relative; }
    .our-service-title h4 {
      margin: 0; }
    .our-service-title .inline-btn {
      margin: 0;
      position: absolute;
      right: 0;
      bottom: 10px;
      padding-left: 25px; }
      .our-service-title .inline-btn svg {
        margin: 0; }
  .our-service-list {
    padding: 10px 0 0 0;
    list-style-type: none;
    display: flex; }
    .our-service-list span {
      font-weight: 700;
      display: block; }
    .our-service-list li {
      max-width: 50%;
      flex: 0 0 50%; }

.section-nav {
  position: fixed;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 9;
  margin: 0;
  padding: 0 0 0 20px;
  line-height: 0;
  counter-reset: section; }
  .section-nav li {
    position: relative;
    margin: 14px 0;
    font-size: 12px;
    color: #fff; }
    .section-nav li:after {
      counter-increment: section;
      content: counter(section);
      position: relative;
      left: -1px;
      display: none; }
    .section-nav li:before {
      content: "";
      position: absolute;
      top: 50%;
      left: -20px;
      width: 10px;
      height: 2px;
      background: #fff;
      display: none; }
    .section-nav li.active:after, .section-nav li.active:before {
      display: block; }
    .section-nav li.active span {
      opacity: 0; }
  .section-nav span {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #fff;
    display: inline-block; }

.card-wrap {
  width: 100%;
  margin-left: calc((100% - 1400px) / 2 + 140px);
  max-width: 100%; }

.card-item {
  width: 100%;
  max-width: 466px;
  height: 255px;
  margin-right: 10px;
  padding: 17px 20px;
  border-radius: 3px;
  line-height: 18px;
  color: #fff;
  position: relative; }
  .card-item-caption {
    max-width: 80%; }
  .card-item-numbers {
    position: absolute;
    bottom: 20px; }
    .card-item-numbers span {
      display: block;
      font-weight: 700;
      font-size: 50px;
      line-height: 50px; }
  .card-item.green {
    background: rgba(89, 228, 136, 0.9); }
  .card-item.blue {
    background: rgba(109, 194, 255, 0.9); }
  .card-item.bg-image {
    max-width: 273px; }
    .card-item.bg-image .card-bg {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 3px;
      overflow: hidden; }

.company-list {
  text-align: center;
  display: flex;
  justify-content: center; }
  .company-list li {
    width: 193px;
    height: 193px;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; }
    .company-list li:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 1px dashed rgba(58, 58, 58, 0.8);
      pointer-events: none;
      transition: all .3s ease;
      opacity: 0; }
    .company-list li a {
      opacity: 0;
      z-index: -1;
      text-decoration: none;
      font-size: 12px;
      line-height: 16px;
      font-weight: 600;
      text-transform: uppercase;
      color: #000;
      position: absolute;
      bottom: -50px;
      width: 100%; }
      .company-list li a svg {
        width: 25px;
        height: 25px; }
      .company-list li a span {
        text-align: left;
        display: block;
        max-width: 87px;
        margin: 5px 20px 0 auto; }
    .company-list li:hover:after, .company-list li:hover a {
      opacity: 1;
      z-index: 1; }

.company-desc {
  max-width: 320px;
  margin: 150px auto 0 auto;
  text-align: center;
  font-size: 15px;
  line-height: 18px; }

.activity-desc .activity-number {
  font-weight: 500;
  margin-bottom: 10px; }

.activity-desc h4 {
  margin-bottom: 30px; }

.activity-desc .inline-btn {
  margin-top: 30px;
  line-height: 17px; }

.activity-img {
  position: absolute;
  right: 0;
  height: 100%; }
  .activity-img img {
    object-fit: cover;
    height: 100%;
    max-width: 720px; }

.news-feed {
  margin-left: 140px; }

.news-wrap {
  width: 100%;
  margin-left: calc((100% - 1400px) / 2 + 140px);
  max-width: 100%; }

.news-item {
  width: 445px;
  height: 344px;
  margin-right: 10px;
  border-radius: 3px;
  overflow: hidden;
  position: relative; }
  .news-item .news-link img {
    width: 100%;
    object-fit: cover; }
  .news-item .news-link h4 {
    position: absolute;
    left: 20px;
    bottom: 20px;
    right: 20px;
    color: #fff;
    z-index: 2; }
  .news-item:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, #BBACA8 34.65%, rgba(143, 143, 143, 0) 96.41%);
    pointer-events: none; }
  .news-item .news-tag {
    line-height: 20px;
    color: #000;
    padding: 5px 20px;
    border-radius: 30px;
    background: #fff;
    position: absolute;
    top: 10px;
    left: 8px;
    text-decoration: none; }

.feed-header {
  margin-top: 100px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .feed-header .inline-btn {
    margin: 0;
    height: 27px;
    line-height: 25px;
    color: #000; }
    .feed-header .inline-btn span {
      line-height: 25px; }
  .feed-header svg {
    width: 15px;
    height: 13px;
    margin-top: -5px; }

.feed-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.feed-item {
  font-weight: 500;
  max-width: 375px;
  line-height: 18px;
  margin-bottom: 70px; }
  .feed-item-date {
    margin-bottom: 18px;
    padding-bottom: 4px;
    border-bottom: 1px solid #000; }
    .feed-item-date svg {
      width: 18px;
      height: 18px;
      margin-right: 8px;
      opacity: .5; }
  .feed-item a {
    text-decoration: none;
    color: #000; }

.feed-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .feed-content a {
    max-width: 113px;
    height: 114px;
    overflow: hidden;
    margin-bottom: 5px;
    display: inline-block; }
    .feed-content a img {
      height: 100%;
      object-fit: cover; }

.cooperation {
  margin-top: 90px;
  margin-left: 140px;
  display: flex; }
  .cooperation-item {
    max-width: 350px;
    margin-right: 25%;
    color: #fff; }
    .cooperation-item h4 {
      margin-bottom: 20px; }
    .cooperation-item:last-child {
      margin-right: 0; }
  .cooperation-link {
    margin-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.2); }
    .cooperation-link .inline-btn {
      margin-top: 15px; }

.social-row {
  display: flex;
  justify-content: space-between;
  margin-left: 140px;
  color: #fff; }
  .social-row .feed-row {
    max-width: 770px; }
  .social-row .feed-item-date {
    border-color: #fff; }
  .social-row .feed-item a {
    color: #fff; }

.instagram-feed {
  width: 100%;
  max-width: 233px; }
  .instagram-feed .feed-header {
    margin: 0 0 15px 0; }
  .instagram-feed .inline-btn {
    margin-top: 25px; }

.contact-form {
  width: 100%;
  max-width: 580px; }
  .contact-form .d-flex .form-item:nth-child(1), .contact-form .d-flex .form-item:nth-child(2) {
    max-width: 228px;
    margin-right: 11px; }
  .contact-form .d-flex .form-item:nth-child(3) {
    max-width: 74px; }
  .contact-form .form-item {
    width: 100%;
    position: relative;
    margin-bottom: 22px; }
  .contact-form input, .contact-form textarea {
    width: 100%;
    height: 60px;
    border-radius: 3px;
    background: #fff;
    padding-left: 20px;
    font-size: 15px;
    line-height: 22px;
    color: #000; }
    .contact-form input::placeholder, .contact-form textarea::placeholder {
      font-size: 15px;
      line-height: 22px;
      color: #000; }
  .contact-form textarea {
    padding-top: 21px;
    resize: none; }
  .contact-form input[type="file"] {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
    .contact-form input[type="file"] + span {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
      color: #fff;
      cursor: pointer; }
      .contact-form input[type="file"] + span svg {
        width: 25px;
        height: 25px; }
  .contact-form button[type="submit"] {
    margin: 0;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%); }
    .contact-form button[type="submit"] span {
      background: #2274FF; }
      .contact-form button[type="submit"] span svg {
        stroke: #fff; }
  .contact-form input[type="checkbox"] {
    width: 20px;
    height: 20px; }
    .contact-form input[type="checkbox"] + span {
      display: inline-block; }
      .contact-form input[type="checkbox"] + span + label {
        width: calc(100% - 39px);
        vertical-align: top;
        margin-left: 15px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #fff;
        cursor: pointer; }

footer {
  margin-top: 100px;
  padding: 20px 25px 60px 25px;
  background: #000;
  width: 100%;
  margin-left: calc((100% - 1400px) / 2 + 140px);
  max-width: 100%;
  color: #fff; }

.footer-wrap {
  display: flex;
  justify-content: space-between;
  max-width: 1305px;
  position: relative; }

.single-list-link {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700; }
  .single-list-link li {
    margin-bottom: 0; }
  .single-list-link a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff; }

.footer-contact-list ul {
  margin: 50px 0 0 0;
  padding: 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  opacity: .6;
  display: inline-block;
  vertical-align: top; }
  .footer-contact-list ul:nth-child(2) {
    margin-right: 9vw; }

.footer-contact-list a {
  text-decoration: none;
  color: #fff; }

.frontmen-icon {
  position: absolute;
  bottom: -60px; }

.social-nav {
  position: absolute;
  top: 0;
  right: -55px; }
  .social-nav a {
    text-decoration: none; }
    .social-nav a:last-child {
      margin-left: 18px; }
  .social-nav svg {
    width: 19px;
    height: 19px; }

main {
  min-height: 100vh;
  background: url(../images/section-1.png) center top/cover fixed no-repeat; }

#pagescroll {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory; }
  #pagescroll .section {
    scroll-snap-align: start;
    scroll-margin: 40px; }

.section {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.wrap-section {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto; }
  .wrap-section .section-description {
    margin-left: 140px;
    max-width: 400px;
    line-height: 18px;
    color: #fff; }
  .wrap-section h1, .wrap-section .section-title {
    color: #fff; }

.section-2, .section-5, .section-8 {
  background: rgba(34, 116, 255, 0.9); }

.section-3 {
  background: rgba(90, 90, 90, 0.4);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow-x: hidden; }
  .section-3 .wrap-section {
    position: relative; }

.section-4, .section-6 {
  background: rgba(255, 255, 255, 0.9); }
  .section-4 .section-title, .section-6 .section-title {
    color: #000; }

.section-6 {
  height: auto;
  min-height: 100vh;
  padding-top: 120px;
  overflow-x: hidden; }
  .section-6 .wrap-section {
    position: relative; }

.section-7 {
  background: rgba(90, 90, 90, 0.4); }
  .section-7 .section-description {
    max-width: none; }

.section-9 {
  background: rgba(90, 90, 90, 0.4);
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  overflow-x: hidden; }
  .section-9 .wrap-section {
    display: flex;
    justify-content: space-between; }
