/* common styles start  */
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000000;
}
ul {
  padding-left: 15px;
}
ul:before {
  content: attr(aria-label);
  font-size: 120%;
  font-weight: bold;
 /* margin-left: -15px;*/
}
.content-wrapper {
  max-width: 1170px;
  margin: 0 auto;
}
.fa-star {
  color: #000000;
  opacity: 25%;
}
.fa-star-checked {
  color: #ffcc7f;
  opacity: 100%;
}
/* common styles end */

/* grid layout classes start */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
}
.header {
  grid-area: header;
  border-bottom: 1px solid #e4e4e4;
}
.main,
.brandpage-section {
  grid-area: main;
}
.footer {
  grid-area: footer;
}
/* grid layout classes end */

/* header classes start  */
.header .content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 66px;
}
.header__logo {
  font-weight: 700;
  font-size: 24px;
}
.header__logo,
.header__signin,
.main-header__breadcrumbs,
.main-header__designer-user-pic,
.main-header__designer-user-info,
.main-section__card-button,
.brandpage-section__header-button-contact-link,
.brandpage-section__header-button,
.brandpage-section-main__products-list-cards__card-button {
  cursor: pointer;
}
/* header classes end  */

/* main classes start  */
.main {
  margin-top: 76px;
  padding-bottom: 43px;
}
.main .content-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.main-header__breadcrumbs {
  font-size: 12px;
  color: #b1a9a7;
}
.main-header__header {
  margin: 19px 0;
  font-size: 48px;
}
.main-header__designer {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.main-header__designer-user-pic {
  width: 70px;
  height: 70px;
  background: #b1a9a7 url('./img/Vector.png') center no-repeat;
  border-radius: 50%;
}

.main-header__designer-user-info {
  text-align: left;
  line-height: 21px;
  margin-left: 20px;
  font-size: 16px;
}
.main-header__designer-user-info-proffesion {
  color: #746e6d;
  font-size: 14px;
}
.main-header__paragraph {
  max-width: 970px;
  margin: 60px auto 120px auto;
  font-size: 22px;
  line-height: 33px;
}
.main-section__header {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 45px;
}
.main-section__card {
  max-width: 770px;
  margin: 0 auto;
  border-top: 1px solid #c4c4c4;
  padding: 60px 0;
}
.main-section div:first-child {
  /*padding: 0 0 60px 0;*/
  border-top: none;
}
.main-section__card-fig {
  margin: 0;
}
.main-section__card-img {
  /*width: 100%;*/
  height: 400px;
}
.main-section__card-figcaption {
  text-align: left;
}
.main-section__card-figcaption-header {
  font-size: 30px;
}
.main-section__card-figcaption-par {
  font-size: 18px;
  line-height: 27px;
}
.main-section__card-list {
  text-align: left;
  line-height: 36px;
  margin-bottom: 40px;
}
.main-section__card-button {
  display: flex;
  background-color: #20b452;
  border-radius: 6px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  padding: 12px 65px;
  border: none;
}
/* main classes end  */

/* footer classes start */
.footer-wrapper {
  max-width: 830px;
}
.footer {
  background-color: #f8f7f7;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 80px;
}
.footer__header {
  margin: 102px 0 53px 0;
  font-size: 30px;
}
.footer__paragraph {
  margin-bottom: 45px;
}
.footer__paragraph-header {
  font-size: 18px;
}
.footer__paragraph-par {
  font-size: 18px;
  line-height: 27px;
  margin-top: 12px;
}
/* footer classes end */

/* brandpage classses start  */
.brandpage-section__header {
  padding: 109px 0 76px 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.brandpage-section__header-header {
  font-size: 30px;
  margin: 0 0 8px 0;
}
.brandpage-section__header-right {
  display: flex;
  flex-direction: column;
}
.brandpage-section__header-button {
  background-color: #20b452;
  border-radius: 6px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 20px;
  border: none;
}
.brandpage-section__header-rating {
  margin-left: 12px;
}
.brandpage-section__header-ratings,
.brandpage-section__header-button-contact-link {
  color: #757575;
}
.brandpage-section__header-button-contact {
  margin-top: 10px;
  text-align: right;
}
.brandpage-section-main {
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 78px;
}
.brandpage-section-main__wrapper {
  max-width: 800px;
}
.brandpage-section-main__header {
  margin-top: 0;
}
.brandpage-section-main p {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 27px;
}
.brandpage-section-main__products-list {
  margin-top: 78px;
  padding-bottom: 109px;
  text-align: center;
}
.brandpage-section-main__products-list-cards {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.brandpage-section-main__products-list-cards__card {
  flex: 1 1 25%;
  max-width: 270px;
  max-height: 480px;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  padding: 40px 22px 34px 22px;
}
.brandpage-section-main__products-list-cards__card-fig {
  margin: 49px 0 28px 0;
  font-size: 14px;
}
.brandpage-section-main__products-list-cards__card-button {
  background-color: #20b452;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  padding: 12px 46px;
  border: none;
}
/* brandpage classses end  */

/* media queries start  */
@media screen and (max-width: 810px) {
  .header,
  .footer,
  .brandpage-section,
  .main {
    padding: 0 15px;
  }
  .brandpage-section__header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .brandpage-section-main__products-list-cards__card {
    margin: 10px auto;
    flex: 1 1 50%;
  }
}

@media screen and (max-width: 480px) {
  .header,
  .footer,
  .brandpage-section,
  .main {
    padding: 0 15px;
  }
  .brandpage-section-main__products-list-cards__card {
    margin: 10px auto;
  }
  .brandpage-section__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
  }
  .brandpage-section__header-right {
    margin-top: 22px;
  }
}
/* media queries end  */


.main-section__card-img {
    margin-bottom: 15px;
}
.showmore-button {
    display: inline-block;
    background-color: #20b452;
    border-radius: 6px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    padding: 6px 32px;
    border: none;
    cursor: pointer;
    margin-top:5px;
  }

  .main-section__card-figcaption-par_inner ul{
      margin-left:15px;
  }

  .main-section__card-figcaption-par_inner ul li ul{

}

