@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Metropolis"), url("../fonts/metropolis-regular.woff2") format("woff2"), url("../fonts/metropolis-regular.woff") format("woff");
}
@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Metropolis"), url("../fonts/metropolis-medium.woff2") format("woff2"), url("../fonts/metropolis-medium.woff") format("woff");
}
@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Metropolis"), url("../fonts/metropolis-semiBold.woff2") format("woff2"), url("../fonts/metropolis-semiBold.woff") format("woff");
}
@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Metropolis"), url("../fonts/metropolis-bold.woff2") format("woff2"), url("../fonts/metropolis-bold.woff") format("woff");
}
@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Metropolis"), url("../fonts/metropolis-extraBold.woff2") format("woff2"), url("../fonts/metropolis-extraBold.woff") format("woff");
}
:root {
  /* Color */
  --color-white: #ffffff;
  --color-dark: #1C1C20;
  --color-primary: #8D21EF;
  --color-primary-blue: #434396;
  --color-green03: #34CCA9;
  --color-black04: #1C1C20;
  --color-gray05: #7D7D82;
  --color-silver06: #DDDDE8;
  --color-hover: #3d209f;
  --color-hover-green: #17aa8c;
  --color-red: #CF2F2F;
  --color-secondary: #218AEF;
  --color-neutral-100: #05172E;
  --color-gray50: #F2F2F2;
  --color-gray100: #E5E5E5;
  --color-gray200: #CCCCCC;
  --color-gray400: #999999;
  --color-gray500: #808080;
  /* Font */
  --font-Metropolis: "Metropolis", sans-serif;
  /* Container */
  --container-width: 1170px;
  /* Others */
  --modal-height: 90vh;
  --main-header-height: 79px;
  --border-rd-small: 4px;
  --border-rd-medium: 8px;
  --border-rd-large: 16px;
  /* Z-index variables */
  --zIndex-overlay: 50;
  --zIndex-modal: 125;
}

:root {
  /* Color */
  --color-white: #ffffff;
  --color-dark: #1C1C20;
  --color-primary: #8D21EF;
  --color-primary-blue: #434396;
  --color-green03: #34CCA9;
  --color-black04: #1C1C20;
  --color-gray05: #7D7D82;
  --color-silver06: #DDDDE8;
  --color-hover: #3d209f;
  --color-hover-green: #17aa8c;
  --color-red: #CF2F2F;
  --color-secondary: #218AEF;
  --color-neutral-100: #05172E;
  --color-gray50: #F2F2F2;
  --color-gray100: #E5E5E5;
  --color-gray200: #CCCCCC;
  --color-gray400: #999999;
  --color-gray500: #808080;
  /* Font */
  --font-Metropolis: "Metropolis", sans-serif;
  /* Container */
  --container-width: 1170px;
  /* Others */
  --modal-height: 90vh;
  --main-header-height: 79px;
  --border-rd-small: 4px;
  --border-rd-medium: 8px;
  --border-rd-large: 16px;
  /* Z-index variables */
  --zIndex-overlay: 50;
  --zIndex-modal: 125;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-Metropolis);
  font-weight: 400;
  overflow-y: scroll;
  color: var(--color-dark);
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

svg {
  transition: fill 0.2s, transform 0.2s;
}

button {
  font-family: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

textarea {
  font-family: inherit;
  font-size: inherit;
  border: none;
  resize: none;
  background: none;
}

input {
  font-family: inherit;
}

body::-webkit-scrollbar {
  background-color: transparent;
  width: 14px;
}

body::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-gray200);
  border: 3px solid var(--color-gray50);
  border-radius: 16px;
}

body::-webkit-scrollbar-track {
  background-color: var(--color-gray50);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-gray500);
}

.wrap {
  overflow-x: hidden;
}

.text-fw500 {
  font-weight: 500;
}

.text-fw600 {
  font-weight: 600;
}

.text-fw700 {
  font-weight: 700;
}

.text-fw800 {
  font-weight: 800;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-start {
  justify-content: start;
}

.box {
  background-color: var(--color-white);
  border-radius: var(--border-rd-medium);
}

.grid-row {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.icon-small {
  width: 16px;
  height: 16px;
}

.icon-medium {
  width: 20px;
  height: 20px;
}

.icon-large {
  width: 28px;
  height: 28px;
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-45 {
  transform: rotate(45deg);
}

ol, ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

li {
  display: block;
  list-style-image: none;
}

a {
  text-decoration: none;
  outline: none;
  transition: 0.3s;
  border-bottom: 1px solid transparent;
}

input, textarea, button {
  outline: none;
  appearance: none;
}

var {
  font-style: normal;
}

strong {
  font-weight: 700;
}

i {
  font-style: normal;
}

u {
  text-decoration: none;
}

picture {
  display: block;
}

img {
  display: block;
}

svg {
  display: block;
}

img, svg, path, circle, rect, line {
  transition: 0.3s;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.case {
  padding-right: calc(50% - var(--container-width) / 2);
  padding-left: calc(50% - var(--container-width) / 2);
}

@media (max-width: 1440px) {
  .case {
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media (max-width: 767px) {
  .case {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

.button {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid transparent;
  border-radius: var(--border-rd-small);
  color: var(--color-white);
  transition: all 0.2s;
}

.button_border8 {
  border-radius: var(--border-rd-medium);
}

.button_green {
  line-height: 1.14;
  background-color: var(--color-green03);
  border-color: var(--color-green03);
}

@media (hover: hover) {
  .button_green:hover {
    background-color: #58D1B5;
    border-color: #58D1B5;
  }
}
.button_green:focus {
  border-color: var(--color-primary-blue);
}

.button_blue_hover_white {
  padding: 12px;
  line-height: 27px;
  font-weight: 400;
  font-size: 16px;
  text-transform: unset;
  background-color: var(--color-primary-blue);
  border-color: var(--color-primary-blue);
  border-radius: var(--border-rd-medium);
}

@media (hover: hover) {
  .button_blue_hover_white:hover {
    color: var(--color-primary-blue);
    background-color: var(--color-white);
    border-color: var(--color-primary-blue);
  }
}
.button_blue_hover_white:focus {
  color: var(--color-primary-blue);
  background-color: var(--color-white);
  border-color: var(--color-primary-blue);
}

.button_blue {
  padding: 16px;
  background-color: var(--color-primary-blue);
  border-color: var(--color-primary-blue);
}

.button_blue_small {
  border-radius: var(--border-rd-medium);
  text-transform: unset;
}

@media (hover: hover) {
  .button_blue:hover {
    background-color: #6464A6;
    border-color: #6464A6;
  }
}
.button_blue:focus {
  background-color: var(--color-primary-blue);
  border-color: var(--color-white);
}

@media (max-width: 1200px) {
  .button {
    padding: 14px;
  }
  .button_blue_hover_white {
    font-size: 14px;
  }
  .button_blue {
    padding: 16px;
    font-size: 14px;
  }
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: var(--font-Metropolis);
  transition: 0.3s;
  background-color: transparent;
}
.btn.--lg {
  height: 75px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
}
.btn.--violet {
  color: #fff;
  background: var(--color-primary);
  border: 1px solid var(--color-primary);
}
.btn.--violet:hover {
  color: var(--color-primary);
  background: #fff;
}
.btn.--green {
  color: #fff;
  border: 1px solid var(--color-green03);
  background: var(--color-green03);
}
.btn.--green:hover {
  color: var(--color-green03);
  background: #fff;
}
.btn.--blue {
  color: #fff;
  border: 1px solid var(--color-secondary);
  background: var(--color-secondary);
}
.btn.--blue:hover {
  color: var(--color-secondary);
  background: #fff;
}
.btn.--red {
  color: #fff;
  border: 1px solid var(--color-red);
  background: var(--color-red);
}
.btn.--red:hover {
  color: var(--color-red);
  background: #fff;
}
.btn.--dark-violet {
  color: #fff;
  border: 1px solid var(--color-primary-blue);
  background: var(--color-primary-blue);
}
.btn.--dark-violet:hover {
  color: var(--color-primary-blue);
  background: #fff;
}
.btn.--bg-white {
  color: var(--color-black04);
  background: #fff;
  border: 1px solid #fff;
}
.btn.--bg-white:hover {
  color: #fff;
  background-color: transparent;
}
.btn.--b-white {
  border: 1px solid #fff;
}
.btn.--b-white:hover {
  color: var(--color-primary);
  background-color: #fff;
}

@media (max-width: 992px) {
  .btn.--lg {
    height: 63px;
  }
}
@media (max-width: 580px) {
  .btn.--lg {
    height: 60px;
  }
}
.tog__body {
  height: 0;
}

.tog.--show .tog__body {
  height: auto;
}

.accordion {
  display: grid;
  grid-auto-flow: row;
}

.accordion__item {
  overflow: hidden;
}

.accordion__head {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.accordion__body {
  transition: max-height 0.5s ease-out;
}

.accordion__arrow-icon {
  fill: var(--color-white);
}

.accordion__item.--open .accordion__arrow-icon {
  transform: rotate(270deg);
}

.h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}

.h2 {
  font-weight: 900;
  font-size: 40px;
  line-height: 54px;
}

.h3 {
  font-weight: 900;
  font-size: 32px;
  line-height: 40px;
}

.h4 {
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
}

.t1 {
  font-size: 20px;
  line-height: 32px;
}

.t2 {
  font-size: 16px;
  line-height: 27px;
  text-align: justify;
}
.t2 p {
  margin-bottom: 40px;
}
.t2 p:last-child {
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .h1 {
    font-size: 40px;
    line-height: 54px;
  }
  .h2 {
    font-size: 32px;
    line-height: 40px;
  }
}
@media (max-width: 767px) {
  .h1 {
    font-size: 36px;
    line-height: 50px;
  }
  .h4 {
    font-size: 20px;
    line-height: 26px;
  }
  .t1 {
    font-size: 16px;
    line-height: 27px;
  }
}
@media (max-width: 580px) {
  .h1 {
    font-size: 32px;
    line-height: 40px;
  }
  .h3 {
    font-size: 24px;
    line-height: 30px;
  }
  .h4 {
    font-size: 18px;
    line-height: 26px;
  }
}
.overflow-disable {
  overflow: hidden;
}

.custom-swiper-button {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid var(--color-gray05);
  border-radius: 50%;
  transform: translateY(-50%);
  transition: 0.2s;
  z-index: 1;
}

.swiper-button-disabled.custom-swiper-button {
  cursor: default;
}

.custom-swiper-button-icon {
  width: 24px;
  height: 24px;
  fill: var(--color-gray05);
}

.custom-swiper-button-icon-prev {
  transform: rotate(180deg);
}

/* Carousel pagination */
.custom-swiper-pagination {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  grid-column-gap: 6px;
  z-index: 10;
}

.custom-swiper-pagination .swiper-pagination-bullet {
  margin: 0 !important;
  width: 4px;
  height: 4px;
  background-color: var(--color-white);
  border-radius: 50%;
  cursor: pointer;
  opacity: 1;
  transition: 0.2s;
}

.custom-swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-green03);
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after, .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  display: none;
}

.breadcrumbs {
  padding-top: 45px;
  padding-bottom: 45px;
}
.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
}
.breadcrumbs__item {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  margin-right: 32px;
}
.breadcrumbs__item:last-child {
  margin-right: 0;
}
.breadcrumbs__item:last-child::after {
  display: none;
}
.breadcrumbs__item::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -18px;
  width: 6px;
  height: 9px;
  transform: translateY(-50%);
  background: url("../../uploads/chevron.svg") no-repeat center;
}
.breadcrumbs__text {
  color: #8F8F9F;
}
.breadcrumbs__link:hover {
  border-color: var(--color-black04);
}

.text-color-blue {
  color: var(--color-secondary);
}

.text-color-green {
  color: var(--color-green03);
}

.modal {
  display: none !important;
}

@media (max-width: 1024px) {
  .breadcrumbs {
    padding-top: 42px;
  }
  .breadcrumbs__list {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .breadcrumbs {
    display: none;
  }
}
.d-flex {
  display: flex !important;
}

.justify-content-end {
  justify-content: flex-end;
}

.me-auto {
  margin-right: auto;
}